form input.num
{	width: 3em;
}
#filter-form
{	width: 90%;
	margin: 5px auto;
	padding: 10px;
	border: 1px solid #000;
}
#filter-form label, #filter-form select, #filter-form input, #filter-form img
{	display: inline;
	float: none;
	margin-top: 0px;
}
#filter-form label
{	width: 30px;
}
#filter-form label.from
{	width: 30px;
	text-align: center;
}
#filter-form .submit
{	margin: 3px 10px;
}
#filter-form select
{	margin-right: 5px;
}
#filter-form .submit
{	font-size: 14px;
	padding: 3px 5px;
}

#incometable
{	width: 400px;
}
#incometable .number
{	text-align: right;
}
.graphdiv
{	margin: 10px auto;
	text-align: center;
}