form.pageedit input.num
{	width: 2em;
}
table#pagelist tr.child td
{	background-color: #FFC;
}
table#pagelist tr.child1 td.pagetitle
{	padding-left: 20px;
}
table#pagelist tr.child2 td.pagetitle
{	padding-left: 30px;
}

.psFormContainerHidden
{	display: none;
}