td.porder_disp_details
{	width: 200px;
}
td.porder_disp_details h4
{	margin: 0px;
}
td.porder_disp_details p
{	margin: 0px 0px 10px;
}
table td.itemName .cstNameLongImg, table td.itemName .cstNameLongText
{	float: left;
}
table td.itemName .cstNameLongImg
{	margin-right: 5px;
}
table td.itemName h4
{	margin: 0px;
}
table td.itemName p
{	margin: 0px;
}