body
{	background: #ec277a;
	font-size: 12px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.clear
{	clear:both;
}
.submit
{	font-weight: bold;
	font-size: 1.4em;
	color: #000;	
	background: #f6c841;
	padding: 0.5em 1em;
	border: 1px solid #d4a724;
	width:auto;
	height: auto;
}

.button {
	color: #000;	
	background: #f6c841;
	padding: 0.5em 1em;
	border: 1px solid #d4a724;
	width:auto;
	height: auto;	
	font-weight: bold;
	font-size: 1.2em;
}
a
{	cursor: pointer;
}
#ddheader-menu
{	background-color: #ec277a;
	padding: 2px 0px;
	color: #FFF;
	float: left;
	width: 100%;
}
ul#ddmenu
{	float: left;
	margin: 0px;
	padding: 0px;
}
ul#ddmenu li
{	float: left;
	list-style: none;	
	font-size: 13px;
	margin: 0px;
	text-transform: uppercase;
	padding: 0px;
}
ul#ddmenu li a
{	display: block;
	padding: 7px 25px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
ul#ddmenu li a:hover
{	background-color: #cdffde;
	color: #ec277a;
	font-weight: bold;
	-webkit-box-shadow:inset 0 0 5px 1px #ec277a;
	box-shadow:inset 0 0 5px 1px #ec277a;
}
ul#ddmenu li a.selected, ul#ddmenu li span.selected
{	background-color: #cdffde;
	color: #ec277a;
	font-weight: bold;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul#ddmenu li ul li
{	width: 200px;
}
ul#ddmenu li ul li a
{	padding: 7px 20px;
	width: 160px;
}
#container
{	background-color: #FFF;
	padding: 30px;
	position: relative;
}
a { color: #000; text-decoration: underline; }
a:hover { text-decoration: none; }

table
{	border-collapse: collapse;
	width: 97%; margin: 0 auto; 
}
table th
{	border: 1px solid #ca0558;
	background: #ec277a;
	color: #fff;
	text-align: left;
	font-weight: bold;
	padding: 8px 10px;
	clear: both;
}
table th a
{	color: #fff;
}
table tr.table_spacer td
{	padding: 0px;
	height: 2px;
	background-color: #000;
}
table td
{	padding: 5px 10px;
	border: 1px solid #ca0558;
	vertical-align: top;
	color: #000;
	background: #FFF;
}
table td.num, table th.num
{	text-align: right;
}
table td.centre, table th.centre
{	text-align: center;
}
table tr:hover td, table tr.stripe1:hover td
{	background: #e3e9ed;
}
table tr.stripe1 td
{	background: #f8f8f8;
}
table tr.stlive td
{	font-weight: bold;	
}
table tr.newlink th
{	background: #e3e3e3;
	font-style: italic;
	color: #000;
}
table tr.newlink th a
{	color: #000;
}
form label, form input, form textarea, form select, form img, form span.dataText
{	display: inline;
	float: left;
	margin: 5px 10px 5px 0px;
	padding: 2px 3px;
}
form br
{	clear: both;
}
form label
{	text-align: right;
	width: 250px;
	margin: 5px 5px;
}
form label.content_label
{	text-align: left;
	font-weight: bold;
	width: 400px;
}
form p.formHeader
{	margin: 5px 20px;
	font-size: larger;
	font-weight: bold;
}
form input.short
{	width: 50px;
}
form input.num
{	text-align: right;
}
form input.long
{	width: 300px;
}
form input.verylong
{	width: 500px;
}
form div.inlinespan
{	float: left;
	margin: 5px 5px;
}
form div.inlinespan a
{	cursor: pointer;
}

#login label {float: none; display: block; margin: 15px 0 5px 0; font-weight: bold; text-align: left;}
#login br {clear: none;}


#login {
	width: 300px;
}

#login #content {
	padding: 2em 2em;
	margin-bottom: 18px;	
	color: #000;
}

#login #content a { color: #FFF; text-decoration: underline; }
#login #content a:hover { color: #FFF; }

#login form {}

#login h2 {
	font-size: 14px;
	color: #fff;
	margin: 0.5em 0;
	padding: 0;
}

#login form label {
	display: block;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

#login form input {
	padding: 4px 6px;
	margin: 7px 0;
	font-size: 11px;
	color: #333;
	float:none;
}

#login form p { margin: 0; padding: 0; }

#login form a { color: #fff; font-size: 11px; }

#login form .submit {
	padding: 7px 20px;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	color: #000;
}
#profile-choice #profile-container
{	width: 450px;
	float: left;
}
#profile-container .box
{	width: 400px;
}

#header
{	background: #000000;
	color: #FFF;
	padding: 0em 1em;
}
#header h1
{	padding: 30px 0px 30px 310px;
	margin: 0px;
	height: 60px;
	background: url('../img/template/logo_admin.png') center left no-repeat;
}
div.bcBody
{	background: #f2f2f2;
	padding: 0.3em 1em;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #ec277a;
}
.bcCrumb
{	font-weight: bold;
	margin-top: 5px;
}

div.bcRightLink
{	float: right;
	width: 200px;
}
div.bcRightLink a
{	margin: 0px 5px 0px;
	background: #ec277a;
	color: #FFF;
	display: block;
	float: right;
	font-weight: bold;
	padding: 4px 15px;
	text-decoration: none;
}
ul#menu
{	width: 200px;
	border-bottom: none;
	float: left;
}
ul#menu li
{	float: none;
	list-style: none;	
	font-size: 14px;
}
ul#menu li a
{	display: block;
	padding: 10px 15px;
	background: #e5e5e5;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
	font-weight: bold;
	float: none;
}
ul#menu li a:hover
{	background-image: none;
	background-color: #e3e9ed;
}

#container-footer
{	height: 13px;
	width: 978px;
	margin: 0 auto 10px;
}
#footer
{	background: none;
}
ul.adminmemberlist li
{	list-style: none;
	margin: 8px 5px;
}
form input.number
{	width: 5em;
	text-align: right;
}
form.yorderForm
{		
}
form.yorderForm label, input
{	margin: 3px 5px 3px 5px;
}
form.yorderForm label
{	text-align: right;
	width: 80px;
}
input.formHidden
{	display: none;
}
form.yorderForm .yPos
{	width: 200px;
	text-align: left;
}
form.yorderForm .yOrder
{	width: 50px;
	text-align: right;
}
ul.prodDetails
{	list-style: none;
}
ul.prodDetails li
{	display: block;
	padding: 5px 10px;
	width: 370px;
	float: none;
}
ul.prodDetails li label
{	float: left;
	text-align: right;
	width: 90px;
	padding: 0px;
	margin: 10px 10px 10px 10px;
}
ul.prodDetails li span
{	float: left;
	padding: 0px;
	margin: 10px 10px 10px 10px;
}
ul.prodDetails li.stripe1
{	background-color: #EDF2F5;
}
ul.prodDetails li br
{	clear: both;
}
#adminwithus ul
{	float: left;
}
#adminwithus ul li
{	display: block;
	margin: 10px 20px;
	padding: 10px ;
	list-style: none;
	font-size: 14px;
	border: 2px solid #E8E8E8;
}
#adminwithus ul li a
{	padding: 5px;
	font-weight: bold;
}
div.refReply
{	font-style: italic;
	border: 2px solid #CCC;
	padding: 10px;
	margin: 10px;
}
#dateSelectForm label
{	width: 30px;
	text-align: center;
}
#dateSelectForm input
{	margin-left: 30px;
}
#dateSelectForm select
{	margin-left: 5px;
}
.failmessage, .successmessage, .warningmessage
{	color: #900;
	background-color: #FCC;
	border: 2px solid #900;
	width: 600px;
	margin: 5px auto;
	text-align: center;
	padding: 5px 10px;
}
.successmessage
{	border-color: #060;
	color: #060;
	background-color: #CFC;
}
.warningmessage
{	border-color: #660;
	color: #660;
	background-color: #FF6;
}
#footer {
	background: #ec277a;
	color: #FFFFFF;
	border-top: 2px solid #ca0558;
	padding: 20px 0px;
	text-align: center;
	width: 100%;
	margin-top: 0px;
}
#filterSelectForm label.from
{	width: 30px;
}
table.adminDetailsHeader
{	border: 2px solid #CCC;
}
table.adminDetailsHeader td
{	border-top: none;
	border-left: none;
	border-right: none;
}
table.adminDetailsHeader td.label
{	font-style: italic;
	padding-right: 20px;
	text-align: right;
}
form.akFilterForm
{	width: 95%;
	border: 2px solid #AAA;
	padding: 5px 10px;
	margin: 0px auto 10px;
	background-color: #F2F2F2;
}
form.akFilterForm .submit
{	float: right;
	font-size: 12px;
	padding: 4px 8px;
}
form.akFilterForm span
{	display: block;
	float: left;
	margin: 5px 0px 5px 5px;
	padding: 2px 3px;
}
p.booking_attendance_date
{	clear: both;
}
p.booking_attendance_date>span
{	display: block;
	float: left;
}
p.booking_attendance_date span.bad_date
{	width: 100px;
}
p.booking_attendance_date span.bad_attended
{	width: 80px;
}
p.booking_attendance_date span.bad_click
{	width: 20px;
}
h3.course_header
{	width: 600px;
	float: left;
}
#course_booking_summary
{	width: 300px;
	float: right;
	border: 2px solid #ccc;
	padding: 5px 10px;
}
.back_link
{	font-size: 14px;
	width: 100px;
	padding: 3px 5px;
	margin: 0px 0px 5px;
	background-color: #EEE;
	border: 1px solid #CCC;
	text-align: center;
}
.back_link a
{	text-decoration: none;
}
.pagination
{	margin: 15px 30px;
	font-weight: bold;
	font-size: 1.5em;
	width: 800px;
	line-height: 1.5em;
	word-wrap: break-word;
}
.pagination a
{	text-decoration: none;
}
.pagination span
{	margin: 0px 5px;
	color: #08053E;
}
.pagination span.paginlink
{	background-color: #08053E;
}
.pagination span.paginlink a
{	padding: 5px 8px;
	color: #FFF;
}

/* admin actions pop-up */
.aaWarning
{	font-size: 10px;
	margin: 0px;
}
.aaNoChanges
{	font-size: 16px;
	color: #600;
	font-weight: bold;
}
.aaTable
{	height: 420px;
	border: 1px solid #CCC;
	overflow: auto;
	clear: both;
}
.aaTable table
{	width: 100%;
}
.aaTable table th
{	padding: 5px 10px;
}
.aaTable table td
{	padding: 5px 5px;
}
.aaTable table tr.aaSpacer td
{	height: 0px;
	border: 1px solid #666;
	padding: 0px;
}
.aaTable table td.aatdDate
{	width: 110px;
}
.aaTable table td.aatdUser
{	width: 80px;
}
.aaTable table td.aatdDesc
{	width: 100px;
}
.aaTable table td.aatdChange
{	width: 245px;
}
.aaTable table td.aatdChange .aaValueDiv
{	height: 100px;
	overflow: auto;
}
/* end of admin actions pop-up */

.lang-chooser>li
{	font-size: 18px;
	font-weight: bold;
	list-style: square;
}
.lang-chooser>li>a
{	font-size: 12px;
	font-weight: normal;
}
a.historyOpener
{	cursor: pointer;
}

form.maFilterForm
{	width: 95%;
	border: 2px solid #AAA;
	padding: 5px 10px;
	margin: 0px auto 10px;
	background-color: #F2F2F2;
}
form.maFilterForm span, form.maFilterForm select, form.maFilterForm input
{	display: block;
	float: left;
	margin: 5px 20px 5px 5px;
}
form.maFilterForm span
{	margin-right: 5px;
}
form.maFilterForm .submit
{	float: right;
	font-size: 12px;
	padding: 4px 8px;
}

.adminItemSubMenu 
{	border-bottom: 1px solid #ec277a;
	padding: 0px 5px;
	margin: 0px 0px 10px;
}
.adminItemSubMenu  ul
{	list-style: none;
}
.adminItemSubMenu  ul li
{	float: left;
	margin: 0px 5px;
}
.adminItemSubMenu  ul li a, .adminItemSubMenu  ul li span
{	display: block;
	padding: 5px 10px;
	font-size: 14px;
	background-color: #ec277a;
	color: #FFF;
	border: 1px solid #ec277a;
}
.adminItemSubMenu  ul li.selected
{	margin-bottom: -1px;
}

.adminItemSubMenu  ul li.selected a, .adminItemSubMenu  ul li.selected span
{	background-color: #FFF;
	color: #ec277a;
	padding-bottom: 6px;
	border-bottom: 1px solid #FFF;
}

#itemblock-disp>div
{	width: 920px;
	border: 2px solid #CCC;
	padding: 5px 10px;
	margin: 5px 20px;
}
#itemblock-disp>div.clear
{	width: 0px;
	border: none;
	padding: 0px;
	margin: 0px;
}
#itemblock-disp>div h3
{	margin: 0px 20px;
}
#itemblock-disp>div h3>span
{	font-size: 0.8em;
}
#itemblock-disp>div ul
{	list-style: none;
}
#itemblock-disp>div li
{	padding: 5px 0px;
}
#itemblock-disp>div li>span
{	display: block;
	float: left;
}
#itemblock-disp .itemblock-label
{	width: 200px;
	text-align: right;
	padding-right: 10px;
	font-style: italic;
}
#itemblock-disp .itemblock-details
{	font-weight: bold;
	width: 450px;
}

.textCharLimit.textCharLimitOver
{	font-weight: bold;
	color: #D20000;
}

.adminItemDeleteLink
{	/*text-align: right;*/
}
.adminItemDeleteLink a
{	display: inline-block;
	font-weight: bold;
	padding: 8px 20px;
	border: 1px solid #d29999;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow:inset 0 0 10px 0 #D20000;
	box-shadow:inset 0 0 10px 0 #D20000;
	color: #d20000;
	text-decoration: none;
}
.adminCSVDownload a
{	display: inline-block;
	font-weight: bold;
	padding: 8px 40px 8px 10px;
	border: 1px solid #000;
	-webkit-box-shadow:inset 0 0 6px 0 #888;
	box-shadow:inset 0 0 6px 0 #888;
	background: url('../img/template/download.png') no-repeat center right;
	text-decoration: none;
}

span.redInlineError
{	color: #ff0000;
	font-weight: bold;
	margin: 0px !important;
	padding: 0px;
}