form input[type='submit']
{	font-weight: bold;
	font-size: 1.4em;
	color: #000;	
	background: #f6c841;
	padding: 0.5em 1em;
	border: 1px solid #d4a724;
	width:auto;
	height: auto;
}
form input[type='checkbox']
{	float: none;
}
.colouricon
{	display: block;
	height: 20px;
	width: 40px;
}
#pbcatlist
{	
}
#pbcatlist>ul
{	list-style: none;
}
#new-attribute-value form, #new-attribute-value form p, #new-attribute-value form h3
{	clear: both;
}
#new-attribute-value form input[type='submit'], h3
{	margin-left: 260px;
}
#attribute-values table
{	width: 600px;
	margin: 10px 0px 10px 250px;
}
#att_val_form table
{	/*margin-top: 10px;*/
}
#att_val_form table td label
{	width: 150px;
}
#att_val_form table td p
{	margin : 0px;
}
#att_val_form table.avfWithoutParas
{	width: 550px;
	margin: 10px 0px 0px 260px;
}
div.listplatevals
{	height: 60px;
	width: 500px;
	overflow: auto;
}
div.pledit_image
{	margin-left: 260px;
}
div.pledit_image_inner
{	float: left;
	padding: 10px;
	background-color: #222;
	color: #FFF;
	font-weight: bold;
}
div.plate_image_background img
{	background-color: #FF0;
}
div.pledit_image img
{	border: 1px solid #666;
}
.avfParametersTD
{	width: 300px;
}