#pcats_modal_popup
{	padding-bottom: 5px;
	width: 440px;
	margin-left: -220px;
	top: 50px;
}
#pcats_modal_popup ul
{	list-style: none;
}
#pcats_modal_popup ul li
{	padding: 10px 20px;
	border-top: 1px solid #AAA;
	margin: 0px;
}
#pcats_modal_popup ul li a
{	font-weight: bold;
}
#pcats_modal_popup ul li span
{	font-style: italic;
}
#pcats_modal_popup ul li:last-child
{	border-bottom: 1px solid #AAA;
}