.cblFilterInfo
{	margin: 0px auto 5px;
	padding: 5px 10px;
	border: 2px solid #EEE;
	width: 95%;
}
.cblFilterInfo>div.cblFilterInfoFilter
{	float: left;
	width: 60%;
}
.cblFilterInfo>ul
{	float: right;
	margin: 0px;
	list-style: none;
}
.cblFilterInfo>ul>li
{	margin: 0px 0px 5px 0px;
}