

.nextPayment.nextPaymentOverdue
{	font-weight: bold;
	color: #d20000;
}

.cartListDonationList ul
{	list-style: none;
	margin: 0px;
	padding: 0px;
}
.cartListDonationList ul li
{	padding: 3px;
	border-bottom: 1px dashed #ec277a;
}
.cartListDonationList ul li:last-child
{	border-bottom: none;
	padding-bottom: 0px;
}
.cartListDonationList ul li:first-child
{	padding-top: 0px;
}