

.cartHTable>ul>li
{	padding: 20px;
	border-bottom: 1px solid #ec277a;
}
.cartHTable>ul>li>div
{	float: left;
	padding: 0px 15px;
}
.cartHTable>ul>li>div.clear
{	float: none;
	padding: 0px;
}
.cartHTable>ul>li.chHeaderTicket>div
{	font-size: 20px;
	color: #ec277a;
	font-weight: bold;
}
.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketEvent
{	width: 474px;
}
.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketName
{	width: 130px;
	text-align: center;
}
.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketQty
{	width: 250px;
}
.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketLinePrice
{	width: 130px;
	text-align: right;
}
.cartHTable>ul>li>div.chTicketImage
{	width: 100px;
	height: 80px;
	position: relative;
	overflow: hidden;
	background: #CCCCCC url("../img/template/event_bg.png") no-repeat center center;
	background-size: 100%;
}
.cartHTable>ul>li>div.chTicketDesc
{	width: 374px;
	font-size: 30px;
}
.cartHTable>ul>li.chTicketTotal>div.chTicketDesc
{	width: 474px;
	text-align: right;
	font-size: 20px;
}
.cartHTable>ul>li>div.chTicketName
{	width: 130px;
	font-size: 20px;
	text-align: center;
}
.cartHTable>ul>li>div.chTicketNumberContainer
{	width: 100px;
}
.cartHTable>ul>li>div.chTicketNumberContainer .chTicketNumber
{	font-size: 30px;
	float: left;
}
.cartHTable>ul>li>div.chTicketNumberContainer .chTicketNumberChanger
{	float: left;
	padding: 0px 0px 0px 10px;
}
.cartHTable>ul>li>div.chTicketNumberContainer .chTicketNumberChanger a
{	display: block;
	width: 20px;
	height: 20px;
	background: url('../img/template/cart_add.png') no-repeat center center;
	background-size: 80%;
	overflow: hidden;
	text-indent: -900px;
}
.cartHTable>ul>li>div.chTicketNumberContainer .chTicketNumberChanger a:last-child
{	background: url('../img/template/cart_minus.png') no-repeat center center;
	background-size: 80%;
}
.cartHTable>ul>li>div.chTicketUnitPrice
{	width: 150px;
	font-size: 20px;
}
.cartHTable>ul>li>div.chTicketLinePrice
{	width: 130px;
	font-size: 20px;
	text-align: right;
}
.cartButtonContainer
{	padding: 20px 0px;
	text-align: right;
}
@media (max-width: 1200px) and (min-width: 768px)
{	.cartAddSubmit
	{	padding-left: 150px !important;
	}
}
@media (max-width: 767px)
{	.cartAddSubmit
	{	text-align: center;
	}
}

@media (max-width: 1200px) and (min-width: 768px)
{	.cartHTable>ul>li>div
	{	padding: 10px 10px;
	}
	.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketEvent
	{	width: 210px;
	}
	.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketName
	{	width: 100px;
	}
	.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketQty
	{	width: 200px;
	}
	.cartHTable>ul>li.chHeaderTicket>div.chHeaderTicketLinePrice
	{	width: 100px;
	}
	.cartHTable>ul>li>div.chTicketImage
	{	display: none;
	}
	.cartHTable>ul>li>div.chTicketDesc
	{	width: 210px;
		font-size: 24px;
	}
	.cartHTable>ul>li.chTicketTotal>div.chTicketDesc
	{	width: 210px;
	}
	.cartHTable>ul>li>div.chTicketName
	{	width: 100px;
		font-size: 16px;
	}
	.cartHTable>ul>li>div.chTicketNumberContainer
	{	width: 100px;
	}
	.cartHTable>ul>li>div.chTicketUnitPrice
	{	width: 100px;
		font-size: 16px;
	}
	.cartHTable>ul>li>div.chTicketLinePrice
	{	width: 100px;
		font-size: 16px;
		text-align: right;
	}
}
@media (max-width: 767px)
{	.cartHTable>ul>li>div
	{	padding: 10px 10px;
	}
	.cartHTable>ul>li.chHeaderTicket
	{	display: none;
	}
	.cartHTable>ul>li>div.chTicketImage
	{	display: none;
	}
	.cartHTable>ul>li>div.chTicketDesc
	{	width: 100%;
		font-size: 24px;
		text-align: center;
	}
	.cartHTable>ul>li.chTicketTotal>div.chTicketDesc
	{	width: 50%;
	}
	.cartHTable>ul>li>div.chTicketName
	{	width: 100%;
		text-align: center;
		font-size: 16px;
	}
	.cartHTable>ul>li>div.chTicketNumberContainer
	{	width: 34%;
	}
	.cartHTable>ul>li>div.chTicketUnitPrice
	{	width: 33%;
		font-size: 16px;
	}
	.cartHTable>ul>li>div.chTicketLinePrice
	{	width: 33%;
		font-size: 16px;
		text-align: right;
	}
	.cartHTable>ul>li.chTicketTotal>div.chTicketName, .cartHTable>ul>li.chTicketTotal>div.chTicketNumberContainer, .cartHTable>ul>li.chTicketTotal>div.chTicketUnitPrice
	{	display: none;
	}
	.cartHTable>ul>li.chTicketTotal>div.chTicketLinePrice
	{	width: 50%;
	}
}

form {
	padding: 30px 0;
}

.bookingAddressForm form {
	font-size: 20px;
	width: 100%;
	position: relative;
}
.bookingAddressForm form .form-row {
	padding: 25px 0;
}
.bookingAddressForm form.form-rows .form-col-2:first-child {
	width: 40%;
}
.bookingAddressForm form.form-rows .form-col-2:last-child {
	width: 40%;
}
.bookingAddressForm form label.title-label {
	display: block;
	padding:14px 0;
	text-align: right;
}
.bookingAddressForm form .donation_types_chooser {
	font-size: 28px;
	vertical-align: middle;
	text-align: left;
}
.bookingAddressForm form .donation_types_chooser span {
	color: #ec277a;
	display: inline-block;
	font-weight: 700;
}
.bookingAddressForm form .donation_types_chooser .custom-select-box {
	max-width: 280px;
}
.bookingAddressForm form .custom-select-box {
	background: #f2f2f2;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.bookingAddressForm form .custom-select-box select {
	background: transparent;
	border: none;
	color: #999999;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: auto;
	outline: none;
	padding: 14px 64px 14px 14px;
	width: 100%;
}

.bookingAddressForm form .custom-select-box select:focus {
}
.bookingAddressForm form .custom-select-box .custom-select-box-arrow {
	background: #ec277a;
	width: 50px;
}
.bookingAddressForm form .custom-select-box .custom-select-box-arrow i {
	color: #fff;
	font-size: 28px;
}
.bookingAddressForm form .custom-checkbox {
	display: block;
	font-size: 16px;
	list-style: none;
	position: relative;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}
.bookingAddressForm form .custom-checkbox input[type=checkbox] {
	width   : 60px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
.bookingAddressForm form .custom-checkbox input[type=checkbox] + label {
	display: inline-block;
	font-size: 18px;
	margin-left: -60px;
	padding: 10px 0 10px 60px;
	position: relative;
	width: 100%;
}
.bookingAddressForm form .custom-checkbox input[type=checkbox] + label:before {
	background: #f2f2f2;
	color: #9e1666;
	bottom: 0;
	content: "";
	height: 48px;
	left: 0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 48px;
	font-family: "website-icons";
	font-size: 36px;
  	font-style: normal;
  	font-weight: normal;
	line-height: 48px;
  	speak: none;
  	display: inline-block;
  	text-decoration: inherit;
  	text-align: center;
  	font-variant: normal;
  	text-transform: none;
}
.bookingAddressForm form .custom-checkbox input[type=checkbox]:checked + label:before {
	content: '\e804';
}
.bookingAddressForm form input[type=text],
.bookingAddressForm form input[type=email],
.bookingAddressForm form input[type=number] {
	background: #f2f2f2;
	border: none;
	color: #999999;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: auto;
	outline: none;
	padding: 14px 14px 14px 14px;
	width: 100%;
	vertical-align: middle;
	-moz-appearance:textfield;
}
.bookingAddressForm form input[type=number] {
	text-align: right;
}
.donorAddressManual input {
	margin-bottom: 14px;
}
.bookingAddressForm form input[type=submit] {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bookingAddressForm form input[type=submit]:hover {
	border: 2px solid #ec277a;
	color: #ec277a;
	text-decoration: none;
}
.bookingAddressForm form .form-help-text {
	font-size: 0.85em;
	padding-top: 28px;
}

@media (max-width: 767px) {
	.bookingAddressForm form {
		font-size: 20px;
		width: 100%!important;
		text-align: center;
	}
	.bookingAddressForm form .form-row {
		padding: 15px 0;
	}
	.bookingAddressForm form.form-rows .form-col-2:first-child {
		width: 100%;
	}
	.bookingAddressForm form.form-rows .form-col-2:last-child {
		width: 100%;
	}
	.bookingAddressForm form .donation_types_chooser {
		font-size:20px;
		text-align: center;
	}
	.bookingAddressForm form .donation_types_chooser .custom-select-box {
		margin: 15px 0;
	}
	.bookingAddressForm form .custom-select-box select {
		font-size: 18px;
		padding: 10px 45px 10px 10px;
	}
	.bookingAddressForm form .custom-select-box .custom-select-box-arrow {
		width: 40px;
	}
	.bookingAddressForm form .custom-select-box .custom-select-box-arrow i {
		font-size: 24px;
	}

	.bookingAddressForm form input[type=text],
	.bookingAddressForm form input[type=email],
	.bookingAddressForm form input[type=number] {
		font-size: 18px;
		padding: 10px;
	}
	.bookingAddressForm form .donation-amount-container {
		font-size: 20px;
		text-align: center;
	}
	.bookingAddressForm form .donation-amount-container span {
		font-size: 24px;
	}
	.bookingAddressForm form .donation-amount-container input {
		max-width: 220px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {

	.bookingAddressForm form {
		font-size: 20px;
		width: 100%!important;
	}
	.bookingAddressForm form .donation_types_chooser {
		font-size:20px;
	}
	.bookingAddressForm form .custom-select-box select {
		font-size: 18px;
		padding: 10px 45px 10px 10px;
	}
	.bookingAddressForm form .custom-select-box .custom-select-box-arrow {
		width: 40px;
	}
	.bookingAddressForm form .custom-select-box .custom-select-box-arrow i {
		font-size: 24px;
	}
	.bookingAddressForm form .donation-amount-container {
		font-size: 20px;
	}
	.bookingAddressForm form .donation-amount-container span {
		font-size: 24px;
	}
	.bookingAddressForm form input[type=text],
	.bookingAddressForm form input[type=email],
	.bookingAddressForm form input[type=number] {
		font-size: 18px;
		padding: 10px;
	}
	.bookingAddressForm form input[type=submit] {
		font-size: 16px;
		padding: 10px 45px;
	}
	.bookingAddressForm form .custom-checkbox input[type=checkbox] {
		width: 40px;
	}
	.bookingAddressForm form .custom-checkbox input[type=checkbox] + label {
		display: inline-block;
		margin-left: -40px;
		padding: 10px 0 10px 40px;
		position: relative;
	}
	.bookingAddressForm form .custom-checkbox input[type=checkbox] + label:before {
		height: 32px;
		width: 32px;
		font-size: 24px;
		line-height: 32px;
	}
}