.donate_main_content {
	background: #fff;
	padding: 100px 20px;
}
.cartList>li>div
{	float: left;
}
.cartList>li>div:last-child
{	float: none;
	clear: both;
}
.cartList>li.cartListItemRow
{	padding: 18px 0px;
	border-bottom: 1px solid #acacac;
	color: #595a5c;
	font-size: 15px;
}
.cartList>li.cartListItemRowLast
{	border-bottom: none;
}
.cartList>li.cartListItemRow>div.cartListItemImage
{	background: url('../img/template/cart_line_default.png') no-repeat center center;
	width: 78px;
	height: 78px;
	overflow: hidden;
	text-align: center;
}
.cartList>li.cartListItemRow>div.cartListItemImage img
{	height: 78px;
}
.cartList>li.cartListItemRow>div.cartListItemDesc
{	padding: 0px 14px;
	width: 580px;
}
.cartList>li.cartListItemRow>div.cartListItemDesc h4
{	font-weight: bold;
}
.cartList>li.cartListItemRow>div.cartListItemQty
{	padding: 18px 0px 0px;
	width: 230px;
	text-align: right;
}
.cartList>li.cartListItemRow>div.cartListItemQty span
{	display: block;
	float: left;
	padding: 5px 20px 5px 0px;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqPlus, .cartList>li.cartListItemRow>div.cartListItemQty .csqMinus, .cartList>li.cartListItemRow>div.cartListItemQty .csqNumber
{	padding: 2px 0px;
	display: block;
	border : 1px solid #979797;
	height: 37px;
	text-align: center;
	float: left;
	width: 40px;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqPlus
{	font-size: 22px;
	border-left : none;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqMinus
{	font-size: 22px;
	border-right : none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqNumber
{	border-right : none;
	border-left : none;
	width: 65px;
	padding-top: 7px;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqContainer
{	float: left;
}
.cartList>li.cartListItemRow>div.cartListItemQty .csqMinus.csqMinusDisabled
{	color: #BBB;
}
.cartList>li.cartListItemRow>div.cartListItemAmount
{	padding: 26px 10px;
	width: 120px;
	text-align: right;
	font-weight: bold;
}
.cartList>li.cartListItemRow>div.cartListItemActions
{	padding: 26px 0px;
	width: 80px;
	text-align: center;
}
.cartList>li.cartListItemRow>div.cartListItemActions .cartListItemActionsRemove
{	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
	/*color: #FFF;
	font-weight: bold;
	background: #595a5c;
	text-align: center;
	font-size: 25px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	line-height: 15px;*/
	background: url('../img/template/cart_remove.png') no-repeat center center;
}
.cartList>li.cartListTotal
{	color: #FFF;
	background: #5a5b5d;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	padding: 13px 25px;
	margin-top: 22px;
	margin-bottom: 5px;
}
.cartList>li.cartListTotal:first-child
{	margin-top: 0px
}
.cartList>li.cartListTotal .cartListTotalLabel
{	
}
.cartList>li.cartListTotal .cartListTotalAmount
{	float: right;
}
.cartButtons
{	padding: 58px 0px 10px;
}
.cartButtons a, form.donation-form .cartButtons input[type="submit"]
{	display: block;
	float: right;
	color: #FFF;
	background-color: #ec277a;
	height: 50px;
	padding: 13px 65px;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 30px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
}
.cartButtons a:hover, form.donation-form .cartButtons input[type="submit"]:hover
{	border: none;
	color: #FFF;
}

.cartEmptyHeader h2
{	text-align: center;
}
.cartEmptyHeader .cartButtons
{	text-align: center;
}
.cartEmptyHeader .cartButtons a
{	float: none;
	display: inline-block;
	margin: auto;
}
.donation_breadcrumbs ul li > a, .donation_breadcrumbs ul li > div
{	padding-left: 60px;
	line-height: 20px;
	padding-top: 38px;
}
.donation_breadcrumbs ul li.donation_breadcrumbs_2lines > a, .donation_breadcrumbs ul li.donation_breadcrumbs_2lines > div
{	padding-top: 30px;
}
.donation_breadcrumbs ul li:nth-child(5)  > a,
.donation_breadcrumbs ul li:nth-child(5) > div,
.donation_breadcrumbs ul li:nth-child(5) > a span,
.donation_breadcrumbs ul li:nth-child(5) > div span {
	background-color: #f2f2f2;
}
.donation_breadcrumbs ul li:nth-child(6)  > a,
.donation_breadcrumbs ul li:nth-child(6) > div,
.donation_breadcrumbs ul li:nth-child(6) > a span,
.donation_breadcrumbs ul li:nth-child(6) > div span {
	background-color: #e6e6e6;
}
.donation_breadcrumbs ul li:nth-child(7) > a,
.donation_breadcrumbs ul li:nth-child(7) > div,
.donation_breadcrumbs ul li:nth-child(7) > a span,
.donation_breadcrumbs ul li:nth-child(7) > div span {
	background-color: #cccccc;
}
.donation_breadcrumbs ul li:nth-child(8) > a,
.donation_breadcrumbs ul li:nth-child(8) > div,
.donation_breadcrumbs ul li:nth-child(8) > a span,
.donation_breadcrumbs ul li:nth-child(8) > div span {
	background-color: #b3b3b3;
}
.donation_breadcrumbs ul li.donation_breadcrumbs_current > a,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > a span,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > div,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > div span {
	color: #FFF !important;
	background-color: #ec277a !important;
}

@media (min-width: 768px) and (max-width: 1200px)
{	.cartList>li.cartListItemRow>div.cartListItemDesc
	{	width: 300px;
	}
	.cartList>li.cartListItemRow>div.cartListItemAmount
	{	width: 80px;
	}
	.cartButtons a
	{	padding: 13px 40px;
	}
	.donation_breadcrumbs ul li > a, .donation_breadcrumbs ul li > div
	{	padding-left: 40px;
		line-height: 15px;
		padding-top: 24px;
		font-size: 12px;
	}
	.donation_breadcrumbs ul li.donation_breadcrumbs_2lines > a, .donation_breadcrumbs ul li.donation_breadcrumbs_2lines > div
	{	padding-top: 16px;
	}
}
@media (max-width: 767px)
{	.cartList>li>div, .cartList>li.cartListTotal .cartListTotalAmount
	{	float: none;
		text-align: center !important;
		width: 100% !important;
		clear: both;
	}
	.cartList>li.cartListTotal
	{	height: auto;
	}
	.cartList>li.cartListItemRow>div.cartListItemQty .csqContainer
	{	float: none;
		width: 145px !important;
		margin: auto;
	}
	.cartList>li.cartListItemRow>div.cartListItemQtyNone
	{	display: none;
	}
	.cartList>li.cartListItemRow>div.cartListItemAmount
	{	padding: 10px 0px;
	}
	.cartList>li.cartListItemRow>div.cartListItemActions
	{	padding: 10px 0px;
	}
	.cartList>li.cartListItemRow>div.cartListItemQty span
	{	float: none;
		padding: 5px 0px 0px;
		text-align: center;
		width: 100%;
	}
	.cartButtons
	{	padding: 20px 0px;
	}
	.cartButtons a
	{	float: none;
		width: 100%;
		height: auto;
		margin: 0px 0px 10px;
		text-align: center;
	}
	.donation_breadcrumbs ul li > a, .donation_breadcrumbs ul li > div
	{	padding-left: 20px;
		line-height: 15px;
		padding-top: 14px;
		font-size: 10px;
	}
	.donation_breadcrumbs ul li.donation_breadcrumbs_2lines > a, .donation_breadcrumbs ul li.donation_breadcrumbs_2lines > div
	{	padding-top: 6px;
	}
	
}
@media (max-width: 640px)
{
	.donation_breadcrumbs
	{
		display: none;
	}
}