
#contactus_form p label
{	width: 75px;
}
#contactus_form p input[type='text'], #contactus_form p input[type='email'], #contactus_form p input[type='tel'], #contactus_form p textarea
{	width: 350px;
}
#contactus_form p textarea
{	height: 200px;
	width: 350px;
}
@media (max-width: 767px)
{	#contactus_form p label
	{	width: 100%;
	}
	#contactus_form p input[type='text'], #contactus_form p input[type='email'], #contactus_form p input[type='tel'], #contactus_form p textarea
	{	width: 100%;
	}
}
