
.bookingAddressForm form label
{	display: inline-block;
	float: none;
}
form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="password"], form textarea, form select
{	float: none;
	display: inline-block;
}

.container.campaignsPageHeader
{	background-color: #FFF;
	border-bottom: 2px solid #eb2879;
	height: 220px;
	padding-top: 65px;
}
.container.campaignsPageHeader h1
{	float: left;
	font-size: 77px;
	color: #eb2879;
	font-weight: bold;
	text-align: left;
	width: 40%;
}
.container.campaignsPageHeader form
{	float: right;
	width: 50%;
	padding-top: 20px;
}
.container.campaignsPageHeader form input[type="text"]
{	border: 2px solid #eb2879;
	background: #FFF url('../img/template/crstars_search_icon.png') no-repeat right 33px center;
	color: #eb2879;
	font-size: 20px;
	height: 64px;
	width: 515px;
	padding: 0px 65px 0px 18px;
}

.campPageInner {
	background: #fff;
	position: relative;
	padding: 0!important;
}
.campPageInner .campPageHeader
{	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
	background: #AAAAAA url("../img/template/campaign_bg.png") no-repeat center center;
	background-size: cover;
}
.campPageInner .campPageHeader a.campHeaderUserImage
{	position: absolute;
	display: block;
	top: 20px;
	left: 20px;
	width: 200px;
	height: 200px;
	background: #f1f0f0 url("../img/template/user_avatar_medium.png") no-repeat center center;
	padding: 0;
}
.campPageInner .campPageHeader a.campHeaderUserImag img
{   height: auto;
	width: 100%;
}
.campPageInner .campPageHeader .campHeaderButtons
{	position: absolute;
	bottom: 20px;
	right: 20px;
}
.campPageInner .campPageHeader .campHeaderButtons  li
{	display: inline-block;
	margin-right: 10px;
}
.campPageInner .campPageHeader .campHeaderButtons  li a
{	display: block;
	background: #FFFFFF;
	color: #ec277a;
	font-size: 14px;
	padding: 10px 25px;
}
.campPageInner .campLeftBar
{	width: 320px;
	float: left;
}
.campPageInner .campLeftBar > div:last-child
{	margin-bottom: 0;
}
.campPageInner .campRightBar
{	width: 790px;
	float: right;
	position: relative;
	padding: 60px 20px 120px;
}
.campPageInner .campRightBar .campCreateLink
{	padding: 10px 10px 0px 0px;
	text-align: right;
}
.campPageInner .campRightBar .campCreateLink a
{
}
.campPageInner .campLeftBar .campTarget
{	width: 320px;
	padding: 30px 20px;
	text-align: center;
	background-color: #98979c;
	margin-bottom: 10px;
}
.campPageInner .campLeftBar .campTarget .campTargetOuter
{	background-color: #e4e4e4;
	width: 280px;
	height: 280px;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
}
.campPageInner .campLeftBar .campTarget .campTargetAcheived
{	background-color: #606;
	width: 280px;
	height: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.campPageInner .campLeftBar .campTarget .campTargetRaised
{	background-color: rgba(0,0,0,0);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 280px;
	height: 35px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.campPageInner .campLeftBar .campTarget .campTargetOuter .campTargetInner
{	background-color: #FFF;
	width: 180px;
	height: 180px;
	position: absolute;
	top: 50px;
	left: 50px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	padding-top: 50px;
}
.campPageInner .campLeftBar .campTarget .campTargetOuter .campTargetInner h2
{	color: #222;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.campPageInner .campLeftBar .campTarget .campTargetOuter .campTargetInner p
{	font-size: 30px;
	font-weight: bold;
	color: #ec277a;
}
.campPageInner .campLeftBar .campDonateButton
{	margin-bottom: 10px;
	width: 100%;
}
.campPageInner .campLeftBar .campDonateButton a
{	width: 100%;
	display: block;
	padding: 20px 0px;
	text-align: center;
	text-transform: uppercase;
	background: #ffd62c;
	font-weight: bold;
	color: #ec277a;
	font-size: 30px;
	text-decoration: none;
}
.campPageInner .campLeftBar .campDonateButton a span
{	display: block;
	font-weight: normal;
	font-size: 20px;
	color: #000000;
}
.campPageInner .campLeftBar .campNoDonate
{	width: 100%;
	padding: 20px 20px;
	text-align: center;
	text-transform: uppercase;
	background: #ffd62c;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}
.campPageInner .campLeftBar .campDonationsList
{	margin-bottom: 10px;
}
.campPageInner .campLeftBar .campDonationsList h2, .campPageInner .campLeftBar .campTeamMembersList h2
{	background-color: #98979c;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin: 0px;
	padding: 10px 30px 10px 30px;
}
.campPageInner .campLeftBar .campDonationsList ul, .campPageInner .campLeftBar .campTeamMembersList ul, .campPageInner .campLeftBar .campTeamMembersList .campTeamMembersListInner
{	background-color: #fafdfc;
	padding: 10px 30px;
}
.campPageInner .campLeftBar .campTeamMembersList .campTeamMembersListInner .campTeamMemberMore
{	text-align: center;
	padding: 15px 0px;
}
.campPageInner .campLeftBar .campDonationsList ul li, .campPageInner .campLeftBar .campTeamMembersList ul li, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember
{	padding: 15px 0;
}
.campPageInner .campLeftBar .campDonationsList ul li.campDonationsItem
{
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember  .campMembersItemHeader
{	width: 100%;
	padding: 0px 0px 5px;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader a, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemHeader a
{	width: 100%;
	display: block;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader .campMembersItemImage, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemHeader .campMembersItemImage
{	width: 50px;
	float: left;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader .campMembersItemImage img, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemHeader .campMembersItemImage img
{	width: 100%;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader .campMembersItemTitle, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemHeader .campMembersItemTitle
{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemHeader .campMembersItemTitle>span, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemHeader .campMembersItemTitle>span
{	color: #ec277a;
}
.campPageInner .campLeftBar .campTeamMembersList ul li .campMembersItemAmount, .campPageInner .campLeftBar .campTeamMembersList .campTeamMember .campMembersItemAmount
{	width: 100%;
	font-size: 16px;
	Text-align: center;
	padding: 5px;
	background-color: #ffd62c;
}
.campPageInner .campLeftBar .campDonationsList ul li.campDonationsItem .campDonationsItemTitle
{	font-size: 16px;
	font-weight: 700;
}
.campPageInner .campLeftBar .campDonationsList ul li.campDonationsItem .campDonationsItemTitle span
{	color: #ec287b;
	font-size: 20px;
	font-weight: 700;
}
.campPageInner .campLeftBar .campDonationsList ul li.campDonationsItem .campDonationsItemDate
{	font-size: 12px;
	font-style: italic;
}
.campPageInner .campLeftBar .campDonationsList ul li.campDonationsItem .campDonationsItemComment
{	font-size: 14px;
	font-style: italic;
	padding-top: 5px;
}
.campPageInner .campLeftBar .campaignAddThisContainer
{	text-align: center;
}
.campPageInner .campLeftBar .campaignAddThisContainer .campaignAddThis
{	text-align: center;
	padding: 10px;
	font-size: 12px;
	display: inline-block;
	margin: auto;
}
.campPageInner .campLeftBar .campaignAddThisContainer .campaignAddThis>div
{	display: block;
	float: left;
	margin-left: 5px;
	line-height: 20px;
	height: 20px;
}
.campPageInner .campLeftBar .campaignAddThisContainer .campaignAddThis .fb-share-button
{	width: 21px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.campPageInner .campLeftBar .campaignAddThisContainer .campaignAddThis .twitter-share-button
{	color: #1DA1F2;
	font-size: 22px;
	cursor: pointer;
}


.campuserTop
{	background-color: #FFF;
}
.campuserTop .campuserTopLeft
{	float: left;
	background: #ec287b;
	height: 200px;
	width: 597px;
	padding: 10px;
}
.campuserTop .campuserTopLeft .campuserTopLeftImage
{	background: #f1f0f0;
	width: 180px;
	height: 180px;
	float: left;
	padding: 2px;
}
.campuserTop .campuserTopLeft .campuserTopLeftImage>div
{	background: url('../img/template/user_avatar_large.png') no-repeat center center;
	width: 176px;
	height: 176px;
}
.campuserTop .campuserTopLeft .campuserTopLeftImage img
{	width: 100%;
}
.campuserTop .campuserTopLeft .campuserTopLeftText
{	float: right;
	width: 387px;
}
.campuserTop .campuserTopLeft .campuserTopLeftText h1
{	font-size: 36px;
	font-weight: 700;
	color: #FFF;
	height: 140px;
}
.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar
{	height: 40px;
	width: 100%;
	background-color: #FFF;
	color: #ec287b;
	font-weight: bold;
}
.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarLabel
{	display: block;
	float: left;
	background-color: #ffd62c;
	width: 92px;
	height: 100%;
	text-align: center;
	padding: 10px 0px 0px;
	font-size: 16px;
}
.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarAmount
{	display: block;
	float: left;
	height: 100%;
	padding: 5px 0px 0px 20px;
	font-size: 25px;
}
.campuserTop .campuserTopRight
{	float: right;
	background: #ec287b;
	height: 200px;
	width: 597px;
}
.campuserMain
{	background-color: #eaeaea;
	padding: 15px 0;
}
.campuserMain .campuserMainLeft
{	float: left;
	width: 597px;
}
.campuserMain .campuserMainRight
{	float: right;
	width: 597px;
}
.campuserMain .campuserMainHeader
{	padding: 10px;
	background-color: #98979c;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.campuserMain .campuserCampaigns ul.campaignsList
{	padding: 10px;
	background-color: #FFF;
}
.campuserMain .campuserCampaigns ul.campaignsList li
{	padding: 0px;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
	margin-bottom: 10px
}
.campuserMain .campuserCampaigns ul.campaignsList li:last-child
{	padding-bottom: 0px;
	border-bottom: none;
}
.campuserMain .campuserCampaigns ul.campaignsList li .clLeft .clLeftBottom
{	font-size: 12px;
}
.campuserMain .campuserCampaigns ul.campaignsList li .clRight
{	width: 366px;
}
.campuserMain .campuserCampaigns ul.campaignsList li .clRight .clRightTop h2
{	padding: 0px 5px 5px;
}
.campuserMain .campuserCampaigns ul.campaignsList li .clRight .clRightTop p
{	padding: 0px 5px 5px;
}
.campuserMain .campuserCampaigns ul.campaignsList li .clLeft
{	width: 201px;
}
.campuserMainHolding
{	padding: 50px;
	font-size: 25px;
	text-align: center;
	background: #FFF;
	margin-bottom: 10px
}



@media (min-width: 768px) and (max-width: 1200px)
{	.campPageInner .campLeftBar
	{	width: 320px;
	}
	.campPageInner .campRightBar
	{	width: 370px;
		padding: 30px 30px 90px;
	}
	.campPageInner .campPageHeader
	{	height: 256px;
	}
	.campuserTop .campuserTopLeft
	{	height: 160px;
		width: 383px;
	}
	.campuserTop .campuserTopRight
	{	height: 160px;
		width: 383px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage
	{	width: 130px;
		height: 130px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage img
	{	width: 100%;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText
	{	width: 220px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText h1
	{	font-size: 26px;
		height: 100px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar
	{	height: 30px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarLabel
	{	width: 92px;
		padding: 7px 0px 0px;
		font-size: 14px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarAmount
	{	padding: 4px 0px 0px 10px;
		font-size: 20px;
	}
	.campuserMain .campuserMainLeft, .campuserMain .campuserMainRight
	{	float: none;
		width: 100%;
	}
	.campuserMain .campuserCampaigns ul.campaignsList li
	{	width: 100%;
	}
	.campuserMain .campuserCampaigns ul.campaignsList li .clRight
	{	width: 537px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage
	{	background: #f1f0f0;
		width: 140px;
		height: 140px;
		float: left;
		padding: 2px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage>div
	{	background: url('../img/template/user_avatar_medium.png') no-repeat center center;
		width: 136px;
		height: 136px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage img
	{	width: 136px;
		height: 136px;
	}
}
@media (max-width: 767px)
{	.campPageInner .campLeftBar
	{	width: 100%;
	}
	.campPageInner .campRightBar
	{	width: 100%;
	}
	.campPageInner .campLeftBar .campTarget
	{	width: 100%;
	}
	.campPageInner .campPageHeader
	{	height: 200px;
	}
	.campuserTop .campuserTopLeft, .campuserTop .campuserTopRight, .campuserMain .campuserMainLeft, .campuserMain .campuserMainRight
	{	width: 100%;
	}
	.campuserTop .campuserTopLeft
	{	height: auto;
		margin-top: 2px;
		text-align: center;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage
	{	width: 34px;
		height: 34px;
		float: none;
		margin: auto;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage>div
	{	width: 30px;
		height: 30px;
		background: url("../img/template/user_avatar_thumb.png") no-repeat center center;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftImage>div>img
	{	width: 30px;
		height: 30px;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText
	{	width: 100%;
		float: none;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText h1
	{	font-size: 20px;
		height: auto;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar
	{	height: auto;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarLabel
	{	width: 100%;
		padding: 4px 0px;
		font-size: 14px;
		float: none;
		height: auto;
	}
	.campuserTop .campuserTopLeft .campuserTopLeftText .campuserAmountBar .campuserAmountBarAmount
	{	padding: 4px 0px;
		font-size: 14px;
		width: 100%;
		float: none;
		height: auto;
		text-align: center;
	}
	.campuserMain .campuserCampaigns ul.campaignsList li .clRight
	{	width: 100%;
	}
	.campuserMain .campuserCampaigns ul.campaignsList li
	{	width: 100%;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage
	{	top: 10px;
		left: 10px;
		width: 34px;
		height: 34px;
		background: #f1f0f0 url("../img/template/user_avatar_thumb.png") no-repeat center center;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage>img
	{	width: 30px;
		height: 30px;
	}
}
@media (max-width: 767px) {
	.campPageInner .campPageHeader {
		overflow: visible;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage {
		top: auto;
		bottom: -100px;
		left: 50%;
		margin-left: -100px;
		width: 200px;
		height: 200px;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage>img {
		width: 200px;
		height: 200px;
	}
	.campHeaderButtons {
		display: none;
	}
	.campPageInner .campRightBar {
		padding: 120px 30px 60px;
		text-align: center;
	}
	.campPageInner .campRightBar h1{
		text-align: center!important;
		font-size: 28px!important;
	}
	.campPageInner .campLeftBar .campTarget {
		background: #fff;
		padding: 0;
		position: relative;
	}
	.campPageInner .campLeftBar .campTarget:before {
		background: #98979c;
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 180px;
		margin-top: -90px;
	}
	.campPageInner .campLeftBar .campDonationsList {
		/*padding: 30px;*/
	}

}
@media (max-width: 480px) {
	.campPageInner .campPageHeader{
		height: 160px;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage {
		top: auto;
		bottom: -70px;
		left: 50%;
		margin-left: -70px;
		width: 140px;
		height: 140px;
	}
	.campPageInner .campPageHeader a.campHeaderUserImage>img {
		width: 140px;
		height: 140px;
	}
	.campPageInner .campRightBar {
		padding: 90px 30px 60px;
		text-align: center;
	}
}
@media (max-width: 360px) {
	.campPageInner .campPageHeader{
		height: 120px;
	}
}
.campPageInner .campRightBar h1
{	color: #000;
	font-weight: 400;
    padding: 0 0 20px;
	margin: 0;
	text-align: left;
}
.campPageInner .campRightBar h1 span
{	color: #ec277a;
	font-weight: 700;
}
.campPageInner .campRightBar a
{	text-decoration: underline;
	color: #000066;
}
.campPageInner .campRightBar ul
{	list-style: disc;
}
.campPageInner .campRightBar li
{	margin-left: 30px;
}
.campPageInner .campRightBar h2
{	font-size: 24px;
}
.campPageInner .campRightBar h3
{	font-size: 20px;
}
.campPageInner .campRightBar h4
{	font-size: 18px;
}
.campPageInner .campRightBar p, .campPageInner .campRightBar li
{	padding: 5px 0px 10px;
	font-size: 16px;
}

@media (max-width: 1200px)
{	
	.campPageInner .campRightBar p iframe
	{	width: 100%;
	}
}

.jqmWindow.campAddTeamPopup
{	height: 100%;
	overflow: auto;
	width: 400px;
	margin-left: -200px;
	top: 0px;
}

ul.campDonateProgress li
{	display: inline-block;
}
ul.campDonateProgress li span
{	display: inline-block;
	padding: 20px 50px;
}
ul.campDonateProgress li.campDonateProgressCurrent
{	font-weight: bold;
}
.campDFSection
{	display: none;
}
.campDFSection.campDFSectionCurrent
{	display: block;
}
.campDFGiftAid
{	display: block;
}
.campDFGiftAid.campDFGiftAidHidden
{	display: none;
}
.campaignsList
{	background: #FFFFFF;
}
.campDashboardInnerBottomSection .campaignsList
{	background: none;
}
.campaignsList li
{	width: 1170px;
	height: 191px;
	padding: 5px;
}
.campaignsList.campaignsListMain li
{	padding: 10px 0px;
	height: 201px;
}
.campDashboardInnerBottomSection .campaignsList li
{	width: 577px;
	height: 135px11;
	padding: 5px 0px;
}
.campaignsList li .clLeft
{	display: block;
	width: 400px;
	height: 181px;
	text-decoration: none;
}
.campaignsList.campaignsListMain li .clLeft
{	float: left;
}
.campaignsList li .clLeft .clLeftTop
{	width: 100%;
	height: 140px;
	position: relative;
	overflow: hidden;
	background: #AAAAAA url("../img/template/campaign_bg.png") no-repeat center center;
	background-size: cover;
}
.campDashboardInnerBottomSection .campaignsList li .clLeft .clLeftTop
{	width: 100%;
	height: 100px;
}
.campaignsList li .clLeft .clLeftTop .clLeftTopPercentage
{	background-color: #ffd62c;
	color: #ec287b;
	font-weight: 700;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	height: 45px;
	width: 45px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.campDashboardInnerBottomSection .campaignsList li .clLeft .clLeftTop .clLeftTopPercentage
{	font-size: 13px;
	line-height: 35px;
	height: 35px;
	width: 35px;
	top: 2px;
	right: 2px;
}
.campaignsList li .clLeft .clLeftBottom
{	background-color: #eb2879;
	color: #FFF;
	width: 100%;
	height: 41px;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}
.campDashboardInnerBottomSection .campaignsList li .clLeft .clLeftBottom
{	height: 25px;
	padding: 5px;
	font-size: 14px;
}
.campaignsList li .clLeft .clLeftBottom .cclRaised
{	color: #ffd62c;
}
.campaignsList li .clRight
{	float: right;
	width: 760px;
}
.campDashboardInnerBottomSection .campaignsList li .clRight
{	width: 377px;
}
.campaignsList li .clRight .clRightTop
{	width: 100%;
	height: 140px;
	background-color: #FFFFFF;
	position: relative;
}
.campaignsList.campaignsListMain li .clRightTop
{	width: 770px;
	float: right;
	background-color: #FFFFFF;
	position: relative;
	padding: 0px;
	overflow: hidden;
	height: 140px;
}
.campuserMainContent .campaignsList li .clRight .clRightTop a.clrtEditLink
{	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	height: 20px;
	width: 26px;
	text-indent: -900px;
	overflow: hidden;
	background: url('../img/template/cogwheel20.png') no-repeat center center;
	background-size: auto 70%;
	background-color: #E3E3E3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.campaignsList li .clRight .clRightTop h2, .campaignsList li .clRight .clRightTop h2 a, .campaignsList.campaignsListMain li .clRightTop h2, .campaignsList.campaignsListMain li .clRightTop h2 a
{	color: #337ab7;
}
.campaignsList li .clRight .clRightTop h2, .campaignsList.campaignsListMain li .clRightTop h2
{	padding: 10px;
	font-size: 18px;
}
.campuserMainContent .campaignsList li .clRight .clRightTop h2
{	padding: 5px 25px 5px 10px;
	font-size: 18px;
}
.campaignsList li .clRight .clRightTop h2 span, .campaignsList.campaignsListMain li .clRightTop h2 span
{	color: #ec277a;
}
.campaignsList li .clRight .clRightTop p, .campaignsList li p.clMobileTextSnippet, .campaignsList.campaignsListMain li .clRightTop p
{	padding: 10px;
	color: #8d8c91;
	font-size: 16px;
}
.campaignsList li .clRight .clRightTop p, .campaignsList.campaignsListMain li .clRightTop p
{	padding: 10px;
	color: #8d8c91;
	font-size: 16px;
}
.campuserMainContent .campaignsList li .clRight .clRightTop p
{	padding: 0px 10px 5px;
	font-size: 14px;
}
.campaignsList li .clRight .clRightBottom, .campaignsList.campaignsListMain li .clRightBottom
{	width: 100%;
	height: 41px;
	background-color: #f1f1f1;
	color: #a7a6aa;
	padding: 5px;
	font-size: 16px;
}


.campaignsList.campaignsListMain li .clListTopMobile
{	width: 100%;
	background-color: #f1f1f1;
	color: #a7a6aa;
	padding: 5px;
	font-size: 16px;
}
.campaignsList.campaignsListMain li .clListTopMobile .crListShare
{	float: right;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 700;
}
.campaignsList.campaignsListMain li .clListTopMobile .crListShare>div
{	display: block;
	float: left;
	margin-left: 5px;
	line-height: 20px;
	height: 20px;
}
.campaignsList.campaignsListMain li .clListTopMobile .crListShare>div.clear
{	float: none;
	height: 0px;
}
.campaignsList.campaignsListMain li .clListTopMobile .fb-share-button
{	width: 21px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.campaignsList.campaignsListMain li .clListTopMobile .fb-share-button
{	color: #1DA1F2;
	font-size: 22px;
	cursor: pointer;
}
.campaignsList.campaignsListMain li .clListTopMobile .clCROwned, .campaignsList.campaignsListMain li .clListTopMobile a
{	display: inline-block;
	line-height: 30px;
}
.campaignsList.campaignsListMain li .clListTopMobile a>span:first-child
{	display: block;
	float: left;
	background: #f1f0f0 url('../img/template/user_avatar_thumb.png') no-repeat center center;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}



.campaignsList.campaignsListMain li .clRightBottom
{	float: right;
	width: 526px;
}
.campaignsList.campaignsListMain li .clRightButtons
{	float: right;
	width: 244px;
	height: 41px;
}
.campaignsList.campaignsListMain li .clRightButtons a
{	display: inline-block;
	background-color: #eb2879;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
	width: 112px;
	margin-left: 10px;
	height: 41px;
}
.campaignsList li .clRight .clRightBottom .crListShare, .campaignsList.campaignsListMain li .clRightBottom .crListShare
{	float: right;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 700;
}
.campaignsList li .clRight .clRightBottom .crListShare>div, .campaignsList.campaignsListMain li .clRightBottom .crListShare>div
{	display: block;
	float: left;
	margin-left: 5px;
	line-height: 20px;
	height: 20px;
}
.campaignsList li .clRight .clRightBottom .fb-share-button, .campaignsList.campaignsListMain li .clRightBottom .fb-share-button
{	width: 21px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.campaignsList li .clRight .clRightBottom .twitter-share-button, .campaignsList.campaignsListMain li .clRightBottom .fb-share-button
{	color: #1DA1F2;
	font-size: 22px;
	cursor: pointer;
}
.campaignsList li .clRight .clRightBottom a, .campaignsList li .clRight .clRightBottom .clCROwned, .campaignsList.campaignsListMain li .clRightBottom .clCROwned, .campaignsList.campaignsListMain li .clRightBottom a
{	display: inline-block;
	height: 31px;
	line-height: 30px;
}
.campaignsList li .clRight .clRightBottom a>span:first-child, .campaignsList.campaignsListMain li .clRightBottom a>span:first-child
{	display: block;
	float: left;
	background: #f1f0f0 url('../img/template/user_avatar_thumb.png') no-repeat center center;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}


@media (max-width: 1200px) and (min-width: 768px)
{	.container.campaignsPageHeader
	{	background-color: #FFF;
		border-bottom: none;
		height: auto;
		padding-top: 30px;
	}
	.container.campaignsPageHeader h1
	{	float: none;
		text-align: center;
		width: 100%;
		font-size: 62px;
	}
	.container.campaignsPageHeader form
	{	float: none;
		width: auto;
		padding-top: 30px;
		margin: auto;
		text-align: center;
	}
	.container.campaignsPageHeader form input[type="text"]
	{	margin: auto;
	}

	.campaignsList li
	{	width: 768px;
		height: 151px;
		padding: 5px;
	}
	.campaignsList li .clLeft
	{	width: 280px;
		height: 141px;
	}
	.campaignsList li .clLeft .clLeftTop
	{	height: 100px;
	}
	.campaignsList li .clLeft .clLeftBottom
	{	height: 41px;
		padding: 10px;
		font-size: 18px;
		font-weight: 700;
	}
	.campaignsList li .clRight
	{	width: 478px;
		height: 141px;
	}
	.campaignsList li .clRight .clRightTop
	{	height: 100px;
	}
	.campaignsList li .clRight .clRightTop h2
	{	padding: 0px 10px 5px;
	}
	.campaignsList li .clRight .clRightTop p
	{	padding: 0px 10px 5px;
		font-size: 13px;
	}
	.campaignsList li .clRight .clRightBottom
	{	height: 41px;
	}
	.campaignsList.campaignsListMain li .clRightTop
	{	width: 488px;
	}
	.campaignsList.campaignsListMain li .clRightTop h2
	{	padding: 0px 8px 10px;
	}
	.campaignsList.campaignsListMain li .clRightTop p
	{	padding: 0px 8px 5px;
		font-size: 13px;
	}
	.campaignsList.campaignsListMain li .clRightBottom
	{	width: 524px;
		margin-top: 6px;
	}
	.campaignsList.campaignsListMain li .clRightButtons
	{	margin-top: 6px;
	}
}
@media (max-width: 767px)
{	.container.campaignsPageHeader
	{	background-color: #FFF;
		border-bottom: none;
		height: auto;
		padding: 30px 10px 0px;
	}
	.container.campaignsPageHeader h1
	{	float: none;
		text-align: center;
		width: 100%;
		font-size: 42px;
	}
	.container.campaignsPageHeader form
	{	float: none;
		width: auto;
		padding-top: 30px;
		margin: auto;
		text-align: center;
	}
	.container.campaignsPageHeader form input[type="text"]
	{	margin: auto;
		width: 100%;
	}

	.campaignsList li, .campaignsList.campaignsListMain li
	{	width: 100%;
		height: auto;
		padding: 20px 0px;
		border-bottom: 2px solid #999999;
	}
	.campaignsList li:last-child
	{	border-bottom: none;
	}
	.campaignsList li .clLeft, .campaignsList li .clRight, .campaignsList.campaignsListMain li .clLeft, .campaignsList.campaignsListMain li .clRightTop
	{	width: 100%;
		margin: auto;
		float: none;
	}
	.campuserMain .campuserCampaigns ul.campaignsList li .clLeft
	{	margin: 10px auto;
	}
	.campaignsList li .clRight .clRightTop, .campaignsList.campaignsListMain li .clRightTop
	{	height: auto;
	}
	/*.campaignsList li .clRight .clRightBottom
	{	height: auto;
	}*/
	
	.campaignsList.campaignsListMain li .clRightTop h2
	{	padding: 10px 0px;
	}
	.campaignsList.campaignsListMain li .clRightTop p
	{	padding: 10px 0px;
	}
	.campaignsList.campaignsListMain li .clRightButtons
	{	float: none;
		width: 100%;
		margin: 10px 0px 0px; 
	}
	.campaignsList.campaignsListMain li .clRightButtons a
	{	width: 100%;
		margin: 0px;
	}
	.campaignsList.campaignsListMain li .clRightButtons.clRightButtons_2 a
	{	width: 48.5%;
		margin: 0px 1.5%;
	}
	.campaignsList.campaignsListMain li .clRightButtons.clRightButtons_2 a:first-child
	{	margin-left: 0px;
	}
	.campaignsList.campaignsListMain li .clRightButtons.clRightButtons_2 a:last-child
	{	margin-right: 0px;
	}
}
.campDashboardInnerTop
{	background-color: #FFFFFF;
}
.campDashboardInnerBottom
{	background-color: #BBBBBB;
	padding: 20px 0px;
}
.campDashboardInnerTop {
	background: #9e1666;
}
.campDashboardInnerTop .campDashboardInnerTopLeft, .campDashboardInnerTop .campDashboardInnerTopRight {
	float: left;
	padding: 60px 0;
	width: 50%;
	height: auto;
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage {
	background: #fff;
	float: left;
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage img {
	height: auto;
	width: 100%;
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage {
}
/*
.campDashboardInnerTop .campDashboardInnerTopLeft, .campDashboardInnerTop .campDashboardInnerTopRight
{	width: 597px;
	float: left;
	background: #ec277a;
	color: #FFFFFF;
	padding: 20px;
	height: 200px;
}
.campDashboardInnerTop .campDashboardInnerTopLeft {
	padding-left: 0;
}
.campDashboardInnerTop .campDashboardInnerTopRight {
	padding-right: 0;
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage
{	float: left;
	width: 140px
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage>div
{	width: 140px;
	height: 140px;
	padding: 2px;
	background: #f1f0f0 url('../img/template/user_avatar_medium.png') no-repeat center center;
}
.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftText
{	float: right;
	width: 400px;
	font-size: 30px;
}
*/
.campDashboardInnerBottom .campDashboardInnerBottomLeft, .campDashboardInnerBottom .campDashboardInnerBottomRight
{	width: 597px;
	float: left;
	color: #eeeeee;
	padding: 0px;
}
.campDashboardInnerTop .campDashboardInnerTopRight, .campDashboardInnerBottom .campDashboardInnerBottomRight
{	float: right;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li
{	padding: 0px 0px 5px 10px;
	position: relative;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li>span
{	position: absolute;
	background: #FFF;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li>span:first-child
{	top: 0px;
	left: 0px;
	width: 1px;
	height: 100%;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li:last-child>span:first-child
{	height: 50%;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li>span:nth-child(2)
{	top: 50%;
	left: 0px;
	width: 10px;
	height: 1px;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li:first-child>span:nth-child(2)
{	display: none;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li a
{	width: 100%;
	line-height: 30px;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	display: block;
	font-weight: bold;
	padding: 0px 10px;
	background: #FFF;
	color: #ec277a;
	border: 1px solid #FFF;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li:first-child
{	padding-left: 0px;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li:first-child a
{	padding-left: 20px;
}
.campDashboardInnerTop .campDashboardInnerTopRight ul.campDashboardMenu li.selected a
{	background: #ec277a;
	color: #FFF;
}
.campDashboardInnerBottomSection
{	background: #e8e8e8;
}
.campDashboardInnerBottomSection .campDashboardInnerBottomSectionHeader
{	background: #666666;
	color: #FFFFFF;
	width: 100%;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
}
.campDashboardInnerBottomSection ul
{	padding: 10px;
}
.crstarsRegisterHeader
{	background: #3d072b url('../img/template/crstars_banner.jpg') no-repeat center center;
	background-size: cover;
	padding: 50px 0px;
	margin: 0;
    background-position: 70%;
}
.crstarsRegisterHeader h1
{	color: #A82479;
	font-weight: 700;
	text-align: center;
	padding: 0px 50px;
	font-size: 72px;
	line-height: 0.8;
	margin: 0px;
	width: 50%;
	text-transform: uppercase;
}
.crstarsRegisterHeader h1 .register_heading_white
{	color: #FFFFFF;
}
.crstarsRegisterHeader h1 .register_heading_yellow
{	color: #FFD62C;
}
.crstarsRegister {
	background: #fff;
	padding: 80px 0;
}
.crstarsRegister h2
{	text-transform: uppercase;
	text-align: center;
	color: #9E1666;
	padding: 0 0 5px;
	font-size: 30px;
	font-weight: 700;
}
.crstarsRegister h3
{	text-align: center;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0;
}
.crstarsRegister form
{	margin: 60px auto;
	width: auto;
	background-color: #CCCCCC;
	padding: 40px 65px;
}
p.registerFormLogin {
	text-align: center;
	font-size: 24px;
}
p.registerFormLogin a {
	color: #9E1666;
	font-weight: 700;
	text-decoration: underline;
}
@media (max-width: 767px) {
	.crstarsRegister {
		padding: 40px 0;
	}
	.crstarsRegister h2 {
		font-size:24px;
	}
	.crstarsRegister h3 {
		padding-bottom: 0;
		font-size: 18px
	}
	p.registerFormLogin {
		font-size: 20px
	}
}
.crstarsRegister.crstarsLogin form
{}
.crstarsRegister form label
{	display:block;
	width: 100%;
	text-align: left;
	font-size: 16px;
	padding: 0px 0px 5px;
	color: #000000;
}
.crstarsRegister form p {
	padding: 15px 0!important;
}
.crstarsRegister form input[type="text"], .crstarsRegister form input[type="email"], .crstarsRegister form input[type="tel"], .crstarsRegister form input[type="password"], .crstarsRegister form select, .crstarsRegister form textarea
{	background-color: #FFF;
	border: none;
	color: #000;
	font-size: 18px;
	height: auto;
	padding: 12px 20px;
	width: 100%;
}
.crstarsRegister form textarea
{	height: 100px;
}
.crstarsRegister form textarea[name="donor_comment"]
{	height: 50px;
}
.crstarsRegister form .crstarsRegisterCheckbox label
{	display:inline-block;
	float: none;
	width: auto;
	padding-left: 10px;
}
.crstarsRegister form .crstarsRegisterCheckbox label
{	font-size: 18px;
}

.crstarsRegister form .regformButtons
{	text-align: center;
}
.crstarsRegister form .regformButtons a
{	text-decoration: none;
}
.crstarsRegister form .crstarsRegisterKeepMe
{	font-size: 18px;
}
.crstarsRegister form .regformForgotLink {
	font-size: 18px;
}
.crstarsRegister form .regformForgotLink a {
	color: #9E1666;
	text-decoration: underline;
}
.crstarsRegister form .regformButtons button
{	display: block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height: auto;
	margin: 0 auto;
	padding: 14px 20px;
	width: 100%;
	background-color: #9E1666;
	border: none;
	cursor: pointer;
}
.crstarsRegister form .regformButtons a button
{	background-color: #4f8f8d;
}
.crstarsRegister form .crstarsRegisterAvatars.crstarsRegisterAvatarsHidden
{	display: none;
}
.crstarsRegister form .crstarsRegisterAvatars ul
{	background-color: #dddddd;
	height: 57px;
	padding-right: 5px;
}
.crstarsRegister form .crstarsRegisterAvatars ul li
{	float: left;
	margin: 5px 0px 5px 5px;
	cursor: pointer;
	width: 61px;
	height: 47px;
	border: 2px solid #FFF;
	padding: 0px;
}
.crstarsRegister form .crstarsRegisterAvatars ul li.crAvatarSelected
{	border-color: #9E1666;
}
.crstarsRegister form .crstarsRegisterAvatars ul li img
{	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.crstarsRegister form .crstarsRegSampleText li
{	float: left;
	padding: 5px 10px;
	margin-right: 10px;
	border: 1px solid #FFF;
}
.crstarsRegister form .crstarsRegSampleText li:last-child
{	margin-right: 0px;
}
.crstarsRegister form .crstarsRegSampleText li label
{	float: left;
	width: auto;
	padding: 0px;
}
.crstarsRegister form .crstarsRegSampleText li input[type="radio"]
{	float: left;
	margin-right: 5px;
	height: 19px;
}
h1.crstarsMyHeader
{	text-align: center;
	color: #ec277a;
}
h1.crstarsMyHeader span
{	color: #9e1666;
}

@media (max-width: 1200px) and (min-width: 768px)
{	.campDashboardInnerTop .campDashboardInnerTopLeft, .campDashboardInnerTop .campDashboardInnerTopRight
	{	width: 383px;
	}
	.crstarsRegisterHeader
	{	background: #3E0628 url('../img/template/crstars_banner_tablet.jpg') no-repeat center center;
		background-size: 100%;
	}
	.crstarsRegisterHeader h1
	{	font-size: 24px;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftText
	{	width: 195px;
	}
}
@media (max-width: 767px)
{	.crstarsRegister form, .crstarsRegister.crstarsLogin form
	{	width: 100%;
		padding: 10px 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin: 40px 0;
	}
	.crstarsRegister form p {
		padding: 10px 0!important;
	}
	.crstarsRegister form input[type="text"], .crstarsRegister form input[type="email"], .crstarsRegister form input[type="password"], .crstarsRegister form select, .crstarsRegister form textarea
	{
		font-size: 16px;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft, .campDashboardInnerTop .campDashboardInnerTopRight
	{	width: 100%;
		float: none;
		margin: 5px 0px 0px;
		height: auto;
		padding: 10px;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft
	{	text-align: center;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage
	{	width: auto;
		float: none;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage>div
	{	background: #f1f0f0 url("../img/template/user_avatar_thumb.png") no-repeat center center;
		height: 34px;
		padding: 2px;
		width: 34px;
		margin: auto;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftImage>div>img
	{	height: 30px;
		width: 30px;
	}
	.campDashboardInnerTop .campDashboardInnerTopLeft .campDashboardInnerTopLeftText
	{	width: 100%;
		float: none;
	}
	.crstarsRegisterHeader
	{	padding: 20px 0px;
		background-image: none;
	}
	.crstarsRegisterHeader h1
	{	padding: 0px;
		font-size: 20px;
		margin: 0px;
		width: 100%;
	}
	.crstarsRegister form .crstarsRegSampleText li
	{	float: none;
		padding: 5px 10px;
		margin: 3px 0px;
		width: 100%;
	}

}

.crstarsStartContent
{	background-color: #fff;
	font-size: 16px;
	padding: 100px 100px;
	text-align: center;
}
.crstarsStartContent a {
	font-weight: 700;
	text-decoration: none;
}
.crstarsStartContent h2 {
    color: #ec277a;
	font-size: 46px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
}
.crstarsStartContent h3 {
    color: #ec277a;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
}
.crstarsStartContent p {
    color: #525455;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.crstarsStartContent p:last-child {
	padding-bottom: 0;
}
.crstarsStartContent img
{	max-width: 100%;
	height: auto;
}
.button-join {
	background-color: #ec277a;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 1.6em;
	padding: 12px 90px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.crstarsStartContent.crstarsStartContentHalfs {
	background: #a72479;
	padding: 0!important;
}
.crstarsStartContentHalfs .container_inner {
	display: -webkit-flex;
  	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	overflow: hidden;
	padding: 0!important;
	width: 100%;
}
.crstarsStartContentHalf {
	-webkit-flex: 1;
    flex: 1;
	position: relative;
	width: 50%;
}
.crstarsStartContentHalfBg {
	background-image: url('../img/template/who_we_are_1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
}
.crstarsStartContentHalfInner {
	padding: 100px 120px;
	width: 100%;
	max-width: 100%;
}
.crstarsStartContentHalfInner h3 {
	color: #fff;
}
.crstarsStartSocial {
	text-align: center;
}
.crstarsStartSocial li {
	display: inline;
	margin: 0 10px;
}
.crstarsStartSocial li a {
	border: 2px solid #ec2879;
	color: #fff;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	background: #ec2879;
	padding: 0;
	font-size: 18px;
	line-height: 48px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.crstarsStartSocial li a:hover {
	color: #ec2879;
	background: #fff;
}
.crstarsStartSocial li a i:before {
	line-height: 44px;
}
@media (max-width: 360px) {
	.crstarsStartContentHalfs .container_inner {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.crstarsStartContentHalf {
		width: 100%;
	}
	.crstarsStartContent {
		padding: 50px 15px;
	}
	.crstarsStartContent h2 {
		font-size: 30px;
	}
	.crstarsStartContent h3 {
		font-size: 30px;
	}
	.crstarsStartContent p {
		font-size: 18px;
	}
	.crstarsStartContentHalfInner h3 {
		font-size: 20px;
	}

	.crstarsStartContentHalfInner {
		padding: 25px 15px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.crstarsStartContentHalfs .container_inner {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.crstarsStartContentHalf {
		width: 100%;
	}
	.crstarsStartContent {
		padding: 50px 25px;
	}
	.crstarsStartContent h2 {
		font-size: 24px;
	}
	.crstarsStartContent h3 {
		font-size: 24px;
	}
	.crstarsStartContentHalfInner h3 {
		font-size: 24px;
	}
	.crstarsStartContent p {
		font-size: 20px;
	}
	.crstarsStartContentHalfInner {
		padding: 25px 25px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.crstarsStartContent {
		padding: 50px 50px;
	}
	.crstarsStartContent h2 {
		font-size: 36px;
	}
	.crstarsStartContent h3 {
		font-size: 36px;
	}
	.crstarsStartContentHalfInner h3 {
		font-size: 30px;
	}
	.crstarsStartContent p {
		font-size: 20px;
	}
	.crstarsStartContentHalfInner {
		padding: 50px 50px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.crstarsStartContent {
		padding: 75px 75px;
	}
	.crstarsStartContent h2 {
		font-size: 40px;
	}
	.crstarsStartContent p {
		font-size: 20px;
	}
	.crstarsStartContentHalfInner {
	}
}
@media (min-width: 1501px) {

}
form.newCampaignForm {
	background: #fff;
	padding: 0;
}
form.newCampaignForm .form-row {
	border-bottom: 1px solid #b04182;
	position: relative;
}
form.newCampaignForm  .form-row.form-row-no-border {
	border-bottom: 1px solid #fff;
}
form.newCampaignForm .form-row-inner {
	margin-left: -15px;
	margin-right: -15px;
}
form.newCampaignForm .form-row-full {
	float: none;
	padding: 30px 15px;
	position: relative;
	width: 100%;
}
form.newCampaignForm .form-row-half {
	float: left;
	padding: 30px 15px;
	position: relative;
	width: 50%;
}
form.newCampaignForm .form-row-half:first-child label {
	color: #000;
	display: block;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 700;
}
form.newCampaignForm .form-row-half:first-child p {
	color: #666;
	font-size: 16px;
}
form.newCampaignForm .form-row-full label {
	color: #000;
	display: block;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 700;
}
form.newCampaignForm .form-row-full p {
	color: #666;
	font-size: 16px;
}
form.newCampaignForm input[type=text],
form.newCampaignForm input[type=email],
form.newCampaignForm input[type=number] {
	border: none;
	background: #f2f2f2;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	margin: 0;
	padding: 15px 25px;
	width: 100%;
	height: 50px;
	line-height: auto;
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
form.newCampaignForm textarea {
	background: #f2f2f2;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	margin: 0;
	min-height: 150px;
	padding: 25px 25px;
	width: 100%;
}
form.newCampaignForm textarea.tinymce
{	min-height: 400px;
}
form.newCampaignForm input[type=file]{
	width: 100%;
}
.form-select-container {
	background: #f2f2f2;
	position: relative;
	z-index: 1;
}
.form-select-container:before {
	content: "\f107";
	color: #000;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	font-family: "website-icons";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	font-size: 28px;
	z-index: 1;
	line-height: 50px;
}

form.newCampaignForm select {
	background: transparent;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	margin: 0;
	padding: 15px 25px 15px 25px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	z-index: 2;
	position: relative;
	max-height: 50px;
}
form.newCampaignForm option {
	background: #f2f2f2;
	color: #000;
}
form.newCampaignForm .campCurrencySpanContainer {
	position: relative;
}
form.newCampaignForm .campCurrencySpanContainer input {
	text-align: left;
	padding: 15px 25px 15px 60px;
}
form.newCampaignForm .campCurrencySpan {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	text-align: right;
	bottom: 0;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
}
form.newCampaignForm ul.radio-list,
form.newCampaignForm ul.checkbox-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
form.newCampaignForm ul.radio-list li,
form.newCampaignForm ul.checkbox-list li {
	display: block;
	font-size: 16px;
	list-style: none;
	position: relative;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}
form.newCampaignForm ul.radio-list input[type=radio],
form.newCampaignForm ul.checkbox-list input[type=checkbox] {
	width   : 40px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
form.newCampaignForm ul.radio-list input[type=radio] + label,
form.newCampaignForm ul.checkbox-list input[type=checkbox] + label {
	display: inline-block;
	margin-left: -40px;
	padding: 10px 0 10px 50px;
	position: relative;
}
form.newCampaignForm ul.radio-list input[type=radio] + label:before {
	background: #f2f2f2;
	position: absolute;
	content: "";
	top: 2px;
	left: 0;
	bottom: 0;
	height: 36px;
	width: 36px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
form.newCampaignForm ul.radio-list input[type=radio]:checked + label:after {
	background: #9e1666;
	position: absolute;
	content: "";
	top: 12px;
	left: 10px;
	bottom: 0;
	height: 16px;
	width: 16px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
form.newCampaignForm ul.checkbox-list input[type=checkbox] + label:before {
	background: #f2f2f2;
	color: #9e1666;
	bottom: 0;
	content: "";
	height: 36px;
	left: 0;
	position: absolute;
	top:0;
	width: 36px;
	font-family: "website-icons";
	font-size: 28px;
  	font-style: normal;
  	font-weight: normal;
	line-height: 36px;
  	speak: none;
  	display: inline-block;
  	text-decoration: inherit;
  	text-align: center;
  	font-variant: normal;
  	text-transform: none;
}
form.newCampaignForm ul.checkbox-list input[type=checkbox]:checked + label:before {
	content: '\e804';
}
.input-box-container {
	background: #f2f2f2;
	padding: 25px 25px;
}
ul.campaign-avatars {
	margin: -10px;
}
ul.campaign-avatars li {
	display: inline-block;
	list-style: none;
	width: 20%;
	padding: 10px;
}
ul.campaign-avatars li a {
	border: 5px solid #f2f2f2;
	display: block;
}
ul.campaign-avatars li.crAvatarSelected a {
	border: 5px solid #9e1666;
}
ul.campaign-avatars li a img {
	height: auto;
	width: 100%;
}
form.newCampaignForm .newCampaignFormSubmit {
	background: #fff;
	border: none;
	color: #9E1666;
	font-size: 30px;
	font-weight: 700;
	height: auto;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	width: auto;
}
@media (max-width: 767px) {
	form.newCampaignForm .form-row-half {
		float: none;
		width: 100%;
		padding: 15px;
	}
	form.newCampaignForm .form-row-half:first-child{
		text-align: center;
	}
	form.newCampaignForm .form-row-half:first-child label {
		text-align: center;
	}
	ul.campaign-avatars li {
		width: 50%;
	}
}
.cr-stars-row {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
}
.cr-stars-row-full {
	position: relative;
	padding: 0 15px;
	width: 100%;
}
.cr-stars-row-half {
	position: relative;
	float: left;
	padding: 0 15px;
	width: 50%;
}
@media (max-width: 767px) {
	.cr-stars-row {
		margin-left: 0;
		margin-right: 0;
	}
	.cr-stars-row-half,
	.cr-stars-row-full {
		float: none;
		width: 100%;
		padding: 15px;
	}
}
.container.cr-stars-dashboard-header {
	background: #9e1666;
}
.container.cr-stars-dashboard-header .container_inner {
	padding: 0!important;
	overflow: hidden;
}
.cr-stars-dashboard-header-inner {
	padding: 30px 0;
}
.cr-stars-dashboard-header-left-container {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.cr-stars-dashboard-header-left-left,
.cr-stars-dashboard-header-left-right {
	float: left;
}
.cr-stars-dashboard-header-left-left {
	width: 250px;
}
.cr-stars-dashboard-header-left-image {
	position: relative;
}
.cr-stars-dashboard-header-left-image img {
	height: auto;
	width: 100%;
}
a.cr-stars-dashboard-header-left-image-edit {
	background: #fff;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 2;
}

.cr-stars-dashboard-header-left-right {
	height: 100%;
	width: calc(100% - 250px);
	padding-left: 30px;
	position: absolute;
    right: 0;
    top: 0;
}
.cr-stars-dashboard-header-left-name {
	position: absolute;
	top: 40%;
	left: 0;
	padding-left:30px;
	height: auto;
	transform: translateY(-40%);
	width: 100%;
}
.cr-stars-dashboard-header-left-name h1 {
	color: #fff;
	font-size: 36px;
	line-height: 1.1em;
}
.cr-stars-dashboard-header-left-raised {
	bottom: 0;
	left: 0;
	padding-left:30px;
	position: absolute;
	width: 100%;
}
.cr-stars-dashboard-header-raised-bar {
	background: #fff;
}
.cr-stars-dashboard-header-raised-bar .raised-title,
.cr-stars-dashboard-header-raised-bar .raised-amount {
	color: #9E1666;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	overflow: hidden;
	padding: 15px 30px;
}
.cr-stars-dashboard-header-raised-bar .raised-title {
	background: #ffd62c;
	text-transform: capitalize;
}
.cr-stars-dashboard-header-raised-bar .raised-amount {
	padding: 15px;
}
.cr-stars-dashboard-header-right-container {
	min-height: 250px;
	position: relative;
}
.cr-stars-dashboard-header-right-bottom-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.cr-stars-dashboard-header-right-full {
	position: relative;
}
.cr-stars-dashboard-header-right-left,
.cr-stars-dashboard-header-right-right {

}
.cr-stars-dashboard-header-right-left {
	position: absolute;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 200px;
}
.cr-stars-dashboard-header-right-right {
	padding-left: 30px;
	float: right;
	width: calc(100% - 200px);
}
.cr-stars-dashboard-header-campaign-count {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.cr-stars-dashboard-header-campaign-count-title {
	background: #98979c;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
}
.cr-stars-dashboard-header-campaign-count-count {
	position: absolute;
	padding: 40px 0 0;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
}
.cr-stars-dashboard-header-campaign-count-count span {
	color: #9E1666;
	display: block;
	font-size: 48px;
	font-weight: 700;
}
.cr-stars-dashboard-header-right-full {
	position: relative;
}
.cr-stars-dashboard-header-right-full .cr-stars-dashboard-header-campaign-count {
	position: relative;
	margin: 0;
}
.cr-stars-dashboard-header-right-full .cr-stars-dashboard-header-campaign-count-count {
	padding: 30px;
	position: relative;
	top: 0;
	transform: translateY(0);
}
.cr-stars-dashboard-header-right-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cr-stars-dashboard-header-right-navigation ul li {
	margin-bottom: 5px;
	padding: 0;
	list-style: none;
}
.cr-stars-dashboard-header-right-navigation ul li:last-child {
	margin-bottom: 0;
}
.cr-stars-dashboard-header-right-navigation ul li a {
	background: #fff;
	color: #9E1666;
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 40px 10px 15px;
	position: relative;
	text-transform: capitalize;
	text-decoration: none;
}
.cr-stars-dashboard-header-right-navigation ul li a span.icon-right-open {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 15px;
	height: auto;
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cr-stars-dashboard-header-right-navigation ul li:hover a span.icon-right-open {
	right: 10px;
}

form#crSearchDashboardHeader {
	position: relative;
}
form#crSearchDashboardHeader input[type=text] {
	background: #fff;
	border: none;
	color: #9E1666;
	font-size: 16px;
	outline: none;
	padding: 15px 25px 15px 60px;
	width: 100%;
}
form#crSearchDashboardHeader button {
	background: #fff;
	border: none;
	color: #9E1666;
	cursor: pointer;
	position: absolute;
	padding: 0 15px;
	top: 0;
	left: 0;
	height: 100%;
}
@media (max-width: 400px) {
	.cr-stars-dashboard-header-right-left,
	.cr-stars-dashboard-header-right-right {
		display: block;
		padding-left: 0;
		position: relative;
		float: none;
		width: 100%!important;
	}
	.cr-stars-dashboard-header-campaign-count {
		position: relative;
		margin-bottom: 30px;
	}
	.cr-stars-dashboard-header-campaign-count-count {
		padding: 15px;
		position: relative;
		top: 0;
		transform: translateY(0);
	}
	.cr-stars-dashboard-header-right-full .cr-stars-dashboard-header-campaign-count-count {
		padding: 15px;
	}
	.cr-stars-dashboard-header-campaign-count-count span {
		font-size: 30px;
	}
}
@media (max-width: 767px) {
	.cr-stars-dashboard-header-inner {
		padding: 15px;
	}
	.cr-stars-dashboard-header-left-left {
		position: relative;
		width: 100%;
	}
	.cr-stars-dashboard-header-left-right {
		position: relative;
		padding-left: 0;
		width: 100%;
	}
	.cr-stars-dashboard-header-left-image {
		margin: 0 auto;
		max-width: 200px;
	}
	.cr-stars-dashboard-header-left-name {
		position: relative;
		top: 0;
		padding-left: 0;
		transform: translateY(0);
	}
	.cr-stars-dashboard-header-left-name h1 {
		font-size: 28px;
		text-align: center;
		padding: 15px 25px;
	}
	.cr-stars-dashboard-header-left-name h1 br {
		display: none;
	}
	.cr-stars-dashboard-header-left-raised {
		position: relative;
		padding-left: 0;
		left: 0;
	}
	.cr-stars-dashboard-header-right-container {
		min-height: auto;
	}
	.cr-stars-dashboard-header-search {
		display: none;
	}
	.cr-stars-dashboard-header-right-bottom-container {
		position: relative;
		top: 0;
		bottom: auto;
	}
	.cr-stars-dashboard-header-right-left {
		width: 30%;
	}
	.cr-stars-dashboard-header-right-right {
		width: 70%;
	}
	.cr-stars-dashboard-header-right-navigation ul li a {
		font-size: 14px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.cr-stars-dashboard-header-left-left {
		width: 100%;
	}
	.cr-stars-dashboard-header-left-right {
		padding-left: 0;
		width: 100%;
	}
	.cr-stars-dashboard-header-left-raised {
		left: 0;
	}
	.cr-stars-dashboard-header-left-name {
		position: absolute;
		top: 50%;
		height: auto;
		transform: translateY(-50%);
		width: 100%;
		padding: 0 15px;
	}
	.cr-stars-dashboard-header-left-name h1 {
		background: rgba(158, 22, 102, 1);
		font-size: 28px;
		text-align: center;
		padding: 15px 25px;
	}
	.cr-stars-dashboard-header-left-name h1 br {
		display: none;
	}
	.cr-stars-dashboard-header-right-container {
		min-height: 369px;
	}
	.cr-stars-dashboard-header-left-raised {
		padding-left: 0;
	}
	.cr-stars-dashboard-header-right-left,
	.cr-stars-dashboard-header-right-right {
		display: block;
		padding-left: 0;
		position: relative;
		float: none;
		width: 100%;
	}
	.cr-stars-dashboard-header-campaign-count {
		position: relative;
		margin-bottom: 30px;
	}
	.cr-stars-dashboard-header-campaign-count-count {
		padding: 0;
		position: relative;
		top: 0;
		transform: translateY(0);
	}
	.cr-stars-dashboard-header-campaign-count-count span {
		font-size: 36px;
	}
}
.campaignsPage {
	background-color: #fff;
	font-size: 16px;
	padding: 80px 0;
}
.campaignsPage h1.page_heading {
    color: #ec277a;
	font-size: 46px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.container.cr-stars-main {
	background-color: #fff;
	font-size: 16px;
	padding: 80px 0;
}
.container.cr-stars-main .container_inner {
	padding: 0!important;
}
.container.cr-stars-main .crstarsRegister {
	padding: 0;
}
.campShareButton {
	margin-bottom: 10px;
}
.campShareButton .ssk-block .ssk:last-child {
	margin-bottom: 0;
}
@media (max-width: 360px) {
}
@media (min-width: 361px) and (max-width: 767px) {
}
@media (max-width: 767px) {
	.campaignsPage,
	.container.cr-stars-main {
		padding: 25px;
	}
}
.custom-share-buttons {}
.campaign-page-share-buttons {
	bottom: 0;
	right: 0;
	position: absolute;
	width: calc(100% - 320px);
}
.campaign-page-share-buttons a {
	color: #fff!important;
}
.campaign-page-share-buttons .custom-share-buttons {
	background: #55595c;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 20px;
	text-transform: uppercase;
	text-align: right;
}
.campaign-page-share-buttons .custom-share-buttons .ssk-group {
	display: inline-block;
}
.campaign-page-mobile-buttons-container {
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 9999;
	display: none;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
}
.campaign-page-mobile-buttons {
	background: #fff;
	display: block;
	/*display: none;*/
	padding: 10px;
	width: 500px;
	margin: 0 auto;
	max-width: 100%;
}
.campaign-page-mobile-button-left,
.campaign-page-mobile-button-right {
	float: left;
	width: 50%;
}
.campaign-page-mobile-button-left {
	padding-right: 5px;
}
.campaign-page-mobile-button-right {
	padding-left: 5px;
}
.campaign-page-mobile-buttons a {
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.campaign-page-mobile-buttons a.campaign-page-mobile-button-donate {
	background: #ffd62c;
	color: #9e1666;
}
.campaign-page-mobile-buttons a.campaign-page-mobile-button-share {
	background: #666666;
	color: #fff;
}
.campaign-page-mobile-buttons-share {
	background: #9e1666;
	display: none;
	color: #fff;
	font-weight: 700;
}
.campaign-page-mobile-buttons-share-title {
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	padding: 18px 0;

}
.campaign-page-mobile-buttons-share-buttons {
	padding: 12px 0;
}
.campaign-page-mobile-buttons-share-buttons a {
	background: #fff;
	color: #9e1666;
	padding: 8px!important;
	margin-right:  10px
}
.mobile-join-team,
.mobile-view-team,
.mobile-follow-campaign {
	display: none;
	text-align: center;
}
.mobile-join-team a {
	background-color: #9e1666;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 1.6em;
	padding: 12px 90px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mobile-view-team {
	padding: 0 30px 10px;
}
.mobile-view-team a {
	background-color: #fff;
	border: 2px solid #98979c;
	color: #98979c;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto 10px;
	padding: 12px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mobile-follow-campaign {
	padding: 0 30px 10px;
}
.mobile-follow-campaign a {
	background-color: #fff;
	border: 2px solid #98979c;
	color: #98979c;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto;
	padding: 12px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media (max-width: 360px) {
}
@media (min-width: 361px) and (max-width: 767px) {
}
@media (max-width: 767px) {
	.campaign-page-mobile-buttons {
		display: block;
	}
	.campaign-page-share-buttons {
		display: none;
		position: relative;
		width: 100%;
	}
	.campaign-page-share-buttons .custom-share-buttons {
		text-align: center;
	}
	.mobile-join-team,
	.mobile-view-team,
	.mobile-follow-campaign {
		display: block;
	}
	.campaign-page-mobile-buttons-container {
		top: auto;
		bottom: 0;
	}
}
.campDonationsList ul li.campDonationsMore
{	text-align: center;
	padding: 10px 0px 30px;
}

form .crRegFormContactPref .custom-checkbox {
	display: block;
	font-size: 16px;
	list-style: none;
	position: relative;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}
form .crRegFormContactPref .custom-checkbox input[type=checkbox] {
	width   : 60px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
form .crRegFormContactPref .custom-checkbox input[type=checkbox] + label {
	display: inline-block;
	font-size: 18px;
	margin-left: -62px;
	padding: 10px 0 10px 62px;
	position: relative;
	width: 100%;
}
form .crRegFormContactPref .custom-checkbox input[type=checkbox] + label:before
{
	background: #f2f2f2;
	color: #9e1666;
	bottom: 0;
	content: "";
	height: 48px;
	left: 0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 48px;
	font-family: "website-icons";
	font-size: 36px;
  	font-style: normal;
  	font-weight: normal;
	line-height: 48px;
  	speak: none;
  	display: inline-block;
  	text-decoration: inherit;
  	text-align: center;
  	font-variant: normal;
  	text-transform: none;
}
form .crRegFormContactPref .custom-checkbox input[type=checkbox]:checked + label:before
{
	content: '\e804';
}

.crstarsRegister .form-rows .crRegFormContactPref.form-row
{	margin: 0px;
}
.crstarsRegister form .crRegFormContactPref p
{	padding: 0px !important;
}
.crstarsRegister form .crRegFormContactPref .cprefTitle
{	font-size: 18px;
	padding: 4px 0px !important;
}
.crstarsRegister form .crRegFormContactPref .cprefTitle span
{	font-style: italic;
	font-size: 14px;
}
.crstarsRegister form .crRegFormContactPref .cprefHelp
{	font-size: 14px;
	padding: 15px 0px !important;
}
.crstarsRegister form .crRegFormContactPref .cprefHelp:last-of-type
{	padding-top: 4px !important;
}
.crstarsRegister form ul.contactPrefForm
{	margin-bottom: 7px;
}
.crstarsRegister form ul.contactPrefForm li
{	padding: 2px 0px;
}
.container.crstarsRegisterHeader,.container.register_breadcrumbs,.container.page-header,
.event-page-header-container,.container.postCategoryHeader {
    max-width: 100%;
}