.container_heading
{	background-color: #d1c6c6;
}
.container_heading h1.page_heading
{	color: #ffd62c;

}
@media (max-width: 440px) {
}
@media (max-width: 767px) {
	.container_heading h1.page_heading {

	}
}
@media  (min-width: 768px) and (max-width: 1200px) {
	.container_heading h1.page_heading {

	}
}
.donation_breadcrumbs
{	background: #b3b3b3;
}
.donation_breadcrumbs .container_inner
{	width: 100%;
}
.donation_breadcrumbs ul
{	overflow: hidden;
}
.donation_breadcrumbs ul li
{	float: left;
	padding: 0px;
	height: 100px;
}
.donation_breadcrumbs ul li > a,
.donation_breadcrumbs ul li > div
{	display: block;
	padding: 0px;
	height: 100px;
	line-height: 100px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	background-color: #f2f2f2;
	padding-left: 40px;
}
.donation_breadcrumbs ul li >a span,
.donation_breadcrumbs ul li >div span
{	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	top: 10px;
	right: -40px;
	background-color: #f2f2f2;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: -1;
}
.donation_breadcrumbs ul li:nth-child(2)  > a,
.donation_breadcrumbs ul li:nth-child(2) > div,
.donation_breadcrumbs ul li:nth-child(2) > a span,
.donation_breadcrumbs ul li:nth-child(2) > div span {
	background-color: #e6e6e6;
}
.donation_breadcrumbs ul li:nth-child(3) > a,
.donation_breadcrumbs ul li:nth-child(3) > div,
.donation_breadcrumbs ul li:nth-child(3) > a span,
.donation_breadcrumbs ul li:nth-child(3) > div span {
	background-color: #cccccc;
}
.donation_breadcrumbs ul li:nth-child(4) > a,
.donation_breadcrumbs ul li:nth-child(4) > div,
.donation_breadcrumbs ul li:nth-child(4) > a span,
.donation_breadcrumbs ul li:nth-child(4) > div span {
	background-color: #b3b3b3;
}
.donation_breadcrumbs ul li.donation_breadcrumbs_current > a,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > a span,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > div,
.donation_breadcrumbs ul li.donation_breadcrumbs_current > div span {
	color: #FFF;
	background-color: #ec277a;
}
.donation_breadcrumbs ul li:nth-child(2).donation_breadcrumbs_current > a,
.donation_breadcrumbs ul li:nth-child(2).donation_breadcrumbs_current > a span,
.donation_breadcrumbs ul li:nth-child(2).donation_breadcrumbs_current > div,
.donation_breadcrumbs ul li:nth-child(2).donation_breadcrumbs_current > div span {
	color: #FFF;
	background-color: #69bbb9;
}
.donation_breadcrumbs ul li:nth-child(3) .donation_breadcrumbs_current > a,
.donation_breadcrumbs ul li:nth-child(3) .donation_breadcrumbs_current > a span,
.donation_breadcrumbs ul li:nth-child(3) .donation_breadcrumbs_current > div,
.donation_breadcrumbs ul li:nth-child(3) .donation_breadcrumbs_current > div span {
	color: #FFF;
	background-color: #eb6456;
}
.donation_breadcrumbs ul li:nth-child(4).donation_breadcrumbs_current > a,
.donation_breadcrumbs ul li:nth-child(4).donation_breadcrumbs_current > a span,
.donation_breadcrumbs ul li:nth-child(4).donation_breadcrumbs_current > div,
.donation_breadcrumbs ul li:nth-child(4).donation_breadcrumbs_current > div span {
	color: #FFF;
	background-color: #9e1666;
}
.donation_breadcrumbs ul li:last-child > a span, .donation_breadcrumbs ul li:last-child > div span
{	display: none!important;
}

@media (max-width: 480px) {
	.donation_breadcrumbs {
		display: none;
	}
}
@media (max-width: 767px) {
	.donation_breadcrumbs .container_inner
	{	padding: 0px;
	}
	.donation_breadcrumbs ul li
	{	height: 40px;
	}
	.donation_breadcrumbs ul li > a,
	.donation_breadcrumbs ul li > div
	{	height: 40px;
		line-height: 40px;
		font-size: 10px;
		padding-left: 16px;
	}
	.donation_breadcrumbs ul li > a span,
	.donation_breadcrumbs ul li > div span
	{	width: 32px;
		height: 32px;
		top: 4px;
		right: -16px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.donation_breadcrumbs ul li
	{	height: 60px;
	}
	.donation_breadcrumbs ul li > a,
	.donation_breadcrumbs ul li > div
	{	height: 60px;
		line-height: 60px;
		font-size: 14px;
		padding-left: 24px;
	}
	.donation_breadcrumbs ul li > a span,
	.donation_breadcrumbs ul li > div span
	{	width: 48px;
		height: 48px;
		top: 6px;
		right: -24px;
	}
}
.donate_main_content {
	background: #fff;
	padding: 100px 100px;
}
.donate_main_content .container_inner {
	padding: 0!important;
}
form.donation-form {
	background: #fff;
	font-size: 20px;
	width: 100%;
	position: relative;
}
form.donation-form .direct-debit-container, .direct-debit-account-details .form-col, .direct-debit-guarantee .form-col
{	position: relative;
	padding-top: 50px;
}
form.donation-form .form-row {
	padding: 25px 0;
}
form.donation-form.form-rows .form-col-2:first-child {
	width: 60%;
}
form.donation-form.form-rows .form-col-2:last-child {
	width: 40%;
}
form.donation-form label.title-label {
	display: block;
	padding: 0px 0;
	font-size: 20px;
}
form.donation-form .donation_types_chooser {
	font-size: 28px;
	vertical-align: middle;
	text-align: left;
}
form.donation-form .donation_types_chooser span {
	color: #ec277a;
	display: inline-block;
	font-weight: 700;
}
form.donation-form .donation_types_chooser .custom-select-box {
	max-width: 280px;
}
form.donation-form .custom-select-box {
	background: #f2f2f2;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

form.donation-form .custom-select-box select {
	background: transparent;
	border: none;
	color: #999999;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: auto;
	outline: none;
	padding: 14px 64px 14px 14px;
	width: 100%;
}

form.donation-form .custom-select-box select:focus {
}
form.donation-form .custom-select-box .custom-select-box-arrow {
	background: #ec277a;
	width: 50px;
}
form.donation-form .custom-select-box .custom-select-box-arrow i {
	color: #fff;
	font-size: 28px;
}
form.donation-form .custom-checkbox {
	display: block;
	font-size: 16px;
	list-style: none;
	position: relative;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}
form.donation-form .custom-checkbox input[type=checkbox] {
	width   : 60px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
form.donation-form .custom-checkbox input[type=checkbox] + label {
	display: inline-block;
	font-size: 18px;
	margin-left: -60px;
	padding: 10px 0 10px 60px;
	position: relative;
	width: 100%;
}
form.donation-form .custom-checkbox input[type=checkbox] + label:before {
	background: #f2f2f2;
	color: #9e1666;
	bottom: 0;
	content: "";
	height: 48px;
	left: 0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 48px;
	font-family: "website-icons";
	font-size: 36px;
  	font-style: normal;
  	font-weight: normal;
	line-height: 48px;
  	speak: none;
  	display: inline-block;
  	text-decoration: inherit;
  	text-align: center;
  	font-variant: normal;
  	text-transform: none;
}
form.donation-form .custom-checkbox input[type=checkbox]:checked + label:before {
	content: '\e804';
}
form.donation-form input[type=text],
form.donation-form input[type=email],
form.donation-form input[type=number],
form.donation-form textarea {
	background: #f2f2f2;
	border: none;
	color: #999999;
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: auto;
	outline: none;
	padding: 14px 14px 14px 14px;
	width: 100%;
	vertical-align: middle;
	-moz-appearance:textfield;
}
form.donation-form input[type=number] {
	text-align: right;
}
form.donation-form .donation_amount_container
{	text-align: right;
}
form.donation-form .donation_amount_container label
{	padding: 0px 10px 0px 40px;
}
form.donation-form .donation_amount_container
{	font-size: 24px;
	font-weight: bold;
}
form.donation-form .donation_amount_container span
{	display: block;
	float: right;
	line-height: 60px;
}
form.donation-form .donation_amount_container input[name="donation_quantity"]
{	display: block;
	float: right;
	width: 60px;
	text-align: center;
	margin-left: 10px;
}
.donation_quantity_changer
{	display: block;
	float: right;
	margin: 0px 0px 0px;
	padding: 12px 10px 0px;
}
.donation_quantity_changer>a, .donation_quantity_changer .dqcNumber
{	padding: 2px 0px;
	display: block;
	border : 1px solid #979797;
	height: 37px;
	text-align: center;
	float: left;
	width: 35px;
}
.donation_quantity_changer>a.donation_quantity_changer_plus
{	font-size: 22px;
	border-left : none;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	line-height: 30px;
}
.donation_quantity_changer>a.donation_quantity_changer_minus
{	font-size: 22px;
	border-right : none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	line-height: 30px;
}
.donation_quantity_changer>a.donation_quantity_changer_minus.donation_quantity_changer_hidden
{	color: #BBB;
}
.donation_quantity_changer .dqcNumber
{	border-right : none;
	border-left : none;
	width: 40px;
}

form.donation-form textarea
{	min-height: 120px;
}
.donorAddressManual input
{	margin-bottom: 14px;
}
@media (min-width: 768px) and (max-width: 1000px)
{	form.donation-form .donation_amount_container span.dqcAmountPer
	{	display: none;
	}
}

@media (min-width: 768px) and (max-width: 1200px)
{	form.donation-form .donation_amount_container
	{	font-size: 18px;
	}
	form.donation-form .donation_amount_container span
	{	line-height: 44px;
		font-size: 18px;
	}
	.donation_amount_container_qty_and_per
	{	float: right;
	}
	form.donation-form .donation_amount_container span.dqcAmountPer
	{	display: block;
		margin: auto;
		float: left;
	}
	.donation_quantity_changer
	{	float: left;
		text-align: center;
		width: 120px;
		padding: 5px 0px 0px 10px;
	}
	.donation_quantity_changer > a
	{	width: 30px;
	}
	.donation_quantity_changer .dqcNumber
	{	padding-top: 7px;
		width: 50px;
	}
	.donation_amount_container_total
	{	float: right;
	}
	form.donation-form .donation_amount_container_total .donation_amount_container_break, form.donation-form .donation_amount_container_total .donation_amount_display
	{	float: left;
	}
	form.donation-form .donation_amount_container input[name="donation_quantity"]
	{	padding: 10px 0px;
		width: 45px;
	}
	
}
@media (max-width: 767px)
{	form.donation-form .donation_amount_container
	{	text-align: center;
	}
	form.donation-form .donation_amount_container span
	{	display: inline-block;
		float: none;
		line-height: 44px;
	}
	form.donation-form .donation_amount_container span.dqcAmountPer
	{	display: block;
		margin: auto;
	}
	.donation_quantity_changer
	{	float: none;
		margin: auto;
		text-align: center;
		width: 110px;
		padding: 0px;
	}

/*	.donation_quantity_changer
	{	display: inline-block;
		float: none;
		height: 44px;
		vertical-align: top;
	}
	.donation_quantity_changer>a
	{	height: 22px;
	}*/
}
form.donation-form .input-number-group input[type=text]
{
	margin-right: 14px;
	width: 40px;
	text-align: center;
}
form.donation-form input[type=submit] {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
form.donation-form input[type=submit]:hover {
	border: 2px solid #ec277a;
	color: #ec277a;
	text-decoration: none;
}
form.donation-form .form-help-text {
	font-size: 0.85em;
	padding-top: 28px;
}
a.donation-preset  {
	background: #f2f2f2;
	display: block;
}

.donation-preset-inner {
	position: relative;
}
a.donation-preset span {
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a.donation-preset img {
	height: auto;
	max-width: 100%;
}
a.donation-preset .donation-preset-top {
	padding-bottom: 95px;
}
a.donation-preset .donation-preset-bottom {
	background: #f2f2f2;
	bottom: 0;
	padding: 25px;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 95px;
}
a.donation-preset .donation-preset-title {
	color: #ec277a;
	font-size: 24px;
	font-weight: 700;
}
a.donation-preset .donation-preset-text {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	min-height: 45px;
}
a.donation-preset span.donation-preset-button {
	max-height: 0;
	overflow: hidden;
}
a.donation-preset .donation-preset-button span.button {
	border-color: #fff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 15px 0 0;
	padding: 12px 60px;
	width: auto;
}
a.donation-preset .donation-preset-amount {
	background: #fff;
	color: #ec277a;
	font-size: 30px;
	font-weight: 700;
	height: 100px;
	line-height: 100px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 15px;
	width: 100px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
a.donation-preset:hover .donation-preset-bottom,
a.donation-preset:focus .donation-preset-bottom {
	background: #ec277a;
}
a.donation-preset:hover .donation-preset-title,
a.donation-preset:focus .donation-preset-title {
	color: #ffd62c;
}
a.donation-preset:hover .donation-preset-text,
a.donation-preset:focus .donation-preset-text {
	color: #fff;
}
a.donation-preset:not(.donation-presets-selected):hover span.donation-preset-button,
a.donation-preset:not(.donation-presets-selected):focus span.donation-preset-button {
	max-height: 100px;
}
a.donation-preset:hover span.donation-preset-amount,
a.donation-preset:focus span.donation-preset-amount {
	background: #ffd62c;
}
a.donation-preset.donation-presets-selected span.donation-preset-amount {
	background: #ffd62c;
}
a.donation-preset.donation-presets-selected .donation-preset-bottom {
	background: #ec277a;
}
a.donation-preset.donation-presets-selected  .donation-preset-text {
	color: #fff;
}
form.donation-form .donation-amount-container {
	font-size: 28px;
	vertical-align: middle;
	text-align: left;
}
form.donation-form .donation-amount-container span {
	color: #ec277a;
	display: inline-block;
	font-size: 32px;
	font-weight: 700;
}
form.donation-form .donation-amount-container input {
	max-width: 280px;
}
form.donation-form .form-row-separator {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #dddddd;
	height: 2px;
	width: 100%;
}
form.donation-form .donor-address-box {

}
form.donation-form .donor-address-box-content {
	background: #f2f2f2;
	color: #999;
	padding: 14px;
}
form.donation-form .address-search-again {

}
form.donation-form .address-search-again a.button {
	font-size: 14px;
	border: 2px solid #69bbb9;
    color: #69bbb9;
}
form.donation-form .donation-details a.button,
form.donation-form .donation-your-details a.button {
	font-size: 14px;
}
form.donation-form .donor-giftaid-box .alert-box-green {
	text-align: left;
}
form.donation-form .donor-giftaid-box .alert-box-green h3 {
}
form.donation-form .donor-giftaid-box .alert-box-green p {
	color: #000;
}
form.donation-form h3 {
	padding-bottom: 1em;
}
.donation-stage-1 {}
.donation-stage-2 {}

form.donation-form.donation-stage-2 .custom-checkbox input[type=checkbox] + label:before {
	color: #69bbb9;
}
form.donation-form.donation-stage-2 input[type=submit]:hover {
	border: 2px solid #69bbb9;
	color: #69bbb9;
}
form.donation-form.donation-stage-2 .custom-select-box .custom-select-box-arrow {
	background: #69bbb9;
}
form.donation-form.donation-stage-4 {
	text-align: center;
}
.donation-stage-4 .donation-terms-and-conditions a {
	color: #ec277a;
}

form.donation-form.donation-stage-4 input[type=submit] {
	border: 2px solid #ec277a;
	color: #ec277a;
}
form.donation-form.donation-stage-4 input[type=submit]:hover {
	border: 2px solid #58595b;
	color: #58595b;
	text-decoration: none;
}
form.donation-form.donation-stage-4 .direct-debit-guarantee {
	font-size: 0.85em;
}
form.donation-form.donation-stage-4 .donationConfirmCampaignTitle
{	font-weight: bold;
	color: #ec277a;
}
form.donation-form.donation-stage-4 .donationConfirmCampaignTitle span
{	font-weight: bold;
	color: #000000;
}
.donation-stage-2 .direct-debit-logo,
.donation-stage-4 .direct-debit-logo,
.donation-stage-5 .direct-debit-logo {
	top: 30px;
	right: 0;
	position: absolute;
	height: auto;
	width: 15%;
}
@media (max-width: 767px) {
	.donate_main_content {
		padding: 25px;
	}
	form.donation-form {
		font-size: 20px;
		width: 100%!important;
		text-align: center;
	}

	form.donation-form .form-row {
		padding: 15px 0;
	}
	form.donation-form.form-rows .form-col-2:first-child {
		width: 100%;
	}
	form.donation-form.form-rows .form-col-2:last-child {
		width: 100%;
	}
	form.donation-form .donation_types_chooser {
		font-size:20px;
		text-align: center;
	}
	form.donation-form .donation_types_chooser .custom-select-box {
		margin: 15px 0;
	}
	form.donation-form .custom-select-box select {
		font-size: 18px;
		padding: 10px 45px 10px 10px;
	}
	form.donation-form .custom-select-box .custom-select-box-arrow {
		width: 40px;
	}
	form.donation-form .custom-select-box .custom-select-box-arrow i {
		font-size: 24px;
	}
	a.donation-preset {
		margin-bottom: 25px;
	}
	form.donation-form input[type=text],
	form.donation-form input[type=email],
	form.donation-form input[type=number] {
		font-size: 18px;
		padding: 10px;
	}
	form.donation-form .donation-amount-container {
		font-size: 20px;
		text-align: center;
	}
	form.donation-form .donation-amount-container span {
		font-size: 24px;
	}
	form.donation-form .donation-amount-container input {
		max-width: 220px;
	}
	.donation-stage-2 .direct-debit-logo,
	.donation-stage-4 .direct-debit-logo,
	.donation-stage-5 .direct-debit-logo {
		top: unset;
		right: unset;
		position: relative;
		height: auto;
		width: 200px;
		margin: 0 auto 15px;
		max-width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.donate_main_content {
		padding: 50px;
	}
	form.donation-form {
		font-size: 20px;
		width: 100%!important;
	}
	form.donation-form .donation_types_chooser {
		font-size:20px;
	}
	form.donation-form .custom-select-box select {
		font-size: 18px;
		padding: 10px 45px 10px 10px;
	}
	form.donation-form .custom-select-box .custom-select-box-arrow {
		width: 40px;
	}
	form.donation-form .custom-select-box .custom-select-box-arrow i {
		font-size: 24px;
	}
	a.donation-preset .donation-preset-top {
		padding-bottom: 75px;
	}
	a.donation-preset .donation-preset-bottom {
		padding: 15px;
		min-height: 75px;
	}
	a.donation-preset .donation-preset-title {
		font-size: 20px;
	}
	a.donation-preset .donation-preset-text {
		font-size: 16px;
		min-height: 25px;
	}
	a.donation-preset .donation-preset-button span.button {
		font-size: 10px;
		padding: 10px;
		width: 100%;
	}
	a.donation-preset .donation-preset-amount {
		font-size: 20px;
		height: 50px;
		line-height: 50px;
		top: 10px;
		width: 50px;
	}
	form.donation-form .donation-amount-container {
		font-size: 20px;
	}
	form.donation-form .donation-amount-container span {
		font-size: 24px;
	}
	form.donation-form input[type=text],
	form.donation-form input[type=email],
	form.donation-form input[type=number] {
		font-size: 18px;
		padding: 10px;
	}
	form.donation-form input[type=submit] {
		font-size: 16px;
		padding: 10px 45px;
	}
	form.donation-form .custom-checkbox input[type=checkbox] {
		width: 40px;
	}
	form.donation-form .custom-checkbox input[type=checkbox] + label {
		display: inline-block;
		margin-left: -40px;
		padding: 10px 0 10px 40px;
		position: relative;
	}
	form.donation-form .custom-checkbox input[type=checkbox] + label:before {
		height: 32px;
		width: 32px;
		font-size: 24px;
		line-height: 32px;
	}
}

.donate_main_content .container_inner form.donatePersonalStageFormDD
{	padding-top: 50px;
	background: url('../img/template/dd_logo.png') no-repeat top 10px right 20px;
}
.donate_main_content .container_inner form p label
{	width: 250px;
}

form .donation_types_chooser ul
{	display: inline-block;
}
form .donation_types_chooser ul li
{	display: inline-block;
	margin: 0px 10px;
	padding: 10px 20px;
	-webkit-box-shadow: 0 0 5px 3px #e2e2e2;
	box-shadow: 0 0 5px 3px #e2e2e2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
form .donation_types_chooser ul li.selected
{	-webkit-box-shadow: 0 0 5px 3px #ec277a;
	box-shadow: 0 0 5px 3px #ec277a;
}
form .donation_types_chooser ul li label
{	padding-left: 10px;
	font-size: 17px;
}
form .presets_list
{	padding: 20px 0px;
}
form .presets_list ul
{	text-align: center;
}
form .presets_list ul li
{	cursor: pointer;
	display: block;
	float: left;
	background-color: #FFF;
	margin-right: 20px;
	width: 240px;
	-webkit-box-shadow: 0 0 5px 3px #B3B3B3;
	box-shadow: 0 0 5px 3px #B3B3B3;
}
form .presets_list ul li:nth-child(3n)
{	margin-right: 0px;
}
form .presets_list ul li .presets_list_top
{	width: 100%;
	background: #333;
	background: #333 url('../img/template/preset_default.png') no-repeat center center;
	background-size: cover;
	height: 200px;
	position: relative;
}
form .presets_list ul li .presets_list_top span
{	position: absolute;
	top: 5px;
	right: 5px;
	color: #ec277a;
	background-color: #FFFFFF;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
form .presets_list ul li.presets_selected .presets_list_top span
{	background-color: #FFD62C;
}
form .presets_list ul li .presets_list_bottom
{	width: 100%;
	height: 120px;
	padding: 10px;
	text-align: left;
}
form .presets_list ul li .presets_list_bottom h3
{	padding: 0px 0px 10px;
}
form .presets_list ul li .presets_list_bottom p
{	padding: 0px !important;
}
form .pcaAddressField input[type='text']
{	border: 1px solid #cccccc;
	color: #333;
}
form span.donorCountryDisplay
{	background-color: #ebebeb;
	border: 1px solid #CCCCCC;
	font-size: 13.33px;
	color: #666;
	display: block;
	float: left;
	padding: 3px 10px;
	width: 280px;
}
form .donor_giftaid
{	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 0 5px 3px #B3B3B3;
	box-shadow: 0 0 5px 3px #B3B3B3;
}
form .donor_giftaid_hidden
{	display: none;
}
form .donor_giftaid p label
{	line-height: 38px;
	background: url('../img/template/gaidlog.png') no-repeat right center;
	padding-right: 130px;
	display: inline-block;
	float: none;
	text-align: right;
	width: auto !important;
	text-indent: -999px;
	overflow: hidden;
}
form .donor_giftaid input[type="checkbox"]
{	display: inline-block;
	margin: 0px 15px;
}
form .donation_giftaid_info
{
}

.donGiftaidCheckernew
{
	width: 100%;

	padding: 50px;
	background-color: #FFF;
	border: 4px solid #ec277a;
	text-align: center;
	z-index: 1000;

}
.donGiftaidCheckernew h4
{	font-size: 25px;
}
.donGiftaidCheckernew p
{	padding-top: 30px;
}
.donGiftaidCheckernew p a
{	display: block;
	padding: 10px 20px;
	background-color: #ec277a;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
}


.donGiftaidChecker
{	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	padding: 50px;
	background-color: #FFF;
	border: 4px solid #ec277a;
	text-align: center;
	z-index: 1000;
	transform: translate(-50%,-50%);
}
.donGiftaidChecker h4
{	font-size: 25px;
}
.donGiftaidChecker p
{	padding-top: 30px;
}
.donGiftaidChecker p a
{	display: block;
	padding: 10px 20px;
	background-color: #ec277a;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
}

form .donationConfirmContainer
{	margin: 20px 0px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 20px 50px;
	-webkit-box-shadow: 0 0 5px 3px #B3B3B3;
	box-shadow: 0 0 5px 3px #B3B3B3;
}
form .donationConfirmContainer.donationConfirmDDGuarantee
{	padding-top: 30px;
	background: url('../img/template/dd_logo.png') no-repeat top 10px right 10px;
}
form .donationConfirmContainer h2
{	color: #ec277a;
	font-size: 30px;
}
form .donationConfirmContainer p, form .donationConfirmContainer ul li
{	font-size: 16px;
}
form .donationConfirmContainer ul
{	margin-left: 30px;
	list-style: circle;
}
form .donationConfirmContainer ul li
{	padding: 10px 0px;
}
form .donationConfirmContainer ul li ul
{	list-style: disc;
}
form .donationConfirmContainer .donationConfirmEditLink
{	font-size: 12px;
}
form .donationConfirmContainer .donationConfirmCampaignTitle
{	font-weight: bold;
	color: #ec277a;
}
form .donationConfirmContainer .donationConfirmCampaignTitle span
{	font-weight: bold;
	color: #000000;
}

.donPersonalDDBox
{	padding: 50px 20px;
	/*background: url('../img/template/dd_logo.png') no-repeat top 20px right 20px;*/
}
form .donPersonalDDBox input[type="checkbox"]
{	float: left;
	margin-top: 5px;
}
.donPersonalDDBox .donPersonalDDBoxHelp
{	display: block;
	float: left;
	width: 405px;
	margin-left: 10px;
	color: #ec277a;
}

.donateDDCompleted
{	width: 700px;
	margin: auto;
	padding: 30px 100px;
	font-size: 18px;
	background: url('../img/template/dd_logo.png') no-repeat top 10px right;
}
.donateDDCompleted h2
{	color: #ec277a;
	font-size: 30px;
	padding: 0px 0px 20px;
}
.donateDDCompleted p
{	padding: 5px 0px 10px;
}
.donateDDCompleted p .ddCompleteLabel
{	display: inline-block;
	width: 200px;
	text-align: right;
	padding: 0px 10px 0px 0px;
}
.donateDDCompleted p .ddCompleteContent
{	font-weight: bold;
}
.donateDDCompleted h3
{	padding: 10px 0px 5px;
}

@media (min-width: 768px) and (max-width: 1200px)
{

	.donate_main_content .container_inner form
	{	width: 748px;
	}
	form .presets_list ul li
	{	margin-right: 12px;
		width: 240px;
	}
}
@media (max-width: 767px)
{	.donate_main_content .container_inner form
	{	width: 100%;
	}
	form .presets_list ul li
	{	margin: 0px auto 10px !important;
		display: block;
		width: 100%;
		height: auto;
	}
	form .presets_list ul li .presets_list_bottom
	{	height: auto;
	}
	form .donation_types_chooser span
	{	display: block;
	}
	form .donation_types_chooser ul li
	{	display: block;
		margin: 10px 0px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.donate_main_content .container_inner form p label
	{	width: 100%;
	}
	form p label span.formRequired
	{	position: relative;
		right: 0px;
	}
	.donGiftaidChecker
	{	width: 100%;
		height: 100%;
		overflow: auto;
		top: 60px;
		left: 0px;
		margin-left: 0px;
		padding: 20px;
		transform: none;
		z-index: 9999;
	}
	.donateDDCompleted
	{	width: 100%;
		margin: auto;
		padding: 60px 0px 20px;
		background-position: top 10px center;
	}
	.donateDDCompleted h2
	{	text-align: center;
	}
	.donateDDCompleted p .ddCompleteLabel
	{	display: block;
		width: 100%;
		text-align: left;
		padding: 0px;
	}
	.donateDDCompleted p .ddCompleteContent
	{	display: block;
		width: 100%;
		font-weight: bold;
	}
	.donPersonalDDBox
	{	padding: 70px 0px 20px;
		background-position: top 20px center;
	}
	.donPersonalDDBox h3
	{	text-align: center;
	}
	form .donPersonalDDBox input[type="checkbox"]
	{	float: none;
	}
	.donPersonalDDBox .donPersonalDDBoxHelp
	{	float: none;
		width: 100%;
		margin-left: 0px;
	}
}

form.donation-form .crRegFormContactPref
{	padding: 0px 15px;
}

form.donation-form .crRegFormContactPref .custom-checkbox
{	margin-bottom: 0px;
}
form.donation-form .crRegFormContactPref .custom-checkbox input[type=checkbox] + label
{	padding: 10px 0 10px 62px;
}

form.donation-form .form-rows .crRegFormContactPref.form-row
{	margin: 0px;
}
form .crRegFormContactPref p
{	padding: 0px !important;
	text-align:left !important
}
form.donation-form.donation-form .crRegFormContactPref .cprefTitle
{	font-size: 20px;
	padding: 4px 0px !important;
}
form.donation-form .crRegFormContactPref .cprefTitle span
{	font-style: italic;
	font-size: 14px;
}
form.donation-form .crRegFormContactPref .cprefHelp
{	font-size: 14px;
	padding: 15px 0px !important;
}
form.donation-form .crRegFormContactPref .cprefHelp:last-of-type
{	padding-top: 4px !important;
}
form.donation-form ul.contactPrefForm
{	margin-bottom: 7px;
}
form.donation-form ul.contactPrefForm li
{	padding: 2px 0px;
}
@media (max-width: 767px)
{	form.donation-form .crRegFormContactPref .custom-checkbox input[type=checkbox] + label
	{	padding: 10px 0 20px 62px;
	}
}
form.donation-form ul.contactPrefForm li label
{	text-align: left;
}

@media (min-width: 1201px)
{	form.donation-form ul.contactPrefForm li
	{	padding: 13px 0px;
	}
}

.jqmWindow.cartModalPopup
{	width: 738px;
	margin-left: -369px;
	padding: 0px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner
{	text-align: center;
	padding: 50px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner h3
{	font-size: 31px;
	font-weight: bold;
	margin: 0px 0px 40px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner p
{	font-size: 20px;
	margin: 0px 0px 40px;
}
.jqmWindow.cartModalPopup .jqmClose.cartCloseTop
{	font-size: 40px;
	text-transform: uppercase;
	color: #cccccc;
	margin-top: 0px;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 10px;
	padding-top: 10px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a
{	display: block;
	float:left;
	position:relative;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
	color: #FFF;
	text-transform: uppercase;
	background: #ec287a;
	height: 50px;
	width: 249px;
	padding-top: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a.jqmClose
{	width: 368px;
	margin-right: 13px;
}
@media (max-width: 767px)
{	.jqmWindow.cartModalPopup
	{	width: 100%;
		margin-left: 0px;
		padding: 0px;
		height: auto !important;
	}
	.jqmWindow.cartModalPopup .cart_modal_popup_inner
	{	text-align: center;
		padding: 20px;
	}
	.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a
	{	float: none;
		width: 100% !important;
		margin: 10px 0px;
	}
}

.donation-dd-temp-header
{	
}
.donation-dd-temp-header p
{	font-size: 30px;
}
.donation-dd-temp-header p a
{	color: #ec287a;
	font-weight: bold;
}