/*
kp green = #26AD60, or rgb(38, 173, 96)
cr pink = #ec277a
*/
/*
@font-face {
	font-family: 'Effra';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Effra-Regular.woff2') format('woff2'), url('../fonts/Effra-Regular.woff') format('woff'), url('../fonts/Effra-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Effra';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Effra-Bold.woff2') format('woff2'), url('../fonts/Effra-Bold.woff') format('woff'), url('../fonts/Effra-Bold.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra_Std_Rg.eot');
  src: local('☺'), url('../fonts/Effra_Std_Rg.woff') format('woff'), url('../fonts/Effra_Std_Rg.ttf') format('truetype'), url('../fonts/Effra_Std_Rg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra_Std_It.eot');
  src: local('☺'), url('v/Effra_Std_It.woff') format('woff'), url('v/Effra_Std_It.ttf') format('truetype'), url('../fonts/Effra_Std_It.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra_Std_Md.eot');
  src: local('☺'), url('../fonts/Effra_Std_Md.woff') format('woff'), url('../fonts/Effra_Std_Md.ttf') format('truetype'), url('../fonts/Effra_Std_Md.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra_Std_Bd.eot');
  src: local('☺'), url('../fonts/Effra_Std_Bd.woff') format('woff'), url('../fonts/Effra_Std_Bd.ttf') format('truetype'), url('../fonts/Effra_Std_Bd.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body
{	background-color: #eceff4;
	font-family: Effra, Helvetica, Arial, Roboto, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #1b1f23;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before
{	font-family: Conv_Effra_Std_Rg, Helvetica, Arial, Roboto, sans-serif;
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
.clearfix:after,
.clearfix:before,
.form-row:after,
.form-row:before,
.form-col-inner:after,
.form-col-inner:before {
    content: " ";
    display: table
}
.clearfix:after,
.form-row:after,
.form-col-inner:after {
    clear: both
}
.clear
{	clear: both;
}
.white
{	color: #FFFFFF;
}
.hidden
{	display: none;
}
ul { list-style: none; }
a
{	/*text-decoration: none;*/
	color: #000;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	-webkit-backface-visibility:hidden;
}
a:hover,
a:focus
{	text-decoration: none;
	outline: 0;
}
a img
{	border: none;
}
table
{	border-collapse: collapse;
}
.clearfix:before,
.clearfix:after
{	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after
{	clear: both;
}
.clearfix
{	*zoom: 1;
}
.alert-box {
	border: 2px solid #525455;
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 30px;
	color: #525455;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.alert-box a {
	color: #eb6456;
}
.alert-box-orange {
	border: 2px solid #eb6456;
	color: #eb6456;
}
.alert-box-orange a {
	color: #000;
}
.alert-box-green {
	border: 2px solid #69bbb9;
	color: #69bbb9;
}
.alert-box-green a {
	color: #000;
}
.alert-box-pink {
	border: 2px solid #ec277a;
	color: #ec277a;
}
.alert-box-pink a {
	color: #000;
}
@media (max-width: 767px) {
	.alert-box {
		padding: 15px 20px;
	}
}
.pagination
{	padding: 15px 30px;
	font-weight: bold;
	font-size: 1.5em;
	width: 100%;
	line-height: 1.5em;
	word-wrap: break-word;
}
.pagination a
{	text-decoration: none;
	font-size: 16px;
}
.pagination>a
{	color: #ec277a;
}
.pagination span
{	font-size: 16px;
	font-weight: bold;
	margin: 0px 5px;
	color: #ec277a;
}
.pagination span.paginlink
{	display: inline-block;
	/*background-color: #ec277a;*/
}
.pagination span.paginlink a
{	display: inline-block;
	background-color: #ec277a;
	border: 2px solid #ec277a;
	height: 40px;
	width: 40px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pagination span.paginlink a:hover {
	background-color: transparent;
	color: #ec277a;
}

.register_breadcrumbs
{	background: #b3b3b3;
}
.register_breadcrumbs .container_inner
{	width: 100%;
}
.register_breadcrumbs ul {
	overflow: hidden;
}
.register_breadcrumbs ul li
{	float: left;
	padding: 0px;
	height: 100px;
}
.register_breadcrumbs ul li>a, .register_breadcrumbs ul li>div
{	display: block;
	padding: 0px;
	height: 100px;
	line-height: 100px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	background-color: #650C46;
	color: #FFF;
	padding-left: 40px;
}

.register_breadcrumbs ul li>a span, .register_breadcrumbs ul li>div span
{	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	top: 10px;
	right: -40px;
	background-color: #650C46;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: -1;
}

.register_breadcrumbs ul li:nth-child(even)>a, .register_breadcrumbs ul li:nth-child(even)>a span, .register_breadcrumbs ul li:nth-child(even)>div, .register_breadcrumbs ul li:nth-child(even)>div span
{	background-color: #A82479;
}
.register_breadcrumbs ul li:first-child>a, .register_breadcrumbs ul li:first-child {
/*	background-color: #A82479;*/
}
.register_breadcrumbs ul li.register_breadcrumbs_current>a, .register_breadcrumbs ul li.register_breadcrumbs_current>a span, .register_breadcrumbs ul li.register_breadcrumbs_current>div, .register_breadcrumbs ul li.register_breadcrumbs_current>div span
{	color: #EC277A;
	background-color: #FFD62C;
}
.register_breadcrumbs ul li:last-child>a span, .register_breadcrumbs ul li:last-child>div span
{	display: none;
}

@media (max-width: 480px)
{	.register_breadcrumbs {
		display: none;
	}
}
@media (max-width: 767px)
{	.register_breadcrumbs .container_inner
	{	padding: 0px;
	}
	.register_breadcrumbs ul li
	{	height: 40px;
	}
	.register_breadcrumbs ul li>a, .register_breadcrumbs ul li>div
	{	height: 40px;
		line-height: 40px;
		font-size: 10px;
		padding-left: 16px;
	}
	.register_breadcrumbs ul li>a span, .register_breadcrumbs ul li>div span
	{	width: 32px;
		height: 32px;
		top: 4px;
		right: -16px;
	}
}
@media  (min-width: 768px) and (max-width: 1200px) {
	.register_breadcrumbs .container_inner
	{	padding: 0px;
	}
	.register_breadcrumbs ul li
	{	height: 60px;
	}
	.register_breadcrumbs ul li>a, .register_breadcrumbs ul li>div
	{	height: 60px;
		line-height: 60px;
		font-size: 14px;
		padding-left: 24px;
	}
	.register_breadcrumbs ul li>a span, .register_breadcrumbs ul li>div span
	{	width: 48px;
		height: 48px;
		top: 6px;
		right: -24px;
	}
}



.gatewayRedirect
{	font-size: 18px;
	text-align: center;
	padding: 50px 0px 0px;
	margin: 20px auto;
	background: url('../img/loading/loading36.gif') no-repeat top center;
}

/* start of form styling */
form p
{	padding: 10px 0px !important;
}
form p label
{	display: block;
	float: left;
	font-size: 14px;
	width: 150px;
	color: #ec277a;
	text-align: right;
	padding-right: 20px;
	position: relative;
}
form p label span.formRequired
{	position: absolute;
	top: 0px;
	right: 5px;
	color: #ec277a !important;
}
form p label a
{	color: #ec277a;
	text-decoration: underline;
}
form input[type='text'], form input[type='email'], form input[type='tel'], form input[type='password'], form textarea, form select
{	display: block;
	float: left;
	width: 280px;
	border: 1px solid #ec277a;
	padding: 3px 10px;
	background-color: #ebebeb;
}
form input[type='text'].number
{	text-align: right;
	width: 100px;
}
form textarea
{	height: 100px;
	width: 280px;
	padding: 8px 10px;
}
form input[type='submit']
{	margin-left: 10px;
	margin-top: 10px;
	font-size: 18px;
	padding: 0px 20px 0px;
	height: 36px;
	color: #FFF;
	background-color: #ababab;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
	text-transform: uppercase;
}
form input.formFilteredE6Ct
{	display: none;
}
.button
{	display: inline-block;
	font-size: 18px;
	padding: 7px 20px 0px;
	height: 36px;
	color: #FFF;
	background-color: #ababab;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}
.form-rows {

}
.form-rows .form-row {
	margin-left: -15px;
	margin-right: -15px;
}
.form-rows .form-col {
	float: left;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.form-rows .form-col-1 {
	width: 100%;
}
.form-rows .form-col-75 {
	width: 75%;
}
.form-rows .form-col-2 {
	width: 50%;
}
.form-rows .form-col-3 {
	width: 33.33333333%;
}
.form-rows .form-col-4 {
	width: 25%;
}
.form-rows .form-col-inner {

}
@media (max-width: 767px) {
	.form-rows .form-col-1,
	.form-rows .form-col-2,
	.form-rows .form-col-3,
	.form-rows .form-col-4 {
		width: 100%;
		float: none;
	}
}

.custom-select-box {
	display: table;
	position: relative;
}
.custom-select-box select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: 2;
	position: relative;
}
.custom-select-box span.custom-select-box-arrow {
	display: inline-block;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1;
	text-align: center;
}
.custom-select-box span.custom-select-box-arrow i {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
}
@keyframes demoSpecialAnim
{	0%
	{	background-color: #fa0000;
	}
	50%
	{	background-color: #990000;
	}
}
.demoSpecial
{	padding: 30px;
	background: #fa0000 url('../img/template/demo_bg.png') repeat center center;
	animation-name: demoSpecialAnim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.demoSpecial .demoSpecialInner
{	background: rgba(255, 255, 255, 0.8);
	color: #000;
	text-align: center;
	padding: 20px;
}
@media (max-width: 767px)
{	form p
	{	padding: 5px 0px !important;
	}
	form p label
	{	float: none;
		width: 100%;
		text-align: left;
		padding-right: 0px;
	}
	form input[type='text'], form input[type='email'], form input[type='tel'], form input[type='password'], form textarea, form select
	{	float: none;
		width: 100%;
	}
	form input[type='submit']
	{	margin-left: 0px;
		margin-top: 10px;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1200px)
{	.half_column form p
	{	padding: 5px 0px !important;
	}
	.half_column form p label
	{	float: none;
		width: 100%;
		text-align: left;
		padding-right: 0px;
	}
	.half_column form input[type='text'], .half_column form input[type='email'], .half_column form input[type='tel'], .half_column form input[type='password'], .half_column form textarea, .half_column form select
	{	float: none;
		width: 100%;
	}
}
/* end of form styling */
.container
{	width: 100%;
	position: relative;
	z-index: 1;
}
.container_white
{	background: #FFFFFF;
}
.container_inner
{	width: 1197px;
	margin: 0px auto;
	max-width: 100%;
}
@media (max-width: 1200px) and (min-width: 768px)
{	.container_inner
	{	width: 768px;
	}
}
@media (max-width: 767px)
{	.container_inner
	{	width: 100%;
		padding: 0px 10px;
	}
}
.container .container_inner_half {
	display: -webkit-flex;
  	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	overflow: hidden;
	width: 100%;
}
.container .container_inner_half_left,
.container .container_inner_half_right {
	-webkit-flex: 1;
    flex: 1;
	position: relative;
}
.container .container_inner_half_left .container_inner_half_content {
	float: right;
}
.container .container_inner_half_right .container_inner_half_content {
	float: left;
}
.container .container_inner_half_content {
	position: relative;
	padding: 100px 120px;
	width: 700px;
}
.container_inner_half_bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 360px) {
	.container .container_inner_half {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.container .container_inner_half_left,
	.container .container_inner_half_right {
		order: 2;
	}
	.container .container_inner_half_left.container_inner_half_bg,
	.container .container_inner_half_right.container_inner_half_bg {
		order: 1;
		min-height: 200px;
	}
	.container .container_inner_half_content {
		width: 100%;
		margin: 0px auto;
		padding: 25px 30px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container .container_inner_half {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.container .container_inner_half_left,
	.container .container_inner_half_right {
		order: 2;
	}
	.container .container_inner_half_left.container_inner_half_bg,
	.container .container_inner_half_right.container_inner_half_bg {
		order: 1;
		min-height: 300px;
	}
	.container .container_inner_half_content {
		width: 100%;
		margin: 0px auto;
		padding: 50px 60px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container .container_inner_half_content {
		width: 100%;
		padding: 75px 90px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container .container_inner_half_content {
		width: 600px;
	}
}
@media (min-width: 1501px) {
}
.container.container_header
{	background-color: #58595b;
	position: relative;
	height: 75px;
	z-index: 2;
}
.container.container_header .header_logo
{	display: block;
	background: #ec277a url('../img/template/logo_header.png') no-repeat center center;
	background-size: 100%;
	float: left;
	width: 180px;
	height: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
}
@media (max-width: 767px)
{	.container.container_header {
		background: #ec277a;
		height: 60px;
	}
	.container.container_header .header_logo
	{
		width: 120px;
		height: 60px;
	}
}
.container.container_header .container_inner
{ 	margin: 0 auto;
}

.container.container_header .header_mainmenu
{	float: none;
	z-index: 1000;
}
.container.container_header .header_mainmenu > ul {
	text-align: center;
	padding: 0;
	margin: 0;
}
.container.container_header .header_mainmenu > ul > li
{	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.container.container_header .header_mainmenu ul li a,
.container.container_header .header_mainmenu ul li span
{	display: block;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	position: relative;
}

.container.container_header .header_mainmenu ul li a:hover
{	color: #FFF;
}
.container.container_header .header_mainmenu ul li.selected a, .container.container_header .header_mainmenu ul li.selected a:hover
{	color: #FFFFFF;
}
.container.container_header .header_mainmenu > ul > li
{	position: relative;
	height: 100%;
}
.container.container_header .header_mainmenu > ul > li > a,
.container.container_header .header_mainmenu > ul > li > span
{	display: block;
	height: 75px;
	line-height: 75px;
}
.container.container_header .header_mainmenu > ul > li > ul
{   background: #58595b;
	visibility: hidden; /* hides sub-menu */
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	width: auto;
	min-width: 120%;
	/*margin-left: -20%;*/
	transform: translateY(-2em);
	transform: translateX(-50%);
	z-index: -1;
  	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px 10px 20px 10px;
}
.container.container_header .header_mainmenu > ul > li > ul > li
{
	display: block;
	overflow:hidden;
	padding: 10px 0;
}
.container.container_header .header_mainmenu > ul > li > ul > li > a,
.container.container_header .header_mainmenu > ul > li > ul > li > span
{
	display: inline-block;
}
.container.container_header .header_mainmenu > ul > li:hover > ul
{
	visibility: visible;
	opacity: 1;
	z-index: 1;
	transform: translateY(0);
	transform: translateX(-50%);
}
.container.container_header .header_mainmenu > ul > li:hover > ul > li
{
}
.container.container_header .header_mainmenu ul li.hmenuCRStars a, .container.container_header .header_mainmenu ul li.hmenuCRStars ul
{	background-color: #9e1666;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.container.container_header .header_mainmenu ul li.hmenuCRDonate a, .container.container_header .header_mainmenu ul li.hmenuCRDonate ul
{	background-color: #ffd62c;
	color: #ec277a;
	padding: 0 25px;
	text-shadow: 0 0 3px rgba(255, 255, 50, 1);
}
.container.container_header .header_mainmenu ul li.hmenuBlueBG a, .container.container_header .header_mainmenu ul li.hmenuBlueBG ul
{	background-color: #0eb299;
}
.container.container_header .header_mainmenu ul li.hmenuRedBG a, .container.container_header .header_mainmenu ul li.hmenuRedBG ul
{	background-color: #e1202c;
}
.container.container_header .header_mainmenu > ul  li > a:before,
.container.container_header .header_mainmenu > ul  li > span:before
{
	background: #fff;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	opacity: 0;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.container.container_header .header_mainmenu > ul  li.selected > a:before,
.container.container_header .header_mainmenu > ul  li.selected > span:before,
.container.container_header .header_mainmenu > ul  li:hover > a:before,
.container.container_header .header_mainmenu > ul  li:hover > span:before {
	opacity: 1;
}
.container.container_header .header_mainmenu > ul  li.hmenuCRDonate > a:before,
.container.container_header .header_mainmenu > ul  li.hmenuCRDonate > span:before {
	background: #ec277a;
	left: 25px;
	right: 25px;
	-webkit-box-shadow: 0px 0px 3px 0x rgba(255, 255, 50, 1);;
	box-shadow: 0px 0px 3px 0px rgba(255, 255, 50, 1);;
}
.container.container_header .header_mainmenu > ul > li > ul > li > a:before,
.container.container_header .header_mainmenu > ul > li > ul > li > span:before {
	bottom: -5px;
}
.container.container_header .header_menuopener {
	display: none;
	float: right;
	height: 75px;
	padding: 15px 15px;
	position: relative;
}
.container.container_header .header_menuopener a {
	display: inline-block;
	color: #fff;
	font-size: 28px;
	line-height: 45px;
	text-decoration: none;
}
.container.container_header .header_cartopener {
	float: right;
	height: 75px;
	padding: 15px 15px;
	position: relative;
}
.container.container_header .header_cartopener a
{
	display: inline-block;
	text-decoration: none;
	background: url('../img/template/basket_white.png') no-repeat center center;
	height: 100%;
	width: 70px;
	position: relative;
	cursor: pointer;
}
.container.container_header .header_cartopener a span
{	display: block;
	background: #FFF;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
	right: 2px;
	top: 5px;
	border: 1px solid #5d595d;
	color: #000;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}
@media (max-width: 767px) {
	.container.container_header .header_menuopener {
		display: block;
		height: 60px;
		padding: 15px 0;
	}
	.container.container_header .header_menuopener a {
		font-size: 28px;
		line-height: 30px;
	}
	.container.container_header .header_cartopener
	{	height: 60px;
		padding: 7px 15px;
	}
	.container.container_header .header_cartopener a span
	{	border: 1px solid #ec277a;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.container_header .container_inner {
		width: 100%;
	}
	.container.container_header .header_menuopener {
		display: block;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.container_header {
		height: 70px;
	}
	.container.container_header .header_logo {
		background-size: 100%;
		width: 160px;
		height: 70px;
	}
	.container.container_header .container_inner {
		padding: 0 0 0 160px;
		margin: 0;
	}
	.container.container_header .header_mainmenu > ul {
		text-align: left;
	}
	.container.container_header .header_mainmenu > ul li {
		text-align: center;
	}
	.container.container_header .header_mainmenu ul li a,
	.container.container_header .header_mainmenu ul li span {
		font-size: 13px;
		padding: 0 10px;
	}
	.container.container_header .header_mainmenu > ul > li > a,
	.container.container_header .header_mainmenu > ul > li > span
	{	display: block;
		height: 70px;
		line-height: 70px;
		font-size: 13px;
		padding: 0 15px;
	}
}
/*
.container.container_header .header_rightlinks
{	float: right;
	color: #FFF;
	font-size: 14px;
}
.container.container_header .header_rightlinks ul li
{	float: left;
	padding: 0 3px;
	position: relative;
}
.container.container_header .header_rightlinks ul li a
{	display: block;
	height: 71px;
	padding: 27px 7px 28px;
	width: 30px;
	color: #FFF;
}
.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup
{	display: none;
	position: absolute;
	top: 23px;
	padding: 8px;
	right: 0px;
	width: 220px;
	height: 40px;
	background-color: #ec277a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup.hrlSearchPopupOpen
{	display: block;
}
.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup form
{	display: inline-block;
}
.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup form input[type="text"], .kpMMmenu  ul li.hrlSearch form input[type="text"]
{	width: 150px;
	padding: 3px 5px;
	margin: 0px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup form button, .kpMMmenu ul li.hrlSearch form button
{	background: none;
	border: none;
	color: #FFF;
}
.kpMMmenu  ul li.hrlSearch form input[type="text"]
{
}
.kpMMmenu ul li.hrlSearch form button
{
}

.container.container_header .header_rightlinks ul li.hrlSearch .hrlSearchPopup .hrlSearchPopupCloser
{	display: inline-block;
	padding: 0px 5px;
	height: 100%;
	line-height: 20px;
	width: auto;
	float: right;
}
.container.container_header .header_rightlinks p
{	text-align: center;
}
.container.container_header .header_rightlinks a
{	color: #73777a;
}
.container.container_header .header_rightlinks p a
{	display: inline-block;
	padding: 5px 10px;
}
.container.container_header .header_rightlinks #cartBookHeader
{	text-align: center;
}
.container.container_header .header_rightlinks #cartBookHeader a
{	display: inline-block;
	margin: 0px auto;
	background: url('../img/template/tickets_cart.png') no-repeat center center;
	padding: 0px;
	width: 25px;
	height: 25px;
	text-transform: uppercase;
	position: relative;
}
.container.container_header .header_rightlinks #cartBookHeader a .bchLabel
{	display: none;
}
.container.container_header .header_rightlinks #cartBookHeader a .bchCount
{	position: absolute;
	top: 0px;
	left: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #FFFFFF;
	background: #58595b;
	color: #FFFFFF;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
}
*/
.container.container_header .header_desktop_right {
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
}
.container.container_header .header_desktop_right > div {
	display: inline-block;
	position: relative;
	height: 75px;
	float: left;
}
.container.container_header .header_desktop_right > div:last-child {
	border-left: 1px solid #808285;
}
.container.container_header .header_desktop_right ul {
	display: table;
	height: 75px;
	text-align: right;
	padding: 0px 14px;
}
.container.container_header .header_desktop_right ul:last-child {
}
.container.container_header .header_desktop_right ul > li {
	display: table-cell;
	list-style: none;
	padding: 0px 6px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	vertical-align: middle;
}
.container.container_header .header_desktop_right ul > li > a
{
	color: #58595B;
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	padding: 0;
	font-size: 14px;
	line-height: 28px;
	-webkit-box-shadow: 0 0 3px -1px rgba(0,0,0,1);
	box-shadow: 0 0 3px -1px rgba(0,0,0,1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container.container_header .header_desktop_right ul > li > a > i {
	line-height: 28px;
	font-size: 14px;
}
.container.container_header .header_desktop_right ul > li > a > i:before {
	line-height: 28px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li > a {
	background: #666;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.container.container_header .header_desktop_right .header_rightlinks ul > li > a > i {
	font-size: 16px;
}
.container.container_header .header_desktop_right ul > li > a:hover {
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart
{	padding: 0px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div
{	background: url('../img/template/basket_white.png') no-repeat center center;
	height: 100%;
	width: 80px;
	position: relative;
	cursor: pointer;
	border-left: 2px solid #58595b;
	border-right: 2px solid #58595b;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .hrLinksCartCount
{	display: block;
	background: #ea2d78;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: absolute;
	right: 2px;
	top: 12px;
	border: 1px solid #5d595d;
	color: #FFF;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup
{	display: none;
	position: absolute;
	background: #FFF;
	width: 470px;
	top: 70px;
	right: -100px;
	padding: 25px 30px 40px;
	line-height: 1em;
	border: 2px solid #acacac;
	z-index: 1000px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup .BasketPopupBlocker
{	width: 76px;
	height: 2px;
	background-color: #FFF;
	position: absolute;
	top: -2px;
	right: 98px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup h3
{	color: #ec287a;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	padding-bottom: 15px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup h3 span
{	font-weight: normal;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul
{	padding: 0px 0px 25px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li
{	display: block;
	line-height: 1em;
	width: 410px;
	height: auto;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li>div
{	float: left;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li>div:last-child
{	float: none;
	clear: both;
	width: 0px;
	height: 0px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpTotal
{	background: #595a5c;
	color: #FFF;
	padding: 10px 15px 10px 10px;
	font-size: 18px;
	font-weight: bold;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpTotal .cartPopUpTotalAmount
{	float: right;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow
{	padding: 10px 12px;
	border-bottom: 1px solid #acacac;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow.cartPopUpItemRowLast
{	border-bottom: none;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow .cartPopUpItemImage
{	width: 34px;
	height: 34px;
	background: url('../img/template/cart_line_default.png') no-repeat center center;
	background-size: auto 100%;
	overflow: hidden;
	text-align: center;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow .cartPopUpItemImage img
{	height: 100%;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow .cartPopUpItemDesc
{	text-align: left;
	padding: 0px 20px;
	width: 262px;
	color: #595a5c;
	font-size: 12px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow .cartPopUpItemDesc h4
{	font-size: 14px;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div .BasketPopup ul li.cartPopUpItemRow .cartPopUpItemAmount
{	text-align: right;
	width: 90px;
	font-size: 14px;
	padding-top: 10px;
}

.cartPopUpButtons a
{	display: block;
	width: 100%;
	color: #FFF;
	text-transform: uppercase;
	background-color:#ec287a;
	height: 50px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 18px;
}

.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart.hrLinksCartOpen > div, .container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div:hover
{	background: #FFF url('../img/template/basket_dark.png') no-repeat center center;
	border-left: 2px solid #acacac;
	border-right: 2px solid #acacac;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart.hrLinksCartOpen > div .hrLinksCartCount, .container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div:hover .hrLinksCartCount
{	border: 1px solid #FFF;
}
.container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart.hrLinksCartOpen > div .BasketPopup, .container.container_header .header_desktop_right .header_rightlinks ul > li.hrLinksCart > div:hover .BasketPopup
{	display: block;
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.container_header .header_desktop_right > div {
		height: 70px;
	}
	.container.container_header .header_desktop_right ul {
		height: 70px;
	}
	.container.container_header .header_desktop_right ul > li {
		height: 70px;
		line-height: 70px;
	}
	.container.container_header .header_desktop_right ul > li > a {
	}

}
.container.container_header .header_desktop_right .hrlSearchPopup {
	background: rgba(0,0,0,0.9);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.container.container_header .header_desktop_right .hrlSearchPopup.hrlSearchPopupOpen {
	visibility: visible;
	opacity: 1;
	z-index: 9999;
}
.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80%;
	width: 600px;
	background: #FFF;
	padding: 80px;
}

.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search] {
	background: #FFF;
	border: 5px solid #ec277a;
	color: #ec277a;
	width: 100%;
	padding: 20px 50px 20px 25px;
	font-size: 20px;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;

}
.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search]::-webkit-input-placeholder {
	color: #ec277a;
}

.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search]:-moz-placeholder {
	color: #ec277a;
}

.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search]::-moz-placeholder {
	color: #ec277a;
}

.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search]:-ms-input-placeholder {
	color: #ec277a;
}
.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar input[name=crs_search]:focus {
	-webkit-box-shadow:0 0 8px 0 #ec277a;
	box-shadow:0 0 8px 0 #ec277a;

}
.container.container_header .header_desktop_right .hrlSearchPopup #crSearchMainBar button {
	background: transparent;
	border: none;
	color: #ec277a;
	cursor: pointer;
	display: block;
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 80px;
	bottom: 0;
	padding: 10px;
}
.container.container_header .header_desktop_right .hrlSearchPopup .hrlSearchPopupCloser,
.mfp-close.mpf-close-custom {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	width: auto;
	color: #ec277a;
	font-size: 36px;
	padding: 10px;
	opacity: 1;
	z-index: 9999;
}
.mfp-arrow {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	font-size: 48px;
	opacity: 1;
	z-index: 9999;
	margin: 0;
	height: auto;
	width: auto;
	color: #ec277a;
}
.mfp-arrow-left { left: 0; }
.mfp-arrow-right { right: 0; }

@media (max-width: 767px) {
	.container.container_header .header_desktop_right .hrlSearchPopup .hrlSearchPopupCloser,
	.mfp-close.mpf-close-custom {
		padding: 10px;
	}
}
@media (min-width: 768px) and (max-width: 1200px)
{	.container.container_header .header_desktop_right .hrlSearchPopup .hrlSearchPopupCloser,
	.mfp-close.mpf-close-custom {
		padding: 25px;
	}
	.container.container_header .header_rightlinks #cartBookHeader
	{	display: inline-block;
	}
	.container.container_header .header_rightlinks #cartBookHeader a
	{	border-right: 1px solid #7d7f81;
		width: 40px;
		height: 40px;
	}
	.container.container_header .header_rightlinks #cartBookHeader a .bchCount
	{	top: 10px;
		left: 17px;
	}
	.container.container_header .header_rightlinks .header_userlinks
	{	display: inline-block;
		background: url('../img/template/myaccount.png') no-repeat center left 15px;
		padding: 17px 0px 17px 41px;
	}
	.container.container_header .header_rightlinks .header_userlinks a
	{
	}
}
.container.container_header .header_mobileright
{	width: 35px;
	height: 39px;
	float: right;
	padding-top: 5px;
}
.container.container_header .header_mobileright #cartBookMobileHeader a
{	height: 40px;
	width: 40px;
	display: block;
	float: right;
	border-right: 1px solid #FFFFFF;
	background: url('../img/template/tickets_cart.png') no-repeat center center;
	position: relative;
}
.container.container_header .header_mobileright #cartBookMobileHeader a .bchLabel
{	display: none;
}
.container.container_header .header_mobileright #cartBookMobileHeader a .bchCount
{	position: absolute;
	top: 10px;
	left: 17px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #FFFFFF;
	background: #ec277a;
	color: #FFFFFF;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
}

.kpMMmenu
{	display: none;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}
.mm-menu.mm-top
{	height: 100%;
}
.mm-menu > .mm-navbar
{
}
.mm-navbars_top
{	border-color: #333;
	border-width: 1px;
}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a
{	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
}
.mm-listview .mm-next
{
}
.mm-menu > .mm-panel
{
}
.kpMMmenu .mm-listview > li > a, .kpMMmenu .mm-listview > li > span, .kpMMmenu .mm-listview > li > a > span, .kpMMmenu .mm-listview > li > a.mm-btn
{	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	padding: 15px 30px 15px 20px;
	text-transform: capitalize;
	white-space: normal;
}
.kpMMmenu .mm-btn:after, .kpMMmenu .mm-btn:before
{	border-color: #FFFFFF;
}
.mm-menu .mm-listview > li .mm-prev::before, .mm-menu .mm-listview > li .mm-next::after, .mm-menu .mm-listview > li .mm-arrow::after, .mm-menu .mm-navbar .mm-btn::before, .mm-menu .mm-navbar .mm-btn::after
{
    border-color: inherit;
}
.kpMMmenu .mm-listview > li:not(.mm-divider)::after
{	left: 0px;

}
.kpMMmenu .mm-btn_close:before
{	border: none;
}
.kpMMmenu .mm-btn_close
{	top: 20px;
}
.kpMMmenu .mm-btn_close:after, .kpMMmenu .mm-close:after {
    content: '\e805';
	font-family: "website-icons";
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	speak: none;
	border: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1.2em;
  -moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.kpMMmenu .mm-btn_close:after, .kpMMmenu .mm-btn_close, .kpMMmenu .mm-btn_close:before
{	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*@media (max-width: 767px)
{	.mm-menu .mm-navbars_top > .mm-navbar
	{	background-color: #ec277a;
	}
	.mm-menu > .mm-panel, .mm-listview
	{	background: #ec277a;
	}
	.mm-panel, .mm-panels
	{	background: #3B3B3D;
	}
	.kpMMmenu
	{	background-color: rgba(38,173,96,0.3);
	}
	.hrlSearch #crSearchSideBar button {
		color: #ec277a;
	}
}*/
@media (max-width: 1200px)
{
	.mm-menu .mm-navbars_top > .mm-navbar
	{	background-color: #3B3B3D;
	}
	.mm-menu > .mm-panel, .mm-listview
	{	background: #3B3B3D;
	}
	.mm-panel, .mm-panels
	{	background: #3B3B3D;
	}
	.hrlSearch span {
		padding: 20px 15px !important;
	}
	.hrlSearch #crSearchSideBar {
		position: relative;
	}
	.hrlSearch #crSearchSideBar input[type=text] {
		padding: 10px;
		background: #fff;
		color: #3B3B3D;
		border:none;
		width: 100%;
	}
	.hrlSearch #crSearchSideBar button {
		background: #fff;
		border:none;
		position: absolute;
		text-align: center;
		width: 40px;
		right: 0;
		top: 0;
		bottom: 0;
		color: #3B3B3D;
	}
}

.container.footer_top
{	background: #ec277a;
	padding: 30px 0;
}
.container.footer_top .container_inner
{	width: 100%;
	padding: 0;
}
.container.footer_top .infFormSaved
{	text-align: center;
	font-size: 20px;
	color: #FFF;
}
.container.footer_top form.infusion-form
{	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.container.footer_top .infusion-field,
.container.footer_top .infusion-submit
{	flex: 1;
	margin: 0 10px;
	width: 100%;
	position: relative;
}
.container.footer_top .infusion-field {
	max-width: 260px;
}
.container.footer_top .infusion-submit {
	max-width: 150px;

}
.container.footer_top .infusion-field h3 {
	color: #fff;
	font-size: 17px;
	line-height: 1.2;
	text-transform: uppercase;
}
.container.footer_top .infusion-field input.infusion-field-input-container,
.container.footer_top .infusion-field select.infusion-field-input-container {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	height: auto;
	margin: 0;
	padding: 16px 15px;
	width: 100%;
	position: relative;
}
.container.footer_top .infusion-field select.infusion-field-input-container {
	padding: 15px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	z-index: 2;
}
.container.footer_top .infusion-field select.infusion-field-input-container option {
	background: #fff;
	color: #000;
}

.container.footer_top .infusion-field .select-arrow {
	color: #fff;
	font-size: 28px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.container.footer_top .infusion-field .select-arrow:before {
	color: #fff;
}

.container.footer_top .infusion-field input.infusion-field-input-container::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.container.footer_top .infusion-field input.infusion-field-input-container:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
.container.footer_top .infusion-field input.infusion-field-input-container::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
.container.footer_top .infusion-field input.infusion-field-input-container:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}
.container.footer_top .infusion-submit input {
	background: #fff;
	border: none;
	color: #ec277a;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	padding: 16px 45px;
	margin: 0;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height: auto;
	-webkit-appearance: none;
}
@media (max-width: 360px) {
	.container.footer_top form.infusion-form {
		flex-direction: column;
	}
	.container.footer_top .infusion-field {
		text-align: center;
		padding-bottom: 15px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.footer_top form.infusion-form {
		flex-direction: column;
	}
	.container.footer_top .infusion-field {
		text-align: center;
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.footer_top .infusion-field.infusion-field-text {
		flex: 0 1 100%;
		text-align: center;
		padding-bottom: 30px;
		max-width:none;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.footer_top .infusion-field.infusion-field-input {
		max-width: 200px;
	}
}

.container.footer_middle
{	background-color: #58595b;
	color: #fff;
	padding: 30px 0px;
}
.container.footer_middle .container_inner ul li a, .container.footer_middle .container_inner ul li span
{	color: #fff;
	text-decoration: none;
	font-weight: 700;
	display: block;
	padding-bottom: 5px;
}
.container.footer_middle .container_inner ul li a:hover, .container.footer_middle .container_inner ul li a:active
{	color: #AEAEAE;
}
.container.footer_middle .container_inner>ul>li
{	display: block;
	width: 171px;
	padding: 0px 15px;
	float: left;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.container.footer_middle .container_inner>ul>li ul li
{	text-transform: none;
}
.container.footer_middle .container_inner>ul>li ul li a, .container.footer_middle .container_inner>ul>li ul li span
{	padding: 3px 0px;
	font-size: 12px;
	font-weight: 700;
}
.container.footer_middle .container_inner>ul>li.footerLogo
{	text-align: center;
}
.container.footer_bottom
{	background-color: #58595b;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 1.4;
	font-weight: 700;
	padding: 15px 0px;
	text-align: center;
	border-top: 1px solid #FFF;
}
@media (min-width: 768px) and (max-width: 1200px)
{	.container.footer_middle .container_inner>ul>li
	{	width: 20%;
	}
	.container.footer_middle .container_inner>ul>li.footerLogo
	{	float: none;
		width: 100%;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
  		justify-content: center;
		text-align: center;
	}
	.container.footer_middle .container_inner>ul>li.footerLogo > span
	{
		flex: 1;
	}
}
@media (max-width: 767px)
{	.container.footer_middle .container_inner>ul>li
	{	width: 50%;
		text-align: center;
		padding-bottom: 20px;
	}
	.container.footer_middle .container_inner>ul>li:nth-child(even) {
		clear: both;
	}
	.container.footer_middle .container_inner>ul>li.footerLogo
	{	float: none;
		text-align: center;
		width: 100%;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
  		justify-content: center;
	}
	.container.footer_middle .container_inner>ul>li.footerLogo > span
	{
		flex: 1;
	}
}

h1.page_heading, h2.page_heading, div.page_heading
{	padding: 50px 0px 10px;
	font-size: 34px;
	color: #ec277a;
	font-weight: bold;
	text-align: center;
}
h1.page_heading a, h2.page_heading a, div.page_heading a
{	color: #ec277a;
}
.tabHeader
{	background: #FFFFFF;
	float: left;
	padding: 0px 8px;
	margin-top: -40px;
	color: #FFFFFF;
	font-size: 16px;
	text-transform:uppercase;
}
.tabHeader>span, .tabHeader>a
{	display: inline-block;
	background: #ec277a;
	padding: 8px 12px;
}
.left_content
{	float: left;
	width: 850px;
	padding: 25px 25px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}
.left_content h3, .left_content h2
{	padding: 5px 0px 0px;
	color: #ec277a;
	font-size: 14px;
	font-weight: bold;
}
.left_content p
{	padding: 5px 0px 10px;
}
.right_sidebar
{	float: right;
	width: 260px;
}
.right_sidebar>div
{	background: #FFFFFF;
	margin-bottom: 15px;
	padding: 10px;
}
.right_sidebar h2
{	color: #1b1f23;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.right_sidebar .right_sidebar_news ul li
{	color: #1b1f23;
	font-size: 13px;
	margin-top: 30px;
}
.right_sidebar .right_sidebar_news ul li a
{	display: inline-block;
	padding-right: 10px;
	font-size: 12px;
}

.right_sidebar .right_sidebar_news ul li .hpnews_date
{	display: inline-block;
	font-size: 12px;
}

.half_column
{	width: 560px;
	padding: 20px;
	margin: 20px 0px;
	float: left;
	background-color: #FFFFFF;
}
.half_column:nth-child(2n)
{	float: right;
}
.full_column
{	width: 100%;
	padding: 20px;
	margin: 20px 0px;
	background-color: #FFFFFF;
}
.alert-container {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	z-index: 9999999;
}
.alert-container .container_inner {
	margin: 0 auto;
	padding: 40px 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	max-width: 100%;
	transform: translate(-50%, -50%);
}
.close-alert-container {
	display: inline-block;
	position: absolute;
	top:20px;
	right: 20px;
	bottom: 0;
	color: #fff;
	font-size: 24px;
}
.alert-container-success .container_inner{
	background: #69bbb9;
	color: #fff;
}
.alert-container-failed .container_inner{
	background: #eb6456;
	color: #fff;
}
.alert-container-warning .container_inner{
	background: #ffd62c;
	color: #eb6456;
}
.alert-message {
	font-size: 16px;
	font-weight: 700;
	padding: 30px 0;
	position: relative;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}
.alert-message-success {
	background: #69bbb9;
	color: #fff;
}
.alert-message-failed {
	background: #eb6456;
	color: #fff;
}
.alert-message-warning {
	background: #ffd62c;
	color: #eb6456;
}


.failmessage, .successmessage, .warningmessage
{	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin: 10px auto;
	border: 2px solid #ec277a;
	background: #aaFFcc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 90%;
}
.failmessage
{	border: 2px solid #d20000;
	background: #FFccdd;
}
.warningmessage
{	border: 2px solid #996600;
	background: #FFEEAA;
}
.jqmWindow
{	font-size: 14px;
}
.jqmWindow img
{	max-width: 100%;
	height: auto;
}
.jqmClose
{	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin-top: -25px;
}

.jqmWindow.sc_modal_popup, .jqmWindow.scprod_modal_popup
{	padding-bottom: 20px;
	width: 560px;
	margin-left: -280px;
	top: 10%;
}

.pagecontent_modal_popup
{	top: 10%;
	height: 80%;
	overflow: auto;
}
.pagecontent_modal_popup_inner
{	padding: 5px;
}
.pagecontent_modal_popup_inner p
{	padding: 5px 10px;
}
.pagecontent_modal_popup_inner ul, .pagecontent_modal_popup_inner ol
{	margin-left: 30px;
}
.pagecontent_modal_popup_inner ul
{	list-style: disc;
}
.pagecontent_modal_popup_inner h3
{	color: #ec277a;
}

@media (min-width: 768px) and (max-width: 1200px)
{	.left_content
	{	width: 480px;
	}
	.half_column
	{	width: 374px;
	}
}
@media (max-width: 767px)
{	.left_content, .half_column, .right_sidebar
	{	width: 100%;
		margin: 10px 0px;
		float: none;
	}
	.right_sidebar
	{	text-align: center;
		margin-top: 30px;
	}
	.right_sidebar>div
	{	margin: 0px auto 15px;
	}
	h1.page_heading, h2.page_heading, div.page_heading
	{	padding-top: 20px;
		margin-left: 2%;
	}
	.jqmWindow, .jqmWindow.sc_modal_popup, .jqmWindow.scprod_modal_popup
	{	width: 100%;
		left: 0px;
		margin-left: 0px;
		top: 5%;
		height: 95%;
		overflow: auto;
		padding-top: 30px;
	}
	.jqmWindow.sc_modal_popup, .jqmWindow.scprod_modal_popup
	{	height: auto;
	}
}
.left_content_news h2
{
}
.left_content_news ul li
{	padding: 40px 0px;
	border-bottom: 1px solid #ec277a;
}
.left_content_news ul li:last-child
{	border-bottom: none;
}
.left_content_news .news_date
{	float: left;
	text-align: center;
	padding-top: 22px;
	background: #f0f1f1;
	color: #ec277a;
	font-size: 18px;
	text-transform: uppercase;
	border-top: 2px solid #ec277a;
	border-bottom: 66px solid #ec277a;
	height: 170px;
	width: 97px;
	font-weight: normal;
}
.left_content_news .news_date span
{	font-size: 31px;
	font-weight: bold;
	display: block;
	color: #1b1f23;
}
.left_content_news .news_body
{	float: left;
	padding: 0px 0px 0px 50px;
	width: 700px;
}
.left_content_news .news_body img
{	max-width: 100%;
	height: auto;
}
.left_content_news .news_body h3:first-child, .left_content_news .news_body h2, .left_content_news .news_body h1
{	color: #1b1f23;
	font-size: 39px;
	font-weight: bold;
	padding: 0px;
}
.left_content_news .news_body p
{
}
.left_content_news .news_body .news_link
{	display: inline-block;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	background: #ec277a;
	padding: 13px 50px;
}


@media (min-width: 768px) and (max-width: 1200px)
{	.left_content_news .news_body
	{	width: 330px;
		padding-left: 30px;
	}
}
@media (max-width: 767px)
{	.left_content_news .news_body
	{	width: auto;
		max-width: 450px;
		padding-left: 20px;
	}
}
@media (max-width: 650px)
{	.left_content_news .news_body
	{	max-width: 350px;
	}
}
@media (max-width: 550px)
{	.left_content_news .news_date
	{	width: 100%;
		float: none;
		padding: 20px 20px 10px;
		text-align: left;
		height: auto;
		border-bottom: 2px solid #ec277a;
	}
	.left_content_news .news_date span
	{	float: left;
		padding-right: 10px;
		margin-top: -10px;
	}
	.left_content_news .news_body
	{	width: 100%;
		max-width: 100%;
		float: none;
	}
}


.acpLabel
{	float: left;
	width: 350px;
	font-weight: vold;
	font-size: 16px;
	text-align: center;
	padding: 20px 0px 10px;
}
.acpActions
{	float: right;
	padding: 15px 0px 10px;
}
.acpActions a
{	display: inline-block;
	padding: 6px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #ec277a;
	text-transform: uppercase;
}
.acpError
{	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-size: 20px;
	color: #900;
}


/** leave these at the end **/
.visible-xs, .visible-sm, .visible-lg
{	display: none !important;
}
@media (max-width: 767px)
{	.hidden-xs
	{	display: none !important;
	}
	.visible-xs
	{	display: block !important;
	}
	table.visible-xs
	{	display: table;
	}
	tr.visible-xs
	{	display: table-row !important;
	}
	th.visible-xs, td.visible-xs
	{	display: table-cell !important;
	}
	.container>.inner
	{	width: 100%;
		margin: 0px auto;
	}
	#footerSocial ul li a
	{	padding-top: 8px;
		padding-bottom: 8px;
	}
}
@media (min-width: 768px) and (max-width: 1200px)
{	.hidden-sm
	{	display: none !important;
	}
	.visible-sm
	{	display: block !important;
	}
	table.visible-sm
	{	display: table;
	}
	tr.visible-sm
	{	display: table-row !important;
	}
	th.visible-sm, td.visible-sm
	{	display: table-cell !important;
	}
	.container>.inner
	{	width: 768px;
		margin: 0px auto;
	}
}
@media (min-width: 1201px)
{	.hidden-lg
	{	display: none !important;
	}
	.visible-lg
	{	display: block !important;
	}
	table.visible-lg
	{	display: table;
	}
	tr.visible-lg
	{	display: table-row !important;
	}
	th.visible-lg, td.visible-lg
	{	display: table-cell !important;
	}
}
.custom-share-buttons .ssk-group {
	display: inline-block;
}
.post-share-buttons {
	margin: 30px auto 30px;
	text-align: center;
	overflow: hidden;
}
.post-share-buttons .share-button {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.post-share-buttons .share-button:hover {
	background-color: transparent;
	border: 2px solid #ec277a;
	color: #ec277a;
}
.post-share-buttons .ssk-group {
	display: none;
	overflow: hidden;
}
.post-share-buttons .ssk-group .ssk {
	padding: 12px!important;
	transform: translateY(-200%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.post-share-buttons .ssk-group .ssk.show-button {
	transform: translateY(0);
}
/* Arrow Bottom */

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
#arrow-bottom {
    bottom: 0;
    opacity: 1;
    position: fixed;
    left: 50%;
	margin-left:-35px;
	width: 70px;
    height: 70px;
    visibility: visible;
	z-index: 9999;
}
#arrow-bottom a {
	color: #ec277a;
    display: block;
    width: 70px;
}
#arrow-bottom a:hover {
}
#arrow-bottom a span {
	font-size: 50px;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.container.index_third {
	background: #9e1666;
}
.container.index_third h2 {
	color: #ffd62c;
	font-size: 46px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
}
.container.index_third p {
	color: #fff;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.container.index_third p:last-of-type{
	padding-bottom: 0;
}
.container.index_third p span {
	color: #ffd62c;
}
.container.index_third a.button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.container.index_third a.button:hover {
	background-color: transparent;
	border: 2px solid #ffd62c;
	color: #ffd62c;
}

.container.index_fourth {
	background: #69bbb9;
}
.container.index_fourth.index_fourth_db
{	background: #4ca1d9;
}
.container.index_fourth.index_fourth_or
{	background: #eb6456;
}
.container.index_fourth h2 {
	color: #ffd62c;
	font-size: 46px;
	font-weight: 400;
	line-height: 1.2;
	padding: 0 0 30px;
	margin: 0;
}
.container.index_fourth p {
	color: #fff;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.container.index_fourth p:last-of-type{
	padding-bottom: 0;
}
.container.index_fourth p span {
	color: #ffd62c;
}
.container.index_fourth a.button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.container.index_fourth a.button:hover {
	background-color: transparent;
	border: 2px solid #ffd62c;
	color: #ffd62c;
}

@media (max-width: 360px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 30px;
		text-align: center;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 18px;
		text-align: center;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 30px;
		text-align: center;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 36px;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 36px;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
	}
}
@media (min-width: 1501px) {
}


span.pagesectionPink
{	color: #eb2879;
}

.container.index_fifth {
	padding: 150px 0;
}
.container.index_fifth .container_inner {
	text-align: center;
	font-size: 30px;
}
.container.index_fifth .container_inner h3 {
	color: #ffd62c;
	font-size: 58px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0 auto;
}
.container.index_fifth .container_inner p {
	color: #fff;
	font-size: 30px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.container.index_fifth .container_inner p:last-child {
	padding-bottom: 0;
}
.container.index_fifth .container_inner p span {
	color: #ec277a;
	font-weight: 700;
}
.container.index_fifth a.button {
	background-color: #4ca1d9;
	border: 2px solid #4ca1d9;
	color: #fff;
}
.container.index_fifth a.button:hover {
	background-color: #ffd62c;
	border: 2px solid #ffd62c;
	color: #fff;
}

.container.page-section-horizontal-container
{	
}

.container.page-section-horizontal-container .page-section-horizontal_half_text
{	float: left;
	height: 528px;
	width: 50%;
	padding: 50px 40px 0px;
	text-align: center;
}
.container.page-section-horizontal-container .page-section-horizontal_half_text h3
{	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 20px;
}
.container.page-section-horizontal-container .page-section-horizontal_half_text p
{	font-size: 50px;
	margin-bottom: 20px;
	line-height: 1.3em;
}
.container.page-section-horizontal-container .page-section-horizontal_half_text p:last-child a
{	text-transform: uppercase;
	font-size: 22px;
	border: 2px solid #000;
	padding: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.container.page-section-horizontal-container .page-section-horizontal_half_embed
{	float: left;
	height: 528px;
	width: 50%;
	overflow: hidden;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.container.page-section-horizontal-container .page-section-horizontal_half_embed p
{	position: relative;
	height: 100%;
	width: 100%;
}
.container.page-section-horizontal-container .page-section-horizontal_half_embed p a
{	position: relative;
	height: 100%;
	width: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
}
.container.page-section-horizontal-container .page-section-horizontal_half_embed p a span
{	text-align: left;
	text-indent: -900px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -43px;
	margin-top: -43px;
	display: block;
	width: 86px;
	height: 86px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #FFF;
	background: url('../img/template/play_button_white.png') no-repeat center center;
}

.container.page-section-horizontal-container .page-section-horizontal-container-inner, .container.page-section-horizontal-container .page-section-horizontal-container-water
{	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 385px;
	height: 485px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.container.page-section-horizontal-container .page-section-horizontal-container-water
{	background: url('../img/template/water_drop.png') no-repeat top 45px center;
	padding-top: 100px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner:nth-child(3n+0), .container.page-section-horizontal-container .page-section-horizontal-container-water:nth-child(3n+0)
{	margin-right: 0px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcImage
{	width: 100%;
	height: 267px;
	background-size: 100% auto;
	background-position: top center;
	background-repeat: no-repeat;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText
{	width: 100%;
	height: 218px;
	padding: 20px;
	position: relative
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull
{	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull p, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull p, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText p, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText p
{	font-size: 25px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull h3, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull h3, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText h3, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText h3
{	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull p:last-child
{	/*position: absolute;
	left: 20px;
	bottom: 20px;*/
	width: 345px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner p:last-child a, .container.page-section-horizontal-container .page-section-horizontal-container-water p:last-child a
{	display: block;
	width: 260px;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	margin: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.container.page-section-horizontal-container .page-section-horizontal-container-inner p:last-child a:hover, .container.page-section-horizontal-container .page-section-horizontal-container-water p:last-child a:hover
{	opacity: 0.85;
}

.container.page-section-inf_form
{	padding: 70px 0px;
}
.container.page-section-inf_form .container_inner form
{	width: 1100px;
	margin: auto;
}
.container.page-section-inf_form .container_inner form input[type="text"], .container.page-section-inf_form .container_inner form input[type="email"]
{	width: 440px;
	margin: 0px 10px 0px 0px;
	height: 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: none;
	padding: 3px 20px;
	font-size: 18px;
}
.container.page-section-inf_form .container_inner form input[type="submit"]
{	width: 200px;
	height: 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: none;
	margin: 0px;
	color: #FFFFFF;
	background-color: #eb2879;
	font-size: 18px;
}
.container.page-section-inf_form .container_inner .failmessage, .container.page-section-inf_form .container_inner .successmessage
{	color: #1b1f23 !important;
}
.container.page-section-inf_form .container_inner .infFormSaved
{	text-align: center;
	font-size: 30px;
}

.container.page-section-narrow_plain
{	padding: 60px 0px;
}
.container.page-section-narrow_plain .container_inner
{	width: 600px;
	text-align: center;
	font-size: 34px;
}
.container.page-section-narrow_plain .container_inner a
{	text-decoration: underline;
}

@media (max-width: 767px)
{	.container.page-section-horizontal-container
	{	padding: 0px 10px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner, .container.page-section-horizontal-container .page-section-horizontal-container-water
	{	width: 100%;
		height: auto;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner:nth-child(3n+0), .container.page-section-horizontal-container .page-section-horizontal-container-water:nth-child(3n+0)
	{	margin-right: 0px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText
	{	height: auto;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull
	{	height: auto;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull p:last-child
	{	width: 100%;
		margin-top: 20px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner p:last-child a, .container.page-section-horizontal-container .page-section-horizontal-container-water p:last-child a
	{	width: 100%;
	}
	.container.page-section-inf_form .container_inner form
	{	width: 100%;
	}
	.container.page-section-inf_form .container_inner form input[type="text"], .container.page-section-inf_form .container_inner form input[type="email"]
	{	width: 100%;
		margin: 0px 0px 10px;
	}
	.container.page-section-inf_form .container_inner form
	{	width: 100%;
		padding: 0px 20px;	
	}
	.container.page-section-inf_form .container_inner form input[type="submit"]
	{	width: 100%;
	}
	.container.page-section-narrow_plain .container_inner
	{	width: 100%;
		padding: 0px 20px;
		text-align: center;
		font-size: 23px;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_text
	{	float: none;
		height: auto;
		width: 100%;
		padding: 20px;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_embed
	{	float: none;
		height: 300px;
		width: 100%;
		background-size: 100% auto;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_text p:last-child a
	{	width: 100%;
		display:  block;
		line-height: 1.2em;
		font-size: 17px;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_text h3
	{	font-size: 17px;
		margin-bottom: 15px;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_text p
	{	font-size: 30px;
	}
}

@media (max-width: 450px)
{	.container.page-section-horizontal-container .page-section-horizontal_half_embed
	{	background-size: auto 100%;
	}
}

@media (max-width: 360px)
{	.container.index_fifth
	{	padding: 25px 15px;
	}
	.container.index_fifth .container_inner h3
	{	font-size: 30px;
		padding: 0 0 20px;
	}
	.container.index_fifth .container_inner p
	{	font-size: 18px;
		padding-bottom: 18px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcImage
	{	background-size: auto 100%;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_fifth {
		padding: 50px 15px;
	}
	.container.index_fifth .container_inner h3 {
		font-size: 36px;
		padding: 0 0 20px;
	}
	.container.index_fifth .container_inner p {
		font-size: 21px;
		padding-bottom: 21px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_fifth {
		padding: 75px 0;
	}
	.container.index_fifth .container_inner h3 {
	}
	.container.index_fifth .container_inner p {
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner, .container.page-section-horizontal-container .page-section-horizontal-container-water
	{	width: 370px;
		margin-right: 18px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner:nth-child(3n+0), .container.page-section-horizontal-container .page-section-horizontal-container-water:nth-child(3n+0)
	{	margin-right: 18px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner:nth-child(2n+0), .container.page-section-horizontal-container .page-section-horizontal-container-water:nth-child(2n+0)
	{	margin-right: 0px;
	}
	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull p:last-child
	{	width: 334px;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	.container.page-section-inf_form .container_inner form
	{	width: 100%;
	}
	.container.page-section-inf_form .container_inner form input[type="text"], .container.page-section-inf_form .container_inner form input[type="email"]
	{	width: 274px;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_text
	{	float: none;
		height: auto;
		width: 768px;
		padding: 50px 40px 50px;
		text-align: center;
	}
	.container.page-section-horizontal-container .page-section-horizontal_half_embed
	{	float: none;
		height: 656px;
		width: 768px;
		overflow: hidden;
	}
}
@media (min-width: 1201px)
{	.container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcText p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-inner .pshcFull p:last-child, .container.page-section-horizontal-container .page-section-horizontal-container-water .pshcFull p:last-child
	{	width: 345px;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_fifth {
		padding: 100px 0;
	}
}
@media (min-width: 1501px) {
}

.cprefHelp a
{	text-decoration: underline;
	color: #9b1f64;
}

/*card*/

/*card css*/
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
	color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

/*card css*/


/*----Pravin--11_03_2020---------*/
.main_title {
	margin: -40px -40px 0;
	background: #ec277a;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

.donate_main_content .container_inner_custom {
	box-shadow: 0px 20px 40px
    rgba(0, 0, 0, 0.15);
    max-width: 700px;
    padding: 40px !important;
    margin: 0 auto;
}
.donate_main_content .container_inner_custom  .cherity_title {
	padding: 40px 0 8px;
	font-size: 20px;
}
.donate_main_content .container_inner_custom  .content_cherity {
	font-size: 18px;
}
.donate_main_content .container_inner_custom .required {
	font-size: 18px;
	color: #ff0000;
	text-align: right;
	display: block;
	width: 100%;
	line-height: 34px;
} 
.donate_main_content .container_inner_custom label.title-label {
	padding-bottom: 8px;
	font-size: 16px;
	text-align: left;
}
.donate_main_content .container_inner_custom label.title-label span {
	color: #ff0000;	
}
.donate_main_content .container_inner_custom .form-row {
	padding-bottom: 0;
}
.donate_main_content .container_inner_custom .expiry_year_custom {
	width: 50% !important;
}
.donate_main_content .container_inner_custom input[type="text"],
.donate_main_content .container_inner_custom input[type="email"],
.donate_main_content .container_inner_custom input[type="number"],
.donate_main_content .container_inner_custom textarea,
.donate_main_content .container_inner_custom select {
	border: 2px solid #cfcfcf !important;
	background-color: #fff;
	font-size: 18px !important;
}
.donate_main_content .container_inner_custom form.donation-form .custom-select-box {
	background: #fff;
}
.donate_main_content .container_inner_custom .cartButtons {
	padding-top: 30px;
}
.donate_main_content .container_inner_custom .cartButtons a {
	text-align: center;
	float: none !important;
	margin: 0 auto;
	max-width: 300px;
	width: 100%;
	height: auto;
}
.donate_main_content .container_inner_custom .content_cherity {
	padding-bottom: 20px;
}
.donate_main_content .container_inner_custom .error_custom {
    font-size: 15px;
    color: red;
    text-align: left;
    width: 100%;
	display: block;
	line-height: 30px;
}
.loaderclass .container.container_header,
.loaderclass .container.footer_top {
	z-index: 0;
}
.loaderclass_custom {
	background: rgba(0,0,0,0.75)  url('../img/loading/loading8.gif') no-repeat center center;
	 position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 10000;
/*	background-size: 40px;*/
}
@media only screen and (max-width: 767px) {
	.donate_main_content .container_inner_custom .expiry_year_custom  {
		width: 100% !important;
		padding-bottom: 20px;
	}
	.donate_main_content .container_inner_custom {
		padding: 20px !important;
	}
	.main_title {
		margin: -20px -20px 0 !important;
	}
	.donate_main_content .container_inner_custom form.donation-form {
		text-align: left;
	}
}