.container {}
.container .container_inner {}
@media (max-width: 767px) {
	.container .container_inner {
		padding: 0;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1500px){
}
@media (min-width: 1501px) {
}
.container .container_inner .button {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.container .button:hover {
	text-decoration: none;
}
.container.index_top {
/*	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;*/
	background-size: 100%;
	text-align: center;
	padding: 0;
	position: relative;
}
.container.index_top>img
{	width: 100%;
	height: auto;
	position: relative;
}
.container.index_top .container_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container.index_top h1 {
	font-size: 98px;
	font-weight: 700;
	color: #fff;
	line-height: 1.2;
	text-shadow: 0 0 30px #000000;
}
.container.index_top h1 span{
	color: #ffd62c;
}
.container.index_top p.hpHeaderTextContainer
{	position: absolute;
	bottom :20px;
	left: 50%;
	margin-left: -86px;
}
.container.index_top a.button {
	background-color: #ec277a;
	border: 2px solid #ec277a;
	color: #fff;
}
.container.index_top a.button:hover {
	background-color: #ffd62c;
	border: 2px solid #ffd62c;
	color: #fff;
}
@media (max-width: 360px) {
	.container.index_top {
		/*height: calc(100vh - 60px);*/
	}
	.container.index_top h1 {
		font-size: 36px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_top {
		/*height: calc(100vh - 60px);*/
	}
	.container.index_top h1 {
		font-size: 48px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_top h1 {
		font-size: 72px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_top {
		/*height: 600px;
		height: 100vh;
		height: calc(100vh - 70px);*/
	}
}
@media (min-width: 1501px) {
}
.container.index_second {
	background: #fff;
	padding: 60px 0;
}
.container.index_second .container_inner {
	text-align: center;
}
.container.index_second .container_inner p {
	font-size: 30px;
	max-width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}
.container.index_second .container_inner p:last-child {
	padding-bottom: 0;

}
.container.index_second .container_inner p span {
	color: #ec277a;
	font-weight: 700;
}
@media (max-width: 360px) {
	.container.index_second {
		padding: 25px 15px;
	}
	.container.index_second .container_inner p {
		font-size: 21px;
		padding-bottom: 21px;
		max-width: 100%;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_second {
		padding: 25px 25px;
	}
	.container.index_second .container_inner p {
		font-size: 24px;
		padding-bottom: 24px;
		max-width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_second {
		padding: 50px 75px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_second {
		padding: 60px 100px;
	}
	.container.index_second .container_inner p {
		max-width: 100%;
	}
}
@media (min-width: 1501px) {
}
/*
.container.index_third {
	background: #9e1666;
}
.container.index_third h2 {
	color: #ffd62c;
	font-size: 46px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
}
.container.index_third p {
	color: #fff;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.container.index_third p:last-of-type{
	padding-bottom: 0;
}
.container.index_third p span {
	color: #ffd62c;
}
.container.index_third a.button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.container.index_third a.button:hover {
	background-color: transparent;
	border: 2px solid #ffd62c;
	color: #ffd62c;
}

.container.index_fourth {
	background: #69bbb9;
}
.container.index_fourth h2 {
	color: #ffd62c;
	font-size: 46px;
	font-weight: 400;
	line-height: 1.2;
	padding: 0 0 30px;
	margin: 0;
}
.container.index_fourth p {
	color: #fff;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.container.index_fourth p:last-of-type{
	padding-bottom: 0;
}
.container.index_fourth p span {
	color: #ffd62c;
}
.container.index_fourth a.button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.container.index_fourth a.button:hover {
	background-color: transparent;
	border: 2px solid #ffd62c;
	color: #ffd62c;
}

@media (max-width: 360px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 30px;
		text-align: center;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 18px;
		text-align: center;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 30px;
		text-align: center;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 36px;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_third h2,
	.container.index_fourth h2 {
		font-size: 36px;
	}
	.container.index_third p,
	.container.index_fourth p {
		font-size: 20px;
	}
}
@media (min-width: 1501px) {
}
.container.index_fifth {
	padding: 150px 0;
}
.container.index_fifth .container_inner {
	text-align: center;
	font-size: 30px;
}
.container.index_fifth .container_inner h3 {
	color: #ffd62c;
	font-size: 58px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0 auto;
}
.container.index_fifth .container_inner p {
	color: #fff;
	font-size: 30px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.container.index_fifth .container_inner p:last-child {
	padding-bottom: 0;
}
.container.index_fifth .container_inner p span {
	color: #ec277a;
	font-weight: 700;
}
.container.index_fifth a.button {
	background-color: #4ca1d9;
	border: 2px solid #4ca1d9;
	color: #fff;
}
.container.index_fifth a.button:hover {
	background-color: #ffd62c;
	border: 2px solid #ffd62c;
	color: #fff;
}
@media (max-width: 360px) {
	.container.index_fifth {
		padding: 25px 15px;
	}
	.container.index_fifth .container_inner h3 {
		font-size: 30px;
		padding: 0 0 20px;
	}
	.container.index_fifth .container_inner p {
		font-size: 18px;
		padding-bottom: 18px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.container.index_fifth {
		padding: 50px 15px;
	}
	.container.index_fifth .container_inner h3 {
		font-size: 36px;
		padding: 0 0 20px;
	}
	.container.index_fifth .container_inner p {
		font-size: 21px;
		padding-bottom: 21px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.container.index_fifth {
		padding: 75px 0;
	}
	.container.index_fifth .container_inner h3 {
	}
	.container.index_fifth .container_inner p {
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.container.index_fifth {
		padding: 100px 0;
	}
}
@media (min-width: 1501px) {
}
*/


/* Header */

@media (min-width: 991px)
{
.cr-intro-h1{

	font-size: 100px !important;
	line-height: 80px !important;
	font-weight: bold;
}


.cr-intro-btn{

	font-size: 30px !important;
	font-weight: 600;
}

}

@media (min-width: 767px) and (max-width:991px)
{

	.cr-intro-h1{

		font-size: 60px !important;
		line-height: 50px !important;
	}

	.cr-intro-btn{

		font-size: 24px !important;
		font-weight: 600;
	}
}


/* Donation Part */
@media (min-width: 1200px)
{
.middle-part .main-dropdown {
    font-size: 34px;
    font-weight: bold;
	min-width: 350px;
	min-height: 110px;
    padding: 10px 0;
}

.middle-part .main-dropdown span.label{
	font-size: 20px;
	line-height: 20px;
}

.middle-part .select2-container .select2-dropdown{
	width: 350px !important;
	position: absolute;
	top: 0px;
    left: -75px;
}

.middle-part .donate-btn{
	font-size: 34px;
    font-weight: bold;
	min-width: 350px;
	min-height: 110px;
	padding: 10px 0;
}

.middle-part .donate-btn span.red-text{
	font-size: 20px;
	line-height: 20px;
}

}


@media (min-width: 993px)  and  (max-width:1199px)
{

	.middle-part .main-dropdown {
		font-size: 28px;
		font-weight: bold;
		min-width: 300px;
		min-height: 90px;
		padding: 10px 0;
	}
	
	.middle-part .main-dropdown span.label{
		font-size: 18px;
		line-height: 20px;
		
	}

	
	
	.middle-part .select2-container .select2-dropdown{
		width: 300px !important;
		position: absolute;
		top: 0px;
		left: -75px;
	}
	
	.middle-part .donate-btn{
		font-size: 28px;
		font-weight: bold;
		min-width: 350px;
		min-height: 90px;
		padding: 10px 0;
	}
	
	.middle-part .donate-btn span.red-text{
		font-size: 18px;
		line-height: 20px;
	}

	
}


/*@media (max-width:992px)*/
@media (min-width: 434px) and (max-width: 992px)
{

	.middle-part .main-dropdown {
		font-size: 28px;
		font-weight: bold;
		min-width: 300px;
		min-height: 60px;
		padding: 10px 0;
	}
	
	.middle-part .main-dropdown span.label{
		font-size: 18px;
		line-height: 20px;
		
	}

	
	
	.middle-part .select2-container .select2-dropdown{
		width: 300px !important;
		position: absolute;
		top: 0px;
		left: -75px;
	}
	
	.middle-part .donate-btn{
		font-size: 28px;
		font-weight: bold;
		min-width: 350px;
		min-height: 60px;
		padding: 10px 0;
	}
	
	.middle-part .donate-btn span.red-text{
		font-size: 18px;
		line-height: 20px;
	}

	
}

/*  Donation Part Text */



@media (min-width: 992px)
{

	.middle-part .container {
		min-width: 80%;
		
	}
	
	
	.middle-part-des h2{
		font-size: 48px;
	
	}
}


@media (min-width: 992px)
{

	.description-part .container {
		min-width: 80%;
		
	}

	.achieved-part .container {
		min-width: 80%;
		
	}

	.help-part .container {
		min-width: 80%;
		
	}

	footer .container {
		min-width: 80%;
		
	}
	
	.turkey-part .container {
		min-width: 80%;
		
	}

	.news-views .container {
		min-width: 80%;
		
	}

	.news-views .each-article {
		width: 462px;
	}
	
	.news-views-inner .slick-slide img{
		width:100%;
		height: 225px;
		object-fit: cover;

	}
}
.news-views .each-article{
	cursor: pointer;
}