@media (max-width: 360px)
{	.container.index_top h1
	{	font-size: 36px;
	}
	.container.index_top h1 span
	{	font-size: 26px;
	}
}
@media (min-width: 361px) and (max-width: 767px)
{	.container.index_top h1
	{	font-size: 48px;
	}
	.container.index_top h1 span
	{	font-size: 36px;
	}
}
@media (min-width: 768px) and (max-width: 1200px)
{
	.container.index_top h1
	{	font-size: 58px;
	}
	.container.index_top h1 span
	{	font-size: 48px;
	}
}