.left_content_myaccount
{	float: right;
	width: 910px;
}
.right_sidebar_myaccount
{	float: left;
	background: #FFFFFF;
	padding: 25px 20px;
	margin-bottom: 20px;
	width: 200px;
}


.right_sidebar_myaccount ul li
{	width: 100%;
	padding: 5px 0px;
	
}
.right_sidebar_myaccount ul li a
{	display: block;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	padding: 5px 10px;
	text-transform: uppercase;
}
.right_sidebar_myaccount ul li a:hover
{	color: #26ad60;
	text-decoration: none;
}
.right_sidebar_myaccount ul li.selected a, .right_sidebar_myaccount ul li.selected a:hover
{	background: #26ad60;
	color: #FFFFFF;
	border-bottom: none;
}
.right_sidebar_myaccount ul li:last-child a
{	border-bottom: none;
}

.ma_orders_row
{	width: 100%;
	border-bottom: 1px solid #26ad60;
	font-size: 14px;
}
.ma_orders_row.ma_orders_rowheader
{	color: #26ad60;
}
.ma_orders_row>div
{	float: left;
	padding: 15px;
}
.ma_orders_row>div:first-child
{	padding-left: 0px;
}
.ma_orders_row>div:last-child
{	padding-right: 0px;
}
.ma_orders_row>div.ma_orders_order
{	width: 105px;
}
.ma_orders_row>div.ma_orders_date
{	width: 95px;
}
.ma_orders_row>div.ma_orders_items
{	width: 395px;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row
{	padding: 10px 0px;
	border-bottom: 1px solid #26ad60;
	width: 100%;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row>div
{	float: left;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row:first-child
{	padding-top: 0px
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row:last-child
{	border-bottom: none;
	padding-bottom: 0px
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_plate
{	width: 290px;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_plate img
{	width: 50%;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_desc
{	width: 185px;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_qty
{	width: 105px;
	padding-left: 15px;
	text-align: right;
}
.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_price
{	width: 75px;
	padding-left: 15px;
	text-align: right;
}
.ma_orders_row.ma_orders_rowheader>div.ma_orders_items
{	width: 305px;
}
.ma_orders_row.ma_orders_rowheader>div.ma_orders_price
{	width: 90px;
	text-align: right;
}
.ma_orders_row>div.ma_orders_del
{	width: 90px;
	text-align: right;
}
.ma_orders_row>div.ma_orders_total
{	width: 90px;
	text-align: right;
}
.ma_orders_row>div.ma_orders_actions
{	width: 85px;
}
.ma_orders_row>div.ma_orders_actions a
{	display: block;
	width: 100%;
	padding: 5px 10px;
	color: #FFFFFF;
	background: #26ad60;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.ma_op_details
{	margin-bottom: 10px;
}
.ma_op_details p
{	font-size: 13px;
}
.ma_op_details p span
{	display: block;
}
.ma_op_details p .op_label
{	color: #26ad60;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
	width: 200px;
	float: left;
}
.ma_op_details p .op_label a
{	color: #26ad60;
}
.ma_op_details p .op_content
{	width: 400px;
	float: left;
}
.ma_op_details p .op_price
{	width: 100px;
	text-align: right;
}
.ma_op_details p .op_total
{	font-weight: bold;
}

.ma_op_plate
{	padding: 20px;
	border: 1px solid #26ad60;
	margin-top: 20px;
}
.ma_op_plate .cart_plate_images
{	
}
.ma_op_plate .cart_plate_images img
{	width: 50%;
}
.ma_op_plate .cart_plate_options
{	float: left;
	width: 50%;
	padding-right: 10px;
}
.ma_op_plate .cart_plate_docs
{	float: right;
	width: 50%;
	padding-left: 10px;
}
.ma_op_plate .cart_plate_docs_existing span
{	color: #26ad60;
	display: block;
	float: left;
	font-size: 14px;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}

@media (min-width: 768px) and (max-width: 1200px)
{	.left_content_myaccount
	{	width: 540px;
	}
	.ma_orders_row>div
	{	padding: 10px;
	}
	.ma_orders_row>div.ma_orders_date
	{	display: none;
	}
	.ma_orders_row.ma_orders_rowheader>div.ma_orders_items
	{	width: 135px;
	}
	.ma_orders_row>div.ma_orders_items
	{	width: 225px;
	}
	.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_plate
	{	width: 130px;
	}
	.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_plate img
	{	width: 100%;
	}
	.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_desc
	{	width: 130px;
	}
	.ma_orders_row>div.ma_orders_items .ma_orders_item_row .ma_orders_item_qty
	{	width: 130px;
	}
	.ma_orders_row>div.ma_orders_del
	{	width: 70px;
	}
	.ma_orders_row>div.ma_orders_total
	{	padding-right: 0px;
	}
	.ma_orders_row>div.ma_orders_actions
	{	float: right;
	}
	.ma_orders_row.ma_orders_rowheader>div.ma_orders_actions
	{	display: none;
	}
	.ma_op_details p .op_content
	{	width: 270px;
	}
	.ma_op_details p .op_price
	{	width: 100px;
	}
	
	form .ma_op_plate p label, .ma_op_plate .cart_plate_docs_existing span
	{	float: none;
		font-size: 14px;
		padding-right: 0px;
		text-align: left;
		width: 100%;
	}
	form .ma_op_plate input[type="submit"]
	{	margin-left: 0px;
	}
}
@media (max-width: 767px)
{	.left_content_myaccount
	{	width: 96%;
	}
	.right_sidebar_myaccount
	{	width: 96%;
		float: none;
		margin: 10px auto 0px;
	}
	.right_sidebar_myaccount ul li
	{	display: inline-block;
		width: auto;
		text-align: center;
	}
	.right_sidebar_myaccount ul li a
	{	color: #26ad60;
	}
	.ma_orders_row>div.ma_orders_date, .ma_orders_row>div.ma_orders_items, .ma_orders_row.ma_orders_rowheader>div.ma_orders_items, .ma_orders_row.ma_orders_rowheader>div.ma_orders_price
	{	display: none;
	}
	.ma_orders_row > div.ma_orders_total
	{	padding-right: 0px;
	}
	.ma_orders_row>div.ma_orders_actions
	{	float: right;
	}
	.ma_orders_row.ma_orders_rowheader>div.ma_orders_actions
	{	display: none;
	}
	.ma_op_details p .op_label
	{	text-align: left;
		margin-right: 0px;
		width: 100%;
		float: none;
	}

	.ma_op_details p .op_content
	{	width: 100%;
		float: none;
	}
	.ma_op_details p .op_price
	{	width: 100px;
	}
	.ma_op_plate .cart_plate_options
	{	float: none;
		width: 100%;
		padding-right: 0px;
		padding-bottom: 20px;
	}
	.ma_op_plate .cart_plate_images img
	{	width: 100%;
	}
	.ma_op_plate .cart_plate_docs
	{	float: none;
		width: 100%;
		padding-left: 0px;
	}
	form .ma_op_plate p label, .ma_op_plate .cart_plate_docs_existing span
	{	float: none;
		font-size: 14px;
		padding-right: 0px;
		text-align: left;
		width: 100%;
	}
	form .ma_op_plate input[type="submit"]
	{	margin-left: 0px;
		width: 100%;
		padding: 0px 10px;
	}
}