@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,800;1,900&display=swap");

/* Local fonts */
@font-face {
  font-family: Akzidenz Regular;
  src: url("https://charityright.org.uk/assets/fonts/Akzidenz-Grotesk-Pro-Regular-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Medium Regular;
  src: url("https://charityright.org.uk/assets/fonts/Akzidenz-Grotesk-Pro-Med-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Bold Regular;
  src: url("https://charityright.org.uk/assets/fonts/Akzidenz-Grotesk-Pro-Bold-Regular.otf") format("opentype");
}

@font-face {
  font-family: Neusa Next Pro Compact Medium;
  src: url("https://charityright.org.uk/assets/fonts/Neusa-Next-Pro-Compact-Medium.otf") format("opentype");
}



.container.page-header {
	background-image: url('../img/template/donate-thank-you-1-banner.jpg');
    background-position: center center;
}


.tn-banner-txt-1-pu{
color: #001E4B;
font-size: 48px;
font-family: 'Montserrat', sans-serif;
}

.tn-banner-txt-2-pu{
  font-weight: 800;
	font-size: 48px;
}

.tn-banner-txt-3-pu{
  color: #005AD7;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
}

.tn-banner-btn-pu{
  color: #ffffff;
  background-color: #005AD7;
  padding: 10px 40px;
 
  border-radius: 45px;
  text-decoration: none;
  border: 2px solid #005AD7;
  width: 200px;
  font-family: Akzidenz Medium Regular;
  font-size: 24px;
}



.tn-banner-btn-pu:hover{
  color: #ffffff;
  background-color: #005AD7;
  padding: 10px 40px;
 
  border-radius: 45px;
  text-decoration: none;
  border: 2px solid #E43A80;
  
}


@media (max-width:768px)
{

  .tn-banner-txt-1-pu{
    color: #001E4B;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    }
    
    .tn-banner-txt-2-pu{
      font-weight: 800;
    }
    
    .tn-banner-txt-3-pu{
      color: #005AD7;
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .tn-banner-btn-pu{
      color: #ffffff;
      background-color: #005AD7;
      padding: 10px 40px;
   
      border-radius: 45px;
      text-decoration: none;
      border: 2px solid #005AD7;
      display: block;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    
    
    
    .tn-banner-btn-pu:hover{
      color: #ffffff;
      background-color: #005AD7;
      padding: 10px 40px;
 
      border-radius: 45px;
      text-decoration: none;
      border: 2px solid #E43A80;
      width: 250px;
    }
    

}

@media (min-width: 576px) {
  .modal-dialog { max-width: none; }
	
.modal-dialog {
  width: 80%;
  
  padding: 0;
}

.modal-content {
  height: 99%;
}
}
