.jqmWindow.edTicketPopup
{	padding-bottom: 5px;
	top: 50%;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #69bbb9;
	padding: 40px;
	border: 2px solid #5aa19f;
	text-align: center;
	transform: translateY(-50%);
}
.jqmWindow.edTicketPopup .jqmClose {
	color: #fff;
	text-decoration: none;
	margin-top: -20px;
	margin-right: -20px;
}
.jqmWindow.edTicketPopup .tpopInfo {
	color: #ffd62c;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.jqmWindow.edTicketPopup .tpopDates {
	color: #fff;
	font-size: 14px;
}
.jqmWindow.edTicketPopup .tpopBookForm {

}
.jqmWindow.edTicketPopup .tpopBooked {
	color: #fff;
	font-size: 18px;
}
.jqmWindow.edTicketPopup .tpopCartLink a {
	background-color: none;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 25px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.jqmWindow.edTicketPopup form > label {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.jqmWindow.edTicketPopup input[type=number] {
	font-size: 14px;
	font-weight: 400;
	padding: 12px;
	background: #fff;
	border: 2px solid #fff;
	width: 100px;
	margin-left: 10px;
}
.jqmWindow.edTicketPopup input[type=submit] {
	background-color: #fff;
	border: 2px solid #fff;
	color: #69bbb9;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 1px;
	padding: 12px 25px;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
	.jqmWindow.edTicketPopup {
		height: auto;
		width: auto;
		left: 20px;
		right: 20px;
		margin: 0 auto;
	}
}

.eventdates_listing>ul
{	padding-top: 27px;
}
.eventdates_listing>ul>li
{	display: block;
	float: left;
	background: #69bbb9;
}
.eventdates_listing>ul>li.eventsCRLink
{	background: #EB6456;
	padding: 15px;
}
.eventdates_listing>ul>li.eventsCRLink>div
{	padding: 60px 0px;
	border: 1px solid #FFF;
	text-align: center;
	height: 100%;
	width: 100%;
}
.eventdates_listing>ul>li.eventsCRLink>div h2
{	text-transform: uppercase;
	color: #FFD62C;
	font-size: 35px;
	padding: 0px 35px 20px;
}
.eventdates_listing>ul>li.eventsCRLink>div p
{	color: #FFF;
	font-size: 18px;
	padding: 0px 30px 30px;
}
.eventdates_listing>ul>li.eventsCRLink>div a
{	text-transform: uppercase;
	color: #FFF;
	display: inline-block;
	border: 1px solid #FFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 18px;
}
.eventsPreviousLink
{	padding: 20px 0px;
	text-align: center;
}
.eventsPreviousLink a
{	display: inline-block;
	border: 1px solid #58595B;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-decoration: none;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 18px;
	color: #58595B;
}

@media (min-width: 1201px)
{	.eventdates_listing>ul>li
	{	width: 279px;
		margin-right: 27px;
		margin-bottom: 27px;
		height: 410px;
	}
	.eventdates_listing>ul>li:nth-child(4)
	{	margin-right: 0px;
	}
}
@media (max-width: 1200px) and (min-width: 768px)
{	.eventdates_listing>ul>li
	{	width: 246px;
		margin-right: 15px;
		margin-bottom: 15px;
		height: 410px;
	}
	.eventdates_listing>ul>li:nth-child(3n)
	{	margin-right: 0px;
	}
}
@media (max-width: 767px)
{	.eventdates_listing>ul>li
	{	float: none;
		width: 90%;
		margin: auto;
		margin-bottom: 25px;
		height: 410px;
	}
	.eventdates_listing>ul>li.eventsCRLink
	{	height: auto;
	}
}
.eventdates_listing>ul>li .edlImage
{	width: 100%;
	height: 315px;
	position: relative;
	overflow: hidden;
	background: #CCCCCC url("../img/template/event_bg.png") no-repeat center center;
	background-size: cover;
}
.eventdates_listing>ul>li .edlImage a
{	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.eventdates_listing>ul>li .edlDetails
{
	position: relative;
}
.eventdates_listing>ul>li .edlDetails a {
	display: inline-block;
	padding: 30px;
}
.eventdates_listing>ul>li .edlDetails h2
{	color: #ffd62c;
	font-size: 18px;
}
.eventdates_listing>ul>li .edlDetails p
{	padding-top: 10px;
	font-size: 14px;
}
h3.no-events {

}
.eventDetailsBody
{	background: #69bbb9;
	padding: 100px 0px;
	margin: 0px;
}
.eventDetailsBody .edbLeft
{	display: block;
	float: left;
	width: 500px;
	height: 620px;
	overflow: hidden;
	background: #CCCCCC url("../img/template/event_bg.png") no-repeat center center;
	background-size: 100%;
}
.eventDetailsBody .edbRight
{	display: block;
	color: #FFF;
	float: right;
	width: 670px;
}
.eventDetailsBody .edbRight a
{	color: #FFF;
}
.eventDetailsBody .edbRight h1
{	color: #ffd62c;
	font-size: 50px;
	font-weight: bold;
	line-height: 1.1;
}
.eventDetailsBody .edbRight h2
{	font-size: 50px;
	color: #FFF;
	font-weight: normal;
	padding-bottom: 20px;
	line-height: 1.1;
}
.eventDetailsBody .edbRight p
{	font-size: 24px;
	padding: 20px 0;
}
.eventDetailsBody .edbRight .edlTickets h3
{	color: #ffd62c;
	font-size: 30px;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 20px;
}
.eventDetailsBody .edbRight .edlTickets ul li
{	float: left;
	margin-right: 20px;
	padding: 0px;
}
.eventDetailsBody .edbRight .edlTickets ul li a
{	display: block;
	padding: 12px 45px;
	border: 2px solid #FFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
}
.eventDetailsBody .edbRight .edlTickets ul li:last-child
{	margin-right: 0px;
}
@media (max-width: 1200px) and (min-width: 768px)
{	.eventDetailsBody .edbLeft
	{	width: 300px;
		height: 378px;
	}
	.eventDetailsBody .edbRight
	{	width: 450px;
	}
	.eventDetailsBody .edbRight h2
	{	font-size: 30px;
	}
}
@media (max-width: 767px)
{	.eventDetailsBody .edbLeft
	{	width: 90%;
		float: none;
		margin: auto;
		height: 300px;
	}
	.eventDetailsBody .edbRight
	{	width: 90%;
		float: none;
		margin: auto;
		padding-bottom: 20px;
		text-align: center;
	}
	.eventDetailsBody .edbRight h1
	{	font-size: 34px;
	}
	.eventDetailsBody .edbRight h2
	{	font-size: 28px;
	}
	.eventDetailsBody .edbRight .edlTickets h3
	{	text-align: center;
	}
	.eventDetailsBody .edbRight .edlTickets ul li
	{	float: none;
		margin: 0px auto 10px;
		text-align: center;
		padding: 8px 30px;
	}
}
.container {}
.event-page-header-container {
	padding: 150px 0 125px;
	background: #fff;
}
.container.event-page-header-container.container_inner {
	padding: 0!important;
}
h1.page_heading {
	color: #ec277a;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 0 30px;
    margin: 0 auto 0;
	text-align: center;
	text-transform: capitalize;
}
h2.page_sub_heading {
	text-align: center;
	color: #000;
	font-size: 24px;
	line-height: 1.3;
	padding: 0;
	margin: 0;
}
.event-page-content-container {
	background: #fff;
}
.event-page-content-container a {
	display: inline-block;
	text-decoration: none;
	outline: none;
}
.event-listing {
	display: block;
	position: relative;
	margin: 0 -15px;
}
.event-listing-item {
	float: left;
	position: relative;
	padding: 15px;
	width: 25%;
}
.event-listing-item-inner {
	background: #69bbb9;
	height: 420px;
	overflow: hidden;
}
.event-listing-item-image {
	background-color: #d1c6c6;
	background-image: url("../img/template/event_bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.event-listing-item-image a {
	display: block;
	height: 300px;
}
.event-list-item-content {
	padding: 30px;
	overflow: hidden;
}

.event-list-item-content a {
	height: 60px;
	overflow: hidden;
}
.event-list-item-content h3 {
	color: #ffd62c;
	font-size: 18px;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
.event-list-item-content p {
	color: #fff;
	font-size:14px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
.event-listing-item-create .event-listing-item-inner {
	background: #eb6456;
	padding: 10px;
}
.event-listing-item-create .event-list-item-content {
	border: 1px solid #fff;
	height: 100%;
	width: 100%;
	text-align: center;
}
.event-listing-item-create .event-list-item-content h3 {
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	padding: 20px 0;
}
.event-listing-item-create .event-list-item-content p {
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
}
.event-listing-item-create .event-list-item-content a.button-find-more {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.event-listing-item-create .event-list-item-content a.button-find-more:hover {
	border: 2px solid #ffd62c;
	color: #ffd62c;
}
.button-container {
	padding: 150px 0;
	text-align: center;
}
.button-events-link {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button-events-link:hover {
	border: 2px solid #ec277a;
	color: #ec277a;
}
@media (max-width: 360px) {
	.event-page-header-container {
		padding: 50px 15px;
	}
	h1.page_heading {
		font-size: 36px;
	}
	h2.page_sub_heading {
		font-size: 18px;
	}
	.event-listing {
		margin: 0;
	}
	.event-listing-item {
		width: 100%;
	}
	.button-container {
		padding: 25px 0;
		text-align: center;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.event-page-header-container {
		padding: 50px 25px;
	}
	h1.page_heading {
		font-size: 36px;
	}
	h2.page_sub_heading {
		font-size: 20px;
	}
	.event-listing {
		margin: 0;
	}
	.event-listing-item {
		width: 100%;
	}
	.button-container {
		padding: 50px 0;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.event-page-header-container {
		padding: 25px 0;
	}
	h1.page_heading {
		font-size: 48px;
	}
	h2.page_sub_heading {
		font-size: 24px;
	}
	.event-listing-item {
		width: 33%;
	}
	.button-container {
		padding: 75px 0;
		text-align: center;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
}
@media (min-width: 1501px) {
}