.container_heading
{	display: none!important;
}
.page-header a.button {
	margin-bottom: 60px;
}
.page-header h1 {
}
.page-section.page-section-custom-1 {
	background-color: #c0e0d6;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.page-section.page-section-custom-1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-section.page-section-custom-1 ul li {
	float: left;
	margin: 0;
	padding: 0 50px;
	text-align: left;
	width: 30%;
}
.page-section.page-section-custom-1 ul li:first-child {
	padding-left: 0;
	text-align: left;
	width: 40%;
}
.page-section.page-section-custom-1 ul li:last-child {
	padding-right: 0;
}
.page-section.page-section-custom-1 ul li img {
	margin-bottom: 30px;
}
.page-section.page-section-custom-1 ul li h2 {
	color: #ec277a;
	font-size: 26px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1.1;
	padding-bottom: 0;
}
.page-section.page-section-custom-1 ul li:first-child h2 {
	font-size: 46px;
	font-weight: 400;
}
.page-section.page-section-custom-1 ul li p {
	color: #1d1d1b;
	font-size: 20px;
}
.page-section.page-section-custom-1 ul li:first-child p {
	font-size: 30px;
}
.page-section.page-section-custom-1 h3 {
	color: #ffd62c;
	font-size: 46px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding-top: 300px;
}

.page-section.page-section-custom-2 {
	padding: 150px 0;
}
.container.page-section.page-section-custom-2 .container_inner {
	width: 100%;
}
.page-section.page-section-custom-2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-section.page-section-custom-2 ul li {
	float: left;
	margin: 0;
	padding: 0 50px;
	text-align: center;
	width: 50%;
}
.page-section.page-section-custom-2 ul li:first-child {
	padding: 0 0;
	width: 50%;
}
.page-section.page-section-custom-2 ul li:last-child {
	width: 40%;
	text-align: left;
}
.page-section.page-section-custom-2 ul li img {
	max-width: 100%;
	height: auto;
}
.page-section.page-section-custom-2 ul li h2 {
	color: #ec277a;
	font-size: 46px;
	font-weight: 400;
	margin: 0;
	padding: 0 0 20px;
	line-height: 1.1;
}
.page-section.page-section-custom-2 ul li h3 {
	color: #ec277a;
	font-size: 26px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1.1;
	padding-top: 1.5em;
}
.page-section.page-section-custom-2 ul li p {
	color: #1d1d1b;
	font-size: 20px;
}
.page-section.page-section-custom-2 ul li p:first-of-type {
	font-size: 24px;
	padding-bottom: 40px;
}
.page-section.page-section-custom-3 .container_inner {
	max-width: 1000px;
}

@media (max-width: 360px) {
	.page-section.page-section-custom-1 {
		background-position: center 325px;
	}
	.page-section.page-section-custom-1 .container_inner {

	}
	.page-section.page-section-custom-1 ul li {
		float: none;
		padding: 0 0 50px;
		width: 100%!important;
		text-align: center!important;
	}
	.page-section.page-section-custom-1 ul li h2 {
		font-size: 28px;
	}
	.page-section.page-section-custom-1 ul li:first-child h2 {
		font-size: 30px;
		font-weight: 700;
	}
	.page-section.page-section-custom-1 h3 {
		font-size: 28px;
		padding-top:0;
	}
	.page-section.page-section-custom-1 ul li p {
		font-size: 18px;
	}
	.page-section.page-section-custom-1 ul li:first-child p {
		font-size: 18px;
	}
	.page-section.page-section-custom-2 {
		padding: 25px 0;
	}
	.page-section.page-section-custom-2 ul li {
		float: none;
		width: 100%!important;
		padding: 0 25px;
		text-align: center!important;
	}
	.page-section.page-section-custom-2 ul li:first-child {
		padding: 0 0 25px;
	}
	.page-section.page-section-custom-2 ul li h2 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li h3 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li p {
		font-size: 16px;
	}
	.page-section.page-section-custom-2 ul li p:first-of-type {
		font-size: 18px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.page-section.page-section-custom-1 {
		background-position: center 275px;
	}
	.page-section.page-section-custom-1 .container_inner {

	}
	.page-section.page-section-custom-1 ul li {
		float: none;
		padding: 0 0 50px;
		width: 100%!important;
		text-align: center!important;
	}
	.page-section.page-section-custom-1 ul li h2 {
		font-size: 30px;
	}
	.page-section.page-section-custom-1 ul li:first-child h2 {
		font-size: 30px;
		font-weight: 700;
	}
	.page-section.page-section-custom-1 h3 {
		font-size: 30px;
		padding-top:75px;
	}
	.page-section.page-section-custom-1 ul li p {
		font-size: 20px;
	}
	.page-section.page-section-custom-1 ul li:first-child p {
		font-size: 20px;
	}
	.page-section.page-section-custom-2 {
		padding: 50px 0;
	}
	.page-section.page-section-custom-2 ul li {
		float: none;
		width: 100%!important;
		padding: 0 25px;
		text-align: center!important;
	}
	.page-section.page-section-custom-2 ul li:first-child {
		padding: 0 0 25px;
	}
	.page-section.page-section-custom-2 ul li h2 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li h3 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li p {
		font-size: 18px;
	}
	.page-section.page-section-custom-2 ul li p:first-of-type {
		font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.page-section.page-section-custom-1 {
		background-position: center 100px;
	}
	.page-section.page-section-custom-1 ul li {
		padding: 0 25px;
	}
	.page-section.page-section-custom-1 ul li h2 {
		font-size: 28px;
	}
	.page-section.page-section-custom-1 ul li:first-child h2 {
		font-size: 36px;
		font-weight: 400;
	}
	.page-section.page-section-custom-1 h3 {
		font-size: 30px;
		padding-top:150px;
	}
	.page-section.page-section-custom-1 ul li p {
		font-size: 18px;
	}
	.page-section.page-section-custom-1 ul li:first-child p {
		font-size: 20px;
	}
	.page-section.page-section.page-section-custom-2 {
		padding: 50px 0;
	}
	.page-section.page-section-custom-2 ul li {
		padding: 0 25px;
	}
	.page-section.page-section-custom-2 ul li:first-child {
		padding: 0 0;
		width: 60%;
	}
	.page-section.page-section-custom-2 ul li:last-child {
		width: 40%;
	}
	.page-section.page-section-custom-2 ul li h2 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li h3 {
		font-size: 28px;
	}
	.page-section.page-section-custom-2 ul li p {
		font-size: 18px;
	}
	.page-section.page-section-custom-2 ul li p:first-of-type {
		font-size: 20px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.page-section.page-section.page-section-custom-2 {
		padding: 75px 0;
	}
	.page-section.page-section-custom-2 ul li {
		padding: 0 25px;
	}
	.page-section.page-section-custom-2 ul li:first-child {
		padding: 0 0;
	}
	.page-section.page-section-custom-2 ul li h2 {
		font-size: 36px;
	}
	.page-section.page-section-custom-2 ul li h3 {
	}
	.page-section.page-section-custom-2 ul li p {
	}
	.page-section.page-section-custom-2 ul li p:first-of-type {
	}
}
@media (min-width: 1501px) {
}