.pageContentContainer .container_inner
{	text-align: center;
}
.pageContentContainer .container_inner h2
{	color: #ec277a;
}
.page-section.page-section-half.page-section-custom-1 {
	background-color: #4ca1d9;
}
.page-section-custom-1 .page-section-half-content-1 {
	background: #4ca1d9;
	text-align: center;
}
.page-section-custom-1 .page-section-half-content-2 {
	background: #f2f2f2;
}
.page-section-custom-1 .page-section-half-content-1 a {
	color: #fff;
	text-decoration: none;
}
.page-section.page-section-custom-3 .container_inner {
	max-width: 1000px;
}
.page-section.page-section-custom-3 h2 {
	color:#ec277a;
}
.page-section.page-section-custom-3 p {
	color: #000;
}
.form-row {
	margin-bottom: 10px;
}
.form-row-half {
	float: left;
	width: 50%;
}
.form-row-submit {
	text-align: left;
}
.form-row-half:first-child {
	padding-right: 10px;
}
.form-row-half:last-child {
	padding-left: 10px;
}
.form-row input[type=text],
.form-row input[type=email] {
	background: #f2f2f2;
	border: 1px solid #58595b;
	border-radius: 5px;
	color: #58595b;
	font-size:14px;
	padding: 10px 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-row input[type=text]:focus,
.form-row input[type=email]:focus {
	border: 1px solid #ec277a;
	color: #ec277a;
}
.form-row textarea {
	background: #f2f2f2;
	border: 1px solid #58595b;
	border-radius: 5px;
	color: #58595b;
	font-size:14px;
	padding: 10px 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-row input[type=submit] {
	background-color: #4ca1d9;
	border: none;
	color: #fff;
	display: inline-block;
	font-size:14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	width: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-row input[type=submit]:hover {
	background-color: #ec277a;
	border: none;
}
.form-row textarea:focus {
	border: 1px solid #ec277a;
	color: #ec277a;
}
.form-row *::-webkit-input-placeholder {
	color: #58595b;
	opacity: 1;
}
.form-row *:-moz-placeholder {
	color: #58595b;
	opacity: 1;
}
.form-row *::-moz-placeholder {
	color: #58595b;
	opacity: 1;
}
.form-row *:-ms-input-placeholder {
	color: #58595b;
	opacity: 1;
}

@media (max-width: 360px) {
	.page-section-custom-1 .page-section-half-content-1 {
		text-align: center;
	}
	.form-row-half {
		float: none;
		padding: 0!important;
		width: 100%;
	}
	.form-row-half:first-child {
		padding-bottom: 10px!important;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.page-section-custom-1 .page-section-half-content-1 {
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1500px){
}