@media (max-width: 360px) {
}
@media (min-width: 361px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1500px){
}
@media (min-width: 1501px) {
}
.button {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button:hover {
	text-decoration: none;
	background-color: transparent;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
}
.button-white-outline {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.button-gray-outline {
	background-color: transparent;
	border: 2px solid #b3b3b3;
	color: #b3b3b3;
}
.button-gray-outline:hover {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
}
.button-pink-outline {
	background-color: transparent;
	border: 2px solid #ec277a;
	color: #ec277a;
}
.button-pink-outline:hover {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
}
.page-section .container_inner,
.page-header .container_inner {
	max-width: 100%;
}
.page-header,
.container_heading {
	background-color: #d1c6c6;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 150px 0;
}
.page-header {
	background-color: #d1c6c6;
	background-image: url('../img/template/default-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-header .container_inner,
.container_heading .container_inner {

}
.page-header h1,
.container_heading h1 {
	color: #ffd62c;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 0 30px;
    margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 0 0 30px #000000;
}
.page-header h1:last-child,
.container_heading h1:last-child {
	padding: 0;
}
.page-header p {
	color: #fff;
	font-size: 30px;
	padding-bottom: 1em;
	text-shadow: 0 0 12px #000000;
}
.page-header p:last-child {
	padding-bottom: 0;
}
.page-section {
	padding: 100px 100px;
	text-align: center;
}
.page-section.page-section-full-width .container_inner {
	width: 100%;
}
.page-section.page-section-no-padding {
	padding: 0;
}
.page-section h2 {
    color: #ffd62c;
	font-size: 44px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.page-section h3 {
    color: #ffd62c;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.page-section p {
    color: #fff;
	font-size: 24px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.page-section p:last-child {
	padding-bottom: 0;
}
.page-section.page-section-half {
	padding: 0!important;
}
.page-section-half .container_inner {
	display: -webkit-flex;
  	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	overflow: hidden;
	padding: 0!important;
	width: 100%;
}
.page-section-half .container_inner > div {
	-webkit-flex: 1;
    flex: 1;
	position: relative;
}
.page-section-half-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-section-half-content {
	position: relative;
	width: 50%;
}
.page-section-half-content > div {
	padding: 100px 120px;
	width: 100%;
	max-width: 100%;
}
.page-section-half-content-left {
	float: right;
}
.page-section-half-content-right {
	float: left;
}
.page-section-blue {
	background-color: #4ca1d9;
}
.page-section-orange {
	background-color: #eb6456;
}
.page-section-pink {
	background-color: #ec277a;
}
.page-section-yellow {
	background-color: #ffd62c;
}
.page-section-white {
	background-color: #ffffff;
}
.page-section-green {
	background-color: #69bbb9;
}
@media (max-width: 360px) {
	.button {
		font-size: 16px;
	}
	.page-header,
	.container_heading {
		padding: 75px 15px;
	}
	.page-header h1,
	.container_heading h1 {
		font-size: 36px;
	}
	.page-header p {
		font-size: 18px;
	}
	.page-section {
		padding: 50px 15px;
	}
	.page-section h2 {
		font-size: 30px;
	}
	.page-section p {
		font-size: 18px;
	}
	.page-section-half .container_inner {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.page-section-half-content {
		order: 1;
	}
	.page-section-half-background {
		order: 2;
		min-height: 200px;
	}
	.page-section-half-content {
		width: 100%;
		margin: 0px auto;
	}
	.page-section-half-content > div {
		padding: 25px 15px;
		float: none;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.button {
		font-size: 18px;
	}
	.page-header,
	.container_heading {
		padding: 75px 25px;
	}
	.page-header h1,
	.container_heading h1 {
		font-size: 36px;
	}
	.page-header p {
		font-size: 20px;
	}
	.page-section {
		padding: 50px 25px;
	}
	.page-section h2 {
		font-size: 30px;
	}
	.page-section p {
		font-size: 20px;
	}
	.page-section-half .container_inner {
		-ms-flex-flow: column;
		flex-flow: column;
	}
	.page-section-half-content {
		order: 1;
	}
	.page-section-half-background {
		order: 2;
		min-height: 200px;
	}
	.page-section-half-content {
		width: 100%;
		margin: 0px auto;
	}
	.page-section-half-content > div {
		padding: 25px 25px;
		float: none;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.page-header,
	.container_heading {
	}
	.page-header h1,
	.container_heading h1 {
		font-size: 48px;
	}
	.page-header p {
		font-size: 24px;
	}
	.page-section {
		padding: 50px 50px;
	}
	.page-section h2 {
		font-size: 36px;
	}
	.page-section p {
		font-size: 20px;
	}
	.page-section-half-content > div {
		padding: 50px 50px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.page-header,
	.container_heading {
	}
	.page-header h1,
	.container_heading h1 {
		font-size: 48px;
	}
	.page-header p {
		font-size: 24px;
	}
	.page-section {
		padding: 75px 75px;
	}
	.page-section h2 {
		font-size: 40px;
	}
	.page-section p {
		font-size: 20px;
	}
}
@media (min-width: 1501px) {

}
.pageContentContainer
{	background-color: #fff;
	font-size: 16px;
	padding: 100px 100px;
}
.pageContentContainer .container_inner
{
}
.pageContentContainer h2 {
    color: #ec277a;
	font-size: 46px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.pageContentContainer h3 {
    color: #ec277a;
	font-size: 36px;
	font-weight: 400;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.pageContentContainer p, .pageContentContainer ul li, .pageContentContainer ol li
{	font-size: 24px;
	color: #000;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.pageContentContainer p:last-child {
	padding-bottom: 0;
}
.pageContentContainer img
{	max-width: 100%;
	height: auto;
}
.pageContentContainer ul
{	list-style: disc;
}
.pageContentContainer ol, .pageContentContainer ul
{	margin-left: 20px;
}
.pageContentContainer ol li, .pageContentContainer ul li
{	padding: 5px 0px 10px 10px;
}
@media (max-width: 360px) {
	.pageContentContainer {
		padding: 50px 15px;
	}
	.pageContentContainer h2 {
		font-size: 30px;
	}
	.pageContentContainer h3 {
		font-size: 30px;
	}
	.pageContentContainer p , .pageContentContainer ul li, .pageContentContainer ol li
	{	font-size: 18px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.pageContentContainer {
		padding: 50px 25px;
	}
	.pageContentContainer h2 {
		font-size: 30px;
	}
	.pageContentContainer h3 {
		font-size: 30px;
	}
	.pageContentContainer p, .pageContentContainer ul li, .pageContentContainer ol li
	{	font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.pageContentContainer {
		padding: 50px 50px;
	}
	.pageContentContainer h2 {
		font-size: 36px;
	}
	.pageContentContainer h3 {
		font-size: 36px;
	}
	.pageContentContainer p, .pageContentContainer ul li, .pageContentContainer ol li
	{	font-size: 20px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.pageContentContainer {
		padding: 75px 75px;
	}
	.pageContentContainer h2 {
		font-size: 40px;
	}
	.pageContentContainer p, .pageContentContainer ul li, .pageContentContainer ol li
	{	font-size: 20px;
	}
}
@media (min-width: 1501px) {

}