.container.page-header {
	background-position: center top;
}
.page-section.page-section-custom-4 {
	background: #fff;
}
.page-section.page-section-custom-4 h2 {
	color: #ec277a;
}
.trustees {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
.trustee {
	padding-top: 50px;
	position: relative;
	text-align: center;
	width: 25%;
}

.trustee .trustee-image {
	overflow: hidden;
}
.trustee .trustee-image img{
	border-radius: 50%;
	margin: 0;
	padding: 0;
	height: auto;
	max-width: 100%;
}
.trustee h3.trustee-name {
	color: #ec277a;
	font-size: 20px;
	min-height: 50px;
	padding: 0;
	margin: 50px 0 0;
}
.trustee p.trustee-title {
	color: #231f20;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.page-section.page-section-custom-5 {
	background: #fff;
}
.page-section.page-section-custom-5 h2 {
	background: #ec277a;
	margin: 0;
	padding: 50px 0;
}
.partners {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
.partner {
	min-height: 280px;
	width: 20%;
}
.partner:nth-child(odd) {
	background: #e2dcdc;
}
.partner:nth-child(even) {
	background: #d1c6c6;
}
.partner img {
	max-width: 100%;
	height: auto;
}
.page-section.page-section-custom-6 {
	background: #f2f2f2;
}
.page-section.page-section-half.page-section-custom-6 .page-section-half-background {
	background: #f2f2f2;
}
.page-section.page-section-custom-6 h2 {
	color: #ec277a;
	text-align: left;
	padding-bottom: 60px;
}
.page-section.page-section-custom-6 h3 {
	color: #ec277a;
	font-size: 20px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	text-align: left;
}
.page-section.page-section-custom-6 p {
	color: #231f20;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	padding: 0 0 20px!important;
}
.page-section.page-section-custom-6 a {
	text-decoration: none;
}
.page-section.page-section-custom-6 .address {
	display: block;
	position: relative;
	max-width: 400px;
}
.page-section.page-section-custom-6 .address > div {

}
.page-section.page-section-custom-6 .address-1 {
	float: left;
	width: 50%;
}
.page-section.page-section-custom-6 .address-2 {
	float: left;
	width: 50%;
}
.page-section.page-section-custom-6 .address-1 .button {
	margin: 1em auto;
}
.custom-google-map {
	width: 100%;
	height: 100%;
	min-height: 300px;
}
@media (max-width: 360px) {
	.trustee {
		float: none;
		width: 100%;
	}
	.partner {
		width: 100%;
	}
	.page-section.page-section-custom-6 h2 {
		text-align: center;
	}
	.page-section.page-section-custom-6 h3 {
		text-align: center;
	}
	.page-section.page-section-custom-6 p {
		text-align: center;
	}
	.page-section.page-section-custom-6 .address-1,
	.page-section.page-section-custom-6 .address-2 {

		float: none;
		width: 100%;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.trustee {
		width: 50%;
	}
	.partner {
		width: 50%;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.trustee {
		width: 20%;
	}
	.partner {
		width: 25%;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.trustee {
		width: 20%;
	}
}
@media (min-width: 1501px) {
	.trustee {
		width: 16.6%;
	}
}
.container_heading, .pageContentContainer
{	text-align: center;
}
.container_heading
{	height: 533px;
	background: #FFF !important;
	padding-top: 100px;
}
.pageContentContainer
{	margin-top: -315px;
	height: 315px;
}
.container_heading h1
{	font-size: 60px;
	padding: 10px 0px 10px;
	font-weight: normal;
}
.container.pageContentContainer .container_inner
{	font-size: 30px;
	padding: 0px 190px;
}

.container.whoweareSectionTrustees
{	background-color: #FFFFFF;
	padding: 15px 0px;
}
.container.whoweareSectionTrustees h2
{	font-size: 30px;
	color: #ec277a;
	text-align: center;
	padding: 20px 0px 10px;
}
.container.whoweareSectionTrustees ul
{	width: 950px;
	margin: auto;
}
.container.whoweareSectionTrustees ul li
{	float: left;
	width: 190px;
	padding: 0px 15px;
}
.container.whoweareSectionTrustees ul li .trusteeImage
{	width: 120px;
	height: 120px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.container.whoweareSectionTrustees ul li .trusteeImage img
{	width: 120px;
}
.container.whoweareSectionTrustees ul li h3
{	font-size: 24px;
	color: #ec277a;
	margin: 10px 0px 20px;
}
.container.whoweareSectionTrustees ul li p
{	font-size: 16px;
	color: #333;
	margin: 0px 0px 10px;
}
.container.whoweareSectionPartnersHeader
{	background-color: #ec277a;
	padding: 45px 0px;
}
.container.whoweareSectionPartnersHeader h2
{	font-size: 30px;
	color: #ffd62c;
	text-align: center;
	padding: 0px;
}
.container.whoweareSectionPartners
{	background-color: #fff;
	padding: 5px 0px;
}
.container.whoweareSectionPartners ul
{	width: 840px;
	margin: auto;
}
.container.whoweareSectionPartners ul li
{	float: left;
	width: 210px;
	height: 190px;
	padding: 0px 15px;
}
.container.whoweareSectionPartners ul li img
{	width: 180px;
}
.container.whoweareSectionContactHeader
{	background-color: #ec277a;
	padding: 45px 0px;
}
.container.whoweareSectionContactHeader h2
{	font-size: 30px;
	color: #ffd62c;
	text-align: center;
	padding: 0px;
}
.container.whoweareSectionContact
{	background: #fff url('../img/template/CR-MAP.jpg') no-repeat left center;
	background-size: 50%;
}
.container.whoweareSectionContact .container_inner
{	padding: 20px 0px 20px 600px;
}
.container.whoweareSectionContact .container_inner .whoweareSectionContactLeft, .container.whoweareSectionContact .container_inner .whoweareSectionContactRight
{	width: 50%;
	float: left;
	padding: 0px 10px;
	font-size: 16px;
}
.container.whoweareSectionContact .container_inner .whoweareSectionContactLeft h3, .container.whoweareSectionContact .container_inner .whoweareSectionContactRight h3
{	color: #ec277a;
}
.container.whoweareSectionContact .container_inner .whoweareSectionContactLeft p, .container.whoweareSectionContact .container_inner .whoweareSectionContactRight p
{	padding: 5px 0px 30px;
	line-height: 1.5em;
}

@media (min-width: 768px) and (max-width: 1200px)
{	.container_heading
	{	height: 313px;
		padding-top: 30px;
	}
	.pageContentContainer
	{	margin-top: -165px;
		height: 165px;
	}
	.container_heading h1
	{	font-size: 45px;
	}
	.container.pageContentContainer .container_inner
	{	font-size: 25px;
		padding: 0px 50px;
	}
	.container.whoweareSectionTrustees ul
	{	width: 768px;
	}
	.container.whoweareSectionTrustees ul li
	{	width: 153px;
		padding: 0px 10px;
	}
	.container.whoweareSectionPartners ul
	{	width: 630px;
	}
	.container.whoweareSectionContact .container_inner
	{	padding-left: 388px;
	}
}
@media (max-width: 767px)
{	.container_heading
	{	height: auto;
		padding: 10px 0px 10px;
		background: #FFF !important;
	}
	.pageContentContainer
	{	margin-top: 0px;
		height: auto;
		background: #FFF !important;
	}
	.container_heading h1
	{	font-size: 45px;
	}
	.container.pageContentContainer .container_inner
	{	font-size: 25px;
		padding: 0px 10px 20px;
	}
	.container.whoweareSectionTrustees ul
	{	width: 100%;
	}
	.container.whoweareSectionTrustees ul li
	{	width: 100%;
		float: none;
		padding: 0px;
		text-align: center;
	}
	.container.whoweareSectionTrustees ul li .trusteeImage
	{	margin: auto;
	}
	.container.whoweareSectionPartners ul
	{	width: 100%;
	}
	.container.whoweareSectionPartners ul li
	{	width: 100%;
		height: auto;
		text-align: center;
		padding: 10px 0px;
	}
	.container.whoweareSectionPartnersHeader, .container.whoweareSectionContactHeader
	{	padding: 15px 0px;
	}
	.container.whoweareSectionContact
	{	background: #fff url('../img/template/CR-MAP.jpg') no-repeat center top;
		background-size: auto;
	}
	.container.whoweareSectionContact .container_inner
	{	padding: 300px 0px 20px 0px;
	}
	.container.whoweareSectionContact .container_inner .whoweareSectionContactLeft, .container.whoweareSectionContact .container_inner .whoweareSectionContactRight
	{	width: 100%;
		float: none;
		padding: 0px 20%;
	}
	.container.whoweareSectionContact .container_inner .whoweareSectionContactLeft p, .container.whoweareSectionContact .container_inner .whoweareSectionContactRight p
	{	padding: 5px 0px 10px;
		line-height: 1.2em;
	}
}