.builderoptions
{	margin: 33px 0px 20px;
	border: 1px solid #26ad60;
	padding: 30px 15px 15px;
/*	background: #ff9900;*/
}
.builderoptions .buildertabs
{	background-color: #FFF;
	padding: 0px 6px;
	float: right;
	margin-top: -51px;
}
.builderoptions .buildertabs > li
{	display: inline-block;
	padding: 0px 4px;
	background: #FFFFFF;
	color: #FFF;
}
.builderoptions .buildertabs>li a
{	display: inline-block;
	padding: 8px 35px;
	background: #cbcbcb;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.builderoptions .buildertabs>li a.selected
{	background: #26ad60;
}

.builderCatsOpener
{	width: 100%;
	background-color: #ededed;
	border-bottom: 1px solid #26ad60;
}
.builderCatsOpener a
{	display: block;
	width: 90%;
	padding: 18px 0px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	color: #1b1f23;
	font-size: 14px;
	font-weight: bold;
	background: url('../img/template/pbmobile_right.png') no-repeat right center;
}
.builderCatsOpener.selected
{	
}
.builderCatsOpener.selected a
{	background: url('../img/template/pbmobile_down.png') no-repeat right center;
}

.builderoptions .plateTextContainer
{	width: 280px;
	float: left;
}
.builderoptions .plateTextContainer input[type="text"]
{	background: #000000;
	color: #FFFFFF;
	border: 1px solid #26ad60;
	font-size: 24px;
	text-transform: uppercase;
	padding: 15px;
	width: 100%;
}
.builderoptions .plateTextContainer.plateSloganContainer input[type="text"]
{	font-size: 16px;
	text-transform: none;
}
.builderoptions .plateTextHelp
{	width: 800px;
	float: right;
	font-size: 14px;
}
.builderoptions .plateTextHelp h4
{	color: #FFFFFF;
	font-size: 14px;
	color: #26ad60;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}
.builderoptions .plateTextHelp p
{	padding: 5px 0px !important;
}

#platesizelist {
	
}

#platesizelist li {
	cursor: pointer;	
}

#platesizelist > li.selected 
{
}

#platesizelist > li
{	margin: 10px 0px 10px -1px;
	padding: 0px 5px;
	width: 25%;
	float: left;
}

#platesizelist>li span
{	color: #000;
	font-weight: bold;
	font-size: 16px;
}
#platesizelist>li span i
{	color: #26ad60;
	font-size: 20px;
}

#platesizelist li>ul {
	margin: 10px 5px;
}

#platesizelist > li ul li {
	padding: 0.5em 1em;
	font-size: 14px;
}
#platesizelist > li ul li.selected
{	color: #26ad60;
	font-weight: bold;
}

#platesizelist > li ul li:hover
{	color: #26ad60;
}

#fontscrolllist
{	
}
#fontlist
{	width: 100%;
}

#fontlist li
{	float: left;
	display: block;
	width: 267px;
	height: 55px;
	overflow: hidden;
	padding: 10px;
	margin: 5px 5px;
	border: 2px solid #333;
	background: #000000;
	text-align: center;
}
#fontlist li.selected
{	border: 4px solid #26ad60;
	padding: 8px;
}
#fontlist li img
{	height: 31px;
}

.badge_picker select
{	float: none;
}

.badge_colour_Picker
{	width: 100%;
	height: 60px;
	overflow: auto;
	position: relative;
}


.borderOptionsContainer
{	float: left;
	width: 50%;
	padding-right: 10px
}

.borderSelectContainer, .borderStyleSelectContainer
{	width: 100%;
	padding-bottom: 10px;
	text-align: left;
}
.borderStyleSelectContainer select option
{	padding: 5px;
}
.borderStyleSelectContainer select option.border_demo_over
{	background: url('../img/template/border_demo_over.png') no-repeat right center;
	background-size: auto 80%;
}
.borderStyleSelectContainer select option.border_demo_inside
{	background: url('../img/template/border_demo_inside.png') no-repeat right center;
	background-size: auto 80%;
}
.borderStyleSelectContainer select option.border_demo_underneath
{	background: url('../img/template/border_demo_underneath.png') no-repeat right center;
	background-size: auto 80%;
}

.builderoptions .plateborder_builder_tip
{	float: right;
	width: 50%;
	padding-left: 10px
}
.border_colour_Picker
{	width: 100%;
	height: 60px;
	overflow: auto;
	position: relative;
}
.border_colour_Picker, .border_colour_Picker div
{	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.borderSelectContainer select
{	
}


/*** @colourlist ***********************/	
.colourlist {
}

.colourlist li {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	background: url('../img/template/shine.png') repeat-x top left;	
	cursor: pointer;
	margin: 5px 5px;
	border: 1px solid #999999;
}

.colourlist li.none {
	height: 32px;
	width: auto;
	text-indent: 0;
	text-align: center;	
	padding: 7px 10px 0px;
	border: 1px solid #999999;
}

.colourlist li.transparent {
	height: 32px;
	width: auto;
	text-indent: 0;
	text-align: center;	
	padding: 7px 10px 0px;
	border: 1px solid #999999;
}
.colourlist li.selected
{	border: 1px solid #26ad60;
}

#builderoptions .badge_picker .scrolllist ul li
{	width: 47px;
	height: 108px;
	overflow: hidden;
	margin: 5px;
	padding: 5px 0px;
	border: 1px solid #CCC;
	text-align: center;
}
#builderoptions .badge_picker .scrolllist ul li.selected
{	border: 2px solid #26ad60;
}
#builderoptions .badge_picker .scrolllist ul li img
{	max-width: 100%;
	max-height: 100%;
}
/*** @scrolling listbox ***********************/
.scrolllist {
	overflow: auto;
	padding: 5px 5px;
	height: 140px;
}

.scrolllist ul {
	padding: 5px;
}

.scrolllist ul li {
	display: block;
	float: left;
	cursor: pointer;
	background: #c00c00 url('../img/template/shine.png') repeat-x top left;
	padding: 10px 0;
	margin: 0 5px 5px;
}

.builderPlateCont
{	padding-top: 30px;
	position: relative;
}
.builderPlateCont .platepreview, .builderPlateCont .plate_build_summary
{	border: 1px solid #26ad60;
	padding: 30px 15px 15px;
	float: left;
	width: 870px;
}
.builderPlateCont .platepreview img.platePreviewPlate
{	width: 100%;
	margin-bottom: 10px;
}
.builderPlateCont .platepreview img.platePreviewPlate:last-child
{	margin-bottom: 0px;
}
.builderPlateCont .platepreview #loadingpreview
{	text-align: center;
}
.builderPlateCont .plate_build_summary
{	float: right;
	width: 260px;
}
.builderPlateCont .heading
{	display: inline-block;
	background: #FFFFFF;
	padding: 0px 7px;
	position: absolute;
	top: 10px;
	left: 18px;
}
.builderPlateCont .heading>span
{	display: inline-block;
	padding: 8px 35px;
	background: #26ad60;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.plate_types_chooser
{	margin-bottom: 10px;
}
.plate_types_chooser>div
{	padding: 10px 0px;
	border-bottom: 1px solid #e2e3e5;
}
.plate_types_chooser>div input[type="radio"]
{	display: block;
	float: left;
	margin-top: 8px;
}
.plate_types_chooser>div label
{	display: block;
	float: left;
	padding: 0px 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.plate_types_chooser>div label img
{	display: block;
	float: left;
	margin-right: 10px;
	display: block;
}
.plate_types_chooser>div label span
{	display: inline-block;
	margin-top: 6px;
}
.plate_types_chooser>div:first-child input[type="radio"]
{	margin-top: 21px;
}
.plate_types_chooser>div:first-child label span
{	margin-top: 19px;
}

.platebuilderPrice
{	display: inline-block;
	background: #1b1f23;
	padding: 7px;
	border: 1px solid #1b1f23;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}
.platebuilderPrice>span
{	display: inline-block;
	padding: 3px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 266px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
.platebuilderPrice>span>span
{	display: inline-block;
	padding: 5px 25px;
	color: #FFFFFF;
	background: #1b1f23;
	border: 1px solid #1b1f23;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	font-size: 36px;
	font-weight: bold;
}
#plate_build_reset
{	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 10px;
}
#plate_build_reset a
{	display: block;
	background: url('../img/template/icon_reset.png') no-repeat top center;
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-indent: -9999px;
}
#cart_buttons
{	float: right;
	width: 160px;
	margin-top: 10px;
}
#cart_buttons #add_cart_button a, #cart_buttons #go_cart_button a
{	display: block;
	margin-bottom: 10px;
	color: #FFFFFF;
	background: #26ad60;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 10px;
	width: 100%;
	text-align: center;
}



@media (min-width: 768px) and (max-width: 1200px)
{	.builderoptions .buildertabs>li a
	{	padding: 8px 25px;
	}
	.builderoptions .plateTextContainer
	{	width: 250px;
	}
	.builderoptions .plateTextHelp
	{	width: 470px;
	}
	#fontlist li
	{	width: 235px;
		height: 48px;
	}
	#fontlist li img
	{	height: 27px;
	}
	.builderPlateCont .platepreview
	{	width: 500px;
	}
	.builderoptions .plateborder_builder_tip
	{	width: 50%;
	}
}
@media (max-width: 767px)
{	.builderPlateCont
	{	padding-top: 0px;
	}
	.builderPlateCont .platepreview, .builderPlateCont .plate_build_summary
	{	width: 90%;
		float: none;
		margin: 0px auto;
		border: none;
		padding: 10px;
	}
	.builderPlateCont .heading
	{	display: none;
	}
	.builderoptions
	{	border: none;
		border-top: 1px solid #26ad60;
		margin-top: 10px;
		padding: 0px;
	}
	.buildercat
	{	border-bottom: 1px solid #26ad60;
		padding: 10px;
	}
	#platesizelist > li
	{	margin: 10px 0px 10px -1px;
		padding: 0px 10%;
		width: 100%;
		float: none;
	}
	.builderoptions .plateTextContainer
	{	width: 100%;
		float: none;
		padding: 0px 0px 10px;
	}
	.builderoptions .plateTextHelp
	{	width: 100%;
		float: none;
		padding: 0px;
	}
	.borderOptionsContainer
	{	width: 100%;
		float: none;
		padding: 0px 0px 10px;
	}

	.builderoptions .plateborder_builder_tip
	{	width: 100%;
		float: none;
		padding: 0px 0px 10px;
	}
	.platebuilderPrice
	{	padding: 7px;
		-webkit-border-radius: 36px;
		-moz-border-radius: 36px;
		border-radius: 36px;
	}
	.platebuilderPrice>span
	{	padding: 3px;
		-webkit-border-radius: 26px;
		-moz-border-radius: 26px;
		border-radius: 26px;
	}
	.platebuilderPrice>span>span
	{	padding: 0px 20px;
		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		border-radius: 24px;
		font-size: 30px;
	}
}