.postHeaderContainer {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 150px 0;
}
.postHeaderContainer h1 {
	color: #ec277a;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
    margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
}
.postHeaderContainer p {
	color: #000;
	font-size: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
}
.postHeaderContainer p:last-child {
	padding-bottom: 0;
}
.postCategoryContainer {
	background: #4ca1d9;
}
.postCategoryContainer img {
	height: auto;
	width: 100%;
}
ul.postCountryFilter li {
	border-bottom: 2px solid #fff;
}
ul.postCountryFilter li a {
	color: #fff;
}
ul.postCountryFilter li a:hover {
	color: #ffd62c;
}
ul.postCountryFilter li a span {
	color: #ffd62c;
}
.postCategoryRight p {
	color: #fff;
	font-size: 20px;
	padding: 2em 0 0;
	line-height: 1.4;
}
@media (max-width: 360px) {
	.postHeaderContainer {
		padding: 75px 15px;
	}
	.postHeaderContainer h1 {
		font-size: 36px;
	}
	.postHeaderContainer p {
		font-size: 18px;
	}
	.postCategoryRight p {
		text-align: center;
		font-size: 16px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.postHeaderContainer {
		padding: 75px 25px;
	}
	.postHeaderContainer h1 {
		font-size: 36px;
	}
	.postHeaderContainer p {
		font-size: 20px;
	}
	.postCategoryRight p {
		text-align: center;
		font-size: 18px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.postHeaderContainer {
	}
	.postHeaderContainer h1 {
		font-size: 48px;
	}
	.postHeaderContainer p {
		font-size: 24px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
}