.postCategoryHeader {
	background-color: #fff;
	background-image: url('../img/template/our-stories-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 150px 0;
}
.postCategoryHeader h1 {
	color: #ffd62c;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
    margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
}
@media (max-width: 360px) {
	.postCategoryHeader {
		padding: 75px 15px;
	}
	.postCategoryHeader h1 {
		font-size: 36px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.postCategoryHeader {
		padding: 75px 25px;
	}
	.postCategoryHeader h1 {
		font-size: 36px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.postCategoryHeader h1 {
		font-size: 48px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.postCategoryHeader h1 {
		font-size: 48px;
	}

}
.postCategoryContainer {
	background: #fff;
	padding: 100px 0;
}
.postCategoryContainer .container_inner {
	padding: 0;
}
.postCategoryContainer a {
	text-decoration: none;
}
.postCategoryContainer a:hover {
	text-decoration: none;
}
.postCategoryContainer .pagination {
	margin-top: 75px;
	text-align: center;
}
.postCategoryLeft {
	float: left;
	width: 60%;
}
ul.postsList {}
ul.postsList li {
	padding: 50px 0;
}
ul.postsList li:first-child {
	padding-top: 0;
}
ul.postsList li:last-child {
	padding-bottom: 0;
}
.postListLeft {
	float: left;
	text-align: left;
	width: 30%;
}
.postListLeft a {
	display: block;
}
.postListLeft a img {
	border-radius: 50%;
	height: auto;
	width: 100%;
}
.postListLeft a img.image-size-og {
	border-radius: 0;
	display: none;
}
.postListRight {
	float: right;
	text-align: left;
	width: 60%;
}
.postListRight h2 {
	color: #ec277a;
	font-size: 28px;
	margin-bottom: 15px;
}
.postListRight h2 a {
	color: #ec277a;
}
.postListRight h2 a:hover {
	color: #ec277a;
}
.postListRight p {
	color: #231f20;
	font-size: 16px;
	line-height: 1.4;
}
.postListRight a.postListReadMore {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.postListRight a.postListReadMore:hover {
	background-color: transparent;
	border: 2px solid #ec277a;
	color: #ec277a;
}
.postCategoryRight {
	float: right;
	width: 30%;
}
ul.postCountryFilter {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom: 60px;
	margin-top: 60px;
}
ul.postCountryFilter li {
	border-bottom: 2px solid #58595b;
}
ul.postCountryFilter li a {
	color: #58595b;
	display: block;
	font-size: 28px;
	font-weight: 700;
	text-transform: capitalize;
	padding: 18px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul.postCountryFilter li a:hover {
	color: #ec277a;
}
ul.postCountryFilter li a span {
	color: #ec277a;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	text-transform: lowercase;
	padding: 0 0 18px;
	position: absolute;
	bottom: 0;
	right: 0;
}
ul.postCountryFilter li.selected {
	border-bottom: 1px solid #ec277a;
	color: #ec277a;

}
ul.postCountryFilter li.selected a {
	color: #ec277a;
}
ul.postCountryFilter li:first-child a {
	padding-top: 0px;
}
ul.postCountryFilter li:last-child a {

}
.postCountryOpener {
	display: none;
	color: #58595b;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
}
.postCountryOpener:hover {
	color: #ec277a;
}
.postCountryOpener i.icon-down-open {
	display: inline-block;
}
.postCountryOpener i.icon-up-open {
	display: none;
}
.postCategoryRight.postCategoryRightOpen .postCountryOpener i.icon-down-open {
	display: none;
}
.postCategoryRight.postCategoryRightOpen .postCountryOpener i.icon-up-open {
	display: inline-block;
}
.postCategoryRight.postCategoryRightOpen ul.postCountryFilter {
	display: block;
}

.postCategoryNone {
	color: #ec277a;
	font-size: 24px;
}

@media (max-width: 360px) {
	.postCategoryContainer {
		padding: 25px 0;
	}
	.postCategoryContainer .pagination {
		margin-top: 25px;
	}
	.postCategoryLeft,
	.postCategoryRight {
		display: block;
		float: none;
		width: 100%;
	}
	.postListLeft,
	.postListRight {
		display: block;
		float: none;
		width: 100%;
	}
	.postListRight {
		padding: 25px;
		text-align: center;
	}
	.postListRight h2 {}
	.postListRight p {
		font-size: 14px;
	}
	.postListRight a.postListReadMore {
		font-size: 14px;
	}
	.postListLeft a img.image-size-medium {
		display: none;
	}
	.postListLeft a img.image-size-og {
		display: block;
	}
	.postCategoryRight {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.postCountryOpener {
		display: block;
		font-size: 18px;
	}
	ul.postCountryFilter {
		display: none;
		padding: 30px 0 0;
	}
	ul.postCountryFilter li a {
		font-size: 18px;
		padding: 10px 0;
	}
	ul.postCountryFilter li a span {
		font-size: 14px;
		padding-bottom: 10px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.postCategoryContainer {
		padding: 50px 0;
	}
	.postCategoryContainer .pagination {
		margin-top: 25px;
	}
	.postCategoryLeft,
	.postCategoryRight {
		display: block;
		float: none;
		width: 100%;
	}
	.postListLeft,
	.postListRight {
		display: block;
		float: none;
		width: 100%;
	}
	.postListRight {
		padding: 25px;
		text-align: center;
	}
	.postListLeft a img.image-size-medium {
		display: none;
	}
	.postListLeft a img.image-size-og {
		display: block;
	}
	.postCategoryRight {
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 45px;
	}
	.postCountryOpener {
		display: block;
		font-size: 20px;
	}
	ul.postCountryFilter {
		display: none;
		padding: 30px 0 0;
	}
	ul.postCountryFilter li a {
		font-size: 18px;
		padding: 10px 0;
	}
	ul.postCountryFilter li a span {
		font-size: 14px;
		padding-bottom: 10px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.postCategoryContainer {
		padding: 75px 0;
	}
	.postCategoryLeft,
	.postCategoryRight {
		display: block;
		float: none;
		width: 100%;
	}
	.postCategoryRight {
		padding-bottom: 45px;
	}
	.postCountryOpener {
		display: block;
	}
	ul.postCountryFilter {
		display: none;
		padding: 30px 0;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
}

.postDetailsContainer {
	background: #fff;
	padding: 100px 0;
}
.postDetailsContainer .container_inner {
	padding: 0;
}
.postDetailsLeft {
	float: left;
	position: relative;
	width: 50%;
	padding-right: 30px;
}
.postDetailsLeft > a {
	display: block;
	float: left;
	padding: 15px;
	width: 100%;
}
.postDetailsLeft > a.popup-image-size-full {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.postDetailsLeft > a.popup-image-size-medium {
	width: 50%;
}
.postDetailsLeft > a.popup-image-size-medium:nth-last-of-type(odd){
	padding-left: 0;
}
.postDetailsLeft > a.popup-image-size-medium:nth-last-of-type(even){
	padding-right: 0;
}
.postDetailsLeft img {
	height: auto;
	max-width: 100%;
	width: 100%;
}
.postDetailsLeft img {
	height: auto;
	max-width: 100%;
}
.postLeftVideos,
.postRightPanelVideos {
	margin-top: 30px;
	border-top: 2px solid #58595b;
}
.postLeftVideos h3,
.postRightPanelVideos h3 {
	color: #ec277a;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	padding: 30px 0;
	margin: 0;
	text-transform: capitalize;
}
.postLeftVideos .postMainVideo,
.postRightPanelVideos .postMainVideo {
	width: 100%;
	margin: 0px auto;
}
.postLeftVideos .postMainVideo .videoImgLink,
.postRightPanelVideos .postMainVideo .videoImgLink {
	display: block;
	position: relative;
}
.postLeftVideos .postMainVideo .videoImgLink:after,
.postRightPanelVideos .postMainVideo .videoImgLink:after {
	background: url('../img/template/youtube_play.png') no-repeat center center;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.postLeftVideos .postMainVideo .videoImgLink img,
.postRightPanelVideos .postMainVideo .videoImgLink img {
	width: 100%;
	height: auto;
}
.postLeftVideos .postMainVideo h4,
.postRightPanelVideos .postMainVideo h4 {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0;
}
.postLeftVideos .postMainVideo h4 a,
.postRightPanelVideos .postMainVideo h4 a {
	text-decoration: none;
}
.postLeftVideos .postMainVideo p,
.postRightPanelVideos .postMainVideo p {
	font-size: 14px;
}
.postLeftVideos .videsoMoreLink a,
.postRightPanelVideos .videsoMoreLink a {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.postListRight a.postListReadMore:hover {
	background-color: transparent;
	border: 2px solid #ec277a;
	color: #ec277a;
}
.postDetailsRight {
	float: right;
	position: relative;
	width: 50%;
	padding-left: 30px;
}
.postDetailsRight h1 {
	color: #ec277a;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.1;
	padding: 0 0 30px;
	margin: 0;
	text-transform: capitalize;
}
.postDetailsRight p {
	color: #1d1d1b;
	font-size: 20px;
	line-height: 1.3;
	padding: 0 0 20px;
	margin: 0;
}
.postDetailsRight .share-button {
	background-color: transparent;
	border: 2px solid #58595b;
	color: #58595b;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.postDetailsRight .share-button:hover {
	background-color: transparent;
	border: 2px solid #ec277a;
	color: #ec277a;
}
.postRightPanel {
	background: #f2f2f2;
	padding: 30px;
	margin-bottom: 30px;
}
.postRightPanel h3 {
	color: #ec277a;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 60px;
	line-height: 1.1;
	position: relative;
}
.postRightPanel h3:after {
	border: 2px solid #fff;
	content: "";
	position: absolute;
	bottom: 30px;
	left: -30px;
	right: -30px;
}
.postRightPanel p {
	color: #231f20;
	font-size: 16px;
	line-height: 1.4;
	padding: 0 0 1em;
}
.postRightPinkWell {
	border: 2px solid #ec277a;
	padding: 30px;
	margin-bottom: 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.postRightPinkWell p {
	color: #ec277a;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}
@media (max-width: 360px) {
	.postDetailsContainer {
		padding: 25px 0;
	}
	.postDetailsLeft {
		float: none;
		padding: 0;
		width: 100%;
	}
	.postDetailsLeft > a {
		padding: 6px;
	}
	.postDetailsRight {
		float: none;
		padding: 0 15px 0 15px;
		width: 100%;
	}
	.postDetailsRight h1 {
		font-size: 30px;
		text-align: center;
	}
	.postDetailsRight p {
		font-size: 16px;
	}
	.postLeftVideos h3,
	.postRightPanelVideos h3 {
		text-align: center;
		font-size: 24px;
	}
	.postLeftVideos .postMainVideo h4,
	.postLeftVideos .postMainVideo p,
	.postLeftVideos .videsoMoreLink,
	.postRightPanelVideos .postMainVideo h4,
	.postRightPanelVideos .postMainVideo p,
	.postRightPanelVideos .videsoMoreLink {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	.postRightPanel h3 {
		text-align: center;
		font-size: 24px;
	}
	.postRightPanel p {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
	.postRightPinkWell {
		text-align: center;
	}
	.postRightPinkWell p {

	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.postDetailsContainer {
		padding: 50px 0;
	}
	.postDetailsLeft {
		float: none;
		padding: 0;
		width: 100%;
	}
	.postDetailsRight {
		float: none;
		padding: 0 25px 0 25px;
		width: 100%;
	}
	.postDetailsRight h1 {
		font-size: 30px;
		text-align: center;
	}
	.postDetailsRight p {
		font-size: 16px;
	}
	.postLeftVideos h3,
	.postRightPanelVideos h3  {
		text-align: center;
		font-size: 24px;
	}
	.postLeftVideos .postMainVideo h4,
	.postLeftVideos .postMainVideo p,
	.postLeftVideos .videsoMoreLink,
	.postRightPanelVideos .postMainVideo h4,
	.postRightPanelVideos .postMainVideo p,
	.postRightPanelVideos .videsoMoreLink {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.postDetailsContainer {
		padding: 75px 0;
	}
	.postDetailsRight h1 {
		font-size: 30px;
	}
	.postDetailsRight p {
		font-size: 16px;
	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.postDetailsRight h1 {
		font-size: 36px;
	}
}