.postDetailsHeader {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 150px 0;
}
.postDetailsHeader h1 {
	color: #ffd62c;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
    margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
}
.postCategoryLeft h3 {
	color: #ec277a;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 1em;
	line-height: 1.1;
}
.postCategoryLeft p {
	color: #231f20;
	font-size: 16px;
	line-height: 1.4;
	padding: 0 0 1em;
}
.button {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.6em auto 0;
	padding: 12px 45px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button:hover {
	text-decoration: none;
}
.button-white-outline {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
@media (max-width: 360px) {
	.postDetailsHeader {
		padding: 75px 15px;
	}
	.postDetailsHeader h1 {
		font-size: 36px;
	}
	.postCategoryLeft {
		padding: 0 15px 0 15px;
	}
	.postCategoryLeft h3 {
		text-align: center;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.postDetailsHeader {
		padding: 75px 25px;
	}
	.postDetailsHeader h1 {
		font-size: 36px;
	}
	.postCategoryLeft {
		padding: 0 25px 0 25px;
	}
	.postCategoryLeft h3 {
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.postDetailsHeader h1 {
		font-size: 48px;
	}
	.postCategoryLeft {
		float: left;
		width: 60%;
	}
	.postCategoryRight {
		float: right;
		width: 30%;
	}
	.postCategoryRight {

	}
}
@media (min-width: 1201px) and (max-width: 1500px){
	.postDetailsHeader h1 {
		font-size: 48px;
	}
	.postCategoryLeft {

	}

}
