#ffContainer
{	margin-top: 60px;
	float: left;
	border: 1px solid #26ad60;
	padding: 20px 15px 10px;
	width: 260px;
}
#ffContainer h1
{	
}
#ffContainer form h2
{	text-transform: uppercase;
	font-size: 18px;
	color: #1b1f23;
}
#ffContainer form>.ffList, #ffContainer form>.ffListOpen
{	border-bottom: 1px solid #cbcbcb;
	width: 230px;
	padding: 5px 0px;
}
#ffContainer form>.ffList:last-child, #ffContainer form>.ffListOpen:last-child
{	border-bottom: none;
}
#ffContainer form>.ffList>h2>a, #ffContainer form>.ffListOpen>h2>a
{	display: inline-block;
	background: url('../img/template/fflist_plus.png') no-repeat center right;
	width: 230px;
	color: #1b1f23;
}
#ffContainer form>.ffListOpen>h2>a
{	background: url('../img/template/fflist_minus.png') no-repeat center right;
}
#ffContainer form .ffList .ffListInner
{	display: none;
}
#ffContainer form .ffListOpen .ffListInner
{	display: block;
}
#ffContainer form #ffCatList .ffListInner ul li
{	font-size: 12px;
	padding: 3px 0px;
	color: #1b1f23;
}
#ffContainer form #ffCatList .ffListInner>ul>li>a
{	
}
#ffContainer form #ffCatList .ffListInner ul li ul li
{	padding-left: 30px;
}
#ffContainer form #ffCatList .ffListInner ul li ul li a
{
	
}
#ffContainer form #ffCatList .ffListInner ul li a.ffCatSelected
{	font-weight: bold;
	font-size: 14px;
}
#ffContainer form #ffCatList .ffListInner>ul>li.ffList>a.ffCatOpener, #ffContainer form #ffCatList .ffListInner>ul>li.ffListOpen>a.ffCatOpener
{	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url('../img/template/fflist_plus.png') no-repeat top center;
	overflow: hidden;
	text-indent: -999px;
}
#ffContainer form #ffCatList .ffListInner>ul>li>.ffcatSpacer
{	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
#ffContainer form #ffCatList .ffListInner>ul>li.ffListOpen>a.ffCatOpener
{	background: url('../img/template/fflist_minus.png') no-repeat top center;
}
#ffContainer form #ffCatList .ffListInner>ul>li.ffList>ul
{	display: none;
}
#ffContainer form #ffCatList .ffListInner>ul>li.ffListOpen>ul
{	display: block;
}
#ffContainer form .ffListInner ul li input[type="checkbox"]
{	display: block;
	float: left;
	margin: 5px 0px 0px 20px;
}
#ffContainer form .ffListInner ul li label
{	display: block;
	float: left;
	width: 130px;
	padding: 3px 0px 3px 10px;
}
#ffContainer form #ffSearchBox input[type="text"]
{	padding: 5px;
	width: 160px;
}
#ffResults
{	float: right;
	width: 870px;
	margin-top: 60px;
}
#ffResults .ffrBanner
{	width: 100%;
	margin-bottom: 15px;
}
#ffResults .ffrBanner img
{	width: 100%;
}
#ffResults #ffrProducts ul li
{	float: left;
	width: 198px;
	padding: 0px 0px 50px;
	margin-right: 26px;
	margin-bottom: 15px;
	text-align: center;
}
#ffResults #ffrProducts ul li .ffrImageContainer
{	width: 198px;
	height: 198px;
	position: relative;
	margin: auto;
}
#ffResults #ffrProducts ul li .ffrImageContainer .ffrImageInner
{	position: absolute;
	top: 6px;
	left: 6px;
	width: 186px;
	height: 186px;
}
#ffResults #ffrProducts ul li .ffrImageContainer .ffrImageInner img
{	width: 100%;
}
#ffResults #ffrProducts ul li .ffrImageContainer .ffrImageOverlay
{	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 198px;
	height: 198px;
	border: 1px solid #26ad60;
}
#ffResults #ffrProducts ul li .ffrProdText
{	padding: 15px 5px;
	height: 36px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
}
#ffResults #ffrProducts ul li .ffrProdPrice
{	display: inline-block;
	position: relative;
	width: 158px;
}
#ffResults #ffrProducts ul li .ffrProdPrice .ffrProdPriceLeft
{	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	height: 38px;
	padding: 6px 15px 0px 15px;
	background: #cbcbcb;
	color: #1b1f23;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
}
#ffResults #ffrProducts ul li .ffrProdPrice .ffrProdPriceRight
{	display: inline-block;
	position: absolute;
	top: 0px;
	left: 120px;
	height: 38px;
	width: 38px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}
#ffResults #ffrProducts ul li .ffrProdPrice .ffrProdPriceRight a
{	display: block;
	height: 38px;
	width: 38px;
	background: #26ad60 url('../img/template/cart_white.png') no-repeat center center;
}

#ffResults .pagination
{	
}
#ffResults .pagination>a
{	display: inline-block;
	width: 60px;
	height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #26ad60;
	color: #FFFFFF;
	background-color: #26ad60;
	padding: 6px;
	font-weight: bold;
}
#ffResults .pagination span
{	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center
}
#ffResults .pagination span.paginlink
{	padding: 0px;
}
#ffResults .pagination span a
{	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #26ad60;
	color: #FFFFFF;
	background-color: #26ad60;
	padding: 6px;
	font-weight: bold;
}
.searchLoader
{	width: 100%;
	height: 220px;
	background: url('../img/loading/loading1.gif') no-repeat center center;
}

.tffHeader
{	padding: 1px 0px 5px;
}
.tffHeader h2
{	float: left;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #26ad60;
}
.tffHeader .tffOpener
{	float: right;
	display: block;
	background: #26ad60;
	color: #FFF;
	text-transform: uppercase;
	padding: 15px 5px 15px 10px;
	font-size: 14px;
	font-weight: bold;
}


.tffMenu
{	display: none;
	background: rgba(0,0,0, 0);
}
.tffMenu .mm-navbar
{	background: #26ad60
}
.tffMenu .mm-navbar.mm-navbar-top
{	background: #26ad60;
	color: #ffffff;
}
.tffMenu .mm-navbar .mm-title
{	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.tffMenu .mm-navbar .mm-title a
{	color: #ffffff;
}
.tffMenu .mm-navbar .mm-title a i
{	margin-right: 10px;
	font-size: 16px;
}
.tffMenu .mm-close::after
{	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}
.tffMenu .mm-listview > li:not(.mm-divider)::after
{	left: 0px;
	border-bottom: 1px solid #FFFFFF;
}
.tffMenu .mm-listview > li
{	background-color: #26ad60;
	/*background-color: rgba(38, 173, 96, 0.3);*/
}
.tffMenu .mm-listview > li.tffCatSelectLink.tffCatSelected, .tffMenu .mm-listview > li.tffCatSelectLink.tffCatSelected a
{	text-shadow: 0 0 8px #CCCCCC;
}
.tffMenu .mm-listview > li > a
{	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: normal;
}
.tffMenu .mm-listview > li > span
{	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: normal;
}
.tffMenu .mm-listview > li > span > input[type="checkbox"]
{	margin-right: 10px;
}
.tffMenu .mm-listview > li > span > input[type="text"]
{	width: 80%;
	border: 1px solid #26ad60;
	padding: 3px 10px;
	background-color: #ebebeb;
}
.tffMenu .mm-listview > li .mm-prev::before, .tffMenu .mm-listview > li .mm-next::after, .tffMenu .mm-listview > li .mm-arrow::after
{	border-color: rgba(255, 255, 255, 1) !important;
}

.tffMenu .mm-listview .mm-vertical .mm-panel
{	padding: 0px;
}
.tffMenu .mm-listview .mm-vertical .mm-panel li
{	padding-left: 20px;
}

.tffMenu .mm-navbar.mm-navbar-bottom
{	display:none;
}
/*.mm-listview .mm-next.mm-fullsubopen::before {
    border-left: medium none;
}
.mm-listview .mm-next::before {
    border-left-style: solid;
    border-left-width: 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.mm-menu .mm-listview > li .mm-prev::before, .mm-menu .mm-listview > li .mm-next::after, .mm-menu .mm-listview > li .mm-arrow::after, .mm-menu .mm-navbar .mm-btn::before, .mm-menu .mm-navbar .mm-btn::after*/
@media (min-width: 1201px)
{	#ffResults #ffrProducts ul li:nth-child(4n)
	{	margin-right: 0px;
	}
}
@media (min-width: 768px) and (max-width: 1200px)
{	#ffResults
	{	width: 500px;
	}
	#ffResults #ffrProducts ul li
	{	width: 160px;
		margin-right: 10px;
	}
	#ffResults #ffrProducts ul li:nth-child(3n)
	{	margin-right: 0px;
	}
	#ffResults #ffrProducts ul li .ffrImageContainer
	{	width: 160px;
		height: 160px;
	}
	#ffResults #ffrProducts ul li .ffrImageContainer .ffrImageInner
	{	position: absolute;
		top: 4px;
		left: 4px;
		width: 152px;
		height: 152px;
	}
	#ffResults #ffrProducts ul li .ffrImageContainer .ffrImageOverlay
	{	width: 160px;
		height: 160px;
	}
}
@media (max-width: 767px)
{	#ffResults
	{	width: 96%;
		float: none;
		margin: auto;
	}
	#ffResults #ffrProducts ul li
	{	width: 100%;
		text-align: center;
		border-bottom: 2px solid #26ad60;
	}
}
