#prodDispLeft
{	float: left;
	width: 536px;
	margin-top: 30px;
}
#prodDispLeft #prodDispMainImage img
{	width: 436px;
}
#prodDispLeft #prodDispMainImage img
{	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 436px;
}
#prodDispImageSlider
{	padding: 20px 0px;
}
#prodDispImageSlider .flexslider li
{	padding: 0px 12px 0px 0px;
}
#prodDispImageSlider .flexslider .flex-direction-nav li a:before
{	display:none;
}
#prodDispImageSlider .flexslider .flex-direction-nav li a.flex-prev
{	background: url('../img/template/hpslider_left.png') no-repeat center center;
	margin-left: -20px;
    margin-top: -20px;
    opacity: 0.5 !important;
    left: 0 !important;
}
#prodDispImageSlider .flexslider .flex-direction-nav li a.flex-next
{	background: url('../img/template/hpslider_right.png') no-repeat center center;
	margin-right: -20px;
    margin-top: -20px;
    opacity: 0.5 !important;
    right: 0 !important;
}
#prodDispImageSlider .flexslider li a img
{	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#prodDispRight
{	float: right;
	width: 520px;
	margin-top: 30px;
}
#prodDispRight h2, #prodDispRight h1
{	color: #1b1f23;
	font-size: 39px;
	letter-spacing: 0.1em;
}
#prodDispRight .prodDispDesc
{	padding: 40px 0px 20px;
}
#prodDispRight .prodDispDesc h3
{	font-size: 16px;
	font-weight: bold;
}
#prodDispRight .prodDispDesc p
{	padding: 0px 0px 10px !important;
}
#prodDispRight .prodExtraInfo
{	margin: 0px;
	padding: 10px 0px;
}
#prodDispRight .prodExtraInfo label
{	display: block;
	margin: 0px 0px 10px;
	font-size: 16px;
	font-weight: bold;
	float: none;
}
#prodDispRight .prodExtraInfo input[type="text"], #prodDispRight .prodExtraInfo select
{	display: block;
	padding: 5px;
	width: 310px;
	float: none;
}

#prodDispRight #prodPriceBox
{	padding: 10px 0px 20px;
}
#prodDispRight #prodPriceBox label
{	display: block;
	float: left;
	padding: 8px 10px 0px 0px;
	font-size: 18px;
	font-weight: bold;
}
#prodDispRight #prodPriceBox input[type="text"]
{	width: 50px;
	height: 38px;
	border-radius: 8px;
	text-align: right;
	margin-right: 10px;
}

#prodDispRight #prodPriceBox .ffrProdPrice
{	display: inline-block;
	position: relative;
	width: 158px;
}
#prodDispRight #prodPriceBox .ffrProdPrice .ffrProdPriceLeft
{	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	height: 38px;
	padding: 6px 15px 0px 15px;
	background: #cbcbcb;
	color: #1b1f23;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
}
#prodDispRight #prodPriceBox .ffrProdPrice .ffrProdPriceRight
{	display: inline-block;
	position: absolute;
	top: 0px;
	left: 120px;
	height: 38px;
	width: 38px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}
#prodDispRight #prodPriceBox .ffrProdPrice .ffrProdPriceRight a
{	display: block;
	height: 38px;
	width: 38px;
	background: #26ad60 url('../img/template/cart_white.png') no-repeat center center;
}

@media (min-width: 768px) and (max-width: 1200px)
{	#prodDispLeft
	{	width: 328px;
	}
	#prodDispLeft #prodDispMainImage
	{	width: 328px;
	}
	#prodDispLeft #prodDispMainImage img
	{	width: 328px;
	}
	#prodDispRight
	{	width: 340px;
	}
}
@media (max-width: 767px)
{	#prodDispLeft
	{	width: 100%;
		max-width: 300px;
		margin: auto;
		float: none;
	}
	#prodDispLeft #prodDispMainImage
	{	width: 100%;
	}
	#prodDispLeft #prodDispMainImage img
	{	width: 100%;
	}
	#prodDispRight
	{	width: 100%;
	}
	.flex-direction-nav
	{	display: none;
	}
	#prodDispRight .prodExtraInfo input[type="text"], #prodDispRight .prodExtraInfo select
	{	width: 100%;
	}
	#prodDispRight #prodPriceBox .ffrProdPrice
	{	margin-top: 15px;
	}
}