/*.proddetails
{	float: left;
	margin: 0px 5px;
}
.prod_img
{	width: 150px;
}
.prod_img img
{	width: 150px;
}
.prod_desc
{	width: 300px;
}
.prod_price
{	width: 96px;
	padding: 5px 10px;
	background: #4d4d4d url('../img/template/pricebox_bg.png') repeat-x bottom left;
	font-family: 'SF Automaton Oblique', Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 0.15em;
	text-align: right;
	border: 2px solid #646464;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.prod_actions
{	width: 150px;
}
.prod_actions a
{	
	display: block;
	font-size: 18px;
	font-family: 'SF Automaton Oblique', Arial, Helvetica, sans-serif;
	letter-spacing: 0.15em;
	background: #6b6b6b url('../img/template/button_red_bg.png') repeat-x bottom left;
	padding: 6px 10px 0px;
	height: 32px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
#prodGoCartLink
{	padding: 0px 40px 20px;
}
#prodGoCartLink a
{	float: left;
}*/
