.pageContentQuickDonate
{	padding: 35px 0px;
	background-color: #e1202c;
	text-align: center;
}
.pageContentQuickDonate form
{	margin: 0px auto;
	width: 680px;
	position: relative;
	height: 51px;
}
.pageContentQuickDonate form span
{	display: inline-block;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	width: 40px;
	text-align: center;
	margin-left: 20px;
}
.qdFormAmountContainer
{	background: #FFF;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 213px;
	position: absolute;
	top: 0px;
	left: 280px;
	height: 51px;
}
.qdFormCurSymbol
{	display: block;
	float: left;
	color: #000;
	font-weight: bold;
	font-size: 15px;
	width: 33px;
	text-align: right;
	position: relative;
	padding-top: 16.5px;
}
.qdFormElementDivider
{	width: 2px;
	height: 37px;
	background: #d9d9d9;
	position: relative;
	float: left;
	margin: 7px 0px 0px 0px;
}
.pageContentQuickDonate .infusion-field
{	flex: 1;
	margin: 0px;
	position: relative;
}
.pageContentQuickDonate .infusion-submit
{	flex: 1;
	margin: 0px 0px 0px 23px;
	width: 164px;
	position: relative;
}

.pageContentQuickDonate form .infusion-field.qdFormElementType
{	background: #FFF;
	height: 51px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 259px;
	position: relative;
	float: left;
	margin-right: 21px;
}
.pageContentQuickDonate form .infusion-field.qdFormElementCurrency
{	float: left;
	width: 89px;
	height: 51px;
}
.pageContentQuickDonate form .infusion-field.qdFormElementCurrency select
{	background: transparent;
	border: none;
	width: 89px;
	height: 51px;
	position: relative;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	padding: 0px 18px 0px 13px;
}
.pageContentQuickDonate .infusion-field input.infusion-field-input-container
{
	background: transparent;
	border: none;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	height: 51px;
	margin: 0;
	padding: 0px;
	width: 86px;
	position: relative;
	text-align: left;
	float: left;
	margin-left: 3px;
}
.pageContentQuickDonate .infusion-field select.infusion-field-input-container {
	padding: 0px 17px;
	background: transparent;
	border: none;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	z-index: 2;
	width: 259px;
	height: 51px;
}
.pageContentQuickDonate .infusion-field select.infusion-field-input-container option {
	background: #fff;
	color: #000;
}

.pageContentQuickDonate .infusion-field .select-arrow
{	color: #000;
	font-size: 28px;
	position: absolute;
	top: 8px;
	right: 0px;
	z-index: 1;
	height: 28px;
}
.pageContentQuickDonate .infusion-field.qdFormElementCurrency .select-arrow
{	right: 0px;
}
.pageContentQuickDonate .infusion-field .select-arrow:before {
	color: #000;
}


.pageContentQuickDonate .infusion-field input.infusion-field-input-container::-webkit-input-placeholder {
	color: #c7c7c7;
	opacity: 1;
}
.pageContentQuickDonate .infusion-field input.infusion-field-input-container:-moz-placeholder {
	color: #c7c7c7;
	opacity: 1;
}
.pageContentQuickDonate .infusion-field input.infusion-field-input-container::-moz-placeholder {
	color: #c7c7c7;
	opacity: 1;
}
.pageContentQuickDonate .infusion-field input.infusion-field-input-container:-ms-input-placeholder {
	color: #c7c7c7;
	opacity: 1;
}
.pageContentQuickDonate .infusion-submit
{	float: left;
	height: 51px;
	width: 164px;
	margin-left: 23px;
}
.pageContentQuickDonate .infusion-submit input {
	background: #e1202c;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	height: 51px;
	border: 2px solid #FFF;
	width: 164px;
	-webkit-appearance: none;
}
@media (max-width: 767px)
{	.container.pageContentQuickDonate .container_inner
	{	padding: 0px 10px;
	}
	.pageContentQuickDonate form
	{	width: 100%;
		height: auto;
	}
	.qdFormAmountContainer
	{	width: 100%;
		position: absolute;
		top: 69px;
		left: 0px;
		height: 51px;
	}
	.pageContentQuickDonate form .infusion-field.qdFormElementType
	{	width: 100%;
		position: relative;
		float: none;
		margin-right: 0px;
		margin-bottom: 18px;
	}
	.pageContentQuickDonate .infusion-field select.infusion-field-input-container
	{	width: 100%;
	}
	.pageContentQuickDonate .infusion-submit
	{	float: none;
		width: 100%;
		margin-left: 0px;
		margin-top: 18px;
	}
	.pageContentQuickDonate .infusion-submit input
	{	width: 100%;
	}
	.pageContentQuickDonate form .infusion-field.qdFormElementCurrency
	{	width: 42%;
	}
	.pageContentQuickDonate form .infusion-field.qdFormElementCurrency select
	{	width: 100%;
	}
	.qdFormCurSymbol
	{	width: 15%;
	}
	.pageContentQuickDonate .infusion-field input.infusion-field-input-container
	{	width: 41%;
	}
}
