/*******************************
* Fonts
********************************/
/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* Local fonts */
@font-face {
  font-family: Akzidenz Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Regular-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Medium Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Med-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Bold Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Bold-Regular.otf") format("opentype");
}

@font-face {
  font-family: Neusa Next Pro Compact Medium;
  src: url("../fonts/Neusa-Next-Pro-Compact-Medium.otf") format("opentype");
}

/*******************************
* Navbar Section
********************************/

.navbar {
  background-color: #E53B82;
min-height: 100px;
color: #ffffff;
}



.navbar a{
color: #ffffff;
font-family: "Akzidenz Regular";
font-size: 18px;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}


.cr-donate-mainmenu{
  background-color: #00A99D;
  color: #ffffff;
  min-height: 100px;
  position: absolute;
  top: 0;
  
}

.cr-donate-mainmenu:hover{
  background-color: #58595B;
  color: #ffffff;
  min-height: 100px;
  position: absolute;
  top: 0;
}

a.cr-donate-mainmenu span{
  margin-top: 10px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Neusa Next Pro Compact Medium;
  font-size: 40px;
}


@media (max-width:1199px)
{

  .cr-donate-mainmenu{
    background-color: #E53B82;
    color: #ffffff;
    min-height: 0px;
    position: inherit;
    top: 0;
  }
  
  .cr-donate-mainmenu:hover{
    background-color: #E53B82;
    color: #ffffff;
    min-height: 0px;
    position: inherit;
    bottom: 0;
  }
  
  a.cr-donate-mainmenu span{
    margin-top: 0px;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .hvr-pop, .hvr-grow {
    display: inline-block;
  }

}
/* SOcial Media icons in top bar */
.social-icon{
  display: inline;
  
}


.social-icons
{
  padding-left:0;
  list-style:none;
  display:inline;
  margin-left: 200px;
}


@media (max-width:1199px)
{
  .social-icons
{
  padding-left:0;
  list-style:none;
  display:inline;
  margin-left: 0px;
}
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#ffffff;
  color:#E53B82;
  font-size:16px;
  display:inline-block;
  line-height:18px;
  width:35px;
  height:35px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}


/*******************************
* Header Section
********************************/
.ir-counter-card
{
    position:absolute;
    top: -60px;
    left: 0;
    right: 0;
}

@media (max-width:1199px)
{

  .ir-counter-card
  {
      position:relative;
      top: -40px;
      left: 0;
      right: 0;
  }
}

@media (max-width:575px)
{
  .ir-counter-card
  {
      position:relative;
      top: -20px;
      left: 0;
      right: 0;
  }
}


/*******************************
* Intro Section
********************************/

.cr-intro{

  margin-top: 200px;
  margin-bottom: 100px;
}


@media (max-width:1199px)
{

  .cr-intro{

    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width:575px)
{
  .cr-intro{

    margin-top: 20px;
    margin-bottom: 50px;
  }
}



/*******************************
* Video Section
********************************/




.cr-pakistan{

  margin-top: 100px;
  margin-bottom: 100px;
}

.cr-bangladesh{

  margin-top: 100px;
  margin-bottom: 100px;
}

/*******************************
* Text
********************************/
.cr-txt-1{

  font-family: Neusa Next Pro Compact Medium;
  color: #D31359;
  font-size: 40px;
}

.cr-txt-2{
  font-family: Akzidenz Regular;
  color: #4C4C4C;
  font-size: 24px;

}

.cr-txt-3{
  color: #08ACA0;
  font-family: Akzidenz Bold Regular;
  font-size: 24px;

}

.cr-txt-4{
  font-family: Neusa Next Pro Compact Medium;
  color: #D31359;
  font-size: 28px;

}

.cr-txt-5{

}


.cr-support-mb{
margin-bottom: 150px;
}

/*******************************
* Search subs bar
********************************/
.cr-sub-bar{
  margin-top: 250px;
  margin-bottom: 100px;
  background-color: #E53B82;
}

.cr-sub-bar-text{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 24px;
}

.cr-sub-bar-formfield{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0;
  border: 0;
}




.cr-sub-bar-btn{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  background-color: #00A99D;
  min-height: 100px;
  position: relative;

  
}

.cr-sub-bar-btn:hover{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  background-color: #58595B;
  min-height: 100px;
  position: relative;
  top: 0;
  
}


@media (max-width:1199px)
{

  .cr-sub-bar{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #E53B82;
  }

  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 70px;
    position: relative;
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 70px;
    position: relative;
    top: 0;
    
  }
 
}

@media (max-width:575px)
{

  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 70px;
    position: relative;
   
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 70px;
    position: relative;
    top: 0;
    
  }

  .cr-subform-filed-margin{
    margin-right: 30px;
  }
  
}

@media (max-width:514px)
{

  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 50px;
    position: relative;
    top: 0;
    
  }


  .cr-subform-filed-margin{
    margin-right: 0px;
  }
  
}