img {
	max-width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Blackout';
    src: url('../font/Blackout-Midnight.eot');
    src: url('../font/Blackout-Midnight.eot?#iefix') format('embedded-opentype'),
        url('../font/Blackout-Midnight.woff2') format('woff2'),
        url('../font/Blackout-Midnight.woff') format('woff'),
        url('../font/Blackout-Midnight.ttf') format('truetype'),
        url('../font/Blackout-Midnight.svg#Blackout-Midnight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff'),
        url('../font/Poppins-Regular.ttf') format('truetype'),
        url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.eot');
    src: url('../font/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Light.woff2') format('woff2'),
        url('../font/Poppins-Light.woff') format('woff'),
        url('../font/Poppins-Light.ttf') format('truetype'),
        url('../font/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.eot');
    src: url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff'),
        url('../font/Poppins-SemiBold.ttf') format('truetype'),
        url('../font/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins.eot');
    src: url('../font/Poppins.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins.woff2') format('woff2'),
        url('../font/Poppins.woff') format('woff'),
        url('../font/Poppins.ttf') format('truetype'),
        url('../font/Poppins.svg#Poppins') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.eot');
    src: url('../font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff'),
        url('../font/Poppins-Medium.ttf') format('truetype'),
        url('../font/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}









body {
	font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color:#e51b80; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}

header {
	position: absolute;
	width: 100%;
    z-index: 2;
    transition: all 1s ease;
}
.navbar-collapse {
	justify-content: center;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 10px;
	padding: 0 24px;
	font-family: 'Poppins', sans-serif;
}
.hero-banner {
	background-image: url(../img/homeimages/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 75px;
}
.hero-banner.donate-hero-banner {
    background-image: url(../img/hero-bg-old.jpg);
}
/*.hero-banner:before {
	content: '';
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}*/
.nav-tabs {
	border-bottom: 0;
}



.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color:transparent;
}
.hero-tabs {
	/*width: 50%;*/
	/*background-color: #ccc5c2;
	padding: 15px;
	display: inline-block;*/
}
.nav-tabs .nav-link.active {
	border-radius: 0;
    border: none;
    background-color: #e51b80;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    color: #e51b80;
    font-weight: bold;
    padding: 15.5px 70px;
    flex: 0 0 48%;
    margin: 0 1%;
    text-align: center;
}
/*.nav-tabs .nav-link:nth-child(1) {
	margin-left:0; 
	margin-right: 10px;
}*/
.nav-tabs .nav-link:nth-child(2) {
	margin: 0;	
	flex: 0 0 50%;
}
li.nav-item.donate-btn {
    background-color: #e61881;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
li.nav-item.donate-btn:hover .donate-link {
    color: #fff !important;
}
.sticky .donate-btn{
	background-color: #f9c522  !important ;
}
li.nav-item.donate-btn:hover,li.nav-item.donate-btn:focus {
    background-color: #e51b80!important;
    transition: all 0.5s ease-in-out;
}
.navbar-light .navbar-nav .nav-item {
    position: relative;
    /*display: flex;*/
}
.navbar-light .navbar-nav .nav-item:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fac724;
    transition: width 0.3s;
    margin: 0 auto;
}
.navbar-light .navbar-nav .nav-item:hover:after {
    width: 100%;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #fac724;
}



.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.navbar-toggler {
    width: 48px;
    height: 36px;
}
.navbar-toggler.collapsed span:nth-child(1) {
    -webkit-transform: rotate(0) translateY(0px);
    -moz-transform: rotate(0) translateY(0px);
    -o-transform: rotate(0) translateY(0px);
    transform: rotate(0) translateY(0px);
    position: relative;
}

.navbar-toggler.collapsed span:nth-child(3) {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    -moz-transform: rotate(0) translateY(0) translateX(0);
    -o-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    position: relative;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
    -webkit-transform: rotate(135deg) translateY(0px);
    -moz-transform: rotate(135deg) translateY(0px);
    -o-transform: rotate(135deg) translateY(0px);
    transform: rotate(135deg) translateY(0px);
    position: absolute;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
    -webkit-transform: rotate(-135deg) translateY(9px) translateX(8px);
    -moz-transform: rotate(-135deg) translateY(9px) translateX(8px);
    -o-transform: rotate(-135deg) translateY(9px) translateX(8px);
    transform: rotate(-135deg) translateY(9px) translateX(8px);
    position: absolute;
}


a.navbar-brand img {
    width: 110px;
}


header.sticky {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #e61881;
    z-index: 9800;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.main-dropdown-header:hover .dropdown-content-header {
	display: block;
}
.dropdown-content-header {
	display: none;
}
.dropdown-content-header {
     display: none; 
    /*display: grid;*/
    position: absolute;
    background-color: #fff;
    top: 43px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}
.dropdown-content-header a {
    color: #e61881;
    margin: 10px 0;
    padding: 2px 15px;
    width: 100%;
    display: block;
}

.dropbtn {
  /*background-color: #4CAF50;*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.drop-main {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e61881;
  min-width: initial;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  padding: 9px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;color:#e61881; }

.drop-main:hover .dropdown-content {display: block;}

.drop-main:hover .dropbtn {background-color: transparent;}

/*Hero-banner css*/
.inner-des h1 {
    font-size: 48px;
    color: #fff;
    /* font-family: 'Blackout'; */
    line-height: 42px;
    margin-bottom: 0px;
}
.main-hero-btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.hero-banner-btn {
    background-color: #fac724;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    font-size: 11px;
}

.hero-banner-btn:hover,.hero-banner-btn:focus {
    text-decoration: none;
    background-color: #e51b80;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.slick-dots li button:before {
    content: '';
    background-image: url(../img/homeimages/slick-dots.png);
    height: 12px;
    width: 12px;
    background-size: cover;
}
.hero-tabs .slick-dots li.slick-active button:before {
    opacity: 1;
}
.hero-tabs .slick-dots li button:before {
    opacity: 0.50;
}



.middle-part .container,.description-part .container,.turkey-part .container,.achieved-part .container,
.news-views .container {
    max-width: 650px;
}
footer .container {
	max-width: 750px;	
}
.help-part .container {
    max-width: 750px;   
}




/*middle-part css*/
.middle-part {
    padding: 35px 0 80px 0;
}
.middle-part .container {
    max-width: 650px;
}
.middle-part-buttons {
    /*margin: 0 0;
    display: flex;
    justify-content: space-around;*/
}
/*.middle-part button span {
    display: grid;
    color: #fff;
    font-size: 20px;
}*/
.middle-part button span.red-text {
    color: #e61881;
    font-size: 11px;
}
.middle-part .main-dropdown {
    background-color: #e61881;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0;
    border: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    padding: 10px 0;
}
.middle-part button {
    background-color: #e61881;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0;
    border: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    width: 200px;
}
.middle-part .select2-container {
    width: 200px!important;
}
.main-dropdown {
	/*padding: 10px;*/
}
/*.middle-part button:hover,.middle-part button:focus {
    background-color: #fac724;
    color: #fff;
    transition: all 0.5s ease-in-out;
}*/
.button-label {
    font-weight: bold;
}
.middle-dropdown {
    
}
.middle-part-inner {
    display: flex;
    /* width: 100%; */
    flex: 0 0 100%;
    justify-content: center;
}
.middle-dropdown:nth-child(1),.middle-dropdown:nth-child(2) {
    margin-right: 2%;
}
.middle-dropdown:nth-child(1),.middle-dropdown:nth-child(2) {
    margin-right: 2%;
}
.middle-dropdown:nth-child(3) {
    background-color: #fac724;
    padding: 0;
    display: flex;
}
.middle-part button.donate-btn {
    background-color: #fac724!important;
    width: 200px;
    display: grid;
}
.main-form {
    width: 100%;
}
.main-form .select2-container--default .select2-selection--single {
    height: auto;
    border:none;
    width: 200px;
}
.main-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 11px;
    border: none;
    background-color: #e61881;
    font-size: 11px;
    width: 200px;
}
.main-form .select2-container--default .select2-selection--single .select2-selection__rendered:focus,
.main-form span.select2-selection.select2-selection--single:focus,
.main-form .select2-container:focus {
    outline: none;
    box-shadow: none;
}
.title-dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}
.main-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fac724 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 7.5px 0 7.5px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    width: 0;
    left: 0;
}
.button-label {
    font-size: 13px;
}
/*.middle-dropdown:before {
    content: '';
    position: absolute;
    right: 0;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 0 13px;
    border-color: #fac724 transparent transparent transparent;
}*/
.middle-part-des h2 {
    font-size: 28px;
    padding: 0;
    text-align: center;
    color: #3d4346;
    font-weight: bold;
    margin: 65px 0 0 0;
    font-family: 'Poppins', sans-serif;
}




.description-part {
	padding: 100px 0;
    background-color: #ececec;
    padding: 70px 0 55px 0; 
}
.description-part-title h1 {
	/* font-family: 'Blackout'; */
	font-size: 48px;
    padding: 0;
	text-align: center;
	color: #fac724;
	margin-bottom: 40px;
}
button.find-out-btn {
    padding: 17.5px 58px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: #fac724;
    color: #fff;
}
.description-points-each {
    flex: 0 0 18%;
}
.description-points-inner {
    display: flex;
    justify-content: space-between;
}
.description-points-title {
    font-size: 16px;
    padding: 0 20%;
    color: #e61881;
    font-weight: 800;
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
    min-height: 90px;
    font-family: 'Poppins', sans-serif;
}
.description-points-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 71px;
    height: 5px;
    background-color: #fac724;
}
.description-points-des {
    color:#3d4346;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}




/*turkey-part css*/
.support-right-now {
    position: relative;
}
.support-right-now .slick-prev:before {
    content: '';
    background-image: url(../img/homeimages/turkey-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    opacity: 1;
}
.support-right-now .slick-next:before {
    content: '';
    background-image: url(../img/homeimages/turkey-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 1;
}
.turkey-part {
    padding:70px 0 0 0;
    position: relative;
}
.turkey-part.support-right-now {
	padding:70px 0;
}
.turkey-part-title h1 {
    /* font-family: 'Blackout'; */
    font-size: 48px;
    text-align: left;
    color: #fac724;
    margin-bottom: 15px;
    padding-bottom: 40px;
    position: relative;
    line-height: 48px;
}
.turkey-part-title h1:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 6px;
    background-color: #fac724;
}
.turkey-part-title h3 {
    color: #e61881;
    font-size: 23px;
    padding-right: 10%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.turkey-part-btn {
    margin-top: 35px;
    display: flex;
}
.turkey-part-btn a {
    background-color: #fac724;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    font-size: 11px;
}
.turkey-part-btn a:hover,.turkey-part-btn a:focus {
    transition: all 0.5s ease-in-out;
    background-color: #e61881;
    text-decoration: none;
}
.slick-next {
    right: 0;
    z-index: 1000;
}
.slick-prev {
    left: 0;
    z-index: 1000;
}
.turkey-part.actually-again button.slick-prev.pull-left.slick-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1000000000;
}
.turkey-part.actually-again button.slick-next.pull-right.slick-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000000000;   
}
.news-views .slick-prev:before {
    content: '';
    background-image: url(../img/homeimages/turkey-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    opacity: 1;
}
.news-views .slick-next:before {
    content: '';
    background-image: url(../img/homeimages/turkey-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 1;
}
.turkey-part-slider img {
    width: 100%;
}

.news-views .news-views-articles,.news-views .col-lg-12.col-sm-12,
.news-views .container {
    position: initial;
}


.turkey-part .col-lg-7.col-sm-12 {
    padding: 0;
}
.turkey-part .col-lg-7.col-sm-12 {
    padding: 0;
}


/*achieved CSS*/
.achieved-part {
    padding: 40px 0;
    background-color: #ececec;
}
.achieved-title h2 {
    color: #e61881;
    font-size: 32px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    /* font-family: 'Blackout'; */
}
.achieved-title p {
    color: #3d4346;
    font-size: 16px;
    padding: 0 20%;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.achieved-points {
    display: flex;
    justify-content: space-between;
}
.achieved-points h2 {
    color: #e61881;
    flex: 0 0 30%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    position: relative;
    line-height: 27px;
}
.achieved-points h2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 4px;
    background-color: #fac724;
}


/*actually-again css*/
.turkey-part.actually-again {
    padding: 40px 0;
    background-image: url(../img/homeimages/actually-bg.png);
    background-size: cover;
    background-position: 60%;
}
.turkey-part.actually-again h3 {
    color: #3d4346;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 27px;
}
.turkey-part.actually-again h4 {
    color: #3d4346;
    font-size: 16px;
    line-height: 20px;
    padding-right: 30%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.turkey-part.actually-again .turkey-part-btn {
    margin-top: 0;
    display: flex;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    outline: none;
}
.actually-again .slick-prev:before {
    content: '';
    background-image: url(../img/homeimages/turkey-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    opacity: 1;
}

.actually-again .slick-next:before {
    content: '';
    background-image: url(../img/homeimages/turkey-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 1;
}


/*help-part CSS*/
.help-part {
    padding:40px 0;
    background-color: #ececec;
}
.help-part h2 {
    color: #e61881;
    font-size: 31px;
    line-height: 61px;
    /* font-weight: bold; */
    /* font-family: 'Blackout'; */
    text-align: center;
    margin-bottom: 28px;
    line-height: 33px;
}
.help-part h3 {
    color: #3d4346;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10%;
    text-align: center;
    margin-bottom: 30px;
}
.help-part-points-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.help-part-points {
    display: grid;
    text-align: center;
    cursor: pointer;
}
.help-part-points:hover .points-count {
    background-color: #fac724;
}
.help-part-points:hover .points-count-des {
    color: #fac724;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}
.points-count-des {
    color: #e61881;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}
.points-count {
    font-size: 30px;
    line-height: 27px;
    /* font-family: 'Blackout'; */
    color: #fff;
    padding: 0;
    width: 51px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #e61881;
    /* transition: all 0.5s ease-in-out; */
}
.points-count:hover {
    transition: all 0.5s ease-in-out;
    background-color: #fac724;   
}
.main-point-count {
    margin-bottom: 17px;
    justify-content: center;
    display: flex;
}




/*news-views CSS*/
.news-views {
    padding: 75px 0;
    position: relative;
}
.news-views-inner h1 {
    /* font-family: 'Blackout'; */
    font-size: 48px;
    line-height: 44px;
    text-align: center;
    color: #fac724;
    margin-bottom: 25px;
    position: relative;
}
.news-views-inner h3 {
    font-size: 17px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #3d4346;
    margin-bottom: 60px;
    position: relative;
    padding: 0 15%;
}
.article-des h3 {
    text-align: left;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding:0 15% 0 0;
    margin-bottom: 3px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
}
.article-des {
    background-color: #fac724;
    padding: 12px;
}
.article-des p {
    color: #e61881;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 16px;
}
.news-views-inner .slick-slide img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}
.news-views-inner .slick-initialized .slick-slide {
    margin: 0 20px;
}


/*footer CSS*/
footer {
    background-color: #3d4346;
    padding:70px 0 35px 0;
    position: relative;
}
.footer-logo {
    position: absolute;
    top: -33%;
    left: 50%;
    transform: translateX(-50%)translateY(-33%);
}
.footer-logo img {
    width: 50px;
    height: 65px;
}
footer .main-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
footer .main-ul .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 00px;
    font-family: 'Poppins', sans-serif;
}
footer .main-ul {
    text-align: center;
    padding-bottom: 45px;
}
footer .footer-inner-ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
footer .footer-inner-ul li a {
    color: #fff;
    font-size: 12px;
    line-height: 9px;
    font-family: 'Poppins', sans-serif;
}
footer .footer-inner-ul li a:hover,footer .footer-inner-ul li a:focus {
    text-decoration: none;
}
.footer-inner-ul li {
    padding-bottom: 0;
}
.charity-right {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}
.donate-btn {
    background-color: #e51b80 !important;
}
footer .donate-btn {
    background-color: transparent!important;
}
footer .donate-btn a.nav-link.donate-link {
    background-color: #e51b80!important;
    padding: 4px;
}
.inner-other-amount {
	display: flex;
	margin-bottom: 10px;
    margin-top: 10px;
}
.other-amount-input {
	width: 100%;
    margin-left: 2%;
}
#other_amount {
    /*display: none;*/
}
.answer-yes {
    background-color: #e51b80;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 0;
    width: 100%;
}
.other-amount-input {
    padding: 0;
}
.donation-modal {
    padding-right: 0!important;
}


.slick-initialized .slick-slide:focus {
    outline: none;
}


.container.crstarsRegisterHeader,.container.register_breadcrumbs,.container.page-header,
.event-page-header-container,.container.postCategoryHeader,.container.cr-stars-dashboard-header {
    max-width: 100%;
}
.container.cr-stars-dashboard-header {
    padding-top: 60px;
}

/*Search icon boc CSS*/
#cr-search-modal a.nav-link.hrlSearchPopupCloser {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    color: #ec277a;
    font-size: 36px;
    padding: 10px;
    opacity: 1;
    z-index: 9999;
}
#cr-search-modal .modal-body {
    padding: 80px;
}
#cr-search-modal .modal-content {
    border-radius: 0;
}
 #cr-search-modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    width: 600px;
}
#cr-search-modal .search-input {
    background: #fff;
    border: 5px solid #ec277a;
    color: #ec277a;
    width: 100%;
    padding: 20px 50px 20px 25px;
    font-size: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
#cr-search-modal .search-input:focus {
    -webkit-box-shadow: 0 0 8px 0 #ec277a;
    box-shadow: 0 0 8px 0 #ec277a;
}
button.search-button {
    background: 0 0;
    border: none;
    color: #ec277a;
    cursor: pointer;
    display: block;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    padding: 10px;
}


.selectinput {
    width: 100px;
    height: auto;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 5px;
}


	.navbar-light .navbar-nav .nav-link {
	    font-size: 16px;
	    padding: 9px 20px;
	}




@media screen and (max-width: 1400px) {
	.navbar-light .navbar-nav .nav-link {
	    font-size: 14px;
	    padding: 9px 20px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.navbar-light .navbar-nav .nav-link {
	    font-size: 14px;
	    padding: 9px 10px;
	}
}
@media screen and (max-width: 992px) {
	.hero-tabs {
		display: block;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link,
	.choose-area select,.choose-money,.radio-toolbar label,button.find-out-btn {
		padding: 7px;
	}
	.navbar {
		padding: 0;
	}
	.navbar-brand,.navbar-light .navbar-toggler {
		margin:10px;
	}
	a.navbar-brand img {
	    width: 110px;
	}
	.navbar-light .navbar-toggler {
		background-color: #fff;
		border-radius: 0;
		border: none;
	}
	.icon-bar {
		background-color: #000;
	}
	.navbar-light .navbar-toggler:focus {
		outline: none;
	}
	.navbar-collapse {
		background-color: #fff;
		position: absolute;
	    width: 100%;
	    top: 63px;
	    padding: 20px 0;
	    -webkit-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.3);
	}
	.navbar-light .navbar-nav .nav-link,
	.navbar-light .navbar-nav .active>.nav-link,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .show>.nav-link {
		color: #000;
	}
	.hero-tabs {
		padding: 5px;
	}
	header {
	    position: sticky;
	    background-color: #e51b80;
	    z-index: 10;
	    top: 0;
	    width: 100%;
	}

    .inner-des h1,.description-part-title h1,.turkey-part-title h1,.news-views-inner h1 {
        font-size: 48px;
        /*margin-bottom: 40px;*/
    }
    .turkey-part-title h1,.turkey-part-title h3,.turkey-part.actually-again h4,
    .news-views-inner h1 {
        text-align: center;
    }
    .turkey-part-btn {
        margin: 40px 0;
        display: grid;
        text-align: center;
    }
    .turkey-part-title h1:before,.achieved-points h2:after {
        width: 100%;
    }
    .hero-banner-btn {
        padding: 7px 20px;
    }
    .middle-part-buttons {
        display: grid;
    }
    .middle-part button {
        margin: 10px 0;
    }
    .middle-part-des h2,.turkey-part.actually-again h3,.help-part h2 {
        font-size: 32px;
    }
    .description-points-title,.help-part h3,.news-views-inner h3 {
        font-size: 24px;
    }
    .help-part h3,.help-part h2,.news-views-inner h3 {
        margin-bottom: 30px;
    }
    .description-points-des {
        font-size: 18px;
    }
    .description-points-inner {
        display: grid;
    }
    .description-points-title {
        min-height: initial;
        padding-bottom: 16px;
        margin-bottom: 14px;
    }
    .description-points-each {
        margin-bottom: 20px;
    }
    .turkey-part {
        padding: 120px 0 20px 0;
    }
    section.turkey-part.slick-slider {
        margin-bottom: 90px;
    }
    .achieved-title h2 {
        font-size: 28px;
        padding-top: 10px;
    }
    .achieved-title p {
        padding: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .achieved-points {
        display: grid;
        justify-content: center;
        margin-top: 30px;
    }
    .achieved-points h2 {
        font-size: 22px;
    }
    .turkey-part.actually-again .turkey-part-btn {
        justify-content: center;
    }
    .turkey-part-btn a {
        padding: 7px 20px;
    }
    .turkey-part-title h1 {
        padding-bottom: 20px;
    }
    /* .active-count .points-count-des,.points-count-des {
        font-size: 18px;
    } */
    .points-count {
        font-size: 24px;
        padding: 0;
    }
    .main-point-count {
        margin-bottom: 15px;
    }
    .footer-logo {
	    top: -17%;
	    left: 50%;
	    transform: translateX(-50%)translateY(-17%);
	    text-align: center;
    }
    .footer-logo img {
        width: 70%;
        height: auto;
    }
    footer .main-ul {
        flex-wrap: wrap;
    }
    footer .main-ul li {
        flex: 0 0 50%;
    }   
    .footer-li {
        margin-bottom: 30px;
    }
    footer .main-ul .nav-link {
        margin-bottom: 10px;
    }
    .footer-inner-ul li {
        padding-bottom: 5px;
    }
    .points-count {
        width: 50px;
        height: 50px;
    }
    .article-des h3 {
        padding: 0;
        margin-bottom: 10px;
    }
    .hero-banner {
        padding-top: 0px;
    }
    .news-views .news-views-articles, .news-views .col-lg-12.col-sm-12, .news-views .container {
	    position: relative;
	}

    /*middle new button CSS*/
    .middle-part-inner {
        display: block;
    }
    .middle-part-inner .middle-dropdown {
        margin-bottom: 20px;
        padding: 10px;
    }
    .news-views-inner .slick-slide img {
    	height: auto;
    }
    .news-views-inner .slick-slider .slick-track {
    	margin-bottom: 30px;
    }
    .middle-part .main-dropdown {
    	width: 100%;
    }
    .middle-dropdown:nth-child(1), .middle-dropdown:nth-child(2) {
    	margin-right: 0;
    }
    .middle-part button.donate-btn {
    	width: 100%;
    }
    .middle-dropdown:nth-child(3) {
    	display: block;
    }
    .middle-dropdown:nth-child(1), .middle-dropdown:nth-child(2) {
    	padding: 0;
    }
    #cr-search-modal .modal-body {
        padding: 40px 0 0 0;
    }
    button.search-button {
        right: 0;
        top: auto;
        right: 0;
        bottom: 10px;
    }
    #cr-search-modal .search-input {
        padding: 10px 50px 10px 15px;
    }
    #cr-search-modal i.icon.icon-cancel {
        font-size: 24px;
    }
    #cr-search-modal .search-input::placeholder {
        font-size: 16px;
    }
    .hero-banner.donate-hero-banner {
        z-index: 3;
    }
}
@media screen and (max-width: 660px) {
    .help-part-points-main {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .help-part-points {
        text-align: center;
        /* flex: 0 0 50%; */
    }
    .help-part-points {
        margin-bottom: 30px;
    }
    .news-views,footer {
        padding: 80px 0;
    }
    .turkey-part .slick-dots {
        margin: 0;
        bottom: -55px;
    } 
    .news-views-articles .slick-dots {
        bottom: -35px;
    }
    .turkey-part .slick-dots li button:before,.news-views-articles .slick-dots li button:before {
        width: 15px;
        height: 15px;
    }
    .turkey-part.actually-again h4 {
        font-size: 22px;
    }
    .footer-logo {
        top:-14%;
        transform: translateX(-50%)translateY(-30%);
    }
    .footer-logo img {
        width: 60%;
    }
}
@media screen and (max-width: 560px) {
    .help-part-points-main {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .help-part-points {
        text-align: center;
        /* flex: 0 0 50%; */
    }
    .help-part-points {
        margin-bottom: 30px;
    }
    .description-part,.turkey-part,.turkey-part.actually-again,.help-part {
        padding: 40px 0;
    }

    .inner-des h1, .description-part-title h1, .turkey-part-title h1, .news-views-inner h1 {
        font-size: 28px;
    }
    .middle-part-des h2, .turkey-part.actually-again h3, .help-part h2 {
        font-size: 24px;
    }
    .description-points-title, .help-part h3, .news-views-inner h3 {
        font-size: 20px;
    }
    .description-points-des {
        font-size: 16px;
    }
    .middle-part button {
        padding: 5px 18px;
    }
    .middle-part button span {
        font-size: 16px;
    }
    .middle-part-des h2 {
        margin: 20px 0;
    }
    .turkey-part-title h1 {
        line-height: 40px;
    }
    .turkey-part-title h3 {
        font-size: 24px;
    }
    .hero-banner {
        padding-top: 0;
    }
    footer .footer-inner-ul li a,footer .main-ul .nav-link {
        font-size: 12px;
    }
    .footer-inner-ul li {
        padding-bottom: 0;
    }
    .middle-part-inner .middle-dropdown {
        padding: 0;
    }
    .title-dropdown {
        font-size: 18px;
    }
    .hero-banner {
    	height: 90vh;
    	background-position: center;
    }
    .turkey-part.actually-again {
	    background-position: 65%;
	}
}

@media screen and (max-width: 560px) {
	.hero-tabs {
		display: block;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link,
	.choose-area select,.choose-money,.radio-toolbar label,button.find-out-btnm,.nav-tabs .nav-link.active {
		padding: 5px;
		font-size: 14px;
	}
}
@media (min-width: 1200px) {
    /* .container {
        max-width: 1280px;
    } */
}
.hidden{
    display: none;
}

.other_donation_amount{
    border: 1px solid #CCC;
    padding: 3px;
}