/*donate page css*/

/*.donate-page .donation-tabs {
    background-color: #ccc5c2;
    padding: 15px;
    display: inline-block;
    min-width: 800px;
    position: relative;
}*/
.donation-tabs {
    /*width: 50%;*/
    background-color: #ccc5c2;
    padding: 10px;
    display: inline-block;
    /*min-width: 560px;*/
    min-width: 500px;
    position: relative;   
}

.donate-page .nav-tabs .nav-link.active {
    border-radius: 0;
    border: none;
    background-color: #e51b80;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.donate-page .nav-tabs .nav-item.show .nav-link,
.donate-page .nav-tabs .nav-link {
    background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    color: #e51b80;
    font-weight: bold;
    padding: 15.5px 70px;
    flex: 0 0 48%;
    margin: 0 1%;
    text-align: center;
}


/*.nav-tabs .nav-link:nth-child(1) {
    margin-left:0; 
    margin-right: 10px;
}*/

.donate-page .nav-tabs .nav-link:nth-child(2) {
    margin: 0;
    flex: 0 0 50%;
}

.donate-page .choose-area select {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #e51b80;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 10px;
    margin: 10px 0 0 0;
}

.donate-page .choose-money {
    color: #e51b80;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 10px;
    margin: 10px 0 0 0;
    background-color: #fff;
    text-align: center;
}

.donate-page .choose-money p {
    margin-bottom: 0;
}

.donate-page .radio-toolbar {
    margin: 10px 00 0 0;
    display: flex;
    text-align: center;
}

.donate-page .radio-parent {
    width: 100%;
}

.donate-page .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.donate-page .radio-toolbar label {
    background-color: #fff;
    border-color: #4c4;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}

.donate-page .radio-toolbar label:hover {
    background-color: #dfd;
}

.donate-page .radio-toolbar input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.donate-page .radio-toolbar input[type="radio"]:checked+label {
    background-color: #e51b80;
    border: none;
    color: #fff;
    font-weight: 900;
    border-radius: 0;
}

.donate-page .radio-toolbar {
    margin: 10px 0 0 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.donate-page .radio-parent {
    /*width: 100%;*/
    padding: 0 5px;
}

.donate-page .radio-parent.other-amount {
    padding-right: 0;
}

.donate-page .radio-toolbar label {
    display: block;
    padding: 8px;
    color: #e51b80;
    font-weight: 900;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
}

.donate-page .radio-toolbar.radio-first-row label {
    margin-bottom: 0;
}

.donate-page .radio-parent:nth-child(3) {
    padding-right: 0;
}

.donate-page .radio-parent:nth-child(1) {
    padding-left: 0;
}

.donate-page .radio-toolbar:nth-child(2) {
    /*margin:0;*/
}

.donate-page .hundred-pound {
    flex: 0 0 33%;
}

.donate-page .donate-btn input {
    background-color: #e51b80;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 8px 0;
    font-size: 16px;
}

.donate-page .description-part {
    background-color: #fff;
}

.donate-page .donate-btn {
    background-color: #f9c522!important;
}

.donate-page footer .donate-btn {
    background-color: transparent!important;
}

.donate-page footer .donate-btn a.nav-link.donate-link {
    background-color: #f9c522!important;
    padding: 10px;
}

.donate-page .provide-text h1 {
    font-family: 'Blackout';
    font-size: 48px;
    text-align: center;
    color: #fac724;
    margin-bottom: 0;
    line-height: 42px;
}

.donate-page .provide-text h2 {
    font-size: 22px;
    text-align: center;
    color: #3d4346;
    font-weight: bold;
    margin: 35px 0 20px 0;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
}

.donate-page .provide-text p {
    font-size: 18px;
    text-align: center;
    color: #3d4346;
    margin: 0 0 25px 0;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
}

.donate-page button.find-out-btn {
    padding: 10px 58px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    background-color: #fac724;
    color: #fff;
    font-size: 11px;
}

.stv-radio-tabs-wrapper {
    clear: both;
    display: flex;
    width: 100%;
    border-bottom: none;
    padding: 0;
    position: relative;
}

input.stv-radio-tab {
    position: absolute;
    left: -99999em;
    top: -99999em;
}

input.stv-radio-tab+label {
    cursor: pointer;
    float: left;
    margin-right: -1px;
    margin-bottom: 0;
    position: relative;
    box-shadow: none;
    z-index: 1;
    border-radius: 0;
    border: none;
    background-color: #fff;
    color: #e51b80;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 70px;
}

input.stv-radio-tab+label:hover {
    background-color: #eee;
}

input.stv-radio-tab:checked+label {
    /*box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px #13cd4a;
     background-color: #fff;
     border-color: #428bca;
     z-index: 1;*/
    box-shadow: none;
    z-index: 1;
    border-radius: 0;
    border: none;
    background-color: #e51b80;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 70px;
}

.main-label {
    flex: 0 0 49%;
    margin-right: 1%; 
    margin-left: 0;
}
.main-label:nth-child(2) {
    flex: 0 0 49%;
    margin-left: 1%;
}



/*second step*/

.donation-support p {
    margin-bottom: 0;
}
.donation-support {
    margin-top: 10px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
span.donation-support-title {
    background-color: #fff;
    padding: 8px;
    text-align: center;
    width: 100%;
    color: #e51b80;
    font-weight: bold;
    font-size: 16px;
}
.name-part-inner,.credit-card-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gender-selection,.name-part-first,.credit-card-first {
    flex: 0 0 31%;
    margin: 0 1%;
}
.credit-card-first {
    margin: 0;
    flex: 0 0 33%;
}
 .name-part-first {
    margin-right: 0;
    flex: 0 0 32%;
 }
.credit-card-first:nth-child(1) {
    flex: 0 0 31%;
    margin: 0 1% 0 0;
}
.credit-card-first:nth-child(3) {
    flex: 0 0 32%;
    margin: 0 0 0 1%;
}
.expiration {
    /*border: 1px solid #bbb;*/
    display: flex;
}
.expiration input {
    border: 0;
    text-align: center;
    outline: 0; 
    padding: 8px;
    flex: 0 0 48%;
    font-size: 16px;
}
.slash {
    display: flex;
    align-items: center;
}
.gender-selection select {
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border: none;
    color: #e51b80;
    font-weight: bold;
}
.name-part-first:last-child {
    margin-right: 0;
    flex: 0 0 33%;
}
.gender-selection {
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 32%;
}
.name-part .form-control,.email-field .form-control,.credit-card-part .form-control {
    background-color: #fff;
    padding: 8px;
    border: none;
    height: auto;
    border-radius: 0;
    font-size: 16PX;
}
.name-part,.email-field,.credit-card-part {
    margin-top: 10px;
}
.credit-card-part {
    margin-bottom: 10px;
}
.edit-icon {
    padding-left: 15px;
}
.edit-icon i {
    color: #e51b80;
}
.edit-card-details {
    background-color: #fff;
    padding: 8px 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.edit-card-details a {
    color: #e51b80;
    font-weight: bold;
    font-size: 16px;
}
.edit-card-details a:hover,.edit-card-details a:focus {
    text-decoration: none;
}
.back-icon {
    padding-right: 15px;
}
.billing-address,.post-code-field {
    margin-top: 10px;
}
.billing-address input[type="textarea"] { 
    width: 100%;
    padding: 8px 10px 8px 180px;
    border: none;
    border-radius: 0;
}
.post-code-field input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;   
}
.step-third-give-once .post-code-field input[type="number"] {
    border: 1px solid #ced4da;
    border-radius: 0;
    padding: 4px 10px;
}
.step-third-give-once .post-code-field {
    margin-top: 0;
}
.step-third-monthly .post-code-field input[type="number"] {
    border: 1px solid #ced4da;
    border-radius: 0;
    padding: 4px 10px;
}
.step-third-monthly .post-code-field {
    margin-top: 0;
}
.billing-address {
    position: relative;
}
.billing-address label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    color: #e51b80;
    font-size: 16px;
    font-weight: bold;
}
.country-selection {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #e51b80;
    font-weight: 600;
    font-size: 18px;
    padding: 6.5px;
    margin: 10px 0 0 0;
}
.gift-aid .click-btn {
    background-color: #e51b80;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 0;
    margin-bottom: 10px;
}
.donation-modal .modal-content {
    border-radius: 0;
    border:none;
}
.donation-modal .modal-header,.donation-modal .modal-body {
    padding: 10px 15px;
}
.donation-modal .modal-header .close {
    padding: 0;
    margin: 0;
    width: 4%;
    opacity: 1;
}
.donation-modal button.close img {
    width: 7%;
    float: right;
    width: 100%;
}
.donation-modal .modal-header h5 {
    color:#e51b80;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.donation-modal .increased-amount {
    font-weight: bold;
}
.gift-increased p {
    margin-bottom: 0;
    font-size: 14px;
}
.tick-switch-text {
    font-weight: bold;
    font-size: 14px;
}
.donation-modal {
    padding-right:0;
}




.pop-up-name .form-control {
    padding: 4px 10px;
    height: auto;
}
.pop-up-name .form-control,.pop-up-name select {
    border: 1px solid #ced4da;
    border-radius: 0;
}
.pop-up-name select {
    padding: 2px;
}
.pop-up-billing-address .billing-address textarea {
    border: 1px solid #ced4da;
    border-radius: 0;      
    width: 100%;
    padding: 4px 10px;
}
.gift-aid .post-code-field {
    margin-top: 0;
}
.gift-aid .post-code-field input[type="number"] {
    border: 1px solid #ced4da;
    border-radius: 0;
    width: 100%;
    padding: 4px 10px;
}
input:focus {
    outline: none;
    box-shadow: none;
}




/*same address checkbox css*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/
html { height: 100%; }

.same-address {
  height: 100%;
  margin: 0;
  background: transparent;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}


.same-address.first-added {
    padding: 10px 0 10px 10px;
    background-color: #fff;
    margin: 10px 0;
}


.same-address .boxes {
  margin: auto;
  padding: 0;
  background: transparent;
}
.boxes {
    margin: 10px 0;
}
.boxes label {
    margin-bottom: 0;
    padding-left: 5px;
}

/*Checkboxes styles*/
.same-address input[type="checkbox"] { display: none; }

.same-address input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.same-address input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.same-address input[type="checkbox"] + label:before {
  content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #e51b80;
    position: absolute;
    left: 0;
    top: 4px;
    opacity: 1;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.same-address input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 0;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.same-address {
    padding: 10px 0 10px 10px;
}
.pop-up-btn {
    margin-top: 10px;
}
.pop-up-btn button {
    background-color: #e51b80;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 7.5px 0;
    font-size: 9px;
}
.pop-up-btn button:nth-child(1) {
    margin-right: 20px;
}
.pop-up-btn button:nth-child(2) {
    margin-left: 20px;
}
.inner-pop-up-btn {
    display: flex;
}
button:focus,.form-control:focus,.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
.step-third-monthly .same-address,.step-third-monthly .same-address {
    padding: 10px 0 10px 10px;
    text-align: left;
    display: block;
}
.main-pop-up-btn:hover,.main-pop-up-btn:focus,.main-pop-up-btn:active {
    background-color: #c30e69!important;
}




/*monthly option css*/
.bank-aacount-field {
    margin-top: 10px;
}
.bank-aacount-field .form-control {
    background-color: #fff;
    padding: 8px;
    border: none;
    height: auto;
    border-radius: 0;
    font-size: 16px;
}
.bank-aacount-modal-btn {
    background-color: #e51b80;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
    margin: 10px 0;
}
.bank-aacount-modal .modal-content {
    border-radius: 0;
    border: none;
}
.bank-aacount-modal .modal-header,.bank-aacount-modal .modal-body {
    padding: 10px 15px;
}
.bank-aacount-modal .modal-header .close {
    padding: 0;
    margin: 0;
    width: 4%;
    opacity: 1;
}
.bank-aacount-modal button.close img {
    width: 7%;
    float: right;
    width: 100%;
}
.bank-aacount-modal .modal-header h5 {
    color:#e51b80;
    width: 100%;
}
.debit-card-guarantee-des p {
    font-size: 14px;
}

/*select2 CSS*/
.select2-container {
    width: 100%!important;
    margin-top: 10px;
}
.select2-container--default .select2-selection--single {
    height: auto;
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
    background-color: #fff;
    /*color: #e51b80;*/
    /*font-weight: 600;*/
    font-size: 16px;
    padding: 6px 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.give-once-second .select2-container {
    margin-top: 0;
}
.select-country {
    position: relative;
}
.step-third-give-once .select2-container,
.step-third-monthly .select2-container {
    margin-top: 0;
}
.step-third-give-once .select2-container--default .select2-selection--single .select2-selection__rendered,
.step-third-monthly .select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid #ced4da;
    border-radius: 0;
    padding: 2px 10px;
    height: auto;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e51b80;
    color: white;
}
.select2-dropdown {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    border: none;
}
.select2-container--default .select2-results>.select2-results__options {

}
.step2 .name-part .select2-container {
    margin-top: 0;
}
.donor_title_pop {
    padding: 6.5px 10px;
}
.step1 .name-part .select2-container {
    margin-top: 10px;
}

#oneoffGiftAidModal .select2-container {
    margin-top: 0;
}
#oneoffGiftAidModal .select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid #ced4da;
    border-radius: 0;
    padding: 2px 10px;
}
.step-third-monthly .post-code-field {
    margin-top: 10px;
}
.step-third-monthly .post-code-field input {
    border: 1px solid #ced4da;
    border-radius: 0;
    width: 100%;
    padding: 4px 10px;
}
.fa-edit:before {
    content: "\f044";
    font-family: FontAwesome;
}
.fa-arrow-left:before {
    content: "\f060";
    font-family: FontAwesome;
}
.give-once-third-step-popup{
    overflow-y: auto !important;
}
.give-once-third-step-popup .post-code-field {
    margin-top: 10px;
}
.give-once-third-step-popup .post-code-field input {
    border: 1px solid #ced4da;
    border-radius: 0;
    width: 100%;
    padding: 4px 10px;
}

.donation-tabs .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track,
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.donation-tabs .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar,
body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.donation-tabs .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb
{
    background-color:#e51b80; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}






.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    top: 40px;
}
.modal p {
    /*font-size: 9px;*/
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 992px) {
    .donate-page .donation-tabs {
        display: block;
    }
    .donate-page .nav-tabs .nav-item.show .nav-link,
    .donate-page .nav-tabs .nav-link,
    .donate-page .choose-area select,
    .donate-page .choose-money,
    .donate-page .radio-toolbar label,
    .donate-page .donate-btn input,
    input.stv-radio-tab:checked+label,
    input.stv-radio-tab+label,
    button.find-out-btn,
    .answer-yes,.edit-card-details,.post-code-field input[type="number"],
    .country-selection,.gift-aid .click-btn {
        padding: 5px;
    }
    .billing-address input[type="textarea"] {
        padding: 4.5px 10px 4.5px 10px;
    }
    .country-selection {
        font-size: 14px;
    }
    .other-amount-input {
        padding: 1px 21px 4px 0;
    }
    .donate-page .provide-text h1 {
        font-size: 50px;
    }
    .donate-page .provide-text h2 {
        font-size: 30px;
    }
    .donate-page .provide-text p {
        font-size: 20px;
    }
    .donate-page .donation-tabs {
        padding: 5px;
    }
    .donate-page .nav-tabs .nav-link:nth-child(2) {
        margin: 0;
        flex: 0 0 50%;
        border-radius: 0;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .answer-yes {
        width: 100%;
        text-align: center;
    }
    .other-amount-input {
        width: 100%;
        padding: 1px 21px 4px 10px;
        margin-left: 1%;
    }
    .donate-page .donation-tabs {
        min-width: initial;
    }
    .donation-support {
        display: grid;
    }
    .donation-support-title {
        text-align: left!important;
    }
    .billing-address label {
        position: relative;
        margin-bottom: 0;
        transform: none;
    }
    .donation-support {
        background-color: transparent;
    }
    .donation-support-title:first-child {
        margin-bottom: 10px;
    }
    .bank-aacount-field .form-control {
        background-color: #fff;
        padding: 5px 20px;
    }
}

@media screen and (max-width: 992px) {
    .name-part-inner, .credit-card-inner {
        display: block;
    }
    .gender-selection, .name-part-first, .credit-card-first {
        flex: 0 0 33%;
        margin: 10px 0;
    }
    .main-label {
        margin-left: 0;
    }
    .name-part .form-control, .email-field .form-control, .credit-card-part .form-control,span.donation-support-title,
    span.donation-support-title,.gender-selection select,input.stv-radio-tab+label,
    input.stv-radio-tab:checked+label, input.stv-radio-tab+label,.expiration input {
        padding: 5px 20px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 3px 10px;
    }
    .same-address.first-added {
        padding: 5px 0 5px 10px;
    }
    .bank-aacount-modal-btn {
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 560px) {
    .donate-page .donation-tabs {
        display: block;
    }
    .donate-page .nav-tabs .nav-item.show .nav-link,
    .donate-page .nav-tabs .nav-link,
    .donate-page .choose-area select,
    .donate-page .choose-money,
    .donate-page .radio-toolbar label,
    input.stv-radio-tab:checked+label,
    input.stv-radio-tab+label,
    .donate-page .donate-btn input,
    .answer-yes,
    button.find-out-btnm,
    .nav-tabs .nav-link.active,
    input.stv-radio-tab:checked+label,
    input.stv-radio-tab+label {
        /*padding: 5px;*/
        font-size: 14px;
    }
    .donate-page .provide-text h1 {
        font-size: 50px;
    }
    .donate-page .provide-text h2 {
        font-size: 30px;
    }
    .donate-page .provide-text p {
        font-size: 20px;
    }
    /*step-2*/
    span.donation-support-amount {
        font-size: 14px;
    }
    .gender-selection select,span.donation-support-title {
        padding: 0 8px;
        font-size: 12px;
    }
    .name-part .form-control, .email-field .form-control, .credit-card-part .form-control {
        /*padding: 0 20px;*/
    }
    /*pop-up step*/
    .gift-aid .click-btn {
        font-size: 14px;
    }
    .gift-aid .modal-header h5 {
        font-size: 20px;
        padding-right: 50px;
    }
    .pop-up-btn button {
        font-size: 14px;
    }
}



.donGiftaidCheckernew
{
	width: 100%;

	padding: 50px;
	background-color: #FFF;
	border: 4px solid #ec277a;
	text-align: center;
	z-index: 1000;

}
.donGiftaidCheckernew h4
{	font-size: 25px;
	
}
.donGiftaidCheckernew p
{	margin-top: 30px;
	
}

.donGiftaidCheckernew p:hover
{	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donGiftaidCheckernew p a
{	display: block;
	padding: 10px 20px;
	background-color: #ec277a;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.cart_modal_popup_inner.donpage{
    font-size: 16px;
    font-family: poppins,sans-serif;
    padding: 10px;
    color: tomato;
}