/*donate page css*/
.donate-page .hero-tabs {
    /*width: 50%;*/
    background-color: #ccc5c2;
    padding: 15px;
    display: inline-block;
}
.donate-page .nav-tabs .nav-link.active {
    border-radius: 0;
    border: none;
    background-color: #e51b80;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.donate-page .nav-tabs .nav-item.show .nav-link,.donate-page .nav-tabs .nav-link {
    background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    color: #e51b80;
    font-weight: bold;
    padding: 15.5px 70px;
    flex: 0 0 48%;
    margin: 0 1%;
    text-align: center;
}
/*.nav-tabs .nav-link:nth-child(1) {
    margin-left:0; 
    margin-right: 10px;
}*/
.donate-page .nav-tabs .nav-link:nth-child(2) {
    margin: 0;  
    flex: 0 0 50%;
}
.donate-page .choose-area select {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #e51b80;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 10px;
    margin: 10px 0 0 0;
}
.donate-page .choose-money {
    color: #e51b80;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 10px;
    margin: 10px 0 0 0; 
    background-color: #fff;
    text-align: center;
}
.donate-page .choose-money p {
    margin-bottom: 0;
}
.donate-page .radio-toolbar {
  margin: 10px 00 0 0;
  display: flex;
    text-align: center;
}
.donate-page .radio-parent {
    width: 100%;
}
.donate-page .radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.donate-page .radio-toolbar label {
    background-color: #fff;
    border-color: #4c4;
    border: none;
    border-radius: 0;
    padding: 10px 20px; 
}

.donate-page .radio-toolbar label:hover {
  background-color: #dfd;
}

.donate-page .radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.donate-page .radio-toolbar input[type="radio"]:checked + label {
    background-color: #e51b80;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
}
.donate-page .radio-toolbar {
    margin: 10px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.donate-page .radio-parent {
    /*width: 100%;*/
    padding: 0 5px;
}
.donate-page .radio-parent.other-amount {
    padding-right: 0;
}
.donate-page .radio-toolbar label {
    display:block;
    padding: 17.5px;
    color: #e51b80;        
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
}
.donate-page .radio-toolbar.radio-first-row label {
    margin-bottom: 0;
}
.donate-page .radio-parent:nth-child(3) {
    padding-right: 0;
}
.donate-page .radio-parent:nth-child(1) {
    padding-left: 0;
}
.donate-page .radio-toolbar:nth-child(2) {
    /*margin:0;*/
}
.donate-page .hundred-pound {
    flex: 0 0 33%;
}
.donate-page .donate-btn input {
    background-color: #e51b80;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 17.5px 0;
    font-size: 18px;
}
.donate-page .description-part {
    background-color: #fff;
}
.donate-page .donate-btn {
    background-color: #f9c522!important;
}
.donate-page footer .donate-btn {
    background-color: transparent!important;
}
.donate-page footer .donate-btn a.nav-link.donate-link {
    background-color: #f9c522!important;
    padding: 10px;
}
.donate-page .provide-text h1 {
    font-family: 'Blackout';
    font-size: 88px;
    text-align: center;
    color: #fac724;
    margin-bottom: 0;
}
.donate-page .provide-text h2 {
    font-size: 42px;
    text-align: center;
    color: #3d4346;
    font-weight: bold;
    margin: 70px 0 45px 0;
}
.donate-page .provide-text p {
    font-size: 30px;
    text-align: center;
    color: #3d4346;
    margin: 70px 0 45px 0;
}
.donate-page button.find-out-btn {
    padding: 17.5px 58px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: #fac724;
    color: #fff;
}


@media screen and (max-width: 992px) {
    .donate-page .hero-tabs {
        display: block;
    }
    .donate-page .nav-tabs .nav-item.show .nav-link,.donate-page  .nav-tabs .nav-link,
    .donate-page .choose-area select,.donate-page .choose-money,.donate-page .radio-toolbar label,
    .donate-page .donate-btn input,
    button.find-out-btn {
        padding: 7px;
    }
    .donate-page .provide-text h1 {
        font-size: 50px;
    }
    .donate-page .provide-text h2 {
        font-size: 30px;
    }
    .donate-page .provide-text p {
        font-size: 20px;
    }
    .donate-page .hero-tabs {
        padding: 5px;
    }
    .donate-page .nav-tabs .nav-link:nth-child(2) {
        margin: 0;
        flex: 0 0 50%;
        border-radius: 0;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (max-width: 560px) {
    .donate-page .hero-tabs {
        display: block;
    }
    .donate-page .nav-tabs .nav-item.show .nav-link,.donate-page .nav-tabs .nav-link,
    .donate-page .choose-area select,.donate-page .choose-money,
    .donate-page .radio-toolbar label,
    .donate-page .donate-btn input,
    button.find-out-btnm,.nav-tabs .nav-link.active {
        padding: 5px;
        font-size: 14px;
    }
    .donate-page .provide-text h1 {
        font-size: 50px;
    }
    .donate-page .provide-text h2 {
        font-size: 30px;
    }
    .donate-page .provide-text p {
        font-size: 20px;
    }
}
