

.container {
	width: 100% !important;
	max-width: 100% !important;
}
.container.page-header
{	display: none;
}
.container.t365header
{	text-align: center;
	padding: 125px 0px 90px;
	background: url('../img/template/team365/team365_tile.jpg') top center;
}
.container.t365header p
{	margin-top: 60px;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 190px;
}
.container.t365header p.team365header_image
{	margin-top: 0px;
	padding: 0px;
}
.container.t365header p:last-child a
{	display: inline-block;
	padding: 10px 20px;
	color: #FFF;
	background: #000;
	margin-right: 20px;
	height: 48px;
	width: 195px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}
.container.t365header p:last-child a:last-child
{	margin-right: 0px;
}

.container.t365section2
{	padding: 120px 0px 110px;
}
.container.t365section2 .t365section2_left
{	margin-left: 140px;
	float: left;
	width: 347px;
	text-align: left;
}
.container.t365section2 .t365section2_left h3
{	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.container.t365section2 .t365section2_left p
{	font-size: 16px;
	line-height: 1.5em;
}
.container.t365section2 .t365section2_right
{	float: right;
	width: 560px;
	height: 315px;
}

.container.t365section3
{	padding: 75px 0px;
	background: url('../img/template/team365/team365_tile.jpg') top center;
	text-align: center;
}
.container.t365section3 h3
{	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}
.container.t365section3 p
{	font-weight: bold;
	font-size: 24px;
	margin-bottom: 60px;
	padding: 0px 270px;
}
.container.t365section3 .t365section3_steps
{	
}
.container.t365section3 .t365section3_steps>div
{	float: left;
	height: 135px;
	width: 380px;
	text-align: center;
}
.container.t365section3 .t365section3_steps>div:last-child
{	float: none;
	clear: both;
	width: 0px;
	height: 0px;
}
.container.t365section3 .t365section3_steps .t365section3_steps_divider
{	width: 28px;
	background: url('../img/template/team365/step_divider.png') no-repeat center center;
}
.container.t365section3 .t365section3_steps .t365section3_steps_1
{	background: url('../img/template/team365/step_1_full.png') no-repeat top center;
}
.container.t365section3 .t365section3_steps .t365section3_steps_2
{	background: url('../img/template/team365/step_2_full.png') no-repeat top center;
}
.container.t365section3 .t365section3_steps .t365section3_steps_3
{	background: url('../img/template/team365/step_3_full.png') no-repeat top center;
}


.container.t365section4
{	background: #007b79 url('../img/template/team365/background_s4.jpg') no-repeat bottom center;
	background-size: 100% auto;
}
.container.t365section4 h3
{	color: #FFF;
	font-weight: bold;
	font-size: 45px;
	width: 800px;
	padding: 210px 0px;
	text-align: center;
	margin: auto;
}

.container.t365section_teams .container_inner_half_left
{	background: url('../img/template/team365/team365_tile.jpg') top center;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content
{	text-align: center;
	padding: 60px 0px;
	height: 700px;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content h3
{	font-size: 30px;
	font-weight: bold;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised
{	position: relative;
	background: #FFF;
	width: 380px;
	height: 380px;
	padding: 45px;
	margin: 45px auto;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	overflow: hidden;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_fill
{	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #ec008c;
	width: 380px;
	height: 0px;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_inner
{	background: url('../img/template/team365/team365_tile.jpg') top center;
	width: 290px;
	height: 290px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	position: absolute;
	top: 45px;
	left: 45px;
	padding: 90px 0px 0px;
	font-weight: bold;
	font-size: 55px;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_inner .t365team_raised_target
{	font-size: 20px;
}
.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_team_buttons a
{	display: inline-block;
	padding: 10px 20px;
	color: #FFF;
	background: #000;
	height: 48px;
	width: 195px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}

.container.t365section_teams .container_inner_half_right
{	position: relative;
}
.container.t365section_teams .container_inner_half_right .t365_teamday_bg
{	position: absolute;
	left: 0px;
	top: 350px;
	width: 100%;
	height: 350px;
	background: #FFF url('../img/template/team365/team_photo.jpg') no-repeat top center;
	background-size: 100% auto;
}
.container.t365section_teams .container_inner_half_right .container_inner_half_content
{	text-align: center;
	padding: 60px 0px;
	height: 700px;
}
.container.t365section_teams .container_inner_half_right .container_inner_half_content h3
{	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}
.container.t365section_teams .container_inner_half_right .container_inner_half_content p
{	font-size: 24px;
}
.container.t365section_teams .container_inner_half_right .container_inner_half_content p a
{	color: #595552;
	text-decoration: underline;
}
.container.t365section_teams .container_inner_half_right .container_inner_half_content p.teamdayraised
{	font-size: 50px;
	font-weight: bold;
	margin-top: 15px;
}

.container.t365section6 .container_inner_half_left
{	height: 400px !important;
	background: url('../img/template/team365/background_s6.jpg') no-repeat top center;
	background-size: 100% auto;
}
.container.t365section6 .container_inner_half_right .container_inner_half_content
{	padding: 80px 80px 0px;
}
.container.t365section6 .container_inner_half_right .container_inner_half_content h3
{	margin-bottom: 20px;
	font-weight: bold;
	font-size: 30px
}
.container.t365section6 .container_inner_half_right .container_inner_half_content p
{	font-size: 16px;
	line-height: 1.5em;
}


.container.t365section7
{	padding: 56px 0px 35px;
	background: url('../img/template/team365/team365_tile.jpg') top center;
	text-align: center;
}
.container.t365section7 .container_inner
{	background: url('../img/template/team365/background_s7.png') no-repeat top center;
	padding-top: 74px;
}
.container.t365section7 .t365section7social
{	
}
.container.t365section7 .t365section7social li
{	display: inline-block;
	padding: 0px 3px;
}
.container.t365section7 .t365section7social li a
{	font-size: 20px;
	display: block;
	width: 30px;
	height: 25px;
}

@media (min-width: 768px) and (max-width: 1200px)
{	.container.t365header
	{	padding: 85px 0px 55px;
	}
	.container.t365header p
	{	padding: 0px 90px;
	}
	.container.t365section2
	{	padding: 60px 0px 70px;
	}
	.container.t365section2 .t365section2_left
	{	width: 507px;
		float: none;
		margin: 0px auto 45px;
	}
	.container.t365section2 .t365section2_right
	{	width: 507px;
		float: none;
		margin: 0px auto;
	}
	.container.t365section3 p
	{	padding: 0px 50px;
	}
	.container.t365section3 .t365section3_steps .t365section3_steps_2
	{	width: 300px;
	}
	.container.t365section3 .t365section3_steps .t365section3_steps_1, .container.t365section3 .t365section3_steps .t365section3_steps_3
	{	width: 200px;
	}
	.container.t365section4 h3
	{	width: 100%;
		padding: 150px 0px;
	}
	.container.t365section_teams .container_inner_half_right .t365_teamday_bg
	{	background-size: auto 100%;
	}
	.container.t365section6 .container_inner_half_left
	{	background-size: auto 100%;
	}
	.container.t365section6 .container_inner_half_right .container_inner_half_content
	{	padding: 60px 60px 0px;
	}
}
@media (max-width: 767px)
{	.container.t365header
	{	padding: 60px 0px 30px
	}
	.container.t365header p
	{	padding: 0px 10px;
	}
	.container.t365header .team365header_image img
	{	width: 100%;
	}
	.container.t365header p:last-child a
	{	width: 100%;
		margin-bottom: 20px;
	}
	.container.t365section2
	{	padding: 30px 0px 30px;
	}
	.container.t365section2 .t365section2_left
	{	float: none;
		width: 100%;
		margin: 0px 0px 20px;
		text-align: center;
	}
	.container.t365section2 .t365section2_right
	{	float: none;
		width: 100%;
	}
	.container.t365section2 .t365section2_right_mobile
	{	text-align: center;
	}
	.container.t365section2 .t365section2_right_mobile_embed
	{	position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}
	.container.t365section2 .t365section2_right_mobile_embed iframe, .container.t365section2 .t365section2_right_mobile_embed object, .container.t365section2 .t365section2_right_mobile_embed embed
	{	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.container.t365section2 .t365section2_right_mobile iframe
	{	margin: auto;
	}
	.container.t365section3
	{	padding: 35px 0px;
	}
	.container.t365section3 p
	{	margin-bottom: 30px;
		padding: 0px;
	}
	.container.t365section3 .t365section3_steps>div
	{	float: none;
		width: 100%;
	}
	.container.t365section3 .t365section3_steps .t365section3_steps_divider
	{	width: 100%;
		background: url('../img/template/team365/step_divider_mobile.png') no-repeat center center;
		height: 60px;
	}
	.container.t365section4
	{	background-size: auto 100%;
	}
	.container.t365section4 h3
	{	width: 80%;
		padding: 100px 0px;
	}
	.container.t365section_teams .container_inner_half_left, .container.t365section_teams .container_inner_half_right
	{	margin-left: -10px;
		margin-right: -10px;
	}
	.container.t365section6 .container_inner_half_left
	{	background-size: auto 100%;
	}
	.container.t365section6 .container_inner_half_left .container_inner_half_content
	{	float: none;
		height: 300px;
	}
	.container.t365section6 .container_inner_half_right .container_inner_half_content
	{	padding: 30px 20px 30px;
		text-align: center;
	}
/*	.container.t365section6 .container_inner_half_left .container_inner_half_content
	{	background-size: auto 100%;
	}*/
	.container.t365section7 .container_inner
	{	background-size: 90% auto;
	}
	.container.t365section_teams .container_inner_half_right .t365_teamday_bg
	{	/*background-size: auto 100%;*/
		display: none;
	}
	.container.t365section_teams .container_inner_half_right .container_inner_half_content
	{	height: auto;
	}
}

@media (max-width: 450px)
{	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised
	{	width: 320px;
		height: 320px;
		padding: 35px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_fill
	{	width: 320px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_inner
	{	width: 250px;
		height: 250px;
		top: 35px;
		left: 35px;
		padding: 80px 0px 0px;
		font-size: 40px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_team_buttons a
	{	width: 90%;
	}
}

@media (max-width: 350px)
{	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised
	{	width: 240px;
		height: 240px;
		padding: 30px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_fill
	{	width: 240px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_inner
	{	width: 180px;
		height: 180px;
		top: 30px;
		left: 30px;
		padding: 50px 0px 0px;
		font-size: 30px;
	}
	.container.t365section_teams .container_inner_half_left .container_inner_half_content .t365team_raised .t365team_raised_inner .t365team_raised_target
	{	font-size: 16px;
	}
}
.t365button_joinus
{	background: #000 url('../img/template/team365/text_joinus.png') no-repeat center center !important;
	text-indent: -1000px;
	overflow: hidden;
}
.t365button_donatenow
{	background: #000 url('../img/template/team365/text_donatenow.png') no-repeat center center !important;
	text-indent: -1000px;
	overflow: hidden;
}
.t365button_donatenow:hover, .t365button_joinus:hover, .t365button_donatenow:active, .t365button_joinus:active
{	background-color: #ec008c !important;
}