.videosHeaderContainer {
	padding: 150px 0 125px;
	background: #fff;
}
h1.page_heading {
	color: #ec277a;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 0;
    margin: 0 auto 0;
	text-align: center;
	text-transform: capitalize;
}
h2.page_sub_heading {
	text-align: center;
	color: #000;
	font-size: 24px;
	line-height: 1.3;
	padding: 0;
	margin: 0;
}
@media (max-width: 360px) {
	.videosHeaderContainer {
		padding: 50px 15px;
	}
	h1.page_heading {
		font-size: 36px;
	}
	h2.page_sub_heading {
		font-size: 18px;
	}
}
@media (min-width: 361px) and (max-width: 767px) {
	.videosHeaderContainer {
		padding: 50px 25px;
	}
	h1.page_heading {
		font-size: 36px;
	}
	h2.page_sub_heading {
		font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.event-page-header-container {
		padding: 25px 0;
	}
	h1.page_heading {
		font-size: 48px;
	}
	h2.page_sub_heading {
		font-size: 24px;
	}
}

.videosContainer {
	background: #fff;
}
.videosContainer h1
{	text-align: center;
	padding: 10px 0px 20px;
	font-size: 58px;
}
.videosContainer .videoContainer
{	text-align: center;
}

.videosContainer p.videoDesc
{	padding: 40px 0px 40px;
	width: 500px;
	margin: 0px auto;
	font-size: 20px;
}
.videosContainer ul li
{	float: left;
	width: 379px;
	height: 294px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.videosContainer ul li .videoImgLink
{	display: block;
	width: 379px;
	height: 214px;
	background: url('../img/template/youtube_play.png') no-repeat center center;
}
.videosContainer ul li .videoImgLink.videoImgLinkNoImage
{	background-color: #666;
}
.videosContainer ul li h2
{	text-align: center;
	height: 80px;
	background: #FFF;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0;
}
.videosContainer ul li h2 a
{
	text-decoration: none;
}
.allVideosLink
{	text-align: center;
	padding: 10px 0px;
}
.allVideosLink a
{	color: #ec277a;
	font-size: 28px;
	display: inline-block;
	padding: 5px 10px;
}
.videosContainer .videoContainer
{	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%;
}
.videosContainer .videoContainer iframe
{	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
}

@media (min-width: 1201px)
{	.videosContainer ul li:nth-child(3n)
	{	margin-right: 0px;
	}
}
@media (max-width: 1200px) and (min-width: 768px)
{	.videosContainer ul li
	{	margin-right: 10px;
	}
	.videosContainer ul li:nth-child(2n)
	{	margin-right: 0px;
	}
}
@media (max-width: 767px)
{	.videosContainer ul li
	{	float: none;
		width: 200px;
		height: auto;
		background-size: 100% !important;
		margin: 10px auto;
	}
	.videosContainer ul li .videoImgLink
	{	display: block;
		width: 200px;
		height: 110px;
	}
	.videosContainer p.videoDesc
	{	width: 100%;
	}
}