
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
html {
  height: 100%;
  width: 100%;
}
/* ======DEFAULT BROWSER STYLE========= */
a:focus,
a:hover {
    text-decoration: none;
    transition: 300ms ease-in-out;
}
a:focus,
.btn:focus,
.btn:active:focus,
button:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
}
p{
  margin-bottom: 0;
}
/* =========== SPACE CLASSES=========== */
@font-face {
    font-family: 'rockwell';
    src: url(../fonts/rockwell.ttf);
}
.lato{
  font-family: 'Lato', sans-serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
.roboto_con{
  font-family: 'Roboto Condensed', sans-serif;
}
footer{
  background: #161616;
  padding: 35px 0;
}
footer ul li a{
  color: #d2d2d2;
  transition: .5s linear;
}
footer ul li{
  font-size: 16px;
  display: table;
  width: 100%;
  color: #d2d2d2;
}
footer ul li:nth-child(2){
 margin: 8px 0;
}
footer ul li a span.yellow_class,footer ul li a:hover{
  color: #ffd449;
}
footer p{
  color: #a2a2a2;
  font-size: 14px;
}
footer ul li span{
  display: table-cell;
}
footer ul li span.img_class {
    width: 25px;
}
footer ul{
  margin-bottom: 0;
}
.feed_sec{
  padding: 60px 0;
  background: #f2f3f7;
  text-align: center;
}
p.heading_text {
    font-size: 29px;
    margin-bottom: 50px;
    line-height: 33px;
}
.feed_box {
    display: block;
    box-shadow: 4px 9px 15px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 339px;
    width: 100%;
    transition: .5s linear;
    cursor: pointer;
}
.feed_box:hover h3{
  background: #5c0a3f;
  color: #fff;
}
.feed_box p {
    font-size: 19px;
    font-weight: bold;
    color: #282828;
    padding: 15px 16px 10px;
    line-height: 22px;
}
.feed_box h4{
  font-size: 17px;
  color: #282828;
  margin-bottom: 10px;
}
.feed_box h3{
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 16px 0;
  transition: .5s linear;
}
.feed_left{
  float: left;
}
.feed_right{
  float: right;
}
.feed_center{
  display: block;
  margin: 0 auto;
}
.banner_sec{
  background: url(../img/banner.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 0 140px;
  color: #fff;
}
.banner_sec p{
  font-size: 26px;
  font-weight: 300;
  margin-left: 50px;
}
.banner_sec .media {
    max-width: 780px;
    width: 100%;
}
.banner_sec .media img{
    margin-top: 10px;
}
p.donate_heading {
    font-size: 36px;
    color: #010101;
    font-weight: 300;
    line-height: 49px;
}
p.donate_heading span{
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
}
.donate_sec{
  padding: 45px 0 75px;
}
.form_class label{
  color: #010101;
  font-size: 22px;
}
.form_class .form-control {
    background: #fff;
    border: 1px solid #e0e3e5;
    border-radius: 0;
    font-size: 18px;
    padding: 15px 15px;
    height: 60px !important;
}
.form_class .form-group {
    margin-bottom: 40px;
}
.form_class {
    background: #f6f9fb;
    padding: 35px 30px;
    margin-top: 40px;
}
.form_class select{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   width:100%;
   background: url(../img/select_arrow.jpg)no-repeat !important;
   background-position: 100% 100% !important;
   background-size: contain !important;
}
.form-control:focus {
    border-color: #ec277a;
    box-shadow: none;
}
.counter__increment, .counter__decrement {
  transition: all 0.4s ease-in-out;
}
.counter {
  vertical-align: middle;
}
.counter {
  position: relative;
  width: 7.5rem;
  text-align: center;
  overflow: hidden;
}
.form-control.counter__input{
  height: 46px !important;
}
.counter__input {
  border: none;
  margin: 0 auto;
  text-align: center;
  color: #010101;
  font-size: 22px !important;
  background-color: transparent;
}
.counter__increment, .counter__decrement {
    position: absolute;
    top: 0;
    font-size: 22px;
    line-height: 42px;
    height: 46px;
    width: 2.1875rem;
    font-weight: normal;
    color: #010101;
    text-decoration: none;
}
.counter__increment:hover, .counter__increment:active, .counter__increment:focus, .counter__decrement:hover, .counter__decrement:active, .counter__decrement:focus {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}
.counter__increment {
  right: 0;
}
.counter__decrement {
  left: 0;
  top: 0;
}
.amount_class {
    padding: 40px 0;
    margin: 11px 0 40px;
    border-top: 3px solid #c5c7c8;
    border-bottom: 3px solid #c5c7c8;
    font-size: 22px;
}
.amount_class ul{
  margin-bottom: 0;
  float: right;
  font-size: 22px;
}
.amount_class p{
  color: #010101;
  margin-bottom: 0;
}
.btn_cart{
  background:#000000;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  transition: .5s linear;
  border: 0;
  width: 100%;
  height: 60px;
  cursor: pointer;
}
.btn_cart:hover{
  background: #ec277a;
}
.lab_height{
  height: 66px;
}
.header_sec {
    background: url(../img/header.jpg)no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: #fff;
    padding: 230px 0 200px;
    position: relative;
    background-position: center;
}
.header_sec h1{
  font-size: 54px;
  font-weight: bold;
  margin: 0;
}
.header_sec h1 span{
  font-size: 86px;
  text-transform: uppercase;
}
.header_sec p{
  font-size: 32px;
  font-weight: 300;
  padding: 75px 0;
  margin: 0;
}
a.donate_btn{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 192px;
  text-align: center;
  width: 100%;
  height: 64px;
  color: #fff;
  display: block;
  line-height: 64px;
  position: relative;
  transition: .5s ease-in-out;
}
a.donate_btn:after {
  position: absolute;
  background: url(../img/btn_box.png)no-repeat;
  background-size: contain;
  content: "";
  height: 64px;
  width: 193px;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
}
a.donate_btn:hover{
  background: #fcbf55;
  color: #fff;
}
a.donate_btn:hover:after{
  content: none;
}
.head_img {
    position: absolute;
    bottom: -244px;
    right: 0;
}
.nav_head {
    background: rgba(52, 9, 27, 0.61);
    color: #fff;
    padding: 10px 30px 10px 15px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.nav_head .logo1{
  max-width: 155px;
  width: 100%;
}
.nav_head ul{
  float: right;
  margin-bottom: 0;
}
.nav_head ul li a{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  transition: .5s linear;
}
.nav_head ul li a img{
  margin-right: 5px;
}
.height_class{
  height: 88px;
}
.nav_head .list-inline-item:not(:last-child) {
    margin-right: 44px;
}
.nav_head ul li a:hover{
  color: #fcbf55
}
/*============================index2==========================*/
.page2 footer {
    background: #460b31;
}
.page2 .feed_box{
  text-align: left;
}
.page2 .feed_box h3{
  padding: 0;
  font-size: 23px;
  font-weight: bold;
  color: #f7d54f;
}
.page2 .feed_box:hover h3{
  background: transparent;
  color: #fff;
}
.page2 .feed_box:hover .text_feed{
  background: #460b31;
}
.page2 .feed_box p{
  padding: 8px 0 0;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  opacity: .5;
}
.page2 .feed_box h4{
  margin: 8px 0 0 0;
  font-size: 15px;
  color: #fff;
  opacity: .5;
}
.page2 .text_feed{
  padding: 14px 30px 14px 14px;
  background: #0b0b0b;
  transition: .5s linear;
}
.page2 .nav_head {
    background: rgba(0, 0, 0, 0.41);
}
.page2 .nav_head ul li a:hover {
    color: #ec277a;
}
.page2 .header_sec {
    background: url(../img/header1.jpg)no-repeat;
    text-align: center;
    padding: 470px 0 70px;
    background-position: center;
}
.page2 .header_sec h1 {
    font-family: 'rockwell';
    font-weight: normal;
    font-size: 42px;
    letter-spacing: 3px;
}
.page2 .header_sec h1 span{
  text-transform: uppercase;
  font-size: 92px;
  color: #ec277a;
  letter-spacing: 1px;
}
.page2 .header_sec p {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0 30px;
}

button.donate_btn.roboto {
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 240px;
    margin: 0 auto;
    height: 62px;
    line-height: 64px;
    background: #f7d54f;
    color: #000;
    font-family: 'rockwell';
    letter-spacing: 2px;
}


.page2 a.donate_btn {
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 240px;
    margin: 0 auto;
    height: 62px;
    line-height: 64px;
    background: #f7d54f;
    color: #000;
    font-family: 'rockwell';
    letter-spacing: 2px;
}
.page2 a.donate_btn:after{
  content: none;
}
.page2 a.donate_btn:hover,.page2 .btn_cart:hover{
  background: #ec277a;
  color: #fff;
}
.page2 .donate_bg{
  background: url(../img/donate_banner.jpg)no-repeat;
  background-size: cover;
  background-position: top;
  padding: 20px;
}
.page2 .form_class {
    background: #ffffff;
    padding: 21px 10px 10px;
    margin-top: 0;
}
.page2 .counter {
    width: 5rem;
}
.page2 .btn_cart {
    background: #f7d54f;
    color: #000;
    font-weight: 600;
}
.page2 .donate_text {
    padding-top: 128px;
    color: #ffffff;
    position: relative;
    text-align: center;
    height: 100%;
}
.page2 .donate_text p {
    font-size: 26px;
    font-weight: 300;
    line-height: 33px;
    padding: 40px 0;
}
.help_text {
    position: absolute;
    bottom: -20px;
    font-size: 92px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'rockwell';
    letter-spacing: 3px;
}
.page2 .form_class h2 {
    color: #010101;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}
.page2 .form_class h2 span{
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}
/*======================Media-Query=====================*/
@media(max-width: 1600px){
  .header_sec p {
    padding: 55px 0;
 }
 .header_sec {
    padding: 200px 0 140px;
 }
 .head_img {
    bottom: -194px;
 }
 /*===============*/
 .page2 .header_sec {
    padding: 400px 0 70px;
 }
}
@media(max-width: 1366px){
 .header_sec h1 {
    font-size: 44px;
 }
 .header_sec h1 span {
    font-size: 76px;
 }
 .header_sec p {
    font-size: 25px;
    padding: 35px 0;
 }
 .header_sec {
    padding: 165px 0 110px;
 }
 .head_img {
    bottom: -164px;
    width: 350px;
 }
 .page2 .header_sec {
    padding: 245px 0 40px;
 }
}
@media(max-width: 1199px){
 .header_sec p {
    font-size: 30px;
 }
 .form_class label {
    font-size: 19px;
 }
 footer ul li {
    font-size: 14px;
 }
 .nav_head .list-inline-item:not(:last-child) {
    margin-right: 20px;
 }
 .nav_head ul li a {
    font-size: 19px;
 }
 .header_sec h1 span {
    font-size: 75px;
 }
 .header_sec h1 {
    font-size: 40px;
 }
 .header_sec p {
    font-size: 22px;
 }
 .header_sec {
    padding: 200px 0 150px;
 }
 .head_img {
    bottom: -184px;
 }
 .amount_class {
    font-size: 19px;
 }
 .page2 .amount_class ul {
    font-size: 16px;
 }
 .page2 .counter__input {
    font-size: 16px !important;
 }
 .page2 .counter__increment, .counter__decrement {
    font-size: 16px;
 }
 .page2 .help_text {
    font-size: 78px;
    bottom: -15px;
 }
 .page2 .text_feed {
    padding: 14px 30px 14px 14px;
 }
}
@media(max-width: 991px){
  .form_class label {
    font-size: 16px;
 }
 p.heading_text {
    font-size: 24px;
 }
 .banner_sec p {
    font-size: 24px;
 }
 .feed_box p {
    font-size: 14px;
    line-height: 19px;
 }
 .feed_box h4 {
    font-size: 12px;
 }
 .feed_box h3 {
    font-size: 16px;
 }
 .page2 .header_sec p {
    font-size: 25px;
 }
 .page2 .header_sec {
    padding: 300px 0 70px;
 }
 .page2 .help_text {
    font-size: 60px;
    bottom: -13px;
    letter-spacing: 1px;
  }
  .page2 .form_class h2 span {
    font-size: 26px;
 }
 .page2 .form_class h2 {
    font-size: 22px;
 }
 .page2 .text_feed {
    padding: 14px 14px 14px 14px;
 }
 .page2 .feed_box h3 {
    font-size: 16px;
 }
 .page2 .feed_box p {
    font-size: 13px;
 }
 .page2 .feed_box h4 {
    font-size: 13px;
 }
 
}
@media(max-width: 767px){
  .nav_head ul li a {
    font-size: 14px;
 }
 .nav_head ul li a img {
    width: 16px;
 }
 .nav_head {
    padding: 10px 0 10px 0;
  }
 .nav_head .list-inline-item:not(:last-child) {
    margin-right: 0;
 }
 .nav_head .logo1 {
    max-width: 100px;
 }
 .nav_head .list-inline-item {
    display: block;
 }
 .header_sec h1 {
    font-size: 30px;
 }
 .header_sec h1 span {
    font-size: 50px;
 }
 .head_img {
    max-width: 150px;
    width: 100%;
    right: 4px;
    bottom: -130px;
 }
 .header_sec p {
    font-size: 19px;
    padding: 20px 0;
 }
 .header_sec {
    padding: 150px 0 100px;
 }
 p.donate_heading {
    font-size: 26px;
    line-height: normal;
 }
 p.donate_heading span {
    font-size: 25px;
 }
 .form_class {
    padding: 25px 20px;
    margin-top: 20px;
 }
 .amount_class {
    padding: 20px 0;
    margin: 0 0 30px;
    font-size: 16px;
 }
 .amount_class ul {
    font-size: 16px;
 }
 .counter__input {
    font-size: 16px !important;
 }
 .amount_class p {
  margin-bottom: 15px;
 }
 .lab_height {
    height: auto;
 }
 .form_class label {
    font-size: 15px;
 }
 .form_class .form-control {
    font-size: 14px;
    padding: 5px 10px;
    height: 40px !important;
 }
 .btn_cart {
    font-size: 15px;
    height: 40px;
 }
 .donate_sec {
    padding: 45px 0 35px;
 }
 .banner_sec .media {
    display: block;
 }
 .banner_sec p {
    font-size: 19px;
    margin-left: 0;
    margin-top: 15px;
 }
 .banner_sec {
    padding: 50px 0 60px;
 }
 .banner_sec .media img {
    width: 150px;
 }
 .feed_sec {
    padding: 30px 0;
 }
 p.heading_text {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 30px;
 }
 .feed_box {
    float: none !important;
    display: block;
    margin: 20px auto;
 }
 .feed_box p {
    font-size: 12px;
    padding: 10px;
    line-height: normal;
 }
 footer .logo{
  max-width: 150px;
  width: 100%;
  margin-bottom: 15px;
 }
 footer ul {
    margin-bottom: 10px;
 }
 a.donate_btn:after {
    width: 173px;
 }
 a.donate_btn {
    max-width: 173px;
    line-height: 59px;
 }
 .page2 .header_sec h1 {
    font-size: 20px;
    letter-spacing: 1px;
 }
 .page2 .header_sec h1 span {
    font-size: 48px;
 }
 .page2 .header_sec p {
    font-size: 14px;
 }
 .page2 .header_sec {
    padding: 160px 0 40px;
    background-position: 33% 20%;
 }
 .page2 .donate_sec {
    padding: 30px 15px 30px;
  }
  .page2 .donate_text {
    padding-top: 30px;
 }
 .page2 .donate_text p {
    font-size: 16px;
    padding: 20px 0 70px;
    line-height: normal;
 }
 .page2 .help_text {
    font-size: 40px;
    bottom: 0;
  }
 .logo_donate{
    max-width: 150px;
    width: 100%;
 }
 .page2 .form_class {
    margin-top: 30px;
 }
 .page2 .text_feed {
    padding: 10px;
 }
 .page2 .feed_box p ,.page2 .feed_box h4{
    font-size: 12px;
 }
 .page2 a.donate_btn {
    font-size: 18px;
    max-width: 200px;
    height: 45px;
    line-height: 47px;
    letter-spacing: 1px;
 }
 .page2 .donate_bg {
    padding: 15px;
 }
}
@media(max-width: 460px){
  .header_sec p {
    font-size: 17px;
 }
 .page2 .header_sec h1 span {
    font-size: 39px;
 }
 .page2 .header_sec p {
    font-size: 12px;
 }
}
@media(max-width: 375px){
 p.donate_heading span {
    font-size: 23px;
 }
 p.heading_text {
    font-size: 13px;
    line-height: normal;
    margin-bottom: 20px;
 }
 .banner_sec p {
    font-size: 14px;
 }
 .banner_sec {
    padding: 30px 0 40px;
 }
 .counter {
    width: 6rem;
 }
 .form_class .form-group {
    margin-bottom: 20px;
 }
 .page2 .form_class h2 {
    font-size: 20px;
 }
 .page2 .form_class h2 span {
    font-size: 22px;
 }
}
@media(max-width: 320px){
 .feed_box p {
    font-size: 10px;
 }
 p.donate_heading span {
    font-size: 19px;
 }
 .nav_head ul li a {
    font-size: 12px;
 }
 .nav_head ul li a img {
    width: 10px;
 }
 .header_sec p {
    font-size: 14px;
 }
 .header_sec h1 span {
    font-size: 40px;
 }
 .header_sec h1 {
    font-size: 20px;
 }
 .header_sec {
    padding: 100px 0 60px;
 }
 .head_img {
    max-width: 100px;
    bottom: -80px;
 }
 .page2 .header_sec p {
    font-size: 10px;
    padding: 5px 0 10px;
 }
}



.hidden
{	display: none;
}


.jqmWindow.cartModalPopup
{	width: 738px;
	margin-left: -369px;
	padding: 0px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner
{	text-align: center;
	padding: 50px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner h3
{	font-size: 31px;
	font-weight: bold;
	margin: 0px 0px 40px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner p
{	font-size: 20px;
	margin: 0px 0px 40px;
}
.jqmWindow.cartModalPopup .jqmClose.cartCloseTop
{	font-size: 40px;
	text-transform: uppercase;
	color: #cccccc;
	margin-top: 0px;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 10px;
	padding-top: 10px;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a
{	display: block;
	float:left;
	position:relative;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
	color: #FFF;
	text-transform: uppercase;
	background: #ec287a;
	height: 50px;
	width: 249px;
	padding-top: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a.jqmClose
{	width: 368px;
	margin-right: 13px;
}
.jqmWindow.cartModalPopup .clear
{	clear: both;
}
@media (max-width: 767px)
{	.jqmWindow.cartModalPopup
	{	width: 100%;
		margin-left: 0px;
		padding: 0px;
		height: auto !important;
		left: 0px;
		top: 5%;
	}
	.jqmWindow.cartModalPopup .cart_modal_popup_inner
	{	text-align: center;
		padding: 20px;
	}
	.jqmWindow.cartModalPopup .cart_modal_popup_inner .cartPopupButtons a
	{	float: none;
		width: 100% !important;
		margin: 10px 0px;
	}
}