<h2>Online Direct Debit Setup</h2>
<h3>Confirmation of monthly donation set up</h3>
<p>Donation set up for &pound;1.00 per month.</p>
<p>Details are as follows</p><ul>
<li>Date: 9 Nov 2018</li>
<li>Reference: TEST-ddref-06ac10c6a2b8</li>
<li>Account holder name: Fred Basset</li>
<li>Account number: 01234456</li>
<li>Account sort code: 111109</li>
<li>First payment: On or after 1 Dec 2018</li>
<p><a href="https://charityright2016.websquare/cradmin/cartorder.php?id=3">View in admin panel</a></p>