@font-face{
    src:url(../fonts/CoreSansG-Bold.ttf);
    font-family:'CoreSansG-Bold';
}
@font-face{
    src:url(../fonts/CoreSansGRounded-ExtraBold.ttf);
    font-family:'CoreSansGRounded-ExtraBold';
}
@font-face{
    src:url(../fonts/CoreSansG-Light.ttf);
    font-family:'CoreSansG-Light';
}
@font-face{
    src:url(../fonts/CoreSansG-Regular.ttf);
    font-family:'CoreSansG-Regular';
}
@font-face{
    src:url(../fonts/MuseoSans-900.otf);
    font-family:'MuseoSans-900';
}

body {
    margin: 0px;
    padding: 0px;
    background: #fff;
    height: 100%;
    width: 100%;
    font-family:'proximanova-regular-webfont';
    color: #000;
}
html {
    height: 100%;
    width: 100%;
}
.modal-backdrop.show:first-child{
    display: none !important;
    opacity: 0 !important;
    z-index: -1;
}
/* ======DEFAULT BROWSER STYLE========= */

a:focus,
a:hover {
    text-decoration: none;
    transition: 300ms ease-in-out;
}
a:focus,
.btn:focus,
.btn:active:focus,
button:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
}

.pad0 {
    padding: 0!important;
}
.m0{
    margin: 0!important;
}
.mleft0 {
    margin-left: 0!important;
}

.form-control::-webkit-input-placeholder { /* Edge */
  color: #882b66;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #882b66;
}

.form-control::placeholder {
  color: #882b66;
}


@media(min-width: 1366px){
    .container{
        max-width: 1350px;
        width: 100%;
    }
}


/*===============================================*/
.navbar-nav .nav-link{
    font-size: 25px;
    color: #fff;
    font-family:'CoreSansG-Bold';
    margin: 0 10px;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover{
    color:#cdc6c6;
}
header{
    background: #e53b82;
    padding: 20px 0;
}
.btn_donate{
    display: block;
    font-size: 34px;
    color: #fff;
    background: #882b66;
    font-family:'CoreSansGRounded-ExtraBold';
    border-radius: 0;
    padding: 0px 20px;
    margin-right: 40px;
    transition: 0.4s;
    text-transform: uppercase;
}
.btn_donate:hover{
    background: #882b6678;
    color: #FFF;
}
.nav-item img{
    margin:10px 6px 0 ;
}
.banner{
    background: url(../img/bg.png)no-repeat;
    background-size: cover;
    background-position: 74% 100%;
    padding: 200px 0;
}
.letter{
    font-size: 88px;
    color: #882b66;
    letter-spacing: 4px;
    font-family: 'CoreSansG-Light';
    text-align: right;
    margin-right: 100px;
    margin-bottom: -37px;
}   
.banner p{
    color: #f4962d;
    font-size: 36px;
    font-family:'CoreSansGRounded-ExtraBold';
    background: url(../img/bg1.png)no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-top: 20px;
}
.now{
    position: absolute;
    right: 0;
    top: 56%;
}
.qurbani{
    margin-top: -55px;
}
.qurbani h4{
    font-size: 30px;
    color: #fff;
    font-family:'CoreSansGRounded-ExtraBold';
    padding: 0;
    margin:0;
}
.qurbani h4 span{
    color: #f4962d;
    font-family: 'CoreSansG-Regular';
}
.pink_box{
    background: #e53b82;
    padding: 30px;
    margin:0 103px 0;
}
.pink_box.pinkbox_infFormContainer .failmessage, .pink_box.pinkbox_infFormContainer .infFormSaved
{	width: 100%;
	text-align: center;
	font-family:'CoreSansGRounded-ExtraBold';
	font-size: 28px;
	padding: 10px 20px;
}
.pink_box.pinkbox_infFormContainer .failmessage
{	color: #d20000;
	background: #FFFFFF;
	margin-bottom: 30px;
}
.pink_box.pinkbox_infFormContainer .infFormSaved
{	color: #FFF;
}
#basic-addon1{
    font-size: 28px;
    color: #882b66;
    background-color: #f4962d;
    font-family: 'CoreSansG-Regular';
    border-radius: 0;
    border: 0;
    padding: 0 14px;
}
.form-control{
    color: #882b66;
    font-size: 22px;
    background: #fff;
    border-radius: 0;
    font-family:'CoreSansG-Regular';
    padding: 0 14px;
    min-height: 42px;
}
#inputGroupSelect02{
    background: url(../img/arw.png)no-repeat;
    background-size: contain;
    background-position: 100%;
    color: #882b66;
    font-size: 22px;
    background-color: #fff;
    border-radius: 0;
    font-family:'CoreSansG-Regular';
    padding: 0 14px;
    border:0;
    min-height: 42px;
}
.qurbani .btn_donate{
    font-size: 28px;
    margin-right:0;
}
.food{
    padding: 150px 0;
}
.title{
    font-size: 79px;
    color: #882b66;
    text-align: center;
    font-family:'CoreSansGRounded-ExtraBold';
}
.food p{
    font-size: 34px;
    text-align: center;
    font-family: 'CoreSansG-Regular';
    color: #882b66;
    line-height: 35px;
    margin: 20px 0 80px;
}
.img_txt{
    font-size: 35px;
    text-align: center;
    font-family:'CoreSansGRounded-ExtraBold';
    color: #fff;
}
.img_txt{
    background: #e53b82;
    padding: 10px 30px;
    text-align: center;
}
.donate{
    padding: 150px 0 10px;
    background: #f0ebeb;
}
.donate .table th{
    font-size: 25px;
    color: #882b66;
    font-family: 'CoreSansG-Regular';
}
.table  th, .table td{
    border-top: 0px solid #fff;
}
tbody th, tbody td{
    font-size: 41px !important;
    color: #fff !important;
    font-family:'MuseoSans-900' !important;
}
.table tbody{
    background: #80285e;
}
 .table tbody th:first-child{
    padding: 13px 40px 0;
}
.table tbody td{
    text-align: center;
}
.table tr{
    position: relative;
}
.table tr:not(:first-child):after{
    position: absolute;
    content: '';
    background: #fff;
    width: 93%;
    margin: 0 auto;
    display: block;
    height: 2px;
    left: 0;
    right: 0;
}
.table img{
    margin-bottom: -20px;   
}
.donate .table th.table_txt{
    padding-bottom: 50px;
    font-family: 'CoreSansG-Regular';
}
.donate .title{
    margin-bottom: 60px;
}
.btn_now{
    font-size: 56px;
    color: #882b66;
    text-align: center;
    padding: 0px 30px;
    border-radius: 0;
    font-family:'CoreSansGRounded-ExtraBold';
    margin: 50px auto;
    display: block;
    background: #f4962d;
    transition: 0.4s;
    text-transform: uppercase;
}
a.btn_now
{	-webkit-appearance: button !important;
    display: inline-block;
}
.btn_now:hover{
    background: #f4962d87;
    color: #882b66;
}
.help{
    padding: 130px 0 50px;
}
.playpause {
    background-image:url(../img/bg4.png);
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:cover;
    background-position: center;
}
.video {
    width: 100%;
    border: 1px solid black;
    height: 100%;
    object-fit: cover;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:100%;
    height: 100%;
}
.reward{
    padding: 150px 0 140px;
}
.reward h3{
    font-size: 48px;
    color: #882b66;
    font-family:'CoreSansGRounded-ExtraBold';
    text-align: center;
    margin-bottom: 90px;
}
.reward h3 span{
    font-family: 'CoreSansG-Regular';
}
.sign_txt{
    font-size: 30px;
    color: #fff;
    font-family:'CoreSansGRounded-ExtraBold';    
}
.reward .btn_donate{
    font-size: 28px;
}
footer{
    padding: 100px 0;
    background: #4d4d4d;
    color: #fff;
}
footer p{
    font-size: 23px;
    font-family: 'CoreSansG-Regular';
    margin-top: 20px;
}
footer h4{
    font-size: 41px;
    font-family:'CoreSansGRounded-ExtraBold';    
    margin-bottom: 30px;
}
.f_logo{
    margin-bottom: 30px;
}
footer li a, footer li{
    font-size: 23px;
    font-family: 'CoreSansG-Regular';
    color: #fff;
    display: flex;
    align-items: start;
    margin-bottom: 6px;
    transition: 0.4s;
}
footer li a:hover{
    color: #9e9e9e
}
footer li img{
    margin-right: 10px;
}
.copy{
    font-size: 22px;
    color: #fff;
    font-family: 'CoreSansG-Regular';
    background: #333;
    padding: 20px 0;
}
.copy ul{
    margin: 0;
    padding: 0;
}
.img_box:hover{
    box-shadow: 0 0 10px #000000a1;
}

.navbar-nav .nav-item
{	text-align: center;
}

/*========================================================media============================*/
@media(max-width: 1750px)
{	.navbar-nav .nav-link
	{	font-size: 22px;
	}
}
@media(max-width: 1650px)
{	.navbar-nav .nav-link
	{	font-size: 20px;
	}
}
@media(max-width: 1580px)
{	.navbar-nav .nav-link, .btn_donate
	{	font-size: 18px;
	}
	.btn_donate{
        margin-top: 10px;
    }
}
@media(max-width: 1440px){
    .navbar-nav .nav-link, .btn_donate {
        font-size: 18px;
    }
    .btn_donate{
        margin-top: 10px;
    }
    .nav-item img{
        width: 58%;
        margin: 14px 0px 0;
    }
    .qurbani_img{
        width: 65%;
        margin: 0 auto;
        display: block;
    }
    .letter {
        font-size: 68px;
        margin-right: 208px;
        margin-bottom: -37px;
    }
    .banner{
        padding: 150px 0;
    }
    .banner p{
        font-size: 28px;
    }
    .qurbani h4 {
        font-size: 24px;
    }
    .form-control, #inputGroupSelect02{
        font-size: 18px;
    }
    #basic-addon1{
        padding: 0 9px;
        font-size: 20px;
        min-height: 42px;
        line-height: 42px;
    }
    #inputGroupSelect02{
        background-size: 30px 100%;
        padding: 0 7px;
    }
    .qurbani .btn_donate {
        font-size: 18px;
        min-height: 42px;
    }
    .qurbani .btn_donate{
        margin-top: 0;
        padding: 6px 20px;
    }
    .now {
        position: absolute;
        right: 37%;
        top: 59%;
        width: 29%; 
    }
    .title {
        font-size: 50px;
    }
    .food p {
        font-size: 24px;
    }
    .img_txt {
        font-size: 22px;
    }
    .food {
        padding: 100px 0;
    }
    .title {
        font-size: 40px;
    }
    .donate .table th {
        font-size: 20px;
    }
    tbody th, tbody td{
        font-size:25px !important;
    }
    .btn_now {
        font-size: 35px;
    }
    .reward h3 {
        font-size: 35px;
    }
    .reward {
        padding: 100px 0;
    }
    .sign_txt {
        font-size: 24px;
    }
    .reward .btn_donate {
        font-size: 20px;
        margin-top: 0px;
        min-height: 42px;
    }
    .donate{
        padding: 100px 0 10px;
    }
    .donate img{
        width: 70%;
    }
    .help {
        padding: 100px 0 30px;
    }
    .f_logo {
        margin-bottom: 30px;
        width: 110px;
    }
    footer p, footer li a, footer li {
        font-size: 20px;
    }
    footer h4 {
        font-size: 34px;
    }
    .copy {
        font-size: 17px;
    }
    .copy img{
        width: 68%;
    }

}










@media(max-width: 1366px){
    .container{
        width: 100%;
    }
    .btn_now {
        font-size: 30px;
    }
    .form-control, #inputGroupSelect02 {
        font-size: 17px;
    }
    .navbar-nav .nav-link {
        font-size: 16px;
    }
}







@media(max-width: 1280px){
    .navbar-nav .nav-link, .btn_donate {
        font-size: 16px;
    }
    .qurbani_img {
        width: 55%;
    }
    .letter {
        font-size: 50px;
        margin-right: 208px;
        margin-bottom: -28px;
    }   
    .banner p {
        font-size: 24px;
    }
    .qurbani h4 {
        font-size: 21px;
        margin-top: 7px;
    }
    .food {
        padding: 70px 0;
    }
    .food p {
        font-size: 22px;
        margin: 20px 0 64px;
    }
    .donate {
        padding: 70px 0 10px;
    }
    tbody th, tbody td {
        font-size: 22px !important;
    }
    .title {
        font-size: 32px;
    }
    .help {
        padding: 70px 0 25px;
    }
    .reward{
        padding: 80px 0;
    }
    .reward h3 {
        font-size: 28px;
    }
    .pink_box{
        margin: 0 43px 0;
    }
    .logo{
        width: 110px;
    }
}






@media(max-width: 1024px){
    header .ml-5, .mx-5 {
        margin-left: 1rem!important;
    }
    .logo {
       width: 90px; 
    }
    .btn_donate{
        margin-right: 20px;
        font-size: 13px;
    }
    .navbar-nav .nav-link {
        font-size: 13px;
        margin: 0 7px;
    }
    .letter {
        font-size: 41px;
        margin-right: 169px;
        margin-bottom: -16px;
    }
    .banner {
        padding: 100px 0;
    }
    .banner p {
        font-size: 18px;
    }
    .title {
        font-size: 28px;
    }
    .food p {
        font-size: 18px;
        margin: 20px 0 64px;
        line-height: 23px;
    }
    .img_txt {
        font-size: 16px;
    }   
    .donate .table th {
        font-size: 16px; 
    }
    .donate .table th br{
        display: none;
    }
    tbody th, tbody td {
        font-size: 15px !important;
    }
    .btn_now {
        font-size: 24px;
    }
    .help {
        padding: 60px 0 25px;
    }
    .btn_now{
        margin: 30px auto;
    }
    .reward {
        padding: 60px 0;
    }
    .sign_txt {
        font-size: 18px;
        margin-top: 10px;
    }
    .reward .btn_donate {
        font-size: 15px;
    }
    footer {
        padding: 60px 0;
    }
    .copy {
        font-size: 14px;
    }
    .qurbani .btn_donate {
        font-size: 14px;
    }
    .pink_box{
        padding: 20px 0px;
    }
    .form-control, #inputGroupSelect02 {
        font-size: 13px;
    }
    .reward .pink_box{
        padding: 30px;
    }
}





@media(max-width: 991px){
    .navbar-toggler-icon{
        background: #fff;
        height: 2px;
        width: 25px;
        margin-bottom: 6px;
        display: block;
    }
    .nav-item img {
        width: 20px;
        margin: 14px 20px 0;
    }
    .navbar-nav .nav-link {
        font-size: 17px;
        margin: 0 7px;
    }
    .btn_donate{
        font-size: 17px;
    }
    .navbar-nav.mr-auto{
        margin-top: 30px;
    }
    header{
        padding: 6px 0;
    }
    .letter {
        font-size: 27px;
        margin-right: 125px;
        margin-bottom: -14px;
    }
    .pink_box {
        padding: 20px;
    }
    #inputGroupSelect02,.input-group{
        margin: 20px 0;
    }
    .form-control, #inputGroupSelect02 {
        font-size: 16px;
    }
    #inputGroupSelect02 {
        background-size: contain;
    }
    #basic-addon1{
        padding: 0 14px;
    }
    .qurbani .btn_donate{
        margin: 0 auto;
        display: block;
    }
    .food {
        padding: 50px 0;
    }
    .title {
        font-size: 23px;
    }
    .food p {
        font-size: 14px;
        margin: 20px 0 45px;
        line-height: normal;
    }
    .img_txt{
        padding: 10px 20px;
    }
    .img_txt {
        font-size: 14px;
    }
    .donate {
        padding: 50px 0 10px;
    }
    .donate .title {
        margin-bottom: 30px;
    }
    .donate .table th.table_txt {
        padding-bottom: 0;
    }
    .donate .table th {
        font-size: 14px;
    }
    .donate img {
        width: 100%;
    }
    .btn_now {
        font-size: 17px;
        margin: 20px auto;
    }
    .help {
        padding: 40px 0 25px;
    }
    .reward h3 {
        font-size: 20px;
        margin-bottom: 35px;
    }
    .reward .pink_box {
        padding: 17px;
    }
    .f_logo{
        width: 75px;
    }
    footer p, footer li a, footer li {
        font-size: 14px;
    }
    footer h4 {
        font-size: 20px;
    }
    footer li img{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .copy img {
        width: 60%;
    }

}











@media(max-width: 767px){
    br{
        display: none;
    }
    .navbar-nav .nav-link {
        font-size: 15px;
    }
    .nav-item img {
        width: 17px;
    }
    .letter {
        font-size: 27px;
        margin-right: 101px;
        margin-bottom: 2px;
    }
    .banner {
        padding: 55px 0;
    }
    .qurbani {
        margin-top: 0;
        padding: 20px 0;
    }
    .now {
        position: relative;
        right: 0;
        top: 0;
        width: 70px;
        float: right;
    }
    .pink_box {
        margin: 0 15px 0;
    }
    .title {
        font-size: 20px;
    }
    .img_txt{
        margin-bottom: 30px;
    }
    .food {
        padding: 30px 0;
    }
    .table tbody th:first-child {
        padding: 13px 40px 0 12px;
    }
    tbody th, tbody td {
        font-size: 14px !important;
    }
    .title, .reward h3 {
        font-size: 15px;
    }
    .btn_now {
        font-size: 15px;
    }
    footer {
        padding: 40px 0;
    }
    .copy ul{
        text-align: center;
    }
    .banner br{
        display: block;
    }
    .banner p {
        font-size: 14px;
    }
    .donate img{
        width: 300px;
    }
    .reward .form-control{
        margin-bottom: 15px;
    }
}

.pink_circle
{	margin-top: 50px;
	background: #e53b82;
	width: 100%;
	padding-top: 100%;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	position: relative;
}
.pink_circle .pink_circle_inner
{	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 15% 15% 0%;
}
.pink_circle p
{	color: #FFFFFF;
	font-size: 32px;
	line-height: 1.2em;
	margin: 0px;
}
.pink_circle p:first-child
{	font-size: 48px;
	color: #f4962d;
	margin-bottom: 20px;
	font-family:'CoreSansGRounded-ExtraBold';
}

@media (max-width: 1349px)
{	.pink_circle .pink_circle_inner
	{	padding-top: 12%;
	}
	.pink_circle p
	{	font-size: 28px;
	}
	.pink_circle p:first-child
	{	font-size: 42px;
		margin-bottom: 12px;
	}
}
@media (max-width: 1199px)
{	.pink_circle p
	{	font-size: 22px;
	}
	.pink_circle p:first-child
	{	font-size: 33px;
	}
}
@media (max-width: 991px)
{	.pink_circle p
	{	font-size: 16px;
	}
	.pink_circle p:first-child
	{	font-size: 24px;
	}
}
@media (max-width: 767px)
{	.pink_circle
	{	width: 250px;
		height: 250px;
		padding-top: 0px;
		margin: 50px auto 0px;
	}
	.pink_circle p
	{	font-size: 20px;
	}
	.pink_circle p:first-child
	{	font-size: 30px;
	}
}


@media(max-width: 411px){

}