/*******************************
* Fonts
********************************/
/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,800;1,900&display=swap');

/* Local fonts */
@font-face {
  font-family: Akzidenz Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Regular-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Medium Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Med-Regular.otf") format("opentype");
}

@font-face {
  font-family: Akzidenz Bold Regular;
  src: url("../fonts/Akzidenz-Grotesk-Pro-Bold-Regular.otf") format("opentype");
}

@font-face {
  font-family: Neusa Next Pro Compact Medium;
  src: url("../fonts/Neusa-Next-Pro-Compact-Medium.otf") format("opentype");
}

/*******************************
* Navbar Section
********************************/

.navbar {
  	/*background-color: #E53B82;*/
	/*min-height: 100px;*/
	color: #ffffff;
}



.navbar a{
color: #ffffff;
font-family: "Akzidenz Regular";
font-size: 18px;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}


.cr-donate-mainmenu{
  background-color: #00A99D;
  color: #ffffff;
  min-height: 100px;
  position: absolute;
  top: 0;
  
}

.cr-donate-mainmenu:hover{
  background-color: #58595B;
  color: #ffffff;
  min-height: 100px;
  position: absolute;
  top: 0;
}

a.cr-donate-mainmenu span{
  margin-top: 10px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Neusa Next Pro Compact Medium;
  font-size: 40px;
}


@media (max-width:1199px)
{

  .cr-donate-mainmenu{
    background-color: #E53B82;
    color: #ffffff;
    min-height: 0px;
    position: inherit;
    top: 0;
  }
  
  .cr-donate-mainmenu:hover{
    background-color: #E53B82;
    color: #ffffff;
    min-height: 0px;
    position: inherit;
    bottom: 0;
  }
  
  a.cr-donate-mainmenu span{
    margin-top: 0px;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .hvr-pop, .hvr-grow {
    display: inline-block;
  }

}
/* SOcial Media icons in top bar */
.social-icon{
  display: inline;
  
}


.social-icons
{
  padding-left:0;
  list-style:none;
  display:inline;
  margin-left: 200px;
}


@media (max-width:1199px)
{
  .social-icons
{
  padding-left:0;
  list-style:none;
  display:inline;
  margin-left: 0px;
}
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#ffffff;
  color:#E53B82;
  font-size:16px;
  display:inline-block;
  line-height:18px;
  width:35px;
  height:35px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}


/*******************************
* Header Section
********************************/
.ir-counter-card
{
    position:absolute;
    top: -60px;
    left: 0;
    right: 0;
}

@media (max-width:1199px)
{

  .ir-counter-card
  {
      position:relative;
      top: -40px;
      left: 0;
      right: 0;
  }
}

@media (max-width:575px)
{
  .ir-counter-card
  {
      position:relative;
      top: -40px;
      left: 0;
      right: 0;
  }
}


/*******************************
* Intro Section
********************************/

.cr-intro{

  margin-top: 200px;
  margin-bottom: 100px;
}


@media (max-width:1199px)
{

  .cr-intro{

    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width:575px)
{
  .cr-intro{

    margin-top: 20px;
    margin-bottom: 50px;
  }
}



/*******************************
* Video Section
********************************/




.cr-pakistan{

  margin-top: 100px;
  margin-bottom: 100px;
}

.cr-bangladesh{

  margin-top: 100px;
  margin-bottom: 100px;
}

/*******************************
* Text
********************************/
.cr-txt-1{

  font-family: Neusa Next Pro Compact Medium;
  color: #D31359;
  font-size: 40px;
}

.cr-txt-2{
  font-family: Akzidenz Regular;
  color: #4C4C4C;
  font-size: 24px;

}

.cr-txt-3{
  color: #08ACA0;
  font-family: Akzidenz Bold Regular;
  font-size: 24px;

}

.cr-txt-4{
  font-family: Neusa Next Pro Compact Medium;
  color: #D31359;
  font-size: 28px;

}

.cr-txt-5{

}


.cr-support-mb{
margin-bottom: 150px;
}

/*******************************
* Search subs bar
********************************/
.cr-sub-bar{
  margin-top: 250px;
  margin-bottom: 100px;
  background-color: #E53B82;
}

.cr-sub-bar-text{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 24px;
}

.cr-sub-bar-formfield{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0;
  border: 0;
}




.cr-sub-bar-btn{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  background-color: #00A99D;
  min-height: 100px;
  position: relative;

  
}

.cr-sub-bar-btn:hover{
  font-family: Akzidenz Medium Regular;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  background-color: #58595B;
  min-height: 100px;
  position: relative;
  top: 0;
  
}


@media (max-width:1199px)
{

  .cr-sub-bar{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #E53B82;
  }

  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 70px;
    position: relative;
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 70px;
    position: relative;
    top: 0;
    
  }
 
}





@media (max-width:575px)
{
	.cr-txt-1{

	  font-family: Neusa Next Pro Compact Medium;
	  color: #D31359;
	  font-size: 24px;
	}
	.cr-txt-2{
	  font-family: Akzidenz Regular;
	  color: #4C4C4C;
	  font-size: 18px;

	}

	.cr-txt-3{
	  color: #08ACA0;
	  font-family: Akzidenz Bold Regular;
	  font-size: 18px;

	}

	.cr-txt-4{
	  font-family: Neusa Next Pro Compact Medium;
	  color: #D31359;
	  font-size: 20px;

	}
  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 70px;
    position: relative;
   
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 70px;
    position: relative;
    top: 0;
    
  }

  .cr-subform-filed-margin{
    margin-right: 30px;
  }
  
}

@media (max-width:514px)
{

  .cr-sub-bar-btn{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #00A99D;
    min-height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
  
    
  }
  
  .cr-sub-bar-btn:hover{
    font-family: Akzidenz Medium Regular;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #58595B;
    min-height: 50px;
    position: relative;
    top: 0;
    
  }


  .cr-subform-filed-margin{
    margin-right: 0px;
  }
  
}

@media (min-width:1200px)
{
  .cr-seperator
  {
    margin-top:300px

  }
}



/* set one : left side */
.cr-d-btn-1-l
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 100px;
 
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-l:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 100px;
 
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-l
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #ffffff;
 
  

  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-l
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #ffffff;
  
 
  
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}


/* set one : right side */
.cr-d-btn-1-r
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 100px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-r:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 100px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-r
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #D31359;
 
  
  
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-r
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #D31359;
  
 
 
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}





@media (max-width:1250px)
{

  /* set one : left side */
.cr-d-btn-1-l
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 80px;

  text-decoration: none;
  display: inline-block;
  font-size: 33px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-l:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 80px;

  text-decoration: none;
  display: inline-block;
  font-size: 33px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-l
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #ffffff;
 
  

  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-l
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #ffffff;
  
 

  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}


/* set one : right side */
.cr-d-btn-1-r
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 80px;

  text-decoration: none;
  display: inline-block;
  font-size: 33px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-r:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 80px;
 
  text-decoration: none;
  display: inline-block;
  font-size: 33px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-r
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #D31359;
 
  

  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-r
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #D31359;
  
 
 
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}

  
}



@media (max-width:944px)
{

  /* set one : left side */
.cr-d-btn-1-l
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 50px;
 
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-l:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 50px;

  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-l
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #ffffff;
 
  
 
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-l
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #ffffff;
  
 
  
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}


/* set one : right side */
.cr-d-btn-1-r
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 50px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-1-r:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 50px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-1-r
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #D31359;
 
  
 
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-1-r
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #D31359;
  
 
 
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}

  
}




/* set two : left side */
.cr-d-btn-2-l
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-2-l:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFF00; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 15px;
  padding-right: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-2-l
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #ffffff;
 
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-2-l
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #ffffff;
  
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}


/* set two : right side */
.cr-d-btn-2-r
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-2-r:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #D4145A; /* Green */
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  padding-right: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  margin-top: 30px;
}

.cr-d-btn-desc-2-r
{
  font-family: Neusa Next Pro Compact Medium;
 
  border: none;
  color: #D31359;
 
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  margin:0px;
  padding: 0px;
}

.cr-d-btn-detail-2-r
{
  font-family: Akzidenz Regular;
 
  border: none;
  color: #D31359;
  
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-weight: 300px;
  margin-top: 10px;
}



.container{
	min-width: auto !important;
	max-width: 100% !important;
}


.cr-10n-btn
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 25px;
 
 
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
 
}

.cr-10n-btn:hover
{
  font-family: Neusa Next Pro Compact Medium;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: #D4145A;
  padding: 0px 25px;
  
 
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 800;
 
}

.cr-10n-des{
  color: #ffffff;
  font-family: Neusa Next Pro Compact Medium;
  font-size: 38px;
  line-height: 40px;
	margin-left: 30%;

}

.cr-10n-des-span{
  font-size: 28px;
  
}

@media (min-width:945px)
{
	.tennightsmargin{
		margin-top:150px;
}
}

@media (max-width:944px)
{
	.tennightsmargin{
		margin-top:50px;
}
	
	.cr-10n-btn{
		margin-left:80px;
	}
}




.tn-banner{
  
  background-image: url("../img/bar-background.png");
  
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover;

}

.tn-banner-txt-1{
color: #ffffff;
font-size: 38px;
font-family: 'Montserrat', sans-serif;
}

.tn-banner-txt-2{
  font-weight: 800;
}

.tn-banner-txt-3{
  color: #005AD7;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.tn-banner-btn{
  color: #ffffff;
  background-color: #005AD7;
  padding: 10px 40px;
 
  border-radius: 45px;
  text-decoration: none;
  border: 2px solid #005AD7;
  width: 200px;
  font-family: Akzidenz Medium Regular;
  font-size: 24px;
}



.tn-banner-btn:hover{
  color: #ffffff;
  background-color: #005AD7;
  padding: 10px 40px;
 
  border-radius: 45px;
  text-decoration: none;
  border: 2px solid #fff;
  
}


@media (max-width:768px)
{

  .tn-banner-txt-1{
    color: #ffffff;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    }
    
    .tn-banner-txt-2{
      font-weight: 800;
	  font-family: 'Montserrat', sans-serif;
    }
    
    .tn-banner-txt-3{
      color: #005AD7;
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .tn-banner-btn{
      color: #ffffff;
      background-color: #005AD7;
      padding: 10px 40px;
   
      border-radius: 45px;
      text-decoration: none;
      border: 2px solid #005AD7;
      display: block;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    
    
    
    .tn-banner-btn:hover{
      color: #ffffff;
      background-color: #005AD7;
      padding: 10px 40px;
 
      border-radius: 45px;
      text-decoration: none;
      border: 2px solid #fff;
      width: 250px;
    }
    

}