@media(max-width:1169px){
    .donation-field{flex-wrap: wrap;}
    .input-row-dot label:first-child{width: 100%;}

}
@media(max-width:767px){
    .fotterlogo, .fotter-middle, .fotter-right{width: 100%; margin-bottom: 20px;padding-right: 0px;}
    footer{padding: 25px 0 5px 0;}
    .flex-cell1, .flex-cell1.flex-cell2{width: 100%; margin-bottom: 15px;}
    .flex-box1{margin-bottom: 0;}
    .about-text1, .about-text{padding: 0; font-size: 20PX; margin: 20PX;}
    .flex-cell{width: 100%;}
    .content-inner p{font-size: 16px;}
    .content-inner{min-height: auto;}
    .abt-content a{font-size: 18px;}
    .about-us{padding-top: 5px; padding-bottom: 25px;}
    .banner-left{width: 100%; padding: 25px 0;}
    .top-text h3{font-size: 30px;}
    .top-text p{font-size: 23px;}
    .top-text{margin-bottom: 15px;}
    .bottom-text p{font-size: 20px;}
    .bottom-text p span{font-size: 19px;}
    .input-row label{font-size: 16px;}
    .banner-right{width: 100%;}
    header{padding-right: 0;}
    .right-header a{padding-left: 0; font-size: 15px; display: block; margin-bottom: 5px;}
    .logo {
        float: left;
        background: #ec277a;
        padding: 10px 10px;
        width: 100px;
    }
    .input, .input-row select{height: 50px;}
    .input-row-dot{padding-top: 10px;}
    .right-header{width: 215px; padding: 9px 0 0 0;}
    .banner-content{padding-top: 10px;}
    .donation-field{flex-wrap: wrap;}
    .input-row-dot label:first-child{width: 100%;}
    .btn{    font-size: 23px;
        padding: 9px 25px;}
}