@media only screen and (max-width: 1500px) {
.pt80 {padding-top: 60px;}
.pb80 {padding-bottom: 60px;}
}

@media only screen and (max-width: 1169px) {
header {padding: 0 15px;}
.bannerHd {font-size: 65px;}
.bannerHd span {margin-top: 12px; padding: 0 10px 5px 10px; line-height: 60px;}
.bannerText {font-size: 20px;}
a.donateNow {font-size: 22px;}
.pt80 {padding-top: 40px;}
.pb80 {padding-bottom: 40px;}
}

@media only screen and (max-width: 999px) {
body {font-size: 14px;}
.logo img {width: 140px;}
.headerRgt {font-size: 18px;}
.bannerCon {min-height: initial;}
.bannerHd {font-size: 55px;}
.bannerHd span {line-height: 50px;}
.contributeDet {width: 100%; padding: 20px 0 0 0;}
.contributeDet span {font-size: 22px;}
.contributeImg {width: 100%; text-align: center;}
.contributeImg img {width: 100%; max-width: 450px;}
.mdText {font-size: 17px; line-height: 25px;}
.mdDet {padding-right: 10px;}
.mdList li {font-size: 16px; padding:6px 10px 6px 85px; min-height: 50px;}
.mdList li span {width: 75px; font-size: 19px;}
a.mdBtn {font-size: 22px;}
.botDet {padding-left: 20px; font-size: 17px; line-height: 24px;}
.footerLogo {padding: 20px 0;}
.footerInfo {padding:20px 0 20px 20px;}
.footerRgt {padding: 20px 0 20px 20px;}
}

@media only screen and (max-width: 767px) {
header {background: #000; position: static;}
.logo {max-width: 35%;}
.logo img {max-width: 165px; width: 100%;}
.headerRgt {display: block; padding: 5px 0; font-size: 15px; max-width: 65%;}
.headerRgt > div {display: block;}
.headerRgt img {margin: 0 6px 0 0; width: 18px;}
.phone {font-size: 14px;}
.mail {margin: 4px 0 0 0;}
.bannerCon {padding: 20px 0;}
.bannerHd {font-size: 45px;}
.bannerHd span {line-height: 45px;}
.contributeDet span {font-size: 18px;}
.bannerText {font-size: 17px; padding-bottom: 20px;}
.pt80 {padding-top: 30px;}
.pb80 {padding-bottom: 30px;}
.mdBox {margin-top: 20px; flex-direction: column-reverse;}
.mdImg {width: 100%; min-height: 250px;}
.mdDet {width: 100%; padding:10px 0 0 0;}
a.mdBtn {font-size: 18px;}
.botImg {width: 100%;}
.botDet {width: 100%; padding:20px 0 0 0;}

.footerLogo {width: 100%; text-align: center; max-width: inherit;}
.footerLogo img {width: 140px;}
.footerInfo {width: 100%; padding: 0 0 20px 0; max-width: inherit;}
.footerInfo .infoBox.email {margin-bottom: 0;}
.footerRgt {width: 100%; padding: 0 0 20px 0; max-width: inherit;}
}