@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 16px;
    line-height: normal;
    color: #010101;
    font-family: 'Open Sans', sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

a:hover {
    text-decoration: none;
}

input, textarea, select {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    resize: none;
}

input[type="button"], input[type="submit"], button {
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
}

.transition {
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.vAlign {
    vertical-align: middle;
}

.mainCon {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.flexBox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexBox.nowrap {
    flex-wrap: nowrap;
}

.itemCenter {
    -webkit-align-items: center;
    align-items: center;
}

.spacebetween {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.fullWidth {
    width: 100%;
}

header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 30px;
    width: 100%;
    background: rgba(236, 39, 122, .23);
}

.logo {
    padding: 12px 0;
}

.headerRgt {
    padding: 10px 0;
    color: #fff;
    align-items: center;
}

.headerRgt a {
    color: #fff;
}

.headerRgt img {
    vertical-align: middle;
    margin: 0 4px 2px 0;
}

.phone {
    font-size: 22px;
    font-weight: 600;
}

.mail {
    margin-left: 40px;
    font-size: 15px;
}

.bannerCon {
    background-size: cover !important;
    padding: 130px 0 30px 0;
}

.bannerHd {
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
}

.bannerHd span {
    display: inline-block;
    background: #ec277a;
    margin-top: 18px;
    padding: 0 10px 5px 10px;
    line-height: 80px;
}

.bannerText {
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    max-width: 840px;
    margin: auto;
    padding-bottom: 40px;
}

button.donateNow {
    display: inline-block;
    background: #f7d54f;
    color: #000;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
}

button.donateNow:hover {
    background: #ec277a;
    color: #fff;
}

.grayBg {
    background: #f4f4f4;
}

.pt80 {
    padding-top: 80px;
}

.pb80 {
    padding-bottom: 80px;
}

.contributeImg {
    width: 47%;
}

.contributeDet {
    width: 53%;
    padding-left: 35px;
    line-height: 24px;
}

.contributeDet span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: normal;
}

.mdText {
    font-size: 20px;
    line-height: 30px;
}

.mdText span {
    font-weight: 700;
    display: block;
}

.mdBox {
    margin-top: 20px;
}

.mdImg {
    width: 48%;
    background-size: cover !important;
    min-height: 350px;
}

.mdDet {
    width: 52%;
    padding-right: 20px;
}

.mdList li {
    background: #ec277a;
    margin-bottom: 5px;
    position: relative;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    padding: 6px 20px 6px 105px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.mdList li span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 85px;
    background: #450b31;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.mdBtn {
    display: block;
    background: #f7d54f;
    font-size: 26px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    width: 100%;
}

button.mdBtn:hover {
    background: #be9d19;
}

.botCon {
    background-size: cover !important;
    min-height: 200px;
}

.botImg {
    width: 48%;
}

.botImg img {
    width: 100%;
    border: 2px solid #fff;
}

.botDet {
    width: 52%;
    padding-left: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

footer {
    background: #161616;
    width: 100%;
}

.footerLogo {
    padding: 30px 0;
    max-width: 25%;
}

.footerInfo {
    max-width: 35%;
    padding: 30px 0 30px 20px;
}

.footerInfo .infoBox {
    margin-bottom: 10px;
    position: relative;
    color: #d2d2d2;
    padding-left: 30px;
}

.footerInfo .infoBox.phone {
    font-size: 16px;
    font-weight: 400;
}

.footerInfo .infoBox img {
    width: 20px;
    position: absolute;
    left: 0;
    top: 1px;
}

.footerInfo .infoBox a {
    color: #ffd449;
}

.footerRgt {
    color: #a2a2a2;
    font-size: 14px;
    max-width: 40%;
    padding: 30px 0 30px 20px;
}

.form-start {
    background: #c92a6a;
    padding: 20px 10px;
}

.input-row {
    margin-bottom: 15px;
}

.input-row label {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
}

.input-row select {
    width: 100%;
    background: url('../Images/arrow.png') no-repeat right center #fff;
    color: #333;
    height: 60px;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
}

.input {
    width: 100%;
    color: #333;
    height: 60px;
    padding-left: 10px;
    padding-right: 50px;
}

.btn {
    background: #f7d54f;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 0;
    cursor: pointer;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding: 12px 25px;
}

.btn:hover {
    opacity: 0.9;
}

.input-row-dot {
    border-top: 1px solid #e95c99;
    border-bottom: 1px solid #e95c99;
    margin-bottom: 15px;
}

.form-start input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.form-start input::-webkit-outer-spin-button, .form-start input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-start .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.form-start .input-group input[type='button'] {
    background-color: #fff;
    min-width: 28px;
    width: auto;
    border: 0;
    transition: all 300ms ease;
}

.form-start .input-group .button-minus, .form-start .input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.form-start .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    border: 0;
    text-align: center;
    width: 50px;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
}

.form-start .button-plus {
    left: -13px;
}

.form-start input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.input-row-dot label {
    font-size: 18px;
    color: #fff;
}

.donation-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-left {
    width: 59%;
    float: left;
    padding-top: 26px;
}

.banner-right {
    width: 40%;
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

@media(max-width:1169px) {
    .input-row-dot label:first-child {
        width: 100%;
    }
    .donation-field {
        flex-wrap: wrap;
    }
}

@media(max-width:767px) {
    .banner-left {
        width: 100%;
        padding: 25px 0;
    }
    .banner-right {
        width: 100%;
    }
    .input-row label {
        font-size: 16px;
    }
    .input, .input-row select {
        height: 50px;
    }
    .btn {
        font-size: 23px;
        padding: 9px 25px;
    }
}

.cursor-pointer{
    cursor: pointer;
}
li[data-activates]:hover{
    border: 1px solid #450b31;
}