.ga-text {
    font-size: 16px;
    color: #ec277a;
    text-align: left;
    margin-bottom: 20px;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
  }
  
  input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #e51b80;
    position: absolute;
    left: 0;
    top: -5px;
    opacity: 1;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ga-form {
    background: transparent;
    padding: 20px 10px;
  }
  
  
  
  .input-row {
    margin-bottom: 15px;
  }
  
  .input-row label {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
  }
  
  .input-row select {
    width: 100%;
    background: url('../Images/arrow.png') no-repeat right center #fff;
    color: #333;
    height: 60px;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
  }
  
  
  .ga-form input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  
  .ga-form input::-webkit-outer-spin-button,
  .ga-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .ga-form .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
  }
  
  .ga-form .input-group input[type='button'] {
    background-color: #fff;
    min-width: 28px;
    width: auto;
    border: 0;
    transition: all 300ms ease;
  }
  
  .ga-form .input-group .button-minus,
  .ga-form .input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
  }
  
  .ga-form .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    border: 0;
    text-align: center;
    width: 50px;
    display: inline-block;
    font-size: 13px;
    resize: vertical;
  }
  
  .ga-form .button-plus {
    left: -13px;
  }
  
  .ga-form input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
  
  .input-row-dot label {
    font-size: 18px;
    color: #fff;
  }
  
  .ga-form label {
    color: #e51b80;
  }

  .jquery-modal{
    z-index: 160 !important;
  }