.alert_r {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-top: 100px;
}

.alert_g {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  margin-top: 100px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}