@media screen and (max-width:1300px) {}

@media screen and (max-width:1100px) {
    .bannerSlider .item .container {
        height: 600px;
    }
    .bannerSlider .item {
        padding-bottom: 55px;
        padding-top: 50px;
    }
    .bannerInfo {
        padding: 0;
        max-width: 490px;
    }
    .bannerHd {
        font-size: 40px;
        line-height: 45px;
    }
    .bannerTxt {
        color: #fff;
        font-size: 20px;
        line-height: 25px;
    }
    .form {
        max-width: 490px;
        padding: 30px;
    }
    .fbn-grp .form-control {
        height: 50px;
    }
    .don-bt {
        font-size: 25px;
        line-height: 60px;
        height: 60px;
    }
    .bannerTxt {
        font-size: 16px;
        line-height: 22px;
    }
    .pd-60 {
        padding: 40px 0;
    }
    .vd-txt p:first-child {
        padding-bottom: 14px;
    }
    .vd-txt p {
        font-size: 15px;
        line-height: 24px;
    }
    .vd-txt {
        position: relative;
        width: 47%;
    }
    .tw-bx:nth-child(2) {
        background-color: #69bcba;
        margin: 0 12px;
    }
    .ft-add {
        width: 36%;
    }
    .logo img {
        width: 140px;
    }
}

@media screen and (max-width:999px) {
    .bannerSlider .item .container {
        height: 500px;
    }
    .bannerInfo {
        padding: 0;
        max-width: 310px;
    }
    .bannerHd {
        font-size: 26px;
        line-height: 32px;
    }
    .bannerTxt {
        font-size: 15px;
        line-height: 20px;
    }
    .form {
        max-width: 420px;
        padding: 20px 15px;
    }
    .fbn-grp .labelFor,
    .count-txt {
        font-size: 14px;
    }
    .fbn-grp .form-control {
        height: 40px;
    }
    .don-bt {
        font-size: 20px;
        line-height: 51px;
        height: 50px;
    }
    .menu ul li a {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
    }
    .logo img {
        width: 120px;
    }
    .menu ul li {
        padding: 28px 35px 0 0;
    }
    .hdr-ic {
        margin-right: 12px;
        vertical-align: middle;
        width: 26px
    }
    .vd-sec {
        max-width: 740px;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0 auto 20px;
    }
    .vd-txt {
        width: 100%;
    }
    .tw-bx:nth-child(2) {
        margin: 0 12px;
    }
    .tw-bx {
        max-width: 340px;
        padding: 30px 0;
        width: 32%;
        height: 200px;
    }
    .rm-hd {
        font-size: 22px;
        line-height: 26px;
        padding: 0px 0;
    }
    .pd-60 {
        padding: 30px 0;
    }
    .don-wrp {
        max-width: 300px;
        width: 100%;
    }
    .img-txt {
        width: 100%;
        margin-bottom: 25px;
    }
    .img-txt p {
        font-size: 18px;
        line-height: 27px;
    }
    .img-txt p:first-child {
        padding-bottom: 15px;
    }
    .img-sec img {
        width: 100%;
        height: auto;
    }
    .img-sec {
        width: 100%;
        padding: 10px;
        height: auto;
        max-width: 500px;
    }
    .ft-lg-wrp img {
        width: 120px;
    }
    .ft-add li {
        font-size: 13px;
    }
    .add-sub li:first-child {
        width: 10%;
    }
    .ft-add .main-add>li {
        margin-bottom: 10px;
    }
    .ft-lg-wrp {
        padding: 26px 0 0;
        width: 20%;
    }
    .ft-add {
        width: 40%;
    }
    .ft-cont {
        padding-top: 20px;
        width: 40%;
    }
    .ft-cont p {
        font-size: 13px;
        line-height: 22px;
    }
    .ft-add li a {
        color: #848484;
        font-size: 13px;
    }
    .pl-15 {
        padding-left: 5px;
    }
}

@media screen and (max-width:767px) {
    .vd-sec {
        float: none;
        width: 100%;
    }
    .videoBox {
        position: relative;
        padding-bottom: 56.25%;
    }
    .logo img {
        width: 95px;
    }
    .menu ul li {
        padding: 23px 35px 0 0;
    }
    .bannerHd {
        font-size: 23px;
        line-height: 26px;
    }
    .bannerInfo {
        padding: 0;
        max-width: 260px;
    }
    .form {
        max-width: 350px;
        padding: 20px 15px;
    }
    .bannerTxt {
        font-size: 14px;
        line-height: 16px;
        padding-top: 10px;
    }
    .bannerSlider .item .container {
        height: 390px;
    }
    .ft-add li {
        font-size: 12px;
    }
    .ft-add li a {
        color: #848484;
        font-size: 12px;
    }
    .ft-cont p {
        font-size: 12px;
        line-height: 18px;
    }
    .ft-lg-wrp img {
        width: 100px;
    }
    .tw-bx p {
        font-size: 16px;
        line-height: 22px;
    }
    .ft-lg-wrp {
        padding: 28px 0 0;
        width: 18%;
    }
    .ft-add {
        width: 36%;
    }
    .ft-cont {
        padding-top: 17px;
        width: 43%;
    }
}

@media screen and (max-width:599px) {
    .bannerSlider .item .container {
        height: auto;
        padding-bottom: 20px;
        padding-top: 60px;
    }
    .bannerInfo {
        padding: 0;
        max-width: 300px;
        width: 100%;
        margin-bottom: 25px;
    }
    .incr {
        width: 30px;
    }
    .incre-sec a {
        font-size: 12px;
        border: none;
        background: #fff;
        line-height: 24px;
        padding: 5px 8px;
        cursor: pointer;
        height: 100%;
    }
    .rm-hd {
        font-size: 16px;
        line-height: 22px;
    }
    .tw-bx {
        max-width: 340px;
        padding: 30px 0;
        width: 100%;
        height: 200px;
    }
    .tw-bx:nth-child(2) {
        margin: 20px 0px;
    }
    .img-txt p:first-child {
        padding-bottom: 12px;
    }
    .img-txt p {
        font-size: 15px;
        line-height: 24px;
    }
    .ft-lg-wrp {
        padding: 0;
        width: 50%;
    }
    .ft-add {
        width: 100%;
        margin: 20px 0;
    }
    .ft-cont {
        padding-top: 0;
        width: 100%;
    }
    .headerRgt {
        display: none;
    }
    .logo img {
        width: 90px;
    }
}