@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

/* font-family: 'Poppins', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 14px;
    line-height: normal;
    color: #000;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

a {
    outline: none;
    text-decoration: none;
    color: #333;
}
.cursor-pointer{
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.donor-form{
    width: 100%;
}
input,
textarea,
select {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    outline: none;
    resize: none;
}

input[type="button"],
input[type="submit"],
button {
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.transition {
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.tac {
    text-align: center;
}

.vAlign {
    vertical-align: middle;
}

.mainCon {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.flexBox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.itemCenter {
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
}

.justifyCon {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.cent-cent {
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.pr {
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../images/dropdown-1.png) no-repeat right 0px center;
}

img {
    border: none;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    width: 100%;
    padding: 0 20px;
    background: rgba(201, 42, 106, 0.22);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    transition: 300ms all ease-in;
    -moz-transition: 300ms all ease-in;
    -webkit-transition: 300ms all ease-in;
}

.header.active {
    background: #000;
}

.logo {
    float: left;
    padding: 12px 0;
}

.headerRgt {
    float: right;
}

.menu {
    float: left;
}

a.showMobMenu {
    display: none;
}

.menu ul li {
    display: inline-block;
    padding: 30px 55px 0 0;
    margin-left: -10px;
}

.menu ul li:last-child {
    padding-right: 10px;
    text-transform: lowercase;
}

.menu ul li a {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.menu ul li a:hover,
.menu ul li a.active {
    color: rgb(252, 202, 47);
}

.bannerSlider {
    position: relative;
}

.bannerSlider .item {
    background-size: cover !important;
    width: 100%;
    position: relative;
    padding-top: 114px;
}

.bannerSlider .item:after {
    content: '';
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bannerSlider .item .container {
    height: 100vh;
    position: relative;
    z-index: 2;
}

.bannerInfo {
    padding: 0;
    max-width: 550px;
}

.form {
    max-width: 520px;
    background: #c92a6a;
    padding: 40px;
    color: #fff;
}

.bannerHd {
    color: #f7d54f;
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
}

.w-col {
    color: #fff;
}

.bannerHd .out {
    display: block;
}

.bannerSubHd {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}

.bannerTxt {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

.bannerSlider .slick-arrow {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    overflow: hidden;
    text-indent: -200px;
    background: none;
    z-index: 10;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.bannerSlider .slick-arrow:after {
    content: '';
    background: url(../images/banner_arrow.png);
    width: 12px;
    height: 21px;
    position: absolute;
    top: 6px;
}

.bannerSlider .slick-arrow:hover {
    opacity: 1;
}

.bannerSlider .slick-prev {
    left: 20px;
}

.bannerSlider .slick-prev:after {
    background-position: 0 0;
    left: 9px;
}

.bannerSlider .slick-next {
    right: 20px;
}

.bannerSlider .slick-next:after {
    background-position: right 0;
    right: 9px;
}

.fbn-grp {
    position: relative;
    margin-bottom: 20px;
}

.fbn-grp .form-control {
    font-size: 20px;
    height: 60px;
    border: 1px solid #e1e1e1;
    width: 100%;
    border-radius: 0px;
    padding: 0 15px;
    letter-spacing: .5px;
}

.fbn-grp .form-control:focus {
    border: 1px solid #ededed;
}

.fbn-grp .labelFor {
    text-transform: capitalize;
    font-weight: 600;
    display: block;
    font-size: 18px;
    margin-bottom: 3px;
    color: #fff;
}

.count-txt {
    color: #fff;
    font-size: 16px;
}

.count-sec {
    border-top: 1px solid #d96a97;
    border-bottom: 1px solid #d96a97;
    padding: 16px 0;
}

.pl-15 {
    padding-left: 15px;
}

.don-bt {
    font-size: 29px;
    line-height: 76px;
    color: #000;
    background-color: #f7d54f;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: 500;
    height: 75px;
    display: block;
    text-align: center;
    border: 1px solid #f7d54f;
    transition: 0.5s ease;
    width: 100%;
}

.don-bt:hover {
    /* background: transparent; */
}

.incre-sec {
    display: inline-block;
    border: 1px solid #e1e1e1;
    background: #fff;
    height: 38px;
}

.incr {
    width: 40px;
    height: 100%;
    border: none;
    text-align: center;
}

.incre-sec a {
    font-size: 18px;
    border: none;
    background: #fff;
    line-height: 34px;
    padding: 5px 12px;
    cursor: pointer;
    height: 100%;
}

.pd-60 {
    padding: 60px 0
}

.c-bg {
    background-color: #f3f6f8;
}

.vd-sec {
    max-width: 560px;
    position: relative;
    width: 50%;
    padding: 20px 0;
}

.vd-txt {
    position: relative;
    width: 45%;
}

.videoBox {
    position: relative;
    padding-bottom: 66.25%;
}

.vd-sec iframe {
    border: none;
}

.videoFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vd-txt p {
    font-size: 16px;
    line-height: 25px;
}

.vd-txt p:first-child {
    padding-bottom: 20px;
}

.spons {
    text-align: center;
}

.rm-hd {
    font-size: 28px;
    line-height: 41px;
    color: #ec277a;
    font-weight: 600;
    padding: 30px 0;
}

.bx-3wrp {
    justify-content: center;
    padding: 30px 0;
}

.tw-bx {
    max-width: 342px;
    border-radius: 4px;
    padding: 30px;
    color: #fff;
    width: 32.5%;
    height: 200px;
}

.euro {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.tw-bx p {
    font-size: 18px;
    line-height: 24px;
}

.tw-bx:nth-child(1) {
    background-color: #ec277a;
}

.tw-bx:nth-child(2) {
    background-color: #69bcba;
    margin: 0 25px;
}

.tw-bx:nth-child(3) {
    background-color: #f4a011;
}

.don-wrp {
    max-width: 440px;
    width: 100%;
    margin: auto;
}

.img-txt {
    width: 48%;
}

.img-txt p {
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    font-weight: 600;
}

.img-txt p:first-child {
    padding-bottom: 20px;
}

.img-sec {
    max-width: 590px;
    position: relative;
    width: 50%;
    border: 1px solid #f7d54f;
    padding: 10px;
}

.img-sec img {
    width: 100%;
    height: 100%;
}

.stu-sec {
    background: url(../images/stu-bck.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.ftr {
    padding: 30px 0;
    background-color: #161616;
}


/*.inner-ft div {width: 33%;}*/

.ft-add li {
    font-size: 16px;
    color: #848484;
}

.ft-add .main-add>li {
    margin-bottom: 15px;
}

.ft-add .main-add>li:last-child {
    margin-bottom: 0;
}

.ft-add li a {
    color: #848484;
    font-size: 16px;
}

.ft-add li a.ft-mail:hover {
    color: #ffd449;
}

.ft-cont p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.add-sub {
    display: flex;
    flex-wrap: nowrap;
}

.add-sub li img {
    vertical-align: middle;
}

.add-sub li:first-child {
    width: 8%;
}

.add-sub li:last-child {
    width: 90%;
}

.ft-lg-wrp {
    padding: 20px 0 0;
    width: 22%;
}

.ft-cont {
    padding-top: 20px;
    width: 38%;
}

.ft-add {
    width: 32%;
}

.hdr-ic {
    margin-right: 12px;
    vertical-align: middle;
}
.solid-header{
    background: rgba(201, 42, 106, 0.75);
}