<div class="header" style="clear:both;padding-top:10px;text-align:center;width:100%; background: #ec277a;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
    <tr>
        <td class="content-block" style="font-family:sans-serif;font-size:14px;vertical-align:top;color:#fff;font-size:48px;text-align:center;">
            <img src="https://charityright.org.uk/img/template/logo_header.png" alt="Charity Right" style="height: 100px; width: auto;">
        </td>
    </tr>
    </table>
</div>