<div class="footer" style="clear:both;padding-top:20px;text-align:center;width:100%;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
    <tr>
        <td class="content-block" style="font-family:sans-serif;font-size:14px;vertical-align:top;color:#999999;font-size:12px;text-align:center;">

        </td>
    </tr>
    <tr>
        <td class="content-block powered-by" style="font-family:sans-serif;font-size:14px;vertical-align:top;color:#999999;font-size:12px;text-align:center;">
        Charity Right - We fight hunger. Registered Charity Number 1163944.<br>
        Charity Right, Oakwood Court, City Road, Bradford, West Yorkshire, United Kingdom, BD8 8JY
        </td>
    </tr>
    </table>
</div>